@charset "utf-8";

/* reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
html { width:100%; height:100%; }
body,code { font-size:14px; font-family:'Noto Sans KR', 'Dotum', '돋움', 'arial', 'verdana', sans-serif; color:#2e3039; background:#fff; -webkit-text-size-adjust:none; }
body { height:100%; min-width:1302px; background:#f5f5f5; }
ul,ol,dl,li { list-style:none; }
img,fieldset { border:0; vertical-align:top; }
table { table-layout:fixed; width:100%; border:0; border-spacing:0; border-collapse:collapse; }
table img { vertical-align:middle; }
th,td { border:0; word-wrap:break-word; }
input,select,textarea { font-size:14px; font-family:'Noto Sans KR', 'Dotum', '돋움', 'arial', 'verdana', sans-serif; color:#2e3039; vertical-align:middle; }
label { cursor:pointer; }
caption { overflow:hidden; width:1px; font-size:1px; line-height:0; text-indent:150%; white-space:nowrap; }
legend,.blind { display:block; overflow:hidden; position:absolute; font-size:1px; line-height:0; color:transparent; text-indent:-150%; white-space:nowrap; }
hr.layout { display:none; }
button { overflow:visible; padding:0; margin:0; border:0; outline:0; cursor:pointer; font-family:'Noto Sans KR', 'Dotum', '돋움', 'arial', 'verdana', sans-serif; background:transparent; }
a { text-decoration:none; color:#2e3039; }
h1, h2, h3, h4, h5, strong { font-weight:400; }
::-webkit-input-placeholder { color:#c7c7c9; }
:-ms-input-placeholder { color:#c7c7c9; }
::-moz-placeholder { color:#c7c7c9; opacity:1; }
:-moz-placeholder { color:#c7c7c9; opacity:1; }
::selection { background:#5372a1; color:#fff; text-shadow:none; }
::-moz-selection { background:#5372a1; color:#fff; text-shadow:none; }
::-webkit-selection { background:#5372a1; color:#fff; text-shadow:none; }
input[type=text]::-ms-clear { display:none; }
input[type="search"]::-webkit-search-cancel-button { -webkit-appearance:none; }

/* html5 */
object,del,sub,var { margin:0; padding:0; }
article,aside,details,figcaption,figure,footer,header,main,hgroup,menu,nav,section { display:block; }

/* skipNavigation */
#skipNavigation { position:absolute; top:0; left:0; z-index:100; width:100%; height:0; }
#skipNavigation a { position:absolute; left:0; top:0; display:block; overflow:hidden; width:1px; height:1px; margin-left:-1px; margin-bottom:-1px; text-align:center; color:#000; white-space:nowrap; }
#skipNavigation a:focus, #skipNavigation a:hover, #skipNavigation a:active { width:100%; height:auto; padding:10px 0; background:#c4122f; color:#fff; z-index:100; }

[lang="ko"] { }
/* language check
[lang="en"] { }
[lang="ja"] { }
[lang="zh-CN"] { }
[lang="zh-TW"] { }
*/

/* global */
table .left { text-align:left; }
table .center { text-align:center; }
table .right { text-align:right; }
table .top { vertical-align:top; }
table .middle { vertical-align:middle; }

/* gridSet */
.gridSet { display:flex; flex-wrap:wrap; align-items:center; }
.gridSet > [class*="btn"] { margin-left:5px; }
.gridSet > [class*="btn"]:first-child { margin-left:0; }
.gridSet.nowrap { flex-wrap:nowrap; }
.gridSet.initial { flex-wrap:initial; align-items:unset !important; }
  /* align */
  .gridSet.justify { justify-content:space-between; }
  .gridSet.top { align-items:flex-start; }
  .gridSet.middle { align-items:center; }
  .gridSet.bottom { align-items:flex-end; }
  .gridSet.left { text-align:left; justify-content:flex-start; }
  .gridSet.center { text-align:center; justify-content:center; }
  .gridSet.right { text-align:right; justify-content:flex-end; }
  .gridSet .left { text-align:left; }
  .gridSet .center { text-align:center; }
  .gridSet .right { text-align:right; }
  /* width */
  .gridSet .grid { flex:auto; }
  .gridSet .grid.equal { flex:1; }
  .gridSet .grid1 { width:10%; }
  .gridSet .grid2 { width:20%; }
  .gridSet .grid3 { width:30%; }
  .gridSet .grid4 { width:40%; }
  .gridSet .grid5 { width:50%; }
  .gridSet .grid6 { width:60%; }
  .gridSet .grid7 { width:70%; }
  .gridSet .grid8 { width:80%; }
  .gridSet .grid9 { width:90%; }
.gridSet [class*="grid"].middle { display:flex; align-items:center; }
/* gutter */
.gridSet.gutter [class*="grid"] { padding:5px; box-sizing:border-box; }
.gridSet > [class*="grid"] .mBox { height:100%; }

/* ======================================== 레이아웃 ======================================== */
#wrap { position:relative; background:#fff; }
.memberArea #wrap { background:#f5f5f5; }
#header { padding:33px 30px 25px; box-sizing:border-box; background:transparent; background:#43507d; }
#header .logo,
#header .gnb,
#header .language,
#header .button { display:inline-block; vertical-align:middle; }
#header .logo { margin:0 50px 0 10px; font-size:1px; vertical-align:top; }
/* 로고 beta 문구 삭제시 원복 */
/*#header .logo { margin:5px 50px 0 10px; font-size:1px; vertical-align:top; }*/
#header .gnb > li { position:relative; display:inline-block; margin:0 0 0 40px; vertical-align:top; }
#header .gnb > li:first-child { margin-left:0; }
#header .gnb > li > a { display:block; padding:5px 4px 18px; color:#fff; font-size:16px; }
#header .gnb > li:hover .children { visibility:visible; opacity:1; height:auto; padding:15px; width:200px; box-shadow:0 0 7px rgba(0,0,0,0.20); box-sizing:border-box; -webkit-transition:opacity .3s ease-out; transition:opacity .3s ease-out; }
#header .gnb .children { z-index:3; visibility:hidden; opacity:0; height:0; position:absolute; top:100%; left:-20px; border-radius:2px; background:#fff; }
#header .gnb .children > li > a { display:block; font-size:14px; line-height:26px; }
#header .gnb .children > li > a:hover { color:#2e6fd7; }
#header .util { float:right; }
#header .language { z-index:3; position:relative; margin:0 18px 0 0; }
#header .language .btnLang { position:relative; padding:0 22px; font-size:14px; color:#fff; }
#header .language .btnLang:before { position:absolute; top:50%; left:0; margin:-8px 0 0; content:''; height:16px; width:16px; display:block; background:url("//img.echosting.cafe24.com/api/dev/front/sfix_layout.png") no-repeat 0 0; }
#header .language .btnLang:after { position:absolute; top:50%; right:5px; margin:-2px 0 0; content:''; height:0; width:0; display:block; border:4px transparent solid; border-right-width:0; border-left-color:#fff; -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg); }
#header .language .list { visibility:hidden; opacity:0; height:0; border-radius:2px; box-shadow:0 0 7px rgba(0,0,0,0.20); background:#fff; }
#header .language.selected .list { visibility:visible; opacity:1; min-width:100px; height:auto; box-sizing:border-box; margin:18px 0 0; padding:15px; position:absolute; top:100%; left:0; -webkit-transition:opacity .3s ease-out; transition:opacity .3s ease-out; }
#header .language.selected .list a { display:block; margin:2px 0; padding:3px 5px; font-size:14px; line-height:1.2; }
#header .language.selected .list a:hover { color:#2e6fd7; }
#header .button .btnUtil { position:relative; display:inline-block; padding:0 30px; margin:0 0 0 3px; height:33px; line-height:33px; font-size:14px; vertical-align:top; text-align:center; border:1px solid #fff; border-radius:2px; box-sizing:border-box; color:#fff; background:transparent; }
#header .button .btnUtil .text { position:relative; z-index:2; }
#header .button .btnUtil:hover:after { display:block; content:""; z-index:1; position:absolute; top:0; left:0; right:0; bottom:0; opacity:0.1; background:#fff; }
#header .searchField { padding:52px 0 67px; text-align:center; }
  .memberArea #header { padding:13px 20px; border-top:4px solid #5372a1; border-bottom:1px solid #d9d9d9; background:#f5f5f5; }
  .memberArea #header .logo { position:relative; top:-4px; margin:0; }
/* 로고 beta 문구 삭제시 원복 */
  /*.memberArea #header { padding:18px 20px 17px; border-top:4px solid #5372a1; border-bottom:1px solid #d9d9d9; background:#f5f5f5; }*/
  /*.memberArea #header .logo { position:relative; margin:0; }*/
#sidebar { display:table-cell; vertical-align:top; width:275px; border-right:1px solid #e8e8e8; z-index:2; box-sizing:border-box; background:#fff; }
#sidebar a { font-size:14px; color:#2e3039; }
#snb { margin:30px 0 20px; }
#snb a { display:block; padding:8px 20px; font-size:16px; }
#snb .parent > a { position:relative; }
#snb .parent > a:before { display:inline-block; content:''; position:absolute; top:22px; right:54px; width:10px; height:2px; background:#c1c1c3; }
#snb .parent > a:after { display:inline-block; content:''; position:absolute; top:18px; right:58px; width:2px; height:10px; background:#c1c1c3; }
#snb .parent.selected > a:before { height:2px; background:#2a59a5; }
#snb .parent.selected > a:after { display:none; }
#snb .children { overflow:hidden; opacity:0; height:0; }
#snb .selected .children { overflow:visible; opacity:1; height:auto; margin:0 0 10px; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
#snb .children a { padding:10px 20px 10px 40px; color:#686b6d; }
#snb .children .selected > a { color:#2e6fd7; }
#container { max-width:1240px; margin:auto; display:table; width:100%; table-layout:fixed; }
#contents { min-height:700px; padding:40px 40px 120px; box-sizing:border-box; }
#footer { position:relative; width:100%; padding:19px 0; line-height:1; text-align:center; font-size:11px; color:#96979c; border-top:1px solid #d9d9d9; background:#f5f5f5; }
#footer .catchphrase { position:absolute; top:-60px; width:100%; height:60px; padding:22px 0 0; font-size:16px; text-align:center; color:#fff; background:#8597ab; box-sizing:border-box; }

/* mSearchForm */
.mSearchForm { position:relative; display:inline-block; padding:15px 20px; width:690px; box-sizing:border-box; text-align:left; }
.mSearchForm:before { z-index:1; display:block; content:""; position:absolute; top:0; left:0; right:0; bottom:0; box-shadow:0 0 40px rgba(0,0,0,0.20); border-radius:3px; opacity:0.3; background:#fff; }
.mSearchForm .field { position:relative; z-index:2; padding:0 30px 0 0; }
.mSearchForm .search { width:100%; border:0; outline:0; font-size:18px; color:#fff; background:transparent; }
.mSearchForm .search::-webkit-input-placeholder { color:#fff; }
.mSearchForm .search:-moz-placeholder { color:#fff; }
.mSearchForm .search::-moz-placeholder { color:#fff; }
.mSearchForm .search:-ms-input-placeholder { color:#fff; }
.mSearchForm .search::-webkit-search-cancel-button { color:#fff; }
.mSearchForm .btnSearch { position:absolute; top:50%; right:0; margin:-10px 0 0; width:22px; height:20px; font-size:0; line-height:0; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
.mSearchForm .btnSearch:before { content:""; position:absolute; bottom:0; right:3px; width:2px; height:8px; background:#fff; -webkit-transform:rotate(-50deg); transform:rotate(-50deg); }
.mSearchForm .btnSearch:after { content:""; position:absolute; top:1px; left:1px; width:12px; height:12px; border:2px solid #fff; border-radius:100%; }
.mSearchForm .btnSearch:hover { -webkit-transform:scale(1.1); transform:scale(1.1); -webkit-transition:.3s ease-out; transition:.3s ease-out; }
.mSearchForm.focus:before { opacity:1; -webkit-transition:.3s linear; transition:.3s linear; }
.mSearchForm.focus .search { color:#2e3039; }
.mSearchForm.focus .btnSearch:before { background:#2e3039; }
.mSearchForm.focus .btnSearch:after { border-color:#2e3039; }

/* main */
#main { width:1600px; margin:0 auto; background:#f0f1f5; }
#main #container { display:block; max-width:100%; }
#main #contents { padding:0; }
#main #header { z-index:11; position:absolute; top:0; height:100px; left:0; right:0; background:transparent; }
#main .mVisual { position:relative; overflow:hidden; text-align:center; }
#main .mVisual .inner { z-index:2; position:absolute; top:100px; left:0; right:0; bottom:0; padding:165px 0 0; box-sizing:border-box; }
#main .mVisual .catchphrase { margin:0 0 70px; font-weight:bold; font-size:44px; line-height:58px; color:#fff; }
#main .mVisual .panel { overflow:hidden; position:absolute; width:100%; height:100%; white-space:nowrap; font-size:0; z-index:1; }
#main .mVisual .panel .slick-list,
#main .mVisual .panel .slick-track { height:100%; }
#main .mVisual .panel [class*="pattern"] { float:left; height:100%; }
#main .mVisual .panel .pattern1 { background: #2f7acd;
  background: -moz-linear-gradient(-45deg, #2f7acd 0%, #395fca 25%, #4245ca 50%, #5f33c8 75%, #712bc9 100%);
  background: -webkit-linear-gradient(-45deg, #2f7acd 0%,#395fca 25%,#4245ca 50%,#5f33c8 75%,#712bc9 100%);
  background: linear-gradient(135deg, #2f7acd 0%,#395fca 25%,#4245ca 50%,#5f33c8 75%,#712bc9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f7acd', endColorstr='#712bc9',GradientType=1 );
}
#main .mVisual .panel .pattern2 { background: #343ccd;
  background: -moz-linear-gradient(-45deg, #343ccd 0%, #833cc8 50%, #b62cc8 100%);
  background: -webkit-linear-gradient(-45deg, #343ccd 0%,#833cc8 50%,#b62cc8 100%);
  background: linear-gradient(135deg, #343ccd 0%,#833cc8 50%,#b62cc8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343ccd', endColorstr='#b62cc8',GradientType=1 );
}
#main .mVisual .panel .pattern3 { background: #30bfcd;
  background: -moz-linear-gradient(-45deg, #30bfcd 0%, #4472c7 50%, #2c2fc8 100%);
  background: -webkit-linear-gradient(-45deg, #30bfcd 0%,#4472c7 50%,#2c2fc8 100%);
  background: linear-gradient(135deg, #30bfcd 0%,#4472c7 50%,#2c2fc8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bfcd', endColorstr='#2c2fc8',GradientType=1 );
}

#main .mVisual .img { position:relative; left:0; top:0; z-index:1; width:100%;
  animation:zoom 3.5s ease-in-out infinite alternate;
  -webkit-animation:zoom 3.5s ease-in-out infinite alternate;
  -moz-animation:zoom 3.5s ease-in-out infinite alternate;
  -ms-animation:zoom 3.5s ease-in-out infinite alternate;
}
@keyframes zoom {
  0% { transform:scale(1.0); -webkit-transform:scale(1.0); }
  100% { transform:scale(1.015); -webkit-transform:scale(1.015); }
}
@-webkit-keyframes zoom {
  0% { transform:scale(1.0); -webkit-transform:scale(1.0); }
  100% { transform:scale(1.015); -webkit-transform:scale(1.015); }
}
@-moz-keyframes zoom {
  0% { transform:scale(1.0); -webkit-transform:scale(1.0); }
  100% { transform:scale(1.015); -webkit-transform:scale(1.015); }
}
@-ms-keyframes zoom {
  0% { transform:scale(1.0); -webkit-transform:scale(1.0); }
  100% { transform:scale(1.015); -webkit-transform:scale(1.015); }
}

#main .icoShortcut:before { display:inline-block; content:""; width:80px; height:80px; vertical-align:middle; background-image:url("//img.echosting.cafe24.com/api/dev/front/sfix_main.png"); background-repeat:no-repeat; }
  #main .icoShortcut.overview:before { background-position:0 0; }
  #main .icoShortcut.sales:before { background-position:-100px 0; }
  #main .icoShortcut.why:before { background-position:-200px 0; }
  #main .icoShortcut.front:before { background-position:-300px 0; }
  #main .icoShortcut.admin:before { background-position:-400px 0; }
  #main .icoShortcut.tools:before { background-position:-500px 0; }
  #main .icoShortcut.overview:hover:before { background-position:0 -100px; }
  #main .icoShortcut.sales:hover:before { background-position:-100px -100px; }
  #main .icoShortcut.why:hover:before { background-position:-200px -100px; }
  #main .icoShortcut.front:hover:before { background-position:-300px -100px; }
  #main .icoShortcut.admin:hover:before { background-position:-400px -100px; }
  #main .icoShortcut.tools:hover:before { background-position:-500px -100px; }
  #main .icoShortcut.appGuide:before { width:122px; height:122px; background-position:0 -200px; }
  #main .icoShortcut.thirdGuide:before { width:122px; height:122px; background-position:-200px -200px; }
  #main .icoShortcut.partnerGuide:before { width:122px; height:122px; background-position:-400px -200px; }
  #main .icoShortcut.appGuide:hover:before { background-position:0 -400px; }
  #main .icoShortcut.thirdGuide:hover:before { background-position:-200px -400px; }
  #main .icoShortcut.partnerGuide:hover:before { background-position:-400px -400px; }
#main .mShortcut { width:1240px; margin:0 auto; padding:0 85px; box-sizing:border-box; }
#main .mShortcut li { margin:10px 0 0; width:32%; }
#main .mShortcut li a { display:block; padding:40px 0; font-size:16px; line-height:26px; }
#main .mShortcut .menu { display:block; margin:30px 0 12px; font-size:30px; font-weight:500; }
#main .heading { position:relative; z-index:2; text-align:center; font-size:26px; line-height:38px; }
#main .heading .point { font-size:38px; line-height:50px; }
#main .devAPI { padding:72px 0 82px; text-align:center; background:#fff; }
#main .devGuide { padding:110px 0 87px; text-align:center; color:#fff; background:#43507d; }
#main .devGuide a { color:#fff; }
#main .devApps { overflow:hidden; padding:112px 0 82px; text-align:center; background:#f5f5f5; }
#main .devStart { padding:103px 0 89px; height:360px; box-sizing:border-box; text-align:center; color:#fff; background:url("//img.echosting.cafe24.com/api/dev/front/bg_dev_start.jpg") no-repeat center bottom fixed; background-size:auto 411px; }
#main .devStart .btnStart { display:inline-block; vertical-align:middle; border:1px solid #c9c9cd; margin:43px 0 0; border-radius:2px; padding:0 28px; box-sizing:border-box; height:50px; font-size:18px; line-height:50px; color:#fff; background:transparent; }
#main .appSlider { overflow:hidden; position:relative; margin:0 0 0 -55px; padding:60px 0 43px; }
#main .appSlider:after { display:block; content:""; clear:both; }
#main .appSlider .item { display:none; float:left; width:260px; height:300px; padding:50px 15px; box-sizing:border-box; margin:0 0 0 24px; font-size:18px; line-height:24px; outline:0; background:#fff; -webkit-transition:.2s ease-out; transition:.2s ease-out; }
#main .appSlider.slick-initialized .item { display:block; }
#main .appSlider .item:hover { box-shadow:0 0 40px 3px #e3e3e3; -webkit-transform:scale(1.05); transform:scale(1.05); -webkit-transition:.2s ease-out; transition:.2s ease-out; }
#main .appSlider .thumb { width:120px; height:120px; border-radius:6px; }
#main .appSlider .name { margin:40px 0 5px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
#main .appSlider .icoGrade { font-size:0; line-height:0; }
#main .appSlider .icoGrade .point:before { display:inline-block; content:"\2605"; color:#e2e6e9; font-size:14px; }
#main .appSlider .icoGrade .point.active:before { color:#ffd117; }
#main #footer { border-top-width:0; padding:20px 0; background:#363a43; }
#main #footer .copyright { font-family:verdana, sans-serif; }

/* ======================================== module ======================================== */
.gBlankS { margin-top:10px; }
.gBlankM { margin-top:20px; }

/* text */
.txtEm { color:#3177c9; }
.txtLink { position:relative; display:inline-block; font-size:14px; line-height:1.2em; color:#3177c9; border-bottom:1px solid #3177c9; }
.txtLink:after { content:""; position:absolute; top:50%; right:-7px; margin:-2px 0 0; display:inline-block; width:0; height:0; border-top:3px solid transparent; border-left:3px solid #3177c9; border-bottom:3px solid transparent; }
.txtLight { color:#b6b7ba; }
.txtInfo { display:inline-block; margin:3px 0 0; font-size:14px; color:#97989b; }
.txtInfo:before { content:""; display:inline-block; width:4px; height:2px; margin:-2px 3px 0 0; vertical-align:middle; background:#c9cacb; }
.txtWarn { color:#dd5353; }
.txtMedium { font-weight: 500; }
.txtBold { color:#2e3039; font-weight:700; }

/* form */
.fText,
.fTextarea { font-size:14px; color:#2e3039; border:1px solid #d4d4d4; box-sizing:border-box; border-radius:2px; max-width:100%; outline:none; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
.fText { height:40px; line-height:40px; padding:0 18px; }
.fTextarea { padding:12px 18px; }
.fText:focus, .fTextarea:focus { border-color:#5393dd; }
.fText:focus { position:relative; z-index:2; padding-right:27px; }
.fText::-webkit-search-cancel-button { -webkit-appearance:none; }
.fText.error { border-color:#dd5353; }
.fText[type="number"]::-webkit-outer-spin-button,
.fText[type="number"]::-webkit-inner-spin-button { -webkit-appearance:none; }
.fText[type="number"] { -moz-appearance:textfield; }
.fSelect { height:40px; padding:0 28px 0 18px; font-size:14px; color:#2e3039; box-sizing:border-box; border:1px solid #d4d4d4; border-radius:2px;
  -webkit-appearance:none; -moz-appearance:none; background:url("//img.echosting.cafe24.com/api/dev/front/ico_fSelect.png") no-repeat right 0;
}
.fSelect::-ms-expand { display:none; }
.fSelect:disabled { color:#c7c7c9; }
.gLabel { display:inline-block; position:relative; min-height:20px; padding:0 0 0 20px; line-height:20px; vertical-align:top; }
.fRadio { position:absolute; top:0; left:0; z-index:1; width:20px; height:20px; opacity:0; }
.fRadio + .fLabel:before { content:""; position:absolute; top:0; left:0; width:20px; height:20px; box-sizing:border-box; border:1px solid #a7a7a7; border-radius:100%; background:#fff; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
.fRadio:checked + .fLabel:before { /* border-color:#ff6008; */ border-color:#5393dd; }
.fRadio:checked + .fLabel:after,
.fRadio:not(:checked) + .fLabel:after { content:""; position:absolute; top:6px; left:6px; width:8px; height:8px; border-radius:100%; background:#5393dd; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
.fRadio:not(:checked) + .fLabel:after { opacity:0; -webkit-transform:scale(0); transform:scale(0); }
.fRadio:checked + .fLabel:after { opacity:1; -webkit-transform:scale(1); transform:scale(1); }
.fCheck { position:absolute; top:0; left:0; z-index:1; width:20px; height:20px; opacity:0; }
.fCheck + .fLabel:before { content:""; position:absolute; top:0; left:0; width:20px; height:20px; box-sizing:border-box; border:1px solid #d4d4d4; background:#fff; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
.fCheck + .fLabel:after { content:""; position:absolute; top:5px; left:5px; width:9px; height:5px; border:2px solid #fff; border-top:none; border-right:none; background:transparent; opacity:0; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); }
.fCheck:checked + .fLabel:before { border-color:#5393dd; background:#5393dd; }
.fCheck:checked + .fLabel:after { opacity:1; }

/* mBreadcrumb */
.mBreadcrumb { margin:0 0 40px; color:#abacb0; }
.mBreadcrumb li { display:inline-block; }
.mBreadcrumb li:after { display:inline-block; content:''; width:4px; height:4px; margin:-2px 7px 0; border-left:1px solid #abacb0; border-bottom:1px solid #abacb0; vertical-align:middle; -webkit-transform:rotate(-135deg); transform:rotate(-135deg); }
.mBreadcrumb .now { color:#2e3039; text-decoration:underline; }
.mBreadcrumb li.now:after { display:none; }

/* mTitle */
.mTitle { position:relative; margin:15px 0; }
.mTitle h1 { margin:0 0 12px; font-size:30px; line-height:30px; }
.mTitle h2 { margin:0 0 12px; font-size:28px; line-height:30px; }
.mTitle p,
.mTitle li { font-size:16px; line-height:26px; color:#686b6d; }
.mTitle .btnPrint { position:absolute; right:0; top:0; display:inline-block; height:30px; padding:0 15px; color:#2e3039; box-sizing:border-box; border:1px solid #d4d4d4; }
.mTitle.gCenter { margin:40px 0 50px; text-align:center; }

/* mForm */
.mForm.typeFile { position:relative; }
.mForm.typeFile label { cursor:pointer; }
.mForm.typeFile input[type="file"] { position:absolute; top:0; left:0; padding:0; width:1px; height:40px; cursor:pointer; opacity:0; }
.mForm.typeFile .file,
.mForm.typeFile .button { overflow:hidden; display:inline-block; height:40px; padding:0 18px; font-size:14px; line-height:40px; color:#2e3039; border-radius:2px; border:1px solid #d4d4d4; box-sizing:border-box; }
.mForm.typeFile .button { margin:0 0 0 4px; }

/* button */
.btnStrong, .btnEm { display:inline-block; padding:0 30px; height:34px; line-height:34px; font-size:14px; vertical-align:top; text-align:center; border-radius:2px; box-sizing:border-box; }
.btnStrong { color:#fff; background:#5393dd; }
.btnEm { color:#5093e1; border:1px solid #a4c4e9; background:#fff; }
.btnMore { position:relative; width:100%; margin:-1px 0 0; padding:15px 0; border:1px solid #dadada; color:#666;  font-size:18px; line-height:1; text-align:center; }
.btnMore span:after { display:inline-block; content:''; width:8px; height:8px; border-style:solid; border-width:7px 5px 0 5px; border-color:#646464 transparent #646464 transparent; box-sizing:border-box; margin:-5px 0 0 10px; vertical-align:middle; }

/* mButton */
.mButton { margin:40px 0; text-align:center; }
.mButton [class*="btn"] { min-width:300px; height:52px; line-height:52px; font-size:18px; }
.mButton [class*="btn"] + [class*="btn"] { margin-left:4px; }

/* mLogin */
.mLogin { width:400px; margin:0 auto; }
.mLogin .logo { margin:178px 0 78px; text-align:center; }
.mLogin .login { margin:0 0 30px; padding:0 0 50px; border-bottom:1px solid #e8e8e8; }
.mLogin .form { margin:0 0 13px; }
.mLogin .form .fText { width:100%; margin:0 0 8px; padding:0 20px; font-size:16px; height:50px; }
.mLogin .form .message { display:block; margin:0 0 0 20px; }
.mLogin .btnStrong { width:100%; height:60px; font-size:20px; }
.mLogin .util { margin:13px 0 0; text-align:center; }
.mLogin .util a { display:inline-block; color:#97989b; font-size:14px; }
.mLogin .util a:before { content:""; display:inline-block; width:2px; height:11px; margin:-1px 7px 0; vertical-align:middle; background:#ddd; }
.mLogin .util a:first-child:before { content:none; display:none; }
.mLogin .desc { text-align:center; }
.mLogin .desc p { margin:0 0 10px; color:#535657; }
.mLogin .certify .inputEmail { position:relative; padding:0 103px 0 0; }
.mLogin .certify .btnRequest { z-index:1; position:absolute; top:0; right:0; width:105px; height:50px; border:1px solid #d4d4d4; border-top-right-radius:2px; border-bottom-right-radius:2px; font-size:14px; line-height:50px; color:#2e3039; background-color:#fff; }
.mLogin .certify .txtInfo { margin:0 0 13px; letter-spacing:-0.6px; }

/* mList */
.mList { font-size:14px; line-height:28px; }
p.mList.typeDot,
.mList.typeDot li { padding:0 0 0 10px; color:#686b6d; letter-spacing:-0.05em; }
p.mList.typeDot:before,
.mList.typeDot li:before { content:""; display:inline-block; width:2px; height:2px; margin:0 10px 0 -10px; vertical-align:middle; background:#686b6d; }

/* mInfo */
.mInfo { margin:20px 0 0; background:#fff; }
.mInfo > .title { margin:0 20px; padding:16px 0; font-size:16px; color:#2e3039; border-bottom:1px solid #eaeaea; }
.mInfo .info { display:flex; flex-wrap:wrap; align-items:flex-start; padding:10px 0 15px; }
.mInfo .info dt,
.mInfo .info dd { margin:8px 0 0; line-height:22px; font-size:14px; box-sizing:border-box; }
.mInfo .info dt { width:148px; padding:0 5px 0 20px; color:#97989b; }
.mInfo .info dd { width:462px; padding:0 20px 0 0; color:#2e3039; word-break:keep-all; word-wrap:break-word; }
  .mInfo .info.justify { justify-content:space-between; }
  .mInfo .info.middle { align-items:center; }
  .mInfo .info.bottom { align-items:flex-end; }
.mInfo .expand { border-top:1px solid #e8e8e8; }
.mInfo .expand .head { position:relative; padding:12px 0; text-align:center; }
.mInfo .expand .head .button { position:absolute; top:0; left:0; right:0; overflow:hidden; display:inline-block; width:100%; height:40px; text-indent:-150%; font-size:0; white-space:nowrap; }
.mInfo .expand .body .desc { margin:20px 0 30px; color:#97989b; }
.mInfo .expand .body { width:328px; margin:0 auto; text-align:center; overflow:hidden; height:0; opacity:0;
  -webkit-transition:.3s ease-out; transition:.3s ease-out;
}
.mInfo .expand .head .view:after { content:""; position:relative; top:-2px; display:inline-block; margin:0 0 0 8px; width:8px; height:8px; border:solid #666; border-width:0 0 2px 2px;
  -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg);
  -webkit-transition:.3s ease-out; transition:.3s ease-out;
}
.mInfo .expand.selected .head .view:after { top:2px; -webkit-transform:rotate(135deg); -moz-transform:rotate(135deg); -o-transform:rotate(135deg); transform:rotate(135deg); }
.mInfo .expand.selected .body { overflow:visible; height:auto; opacity:1; }
.mInfo .expand .preview { padding:0 0 40px; }
.mInfo .expand .development { padding:30px 29px; border:1px solid #d5d6d7; border-radius:2px; }
.mInfo .expand .development .logo img { max-width:100%; }
.mInfo .expand .development .appInfo { width:120px; padding:0 0 0 20px; text-align:left; box-sizing:border-box; }
.mInfo .expand .development .appInfo .name { display:block; font-size:16px; color:#2e3039; }
.mInfo .expand .development .mList { margin:20px 0 0; }
  /* typeWrite */
  .mInfo.typeWrite .info dt,
  .mInfo.typeWrite .info dd { margin:8px 0; }
  .mInfo.typeWrite .info dt { padding:8px 0 0 20px; color:#2e3039; }
  .mInfo .mForm.typeFile .file,
  .mInfo .mForm.typeFile input[type="file"] { width:345px; }
    /* gForm */
    .mInfo.typeWrite .gCellTel .fSelect { width:100px; }
    .mInfo.typeWrite .gCellTel .fText { width:334px; margin:0 0 0 4px; }

/* mList */
.mList { color:#686b6d; line-height:22px; word-break:break-all; word-wrap:break-word; }
  .mList.typeDash li,
  .mList.typeDash dt { position:relative; padding:0 0 0 7px; }
  .mList.typeDash li:before,
  .mList.typeDash dt:before { position:absolute; top:12px; left:0; display:block; content:""; width:3px; height:1px; background:#686b6d; }
.mList dl { overflow:hidden; }
.mList dt { float:left; padding-right:10px; width:95px; box-sizing:border-box; }
.mList dd { padding:0 0 0 95px; letter-spacing:-0.05em; }
.mList dd:after { content:""; display:block; clear:both; }

 /* mTooltip */
.mTooltip { display:none; }

/* mIndicator */
.mIndicator { text-align:center; }
.mIndicator li { overflow:hidden; display:inline-block; width:12px; height:3px; margin:0 0 0 2px; font-size:0; text-indent:-150%; white-space:nowrap; background:#cdcecf; }
.mIndicator li:first-child { margin-left:0; }
.mIndicator .selected { background:#3177c9; }
.mIndicator .selected:before { content:"현재 단계"; }
  /* language */
  /*[lang="en"] .mIndicator .selected:before { content:"now"; }*/

/* mTerm */
.mTerm { margin:20px 0 0; padding:0 20px; background:#fff; }
.mTerm .title { color:#2e3039; font-size:16px; line-height:20px; }
.mTerm .check { position:relative; padding:13px 0; font-size:16px; color:#2e3039; }
.mTerm .check .gLabel { position:absolute; right:16px; width:100%; padding:0; }
.mTerm .check .gLabel .fLabel { position:absolute; right:0; }
.mTerm .term { height:120px; padding:15px 0 28px; border-top:1px solid #eaeaea; }
.mTerm .term iframe { width:100%; height:100%; border:0; }

/* 검색결과 */
  /* mSearchFilter */
    .searchArea #sidebar { border-right:none; }
    .mSearchFilter { margin:40px 0 0 0; padding:30px 20px; border:1px solid #eee; box-sizing:border-box; background:#f7f7f7; }
    .mSearchFilter .button .btnEm,
    .mSearchFilter .button .btnStrong { min-width:63px; padding:0 10px; }
    /* mSearchFilter + mForm + typeVer */
      .mSearchFilter .mForm.typeVer { margin:0 0 20px 0; padding:0 5px; border-bottom:1px solid #e3e3e3; }
      .mSearchFilter .mForm.typeVer li { margin:0 0 16px 0; }
      .mSearchFilter .mForm.typeVer .fLabel { margin:0 0 0 8px; }
    
  /* mTitle */
    .mTitle.typeSearch { margin:0 0 25px; word-wrap:break-word; word-break:break-all; }
    .mTitle.typeSearch h1 { display:inline-block; font-size:36px; line-height:1.2; font-weight:700; }
    .mTitle.typeSearch .count { margin:0 0 0 2px; font-size:20px; font-weight:500; }
    
  /* mSearchResult */
    .mSearchResult { position:relative; margin:30px 0 0; border-top:2px solid #2f3039; border-bottom:1px solid #e8e8e8; }
    .mSearchResult li { position:relative; padding:40px 55px 40px 25px; border-top:1px solid #dedede; font-size:16px; }
    .mSearchResult li:first-child { border-top:0; }
    .mSearchResult li .heading { font-size:24px; }
    .mSearchResult li .path { margin:10px 0; }
    .mSearchResult .path .txtLight { padding:0 10px 0 0; }
    .mSearchResult .path .txtLight:after { display:inline-block; content:''; width:6px; height:6px; border:1px solid #b6b7ba; border-width:0 1px 1px 0; margin:-5px 0 0 10px; vertical-align:middle;
      transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -ms-transform:rotate(-45deg); -o-transform:rotate(-45deg); }
    .mSearchResult li .content { color:#686b6d; line-height:26px; }
    .mSearchResult li a:hover { text-decoration:underline; }
  
  /* mEmpty */
    /* mEmpty + typeSearch */
      .mEmpty.typeSearch { padding:190px 0; font-size:16px; text-align:center; }

    

/* ======================================== editTemplete ======================================== */
.editTemplate .desc a { text-decoration:underline; }

.editTemplate .editStepArea { position:relative; padding:0 0 0 79px; }
.editTemplate .editStepArea:before { content:""; position:absolute; left:25px; top:48px; height:100%; border-left:1px solid #98bbe4; }
.editTemplate .editStepArea:last-child:before { content:none; display:none; }

/* mEditTitle */
.mEditTitle { margin:25px 0; }
.mEditTitle h2.title { display:block; margin:50px 0 15px; font-size:24px; padding:50px 0 0; border-top:1px solid #e8e8e8; }
.mEditTitle h2.title:before { content:""; display:inline-block; width:6px; height:6px; margin:0 13px 0 0; vertical-align:middle; background:#2e3039; }
.mEditTitle h3.title { display:block; margin:38px 0 12px; font-size:20px; color:#2f3139; }
.mEditTitle .desc,
.mEditTitle .desc li { font-size:16px; color:#686b6d; }
.mEditIndex + .mEditTitle h2.title { padding:0; border-top:0; }
  /* typeStep */
    .mEditTitle.typeStep { position:relative; }
    .mEditTitle.typeStep h2 { padding:10px 0 0; }
    .mEditTitle.typeStep .badge { position:absolute; top:0; left:-79px; width:50px; height:50px; padding:18px 0 0; font-size:18px; color:#fff; text-align:center; box-sizing:border-box; border-radius:100px; background:#98bbe4; }
    .mEditTitle.typeStep .badge:before { content:"STEP"; position:absolute; top:7px; left:13px; font-size:10px; font-weight:lighter; }


/* mEditIndex */
.mEditIndex { margin:30px 0 0; padding:25px 30px; border:1px solid #e1e1e1; }
.mEditIndex .title { display:block; margin:0 0 8px; font-size:24px; color:#2e3039; }
.mEditIndex .list li { margin:4px -13px 4px 0; padding:0 0 0 13px; line-height:28px; }
.mEditIndex .list li a { font-size:16px; color:#2e6fd7; }
.mEditIndex .list li:before { content:""; display:inline-block; width:4px; height:4px; margin:-3px 10px 0 -13px; vertical-align:middle; background:#2e3039; }

/* mEditBoard */
.mEditBoard { margin:25px 0 0; }
.mEditBoard table { line-height:1.5; border:1px solid #d5d6d7; background-color:#fff; }
.mEditBoard th,
.mEditBoard td { font-size:16px; vertical-align:top; }
.mEditBoard th { padding:15px 10px; }
.mEditBoard td { padding:10px 20px 10px 20px; line-height:28px; word-break:break-all; color:#686b6d; border:1px solid #e8e8e8; }
.mEditBoard tr:last-child tbody th,
.mEditBoard tr:last-child tbody td { border-bottom:0; }
.mEditBoard tr:last-child thead th,
.mEditBoard tr:last-child thead td { border-right:1px solid #d5d6d7; }
.mEditBoard thead th { color:#2e3039; text-align:center; font-weight:normal; vertical-align:middle; border:1px solid #d5d6d7; background-color:#f7f7f7; }
.mEditBoard tbody thead th { text-align:center; }
.mEditBoard tbody th { color:#2e3039; font-size:16px; font-weight:normal; text-align:left; border-right:1px solid #d5d6d7; background-color:#f7f7f7; }
.mEditBoard tfoot th { border:1px solid #dadddf; color:#80878d; font-weight:bold; background-color:#fafafa; }
.mEditBoard tfoot td { border:1px solid #dadddf; background-color:#fafafa; }
.mEditBoard .middle,
.mEditBoard .middle th,
.mEditBoard .middle td { vertical-align:middle; }
.mEditBoard .top,
.mEditBoard .middle .top { vertical-align:top; }
.mEditBoard .mEditBox { margin:10px 0; }

/* mEditBox */
.mEditBox { margin:20px 0; }
.mEditBox pre { font-size:12px; line-height:18px; }
.mEditBox.typeCode { padding:28px; font-family:"돋움", dotum; font-size:12px; line-height:18px; color:#000; border:1px solid #e1e1e1; background:#f7f7f7; }
.mEditBox.typeCode strong { font-weight:bold; }
.mEditBox.typeCode .txtBlue { color:#0070ff; }
.mEditBox.typeCode .txtRed { color:#f70039; }

/* mEditList */
.mEditList { margin:14px 0 0; }
p.mEditList,
.mEditList li { padding:0 0 0 8px; font-size:14px; color:#97989b; line-height:24px; }
p.mEditList:before,
.mEditList li:before { content:"-"; display:inline-block; margin:0 4px 0 -8px; }
  /* typeStep */
    .mEditList.typeStep { margin:20px 0 0; }
    .mEditList.typeStep li { padding:0 0 0 12px; font-size:16px; line-height:28px; color:#686b6d; }
    .mEditList.typeStep li:before { content:""; display:inline-block; width:2px; height:2px; margin:0 10px 0 -10px; vertical-align:middle; background:#686b6d; }

 ol.mEditList {  }
/* Ordered List */
ol.mEditList { list-style:none; }
ol.mEditList { counter-reset:rank 0; }
ol.mEditList li { position:relative; padding:0 0 0 13px; background:none; }
ol.mEditList li:before { counter-increment:rank 1; content:counter(rank)'.'; position:absolute; top:0; left:0; }

/* mEditImage */
.mEditImage { margin:20px 0 0; }
.mEditImage img {  max-width:100%; }

/* mEditButton */
.mEditButton { margin:30px 0; text-align:center; }
.mEditButton [class*="btn"] { height:46px; line-height:46px; font-size:16px; }
.mEditButton [class*="btn"] + [class*="btn"] { margin-left:6px; }

/* mEditHelp */
.mEditHelp { margin:40px 0 0; padding:16px 19px 20px; border:1px solid #d5d6d7; background-color:#fff; }
.mEditHelp .title { display:block; padding:2px 0 12px; font-size:16px; line-height:22px; border-bottom:1px solid #eaeaea; }
.mEditHelp .title:before { content:""; display:inline-block; width:19px; height:19px; margin:0 8px 0 0; vertical-align:middle; background:url("//img.echosting.cafe24.com/api/dev/admin/sfix_icon.png") no-repeat -25px -25px; }
.mEditHelp .title:first-child { margin:0; }
.mEditHelp .titleSub { display:block; margin:14px 0 0; font-size:14px; }
.mEditHelp ul { margin:20px 0 0; line-height:1.5; }
.mEditHelp li { position:relative; margin:2px 0 0; padding:0 0 0 10px; }
.mEditHelp li:before { content:""; position:absolute; left:0; top:10px; width:5px; height:1px; background-color:#686b6d; }
.mEditHelp li.empty { padding-left:0; }
.mEditHelp li.empty:before { display:none; }

/* mEditColumn */
.mEditColumn { display:-webkit-flex; display:-ms-flex; display:flex; -webkit-flex-wrap:wrap; -ms-flex-wrap:wrap; flex-wrap:wrap; -webkit-align-items:center; -ms-align-items:center; align-items:center; -webkit-align-items:flex-start; -ms-align-items:flex-start; align-items:flex-start; }
.mEditColumn .column { flex:1; }
.mEditColumn.middle { -webkit-align-items:center; -ms-align-items:center; align-items:center; }
.mEditColumn.bottom { -webkit-align-items:flex-end; -ms-align-items:flex-end; align-items:flex-end; }
.mEditColumn.left { text-align:left; -webkit-justify-content:flex-start; -ms-justify-content:flex-start; justify-content:flex-start; }
.mEditColumn.center { text-align:center; -webkit-justify-content:center; -ms-justify-content:center; justify-content:center; }
.mEditColumn.right { text-align:right; -webkit-justify-content:flex-end; -ms-justify-content:flex-end; justify-content:flex-end; }
  .mEditColumn .mEditList:first-child { margin:0; }

/* ======================================== 페이지 ======================================== */
#contents.joinArea { width:610px; margin:0 auto; padding:80px 0 120px; }


/* ======================================== Media Query ======================================== */

/********************* Mobile *********************/
@media all and (max-width:767px) {
  #contents.joinArea { width:100%; padding:30px 20px; }
  .mLogin { width:100%; }
}

/********************* Tablet *********************/
@media all and (min-width:768px) and (max-width:1023px) {

}

/********************* Mobile / Tablet *********************/
@media all and (max-width:1023px) {
.memberArea { min-width:320px; }
}

/* For Print */
@media print {
  #header, #sidebar, #quick, #footer { display:none; }
  #container { padding:0; }
}





 



  
