@charset "utf-8";

/* reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
html { width:100%; height:100%; }
body,code { font-size:14px; font-family:'Nanum Gothic',Helvetica,Arial,sans-serif; color:#333; background:#fff; -webkit-text-size-adjust:none; }
body { min-width:1600px; }
ul,ol,dl,li { list-style:none; }
img,fieldset { border:0; vertical-align:top; }
table { table-layout:fixed; width:100%; border:0; border-spacing:0; border-collapse:collapse; }
table img { vertical-align:middle; }
th,td { border:0; word-wrap:break-word; }
input,select,textarea { font-size:14px; font-family:'돋움',Dotum,Helvetica,AppleSDGothicNeo,sans-serif; color:#333; vertical-align:middle; }
label { cursor:pointer; }
caption { overflow:hidden; width:1px; font-size:1px; line-height:0; text-indent:150%; white-space:nowrap; }
legend,.blind { display:block; overflow:hidden; position:absolute; width:1px; font-size:1px; line-height:0; color:transparent; text-indent:150%; white-space:nowrap; }
hr.layout { display:none; }
button { overflow:visible; padding:0; margin:0; border:0; outline:0; cursor:pointer; background:transparent; }
a { text-decoration:none; color:#000; }
a:hover { text-decoration:underline; }

/* html5 */
object,del,sub,var { margin:0; padding:0; }
article,aside,details,figcaption,figure,footer,header,main,hgroup,menu,nav,section { display:block; }

/* 미대응브라우저 */
#unsupported { overflow:hidden; height:100%; }
#unsupported .unsupported { display:block; }
.unsupported { display:none; }
.unsupported .info { z-index:110; position:fixed; top:15%; left:0; right:0; margin:0 auto; padding:60px 48px; width:820px; height:564px; color:#4c4c4f; text-align:center; border:2px solid #000; background:#fff; box-sizing:border-box; }
.unsupported h1 { margin:0 0 30px; font-size:50px; color:#27273a; font-weight:normal; }
.unsupported .desc { margin:0 0 40px; font-size:16px; line-height:24px; }
.unsupported .desc strong { color:#000; }
.unsupported .browser { overflow:hidden; }
.unsupported .browser li { float:left; margin:0 0 0 27px; }
.unsupported .browser li:first-child { margin:0; }
.unsupported .browser li > img { border:1px solid #d5d5d5; border-bottom-width:0; }
.unsupported .browser li .btnInstall { display:block; padding:15px 0; color:#fff; background:#43485b; }
.unsupported .footer { padding:20px 0 0; text-align:right; }
.unsupported .close { position:absolute; top:30px; right:30px; }
.unsupported .close { overflow:hidden; display:block; width:25px; height:24px; white-space:nowrap; font-size:0; text-indent:-150%; background:url("img/sfix_footer.png") no-repeat 0 0; }
.unsupported .today { font-family:"돋움", Dotum, sans-serif; font-size:12px; }
.unsupported .today .check { width:17px; height:17px; margin:0 0 0 9px; vertical-align:top; border-radius:0; cursor:pointer; background:url("img/sfix_footer.png") no-repeat 0 -50px; }
.unsupported .today .check:checked { background-position:-50px -50px; }
.unsupported .dimmed { z-index:100; position:fixed; top:0; bottom:0; left:0; right:0; width:100%; height:100%; background:rgba(0,0,0,0.5); }

/* ie8 */
.ie8 { background:url("img/bg_ie8.jpg") no-repeat 0 0; background-size:100% auto; }
.ie8 #wrap { display:none; }
.ie8 .unsupported .footer { display:none; }

/* ======================================== 페이지 스타일입력 ======================================== */

#wrap { overflow:hidden; }
.inner { position:relative; width:980px; margin:0 auto; text-align:center; }
.label { margin:80px 0 0; }
#footer { height:178px; color:#fff; background:#262840; }
#footer .inner { width:1090px; height:100%; }
#footer .btnGo { display:inline-block; margin:33px 0 25px; }
#footer .tel { font-size:18px; margin:0 0 14px; }
#footer .btnTop { position:absolute; top:-94px; right:-61px; display:inline-block; overflow:hidden; text-indent:150%; white-space:nowrap; width:61px; height:55px; background:url("img/btn_top.gif") no-repeat 0 0; }

.enterNav { z-index:10; position:fixed; top:445px; right:45px; margin:-42px 0 0; }
.enterNav.hide { display:none; }
.enterNav .circle { display:block; margin:10px 0 0; width:17px; height:18px; overflow:hidden; text-indent:150%; white-space:nowrap; background:url("img/bg_nav.png") no-repeat 0 0; }
.enterNav .circle.selected { background-position:0 -25px; }
.txtEm { color:#4271e8; font-weight:normal; }

/* mTooltip */
.mTooltip { transform:scale(0); -webkit-backface-visibility:hidden; position:relative; display:inline-block; vertical-align:middle; }
.mTooltip .icon { overflow:hidden; width:19px; height:19px; text-indent:150%; outline:0; white-space:nowrap; cursor:pointer; background:url("img/ico_tooltip.png") no-repeat 0 0; }
  .mTooltip.num1 { -webkit-transition:all .8s ease 2.5s; transition:all .8s ease 2.5s; }
  .mTooltip.num2 { -webkit-transition:all .8s ease 2.8s; transition:all .8s ease 2.8s; }
  .animation .mTooltip { transform:scale(1); }
.mTooltip .icon:after { display:none; content:""; z-index:2; position:absolute; left:50%; top:100%; margin:1px 0 0 -6px; width:12px; height:8px; background:url("img/ico_tooltip_edge.png") no-repeat 0 0; }
.mTooltip .tooltip { display:none; z-index:1; position:absolute; right:-16px; width:271px; margin:8px 0 0; border:1px solid #121329; text-align:left; background:#fff; }
.mTooltip .content { padding:16px 20px; line-height:22px; color:#000; font-size:14px; }
.mTooltip.show .icon { background-image:url("img/ico_tooltip_close.png"); }
.mTooltip.show .icon:after { display:block; }

/* mVisual */
  .mVisual { position:relative; min-height:880px; }
  .mVisual .inner { z-index:51; position:absolute; top:0; left:0; right:0; width:1090px; }
  .mVisual .logo { margin:20px 0 0; text-align:left; }
  .mVisual .title { margin:106px 0 0; }
  .mVisual .summary { margin:84px 0 0; }
  .mVisual .skillShortcut { display:flex; margin:52px 0 0; align-content:space-between; }
  .skillShortcut li { width:33%; margin:0 0 0 17px; padding:42px 0 48px; background:#101030; opacity:0.85; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
  .skillShortcut li:first-child { margin-left:0; }
  .skillShortcut .heading {}
  .skillShortcut .desc { margin:18px 0 0; overflow:hidden; text-indent:150%; white-space:nowrap; background-repeat:no-repeat; background-position:center; }
  .skillShortcut .knowhow .desc { background-image:url("img/txt_skill_knowhow.png"); }
  .skillShortcut .infra .desc { background-image:url("img/txt_skill_infra.png"); }
  .skillShortcut .solution .desc { background-image:url("img/txt_skill_solution.png"); }
  .skillShortcut .knowhow:hover .desc { background-image:url("img/txt_skill_knowhow_hover.png"); }
  .skillShortcut .infra:hover .desc { background-image:url("img/txt_skill_infra_hover.png"); }
  .skillShortcut .solution:hover .desc { background-image:url("img/txt_skill_solution_hover.png"); }
  .skillShortcut .btnShortcut { display:inline-block; width:99px; height:32px; margin:32px 0 0; vertical-align:middle; overflow:hidden; text-indent:150%; white-space:nowrap; background:url("img/btn_visual_shortcut.gif") no-repeat 0 0; }
    .skillShortcut li:hover { background:#2d4aae; opacity:0.9; }
    .skillShortcut li:hover .btnShortcut { background-image:url("img/btn_visual_shortcut_hover.gif"); }
  .mVisual .slide img { width:100%; }

/* mSkill */
  .mSkill { position:relative; }
  .mSkill .label, .mSkill .heading, .mSkill .desc, .mSkill .subhead { z-index:2; position:absolute; left:0; right:0; margin:0 auto; }
  .mSkill .label { top:80px; }
  .mSkill .heading { opacity:0; top:310px; -webkit-transition:all 1s cubic-bezier(0.28, 0.16, 0.12, 1); transition:all 1s cubic-bezier(0.28, 0.16, 0.12, 1); }
  .mSkill .desc { opacity:0; top:380px; -webkit-transition:all 1.3s cubic-bezier(0.28, 0.16, 0.12, 1) .2s; transition:all 1.3s cubic-bezier(0.28, 0.16, 0.12, 1) .2s; }
  .mSkill .subhead { opacity:0; top:460px; -webkit-transition:all 1.6s cubic-bezier(0.28, 0.16, 0.12, 1) .4s; transition:all 1.6s cubic-bezier(0.28, 0.16, 0.12, 1) .4s; }
.mSkill.animation .heading { opacity:1; top:160px; }
.mSkill.animation .desc { opacity:1; top:230px; }
.mSkill.animation .subhead { opacity:1; top:310px; }

  /* knowhow */
    #knowhow { height:890px; }
    .knowhowItem { z-index:2; position:absolute; left:0; right:0; margin:0 auto; }
    .knowhowItem { top:344px; display:flex; align-content:space-between; }
    .knowhowItem > li { opacity:0; width:33%; margin:0 0 0 55px; }
    .knowhowItem .item1,
    .knowhowItem .item2,
    .knowhowItem .item3 { -webkit-transition:all .5s ease-out .3s; transition:all .5s ease-out .3s; }
.animation .knowhowItem > li { opacity:1; }
.animation .knowhowItem .item1 { -webkit-transition:all 1s ease-out .8s; transition:all 1s ease-out .8s; }
.animation .knowhowItem .item2 { -webkit-transition:all 1s ease-out 1.1s; transition:all 1s ease-out 1.1s; }
.animation .knowhowItem .item3 { -webkit-transition:all 1s ease-out 1.4s; transition:all 1s ease-out 1.4s; }
    .knowhowItem > li:first-child { margin-left:0; }
    .knowhowItem .explain { position:relative; margin:24px 0 0; padding:25px 19px 0; text-align:left; font-size:16px; line-height:24px; color:#2f2f2f; letter-spacing:-1px; }
    .knowhowItem .explain:before { display:block; content:""; position:absolute; top:0; left:0; width:0; height:1px; background:#e0e0e0; -webkit-transition:all .8s ease-in 1.6s; transition:all .8s ease-in 1.6s; }
.animation .knowhowItem .explain:before { width:100%; }
    .knowhowItem .explain > li { position:relative; padding:0 0 0 13px; margin:18px 0 0; }
    .knowhowItem .explain > li:first-child { margin-top:0; }
    .knowhowItem .explain > li:before { display:block; content:""; position:absolute; top:10px; left:0; width:3px; height:3px; background:#666; }

  /* infra */
    #infra { height:1437px; background:#eaeef8; }
    .infraItem, .infraItem .center, .globalMall { z-index:2; position:absolute; left:0; right:0; margin:0 auto; }
    .infraItem { opacity:0; top:396px; -webkit-transition:all .5s ease-out .3s; transition:all .5s ease-out .3s; }
.animation .infraItem { opacity:1; -webkit-transition:all 1.5s ease 1.1s; transition:all 1.5s ease 1.1s; }
    .infraItem .center { top:107px; transform:scale(1); -webkit-backface-visibility:hidden; -webkit-transition:all .2s ease .1s; transition:all .2s ease .1s; }
.animation .infraItem .center.zoom { transform:scale(1.1); -webkit-transition:all .3s ease-in-out 2.4s; transition:all .3s ease-in-out 2.4s; }
    .infraItem li { z-index:2; position:absolute; display:inline-block; }
    .infraItem li.monitoring { left:50%; margin:0 0 0 -95px; }
    .infraItem li.lag { top:60px; right:200px; }
    .infraItem li.domestic { top:231px; right:60px; }
    .infraItem li.foreign { top:408px; right:195px; }
    .infraItem li.security { top:408px; left:192px; }
    .infraItem li.backup { top:230px; left:65px; }
    .infraItem li.server { top:60px; left:182px; }
      .infraItem li:before { z-index:3; position:absolute; display:inline-block; content:""; width:14px; height:106px; background:url("img/ico_infra_item_arrow.png") no-repeat 0 bottom; }
      .infraItem li.monitoring:before { top:100%; left:50%; margin:-1px 0 0 -7px; height:20px; }
      .infraItem li.lag:before { top:40px; left:-20px; height:42px; -webkit-transform:rotate(48deg); transform:rotate(48deg); }
      .infraItem li.domestic:before { top:3px; left:-32px; height:55px; -webkit-transform:rotate(90deg); transform:rotate(90deg); }
      .infraItem li.foreign:before { top:-25px; left:41px; height:32px; -webkit-transform:rotate(131deg); transform:rotate(131deg); }
      .infraItem li.security:before { top:-26px; right:43px; height:34px; -webkit-transform:rotate(-130deg); transform:rotate(-130deg); }
      .infraItem li.backup:before { top:5px; right:-32px; height:50px; -webkit-transform:rotate(-90deg); transform:rotate(-90deg); }
      .infraItem li.server:before { top:47px; right:-14px; height:38px; -webkit-transform:rotate(-48deg); transform:rotate(-48deg); }
.animation .infraItem li:before { transition:all 1s ease 1.9s; }
.animation .infraItem li.monitoring:before { height:40px; }
.animation .infraItem li.lag:before { top:33px; left:-34px; height:83px; }
.animation .infraItem li.domestic:before { top:-24px; left:-55px; height:110px; }
.animation .infraItem li.foreign:before { top:-49px; left:31px; height:64px; }
.animation .infraItem li.security:before { top:-53px; right:30px; height:67px; }
.animation .infraItem li.backup:before { top:-20px; right:-55px; height:100px; }
.animation .infraItem li.server:before { top:39px; right:-26px; height:75px; }
    .globalMall { opacity:0; top:930px; padding:43px 0 20px; border:1px solid #a0aad1; background:#fff; -webkit-transition:all .5s ease-out .3s; transition:all .5s ease-out .3s; }
.animation .globalMall { opacity:1; -webkit-transition:all 1.5s ease 2s; transition:all 1.5s ease 2s; }
    .globalMall .title { display:block; margin:0 0 36px; }
    .globalMall .mall { height:0; position:relative; overflow:hidden; padding:10px 0; -webkit-transition:all 1s ease-out 2.2s; transition:all 1s ease-out 2.2s; }
.animation .globalMall .mall { height:257px; }
    .globalMall .mall:before { display:block; content:""; z-index:1; position:absolute; top:-10px; left:0; bottom:-10px; width:117px; box-shadow:inset 50px 0 90px 2px #fff; }
    .globalMall .mall:after { display:block; content:""; z-index:1; position:absolute; top:-10px; right:0; bottom:-10px; width:117px; box-shadow:inset -50px 0 90px 2px #fff; }
    .globalMall .mall li { display:inline-block; vertical-align:middle; }
    .globalMall .bx-wrapper { margin:0 auto; position:relative; left:-60px; width:1040px; height:100%; }
    .globalMall .bx-viewport { height:100% !important; }

  /* solution */
    #solution { height:1366px; }
    #solution.mSkill .subhead { margin:52px 0 0; }
    .solutionItem { opacity:0; z-index:2; position:absolute; left:0; top:514px; right:0; margin:0 auto; -webkit-transition:all .5s ease-out .3s; transition:all .5s ease-out .3s; }
.animation .solutionItem { opacity:1; -webkit-transition:all 1.5s ease 0.9s; transition:all 1.5s ease 0.9s; }
    .solutionItem .list { position:relative; width:624px; height:325px; margin:0 auto; background:url("img/bg_solution_item.png") no-repeat 0 0; }
    .solutionItem .list li { opacity:0; position:absolute; display:inline-block; }
    .solutionItem .list li.marketing { opacity:0; bottom:-40px; right:-40px; }
.animation .solutionItem .list li { opacity:1; }
.animation .solutionItem .list li.marketing { -webkit-transition:all 1.5s ease-out 1.1s; transition:all 1.5s ease-out 1.1s; }
.animation .solutionItem .list li.delivery { -webkit-transition:all 1.5s ease-out 1.3s; transition:all 1.5s ease-out 1.3s; }
.animation .solutionItem .list li.pay { -webkit-transition:all 1.5s ease-out 1.5s; transition:all 1.5s ease-out 1.5s; }
.animation .solutionItem .list li.build { -webkit-transition:all 1.5s ease-out 1.7s; transition:all 1.5s ease-out 1.7s; }
.animation .solutionItem .list li.product { -webkit-transition:all 1.5s ease-out 1.9s; transition:all 1.5s ease-out 1.9s; }
    .solutionItem .list li.delivery { top:55px; right:48px; }
    .solutionItem .list li.pay { top:-48px; left:50%; margin:0 0 0 -46px; }
    .solutionItem .list li.build { top:55px; left:53px; }
    .solutionItem .list li.product { bottom:-40px; left:-35px; }
    .solutionItem .arrow { opacity:0; position:absolute; top:0; left:50%; margin:0 0 0 -73px; }
.animation .solutionItem .arrow { opacity:1; top:365px; -webkit-transition:opacity 1s ease-out 2.2s, top .7s ease-out 2.2s; transition:opacity 1s ease-out 2.2s, top .7s ease-out 2.2s; }
    .solutionItem .service { height:0; overflow:hidden; margin:107px 0 0; }
.animation .solutionItem .service { height:336px; -webkit-transition:all 1s ease-out 2.6s; transition:all 1s ease-out 2.6s; }


/* For Print */
@media print {
  #header, #footer { display:none; }
  #contents { width:auto; }
}
