@charset "UTF-8";@import url('/css/redmond/jquery-ui-1.8.7.custom.css');.cl_default,a.cl_default{color:#666;text-decoration:none}.cl_black,a.cl_black{color:#000;text-decoration:none}.cl_black th, .cl_black thead th, .cl_black tbody th, .cl_black tfoot
th{color:#FFF;background-color:#777}.cl_black td, .cl_black tbody td, .cl_black tbody td, .cl_black tfoot
td{color:#FFF;background-color:#AAA}.cl_black, .cl_black tr, .cl_black th, .cl_black td, .cl_black thead th, .cl_black thead td, .cl_black tbody th, .cl_black tbody td, .cl_black tfoot th, .cl_black tfoot
td{border-color:#333}.cl_blue1,a.cl_blue1{color:#00F;text-decoration:none}.cl_blue1 th, .cl_blue1 thead th, .cl_blue1 tbody th, .cl_blue1 tfoot
th{color:#FFF;background-color:#4169E1}.cl_blue1 td, .cl_blue1 thead td, .cl_blue1 tbody td, .cl_blue1 tfoot
td{color:#FFF;background-color:#6495ED}.cl_blue1, .cl_blue1 tr, .cl_blue1 th, .cl_blue1 td, .cl_blue1 thead th, .cl_blue1 thead td, .cl_blue1 tbody th, .cl_blue1 tbody td, .cl_blue1 tfoot th, .cl_blue1 tfoot
td{border-color:#84B5FD}.cl_blue2,a.cl_blue2{color:#0072BC;text-decoration:none}.cl_blue2 th, .cl_blue2 thead th, .cl_blue2 tbody th, .cl_blue2 tfoot
th{color:#FFF;background-color:#0072BC}.cl_blue2 td, .cl_blue2 thead td, .cl_blue2 tbody td, .cl_blue2 tfoot
td{color:#FFF;background-color:#1082CC}.cl_blue2, .cl_blue2 tr, .cl_blue2 th, .cl_blue2 td, .cl_blue2 thead th, .cl_blue2 thead td, .cl_blue2 tbody th, .cl_blue2 tbody td, .cl_blue2 tfoot th, .cl_blue2 tfoot
td{border-color:#2092DC}.cl_brown,a.cl_brown{color:#A52A2A;text-decoration:none}.cl_brown th, .cl_brown thead th, .cl_brown tbody th, .cl_brown tfoot
th{color:#FFF;background-color:#8B4513}.cl_brown td, .cl_brown thead td, .cl_brown tbody td, .cl_brown tfoot
td{color:#FFF;background-color:#A0522D}.cl_brown, .cl_brown tr, .cl_brown th, .cl_brown td, .cl_brown thead th, .cl_brown thead td, .cl_brown tbody th, .cl_brown tbody td, .cl_brown tfoot th, .cl_brown tfoot
td{border-color:#C0724D}.cl_cyan,a.cl_cyan{color:#0FF;text-decoration:none}.cl_darkblue,a.cl_darkblue{color:#00008B;text-decoration:none}.cl_darkblue th, .cl_darkblue thead th, .cl_darkblue tbody th, .cl_darkblue tfoot
th{color:#FFF;background-color:#4169E1}.cl_darkblue td, .cl_darkblue thead td, .cl_darkblue tbody td, .cl_darkblue tfoot
td{color:#FFF;background-color:#6495ED}.cl_darkblue, .cl_darkblue tr, .cl_darkblue th, .cl_darkblue td, .cl_darkblue thead th, .cl_darkblue thead td, .cl_darkblue tbody th, .cl_darkblue tbody td, .cl_darkblue tfoot th, .cl_darkblue tfoot
td{border-color:#84B5FD}.cl_gray,a.cl_gray{color:#808080;text-decoration:none}.cl_gray th, .cl_gray thead th, .cl_gray tbody th, .cl_gray tfoot
th{color:#FFF;background-color:#808080}.cl_gray td, .cl_gray thead td, .cl_gray tbody td, .cl_gray tfoot
td{color:#FFF;background-color:#A9A9A9}.cl_gray, .cl_gray tr, .cl_gray th, .cl_gray td, .cl_gray thead th, .cl_gray thead td, .cl_gray tbody th, .cl_gray tbody td, .cl_gray tfoot th, .cl_gray tfoot
td{border-color:#D0D0D0}.cl_green,a.cl_green{color:#008000;text-decoration:none}.cl_green th, .cl_green thead th, .cl_green tbody th, .cl_green tfoot
th{color:#FFF;background-color:#006400}.cl_green td, .cl_green thead td, .cl_green tbody td, .cl_green tfoot
td{color:#FFF;background-color:#228B22}.cl_green, .cl_green tr, .cl_green th, .cl_green td, .cl_green thead th, .cl_green thead td, .cl_green tbody th, .cl_green tbody td, .cl_green tfoot th, .cl_green tfoot
td{border-color:#329B32}.cl_lime,a.cl_lime{color:#0F0;text-decoration:none}.cl_lime th, .cl_lime thead th, .cl_lime tbody th, .cl_lime tfoot
th{color:#FFF;background-color:#32CD32}.cl_lime td, .cl_lime thead td, .cl_lime tbody td, .cl_lime tfoot
td{color:#000;background-color:#7FFF00}.cl_lime, .cl_lime tr, .cl_lime th, .cl_lime td, .cl_lime thead th, .cl_lime thead td, .cl_lime tbody th, .cl_lime tbody td, .cl_lime tfoot th, .cl_lime tfoot
td{border-color:#3CB371}.cl_magenta,a.cl_magenta{color:#F0F;text-decoration:none}.cl_magenta th, .cl_magenta thead th, .cl_magenta tbody th, .cl_magenta tfoot
th{color:#FFF;background-color:#F0F}.cl_magenta td, .cl_magenta thead td, .cl_magenta tbody td, .cl_magenta tfoot
td{color:#FFF;background-color:#EE82EE}.cl_magenta, .cl_magenta tr, .cl_magenta th, .cl_magenta td, .cl_magenta thead th, .cl_magenta thead td, .cl_magenta tbody th, .cl_magenta tbody td, .cl_magenta tfoot th, .cl_magenta tfoot
td{border-color:#FFF}a:hover.cl_magenta{border-color:#F0F}.cl_maroon,a.cl_maroon{color:#800000;text-decoration:none}.cl_maroon th, .cl_maroon thead th, .cl_maroon tbody th, .cl_maroon tfoot
th{color:#FFF;background-color:#800000}.cl_maroon td, .cl_maroon thead td, .cl_maroon tbody td, .cl_maroon tfoot
td{color:#FFF;background-color:#A02020}.cl_maroon, .cl_maroon tr, .cl_maroon th, .cl_maroon td, .cl_maroon thead th, .cl_maroon thead td, .cl_maroon tbody th, .cl_maroon tbody td, .cl_maroon tfoot th, .cl_maroon tfoot
td{border-color:#C03030}.cl_olive,a.cl_olive{color:#808000;text-decoration:none}.cl_olive th, .cl_olive thead th, .cl_olive tbody th, .cl_olive tfoot
th{color:#FFF;background-color:#808000}.cl_olive td, .cl_olive thead td, .cl_olive tbody td, .cl_olive tfoot
td{color:#FFF;background-color:#BDB76B}.cl_olive, .cl_olive tr, .cl_olive th, .cl_olive td, .cl_olive thead th, .cl_olive thead td, .cl_olive tbody th, .cl_olive tbody td, .cl_olive tfoot th, .cl_olive tfoot
td{border-color:#F0E68C}.cl_pink,a.cl_pink{color:#FFC0CB;text-decoration:none}.cl_pink th, .cl_pink thead th, .cl_pink tbody th, .cl_pink tfoot
th{color:#FF1493;background-color:#FFB6C1}.cl_pink td, .cl_pink thead td, .cl_pink tbody td, .cl_pink tfoot
td{color:#FF1493;background-color:#FFC0CB}.cl_pink, .cl_pink tr, .cl_pink th, .cl_pink td, .cl_pink thead th, .cl_pink thead td, .cl_pink tbody th, .cl_pink tbody td, .cl_pink tfoot th, .cl_pink tfoot
td{border-color:#DB7093}.cl_purple,a.cl_purple{color:#800080;text-decoration:none}.cl_purple th, .cl_purple thead th, .cl_purple tbody th, .cl_purple tfoot
th{color:#FFF;background-color:#800080}.cl_purple td, .cl_purple thead td, .cl_purple tbody td, .cl_purple tfoot
td{color:#FFF;background-color:#BA55D3}.cl_purple, .cl_purple tr, .cl_purple th, .cl_purple td, .cl_purple thead th, .cl_purple thead td, .cl_purple tbody th, .cl_purple tbody td, .cl_purple tfoot th, .cl_purple tfoot
td{border-color:#DDA0DD}.cl_red,a.cl_red{color:#F00;text-decoration:none}.cl_red th, .cl_red thead th, .cl_red tbody th, .cl_red tfoot
th{color:#FFF;background-color:#F30}.cl_red td, .cl_red thead td, .cl_red tbody td, .cl_red tfoot
td{color:#FFF;background-color:#F66}.cl_red, .cl_red tr, .cl_red th, .cl_red td, .cl_red thead th, .cl_red thead td, .cl_red tbody th, .cl_red tbody td, .cl_red tfoot th, .cl_red tfoot
td{border-color:#FFF}a:hover.cl_red{border-color:#F0F}.cl_silver,a.cl_silver{color:#C0C0C0;text-decoration:none}.cl_silver th, .cl_silver thead th, .cl_silver tbody th, .cl_silver tfoot
th{color:#C0C0C0;background-color:#333}.cl_silver td, .cl_silver thead td, .cl_silver tbody td, .cl_silver tfoot
td{color:#C0C0C0;background-color:#666}.cl_silver, .cl_silver tr, .cl_silver th, .cl_silver td, .cl_silver thead th, .cl_silver thead td, .cl_silver tbody th, .cl_silver tbody td, .cl_silver tfoot th, .cl_silver tfoot
td{border-color:#999}.cl_white,a.cl_white{color:#FFF;text-decoration:none}.cl_white th, .cl_white thead th, .cl_white tbody th, .cl_white tfoot
th{color:#000;background-color:#F0F0F0}.cl_white td, .cl_white thead td, .cl_white tbody td, .cl_white tfoot
td{color:#000;background-color:#FFF}.cl_white, .cl_white tr, .cl_white th, .cl_white td, .cl_white thead th, .cl_white thead td, .cl_white tbody th, .cl_white tbody td, .cl_white tfoot th, .cl_white tfoot
td{border-color:#999}.cl_yellow,a.cl_yellow{color:#FF0;text-decoration:none}.cl_yellow th, .cl_yellow thead th, .cl_yellow tbody th, .cl_yellow tfoot
th{color:#000;background-color:#FF9}.cl_yellow td, .cl_yellow thead td, .cl_yellow tbody td, .cl_yellow tfoot
td{color:#000;background-color:#FFC}.cl_yellow, .cl_yellow tr, .cl_yellow th, .cl_yellow td, .cl_yellow thead th, .cl_yellow thead td, .cl_yellow tbody th, .cl_yellow tbody td, .cl_yellow tfoot th, .cl_yellow tfoot
td{border-color:#FC6}.cl_orange,a.cl_orange{color:#F37E16;text-decoration:none}.cl_orange th, .cl_orange thead th, .cl_orange tbody th, .cl_orange tfoot
th{color:#FFF;background-color:#F60}.cl_orange td, .cl_orange thead td, .cl_orange tbody td, .cl_orange tfoot
td{color:#000;background-color:#F90}.cl_orange, .cl_orange tr, .cl_orange th, .cl_orange td, .cl_orange thead th, .cl_orange thead td, .cl_orange tbody th, .cl_orange tbody td, .cl_orange tfoot th, .cl_orange tfoot
td{border-color:#FC6}.underline{text-decoration:underline}.bold{font-weight:bold}.lh1{line-height:100%}.lh2{line-height:130%}.lh3{line-height:160%}.lh4{line-height:200%}.ls-1{letter-spacing: -1px}.ls0{letter-spacing:0px}.ls1{letter-spacing:1px}.align_left, .align_td_left
td{padding-left:5px;padding-right:0px;text-align:left}.align_center, .align_td_center
td{padding-left:0px;padding-right:0px;text-align:center}.align_right, .align_td_right
td{padding-left:0px;padding-right:5px;text-align:right}.clear{clear:both}.tbl_style1{width:100%;border-collapse:collapse;border:1px
solid #FFF}.tbl_style1 th, .tbl_style1
td{padding:3px;border:1px
solid #AAA}.tbl_style1
tr.style1{background-color:#F0F0F0}.tbl_style1
th{padding:3px;border-bottom:2px solid #AAA;background-color:#EEE}.tbl_style1 tbody th, .tbl_style1 tfoot th, .tbl_style1
td{border:1px
solid #AAA}.tbl_style1 tfoot th, .tbl_style1 tfoot
td{border-top:2px solid #AAA}.tbl_style1 thead
th{padding:5px}.tbl_style2{width:100%;border-collapse:collapse;border:2px
solid #000}.tbl_style2 th, .tbl_style2
td{padding:3px;padding:5px
0px;border:1px
solid #000}.tbl_style2
th{background-color:#EEE}.tbl_style2
td{padding-left:5px;text-align:left}.tbl_style3{width:100%;border-collapse:collapse;border:1px
solid #FFF}.tbl_style3 th, .tbl_style3
td{padding:3px;padding:5px
0px;border:0px
solid #A8D0EA;border-top:1px dashed #A8D0EA;background-color:#F6FBFD}.tbl_style3 thead
th{border-bottom:1px solid #A8D0EA}.tbl_style3 tfoot th, .tbl_style3 tfoot
td{border-top:1px solid #A8D0EA}.tbl_style3
td{padding-left:5px;text-align:left}.tbl_style4{width:100%;border-collapse:collapse;border:1px
solid #FFF;border-top:1px solid #A8D0EA;border-bottom:1px solid #A8D0EA}.tbl_style4 th, .tbl_style4
td{padding:3px;padding:5px
0px;border:0px
solid #A8D0EA;border-top:1px dashed #A8D0EA;border-left:1px solid #A8D0EA;border-right:1px solid #A8D0EA;background-color:#F6FBFD}.tbl_style4 thead
th{border-bottom:1px solid #A8D0EA;background-color:#E4F0F7}.tbl_style4 tfoot th, .tbl_style4 tfoot
td{border-top:1px solid #A8D0EA;background-color:#E4F0F7}.tbl_style4 tbody
th{border-top:1px dashed #A8D0EA;border-right:1px solid #A8D0EA;background-color:#E4F0F7}.tbl_style4
td{padding-left:5px;text-align:left}.tbl_style5{width:100%;border-collapse:collapse;border:1px
solid #FFF;border-top:1px solid #A8D0EA;border-bottom:1px solid #A8D0EA}.tbl_style5 th, .tbl_style5
td{padding:3px;padding:5px
0px;border:0px
solid #A8D0EA;border-top:1px dashed #A8D0EA;border-left:1px solid #A8D0EA;border-right:1px solid #A8D0EA;background-color:#F6FBFD}.tbl_style5 thead
th{border-bottom:1px solid #A8D0EA;background-color:#E4F0F7}.tbl_style5 tfoot th, .tbl_style5 tfoot
td{border-top:1px solid #A8D0EA;background-color:#E4F0F7}.tbl_style5 tbody
th{border-top:1px dashed #A8D0EA;border-right:1px solid #A8D0EA;background-color:#E4F0F7}.tbl_style5
td{padding-left:5px;text-align:left}.tbl_style11{width:100%;border-collapse:collapse;border:1px
solid #FFF}.tbl_style11 th, .tbl_style11
td{padding:5px
0px;border:0px
solid #CCC;border-top:1px dotted #999;background-color:#FAFAFA}.tbl_style11 thead
th{padding:7px
3px;border-bottom:2px solid #999;background-color:#F7F7F7}.tbl_style11 tfoot th, .tbl_style11 tfoot
td{padding:7px
3px;border-top:2px solid #999}.tbl_style11
td{padding-left:3px}.tbl_style11_tr tr, .tbl_style11_tr
td{background-color:#F3F3F3}.tbl_style12{width:100%;border-collapse:collapse;border-top:2px solid #CEE6B6;border-bottom:2px solid #CEE6B6}.tbl_style12 th, .tbl_style12
td{padding:5px
0px;border:1px
solid #CEE6B6;color:#333;font-weight:normal}.tbl_style12 thead
th{background:#F6F9F2;font-weight:bold}.tbl_style12 tbody
th{border-left:none;background:#F6F9F2}.tbl_style12 tbody
td{padding-left:10px}.tbl_style12 input[type=text]{border:1px
solid #9EB686;padding:2px
3px}.tbl_style12 input[type=password]{border:1px
solid #9EB686;padding:2px
3px}.tbl_style12 input[type=radio]{padding:2px
3px}.tbl_style12
select{border:1px
solid #9EB686}.tbl_style12
textarea{border:1px
solid #9EB686;padding:2px
3px}.tbl_style12
.bln{border-left:none}.tbl_style12
.brn{border-right:none}.tbl_style12
.tl{text-align:left;padding:5px
0px}.tbl_style12
.tc{text-align:center;padding:5px
0px}.tbl_style12
.tr{text-align:right;padding:5px
0px}.tbl_style12
.nbl{border-left:none}.tbl_style12
.nbr{border-right:none}.tbl_style12 .tr2
td{background-color:#F3F3F3}.tbl_style12
.disable{background-color:#FAFDF6}.tbl_style13{width:100%;border-collapse:collapse;border-top:2px solid #E0E0E0;border-bottom:2px solid #E0E0E0;table-layout:fixed;white-space:normal;overflow:hidden;word-breakL:break-all}.tbl_style13 th, .tbl_style13
td{padding:5px
0px;border:1px
solid #E0E0E0;color:#333;font-weight:normal}.tbl_style13 thead
th{border-top:2px solid #E0E0E0;border-bottom:2px solid #E0E0E0;background:#FCFCFB;font-weight:bold}.tbl_style13 tbody
th{border-left:none;background:#F8F8F8}.tbl_style13 tbody
td{padding-left:10px}.tbl_style13
input{border:1px
solid #CCC;padding:2px
3px}.tbl_style13 input[type=text]{border:1px
solid #AAA;padding:2px
3px}.tbl_style13 input[type=password]{border:1px
solid #AAA;padding:2px
3px}.tbl_style13 input[type=radio]{padding:2px
3px}.tbl_style13
textarea{border:1px
solid #AAA;padding:2px
3px}.tbl_style13
.nbl{border-left:none}.tbl_style13
.nbr{border-right:none}.tbl_style13
.tl{text-align:left;padding:5px
0px}.tbl_style13
.tc{text-align:center;padding:5px
0px}.tbl_style13
.tr{text-align:right;padding:5px
0px}.cur_hand{cursor:pointer}.cur_pointer{cursor:pointer}.perfectleg{width:100%}.dreamleg{width:95%}.longest{width:400px}.longer{width:300px}.long{width:200px}.normal{width:150px}.short{width:100px}.shorter{width:70px}.shortest{width:30px}.yourleg{width:18px;text-align:center}.input_style12{border:1px
solid #9EB686;padding:2px
3px}input.require1{padding-right:10px;background:#FFF url('/img/icons/require1.gif') no-repeat right top}input.require2{padding-right:10px;background:#FFF url('/img/icons/require2.gif') no-repeat right top}input.require3{padding-right:10px;background:#FFF url('/img/icons/require3.gif') no-repeat right top}input.error{border:1px
solid #F77;background-color:#FFFAFA}input.frm_cal1{padding-right:20px;cursor:pointer;background:#FFF url('/img/icons/icon_calendar.gif') no-repeat  98% center }.impact,.impact1{background-color:yellow;color:red}.readonly{background-color:#EEE;color:#666;border:1px
solid #CCC}.alert_area
li{list-style:decimal;margin-left:20px}a.paging_style_daum_thispage,a.paging_style_daum_page,a.paging_style_daum_first,span.paging_style_daum_first,a.paging_style_daum_prev,span.paging_style_daum_prev,a.paging_style_daum_next,span.paging_style_daum_next,a.paging_style_daum_last,span.paging_style_daum_last{display:-moz-inline-stack;display:inline-block;vertical-align:top;padding:3px
5px;margin-right:2px;color:#222;background-color:#FFF;font:bold 12px tahoma;border:1px
solid #BBB;text-align:center;text-decoration:none}a.paging_style_daum_first,a.paging_style_daum_prev,a.paging_style_daum_next,a.paging_style_daum_last{padding-top:3px;padding-bottom:3px}span.paging_style_daum_first,span.paging_style_daum_prev,span.span.paging_style_daum_next,span.paging_style_daum_last{padding-top:3px;padding-bottom:3px;color:#999}a.paging_style_daum_thispage{color:#6671FF;background-color:#FFF;border:1px
solid #95A5FF}a.paging_style_daum_page:hover,a.paging_style_daum_page:focus,a.paging_style_daum_first:hover,a.paging_style_daum_prev:hover,a.paging_style_daum_next:hover,a.paging_style_daum_last:hover{color:#6671FF;background-color:#FFF;border:1px
solid #95A5FF}a.paging_style_newcafe24_thispage,a.paging_style_newcafe24_page,a.paging_style_newcafe24_first,span.paging_style_newcafe24_first,a.paging_style_newcafe24_prev,span.paging_style_newcafe24_prev,a.paging_style_newcafe24_next,span.paging_style_newcafe24_next,a.paging_style_newcafe24_last,span.paging_style_newcafe24_last{}span.paging_style_newcafe24_first,span.paging_style_newcafe24_prev,span.paging_style_newcafe24_next,span.paging_style_newcafe24_last{color:#999;padding:1px
3px}.ui-widget-overlay{position:absolute;top:0;left:0;width:100%;height:100%}.ui-widget-overlay{background:#eee url(/css/ui-lightness/images/ui-bg_inset-hard_0_eeeeee_1x100.png) 50% bottom repeat-x;opacity: .80;filter:Alpha(Opacity=80)}.ui-widget-overlay{background:#666 url(/css/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;opacity: .50;filter:Alpha(Opacity=50)}.ui-button-text-icon .ui-button-text, .ui-button-text-icons .ui-button-text{padding:0em
0.2em 0em 1.4em}.ui-button-text-icon .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary span.ui-icon{left: .0em}.jBtn-01 .ui-icon{*top:1.2em;*left:1.1em}.jBtn-02 .ui-icon{*top:  .7em;*left: .2em}