@charset "utf-8";

/* 이미지형 아이콘 */
span.icoTitle, span.icoReply, span.icoArrow, span.icoNew, span.icoLock, span.icoMobileMark, span.icoAttach, span.icoFix, span.icoTel, span.icoPhone, span.icoSpread, span.icoPhoto, span.icoPlus, span.icoQuotesBefore, span.icoQuotesAfter, .icoBookmark, .icoLaw {
    display:inline-block; overflow:hidden; margin:-2px 4px 0 0; vertical-align:middle; font-size:0; line-height:0;
    background-image:url("//img.echosting.cafe24.com/mobile/common/sfix_icon_image.png"); background-repeat:no-repeat; background-size:200px auto;
}
span.icoTitle { width:7px; height:7px; background-position:0 0; }
span.icoReply { width:10px; height:11px; background-position:-50px 0; }
span.icoArrow { width:13px; height:13px; background-position:-100px 0; }
span.icoNew { width:13px; height:13px; background-position:-150px 0; }
span.icoLock { width:11px; height:13px; background-position:0 -50px; }
span.icoMobileMark { width:9px; height:14px; background-position:-50px -50px; }
span.icoAttach { width:8px; height:14px; background-position:-100px -50px; }
span.icoFix { width:12px; height:13px; margin:0; background-position:-150px -50px; }
span.icoTel { width:12px; height:12px; background-position:0 -100px; }
span.icoPhone { width:8px; height:13px; background-position:-50px -100px; }
span.icoSpread { width:13px; height:8px; margin:0 0 0 7px; background-position:-100px -100px; }
span.icoPhoto { width:18px; height:18px; margin-right:6px; background-position:0 -150px; }
span.icoPlus { width:13px; height:13px; margin-right:6px; background-position:-50px -150px; }
span.icoQuotesBefore { width:10px; height:8px; margin-right:6px; vertical-align:4px; background-position:-100px -150px; }
span.icoQuotesAfter { width:10px; height:8px; margin-left:6px; vertical-align:4px; background-position:-150px -150px; }
.icoBookmark { width:13px; height:13px; margin-right:0; background-position:0 -200px; }
button.icoBookmark { width:22px; height:22px; background-position:2px -196px; }
button.icoBookmark.selected { background-position:-48px -196px; }
.icoLaw { width:14px; height:14px; margin:-3px 0 0; background-position:-100px -200px; }

/* 텍스트형 아이콘 */
.icoDefault, .icoNotice, .icoMajor,  .icoFavorite, .icoSpecial, .icoBad, .icoBlacklist, .icoShopDisplay,
.icoEachRegister, .icoExcRegister, .icoRetractExchange, .icoRetractCancel, .icoRetractReturn, .icoExchange, .icoCancel, .icoReturn, .icoSoldout, .icoWithdraw, .icoSell,
.icoPriority, .icoBundle, .icoSetProduct, .icoSetProduct2, .icoReference, .icoRefund, .icoOrdFirst, .icoDelay, .icoIP,
.icoDefer, .icoExcProduct, .icoExcPayment, .icoExcBefore, .icoExcAfter, .icoExcPart, .icoRefusal,
.icoMobile, .icoProduct, .icoGift, .ico1MoreEvent, .icoSecurity, .icoGrand,
.icoB2BRequest, .icoB2BReject, .icoB2BStop, .icoPersonal, .icoCompany, .icoDivision, .icoRequired,
.icoCheckoutExchange, .icoCheckoutCancel, .icoCheckoutReturn,
.icoStorePickup, .icoFixed, .icoNineteen, .icoStock, .icoCafe24 {
    display:inline-block; overflow:hidden; height:16px; margin:-1px 0 0; font-size:0; line-height:0; vertical-align:middle;
    background:url('//img.echosting.cafe24.com/mobile/common/sfix_icon_text.png') 0 0 no-repeat; background-size:550px auto;
}
.icoDefault { width:25px; background-position:0 0; }
.icoNotice { width:25px; background-position:-50px 0; }
.icoMajor { width:25px; background-position:-100px 0; }
.icoFavorite { width:25px; background-position:-150px 0; }
.icoSpecial { width:25px; background-position:-200px 0; }
.icoBad { width:25px; background-position:-250px 0; }
.icoBlacklist { width:55px; background-position:-300px 0; }
.icoShopDisplay { width:62px; background-position:-400px 0; }

.icoEachRegister { width:45px; background-position:0 -50px; }
.icoExcRegister { width:45px; background-position:-50px -50px; }
.icoRetractExchange { width:45px; background-position:-100px -50px; }
.icoRetractCancel { width:45px; background-position:-150px -50px; }
.icoRetractReturn { width:45px; background-position:-200px -50px; }
.icoExchange { width:26px; background-position:-250px -50px; }
.icoCancel { width:26px; background-position:-300px -50px; }
.icoReturn { width:26px; background-position:-350px -50px; }
.icoSoldout { width:26px; background-position:-400px -50px; }
.icoWithdraw { width:26px; background-position:-450px -50px; }
.icoSell { width:36px; background-position:-500px -50px; }

.icoPriority { width:45px; background-position:-100px -650px; }
.icoBundle { width:26px; background-position:-50px -100px; }
.icoSetProduct { width:26px; background-position:-100px -100px; }
.icoSetProduct2 { width:45px; background-position:-150px -100px; }
.icoReference { width:26px; background-position:-200px -100px; }
.icoRefund { width:26px; background-position:-250px -100px; }
.icoRefund.disabled { background-position:-300px -100px; }
.icoOrdFirst { width:35px; background-position:-350px -100px; }
.icoDelay { width:45px; background-position:-400px -100px; }
.icoIP { width:30px; background-position:-450px -100px; }

.icoDefer { width:45px; background-position:0 -150px; }
.icoExcProduct { width:45px; background-position:-50px -150px; }
.icoExcPayment { width:54px; background-position:-100px -150px; }
.icoExcBefore { width:54px; background-position:-200px -150px; }
.icoExcAfter { width:54px; background-position:-300px -150px; }
.icoExcPart { width:45px; background-position:-400px -150px;}
.icoRefusal { width:45px; background-position:-450px -150px; }

.icoMobile { width:16px; background-position:0 -200px; }
.icoProduct { width:26px; background-position:-50px -200px; }
.icoGift { width:35px; background-position:-100px -200px; }
.ico1MoreEvent { width:54px; background-position:-150px -200px; }
.icoSecurity { width:26px; }
.icoSecurity.level1 { background-position:-250px -200px; }
.icoSecurity.level2 { background-position:-300px -200px; }
.icoSecurity.level3 { background-position:-350px -200px; }
.icoGrand { width:45px; background-position:-400px -200px; }

.icoB2BRequest { width:76px; background-position:0 -250px; }
.icoB2BReject { width:95px; background-position:-100px -250px; }
.icoB2BStop { width:85px; background-position:-200px -250px; }
.icoPersonal { width:26px; margin-top:0; background-position:-300px -250px; }
.icoCompany { width:26px; margin-top:0; background-position:-350px -250px; }
.icoDivision { width:26px; margin-top:0; background-position:-400px -250px; }
.icoRequired { width:21px; height:12px; background-position:-450px -250px; }
    .mTooltip + .icoRequired { margin:0; *margin:0 4px; }

.icoCheckoutExchange { width:95px; background-position:0 -300px; }
.icoCheckoutCancel { width:95px; background-position:-100px -300px; }
.icoCheckoutReturn { width:95px; background-position:-200px -300px; }

.icoStorePickup { width:16px; background-position:0 -350px; }
.icoFixed { width:25px; background-position:-50px -350px; }
.icoNineteen { width:17px; background-position:-100px -350px; }
.icoStock { width:56px; background-position:-150px -350px; }
.icoCafe24 { width:39px; background-position:-250px -350px; }

/* 신규 텍스트형 아이콘 */
.txtSFIX, .txtSFIX.icoNew, .txtSFIX.icoLink {
    display:inline-block; overflow:hidden; height:16px; margin:-1px 0 0; font-size:0; line-height:0; vertical-align:middle;
    background:url('//img.echosting.cafe24.com/mobile/common/sfix_icon_text.png') 0 0 no-repeat; background-size:550px auto;
}
.icoNecessary { width:28px; background-position:-300px -350px; }
.icoBest { width:32px; background-position:-350px -350px; }
.txtSFIX.icoNew { width:31px; background-position:-400px -350px; }
.icoReserve { width:46px; background-position:-450px -350px; }
.icoReserve.mini { width:25px; background-position:-450px -370px; }

.icoSetSplit { width:62px; background-position:0 -400px; }
.icoSetAll { width:62px; background-position:-100px -400px; }
.icoReady { width:28px; background-position:-200px -400px; }
.icoPossible { width:28px; background-position:-250px -400px; }
.icoImpossible { width:28px; background-position:-300px -400px; }
.icoComplete { width:28px; background-position:-350px -400px; }
.icoSendFail { width:45px; background-position:-400px -400px; }
.icoOrder { width:27px; background-position:-450px -400px; }
.icoBundleBan { width:45px; background-position:-500px -400px; }
.icoBundleBan.mini { width:25px; background-position:-500px -420px; }

.icoSalesFail { width:64px; background-position:0 -450px; }
.icoAddressChange { width:45px; background-position:-100px -450px; }
.icoAddressChange.mini { width:25px; background-position:-100px -470px; }
.icoRemindMe { width:63px; background-position:-150px -450px; }
.icoRemindMeBenefit { width:63px; background-position:-250px -450px; }
.icoStoreRegister { width:45px; background-position:-350px -450px; }
.icoSeparatePrint { width:44px; background-position:-400px -450px; }
.icoSeparatePrint.mini { width:25px; background-position:-400px -470px; }

.icoMarketFail { width:64px; background-position:0 -500px; }
.icoMarketProduct { width:45px; background-position:-100px -500px; }
.icoInvoiceFail { width:64px; background-position:-200px -500px; }
.icoRegisterFail { width:66px; background-position:-400px -500px; }
.icoNumFail { width:64px; background-position:-300px -500px; }
.icoLifetime { width:26px; background-position:-500px -500px; }

.icoMembership { width:25px; background-position:0 -550px; }
.icoServiceInUse { width:64px; background-position:-50px -550px; }
.icoServiceNotUse { width:75px; background-position:-150px -550px; }
.icoStateRegister { width:25px; background-position:-250px -550px; }
.icoStateReceipt { width:25px; background-position:-300px -550px; }
.icoStateInvoice { width:25px; background-position:-350px -550px; }
.icoStateOut { width:25px; background-position:-400px -550px; }
.icoHolding { width:25px; background-position:-450px -550px; }
.icoHandling { width:25px; background-position:-500px -550px; }

.txtSFIX.icoLink { width:25px; background-position:0 -600px; }
.icoUnlink { width:37px; background-position:-50px -600px; }
.icoManageLog { width:45px; background-position:-100px -600px; }
.icoNormal { width:25px; background-position:-150px -600px; }
.icoDeliveryPart { width:46px; background-position:-200px -600px; }
.icoDeliveryPart.mini { width:25px; background-position:-200px -620px; }

.icoAssign { width:27px; background-position:0 -650px; }
.icoAssignNot { width:37px; background-position:-50px -650px; }
.icoAssignFirst { width:45px; background-position:-100px -650px; }
.icoAssignFirst.mini { width:26px; background-position:-100px -670px; }
.icoAssignAuto { width:45px; background-position:-150px -650px; }
.icoAssignAuto.mini { width:26px; background-position:-150px -670px; }