@charset "utf-8";
/* Reset : 필수 CSS 수정 및 삭제 불가 */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
html { width:100%; height:100%; }
body,code { font:0.75em AppleGothic,sans-serif; color:#1c1c1c; background:#fff; }
body { min-width:845px; max-width:1000px; margin:0 auto; }
@media all and (max-width:767px) {
  body { min-width:320px; }
}
/* body { min-width:908px; } */
li { list-style:none; }
img,fieldset { border:none; vertical-align:top; }
table { width:100%; border:0; border-spacing:0; border-collapse:collapse; }
caption { display:none; }
th,td { border:0; vertical-align:top; }
input,select,textarea { font-size:100%; font-family:"돋움", Dotum; color:#1b1b1b; vertical-align:middle; }
legend { visibility:hidden; position:absolute; left:-9999px; top:-9999px; width:0; height:0; line-height:0; }
button { overflow:visible; padding:0; margin:0; border:0; cursor:pointer; }
hr.layout { display:none; }
a { text-decoration:none; color:#000; } /* delete : ,a:link,a:visited*/
a:hover { text-decoration:underline; }
a:active { text-decoration:none; }
.blind { overflow:hidden; position:absolute; width:0; height:0; white-space:nowrap; text-indent:100%; font-size:0; line-height:0; }
.objHidden { visibility:hidden; position:absolute; left:-9999px; top:-9999px; width:0; height:0; }
.pointer { cursor:pointer; }

/* Layout */
#wrap { position:relative; border-left:1px solid #d9d9d9; border-right:1px solid #d9d9d9; box-sizing:border-box; }
/* #wrap { min-width:1000px; } */
#header { overflow:hidden; border-bottom:1px solid #d9d9d9; background:#fff; }
#header .logo { float:left; padding:10px 20px 14px; font-size:30px; line-height:1.2; }
#header .logo a { text-decoration:none; color:#2e3039; }
#header .logoSub { position:relative; font-size:20px; }
#header .logoSub:before { position:absolute; content:''; width:100%; height:45%; left:0; bottom:0; opacity:0.2; background:#d35665; }
/* #header h1 span { font-size:15px; color:#183f66; line-height:11px; vertical-align:middle; }
#header h1 a:hover { text-decoration:none; } */
#header p { float:right; padding:0 7px; }
#header p a,
#header p a:hover { padding:4px 6px; font-size:11px; line-height:14px; color:#fff; word-spacing:-1px; background:#467bff; border-radius:3px; }
#header p span { padding:0 2px 0 0; font-size:12px; }
#contents { padding:20px; }
#footer { position:relative; overflow:hidden; margin:50px 0 0; padding:5px 20px; color:#96979c; font-size:12px; background:#3a4254; }


/* Text */
.del td,
a.del { text-decoration:line-through; }
.del td:last-child,
.del td.center { text-decoration:none; }
.mTable td del:after { content:"tr class=del 처리"}
.txtWarn { color:#1b87d4; }
a.txtLink { position:relative; padding:0 7px 2px 0; line-height:1.2em; color:#3177c9; font-weight:bold; font-size:16px; text-decoration:none; }
a.txtLink:after { content:""; position:absolute; top:50%; right:0; margin:-3px 0 0; display:inline-block; width:0; height:0; border-top:3px solid transparent; border-left:3px solid #3177c9; border-bottom:3px solid transparent; }
a.txtLink:hover { -webkit-box-shadow:0px 1px 0px 0px rgba(49,120,201,1);
    -moz-box-shadow:0px 1px 0px 0px rgba(49,120,201,1);
    box-shadow:0px 1px 0px 0px rgba(49,120,201,1); }
a.popup:before { content: "[P] "; color:purple; }
a.overlay:before { content: "[L] "; color:purple; }
a.iframe:before { content: "[F] "; color:purple; }
a.subdepth:before { content: "ㄴ "; color:blue; }
a.subdepth.popup:before { content: "ㄴ [P] "; color:purple; }

/* Icon */
.btnIcon { display:inline-block; overflow:hidden; width:20px; height:19px; font-size:0; line-height:0; vertical-align:middle; white-space:nowrap; background-image:url("//img.echosting.cafe24.com/suio/sfix_btn_ico.png"); background-repeat:no-repeat; }
.btnIcon span { visibility:hidden; }
/* icoMemo */
.btnIcon.icoMemo { width:11px; height:12px; background-position:-150px -105px; }
.btnIcon.icoMemo.selected { background-position:-150px -127px; }