/**
  * SUIO 유효성 검사
*/

/* 검증완료된 DEBUG */

/* gHeading */
.gHeading .mTitle p, .gHeading .mTitle ul, .gHeading .mTitle ol { outline:2px solid #ca5ccb; }
#popup .gHeading .mTitle p, #popup .gHeading .mTitle ul, #popup .gHeading .mTitle ol { outline:0; }
.section .gHeading { outline:1px solid #467bff; }
.section .gHeading:before { content:'section bug'; color:blue; font-size:15px; }

/* section */
.section.gSingle,
.section.gDouble,
.section.gTriple,
.section.clear { outline:1px solid #467bff; }
.section.clear:before { display:block; padding:3px; background:#467bff; content:'section bug'; color:#fff; }

.section .section { outline:1px solid #467bff; position:relative; }
.section .section:before { position:absolute; left:-1px; top:-1px; content:'section bug : section안에 section이 들어오지 않음'; padding:3px; background:#467bff; text-align:left; color:#fff; font-size:11px; z-index:100; }

/* ----------------------------------------- SUIO.CSS > DEBUG.CSS  ----------------------------------------- */

/* Grid */
.w50, .w60, .w80, .w90, .w100, .w110, .w140, .w150, .w190, .w200, .w250, .w280 { outline:2px solid #ca5ccb; }
    /* Reset */
    th.w50, th.w60, th.w80, th.w90, th.w100, th.w110, th.w140, th.w150, th.w190, th.w200, th.w250, th.w280,
    td.w50, td.w60, td.w80, td.w90, td.w100, td.w110, td.w140, td.w150, td.w190, td.w200, td.w250, td.w280 { outline:0; }
.gWidth { outline:0 none; }
.mButton + .section { outline:1px solid #467bff; }


.mTitle { outline:1px solid #467bff; }
.mTitle:before { content:'section bug'; padding:3px; background:#467bff; text-align:left; color:#fff; font-size:11px; }
.section > .mTitle,
.section > div > .mTitle,
.gHeading .mTitle,
.mLayer .mTitle,
.mZipcode .mTitle,
.introduce .mTitle,
.headingArea.gSubmain .mTitle,
.dashMain .mTitle { outline:0; }
.section .mTitle:before,
.gHeading .mTitle:before,
.mLayer .mTitle:before,
.mZipcode .mTitle:before,
.introduce .mTitle:before,
.headingArea.gSubmain .mTitle:before,
.dashMain .mTitle:before { display:none; }

.mTitle .total { outline:1px solid #ca5ccb; }
.mTitle .total:before { content:'total은 mState로 분리'; background:#ca5ccb; color:#fff; }

.mTitle .mList,
.mTitle .mDesc  { outline:1px solid #ca5ccb; }
.mTitle .mList:after { display:block; content:'mTitle h2 > ul, p'; background:#ca5ccb; color:#fff; }

.section .mTitle h2 { outline:1px solid #cb5c83; }
.section .mTitle h2:after { color:#cb5c83; content:' h2단위로 section 으로 그룹핑합니다.' }
.section .mTitle:first-child h2 { outline:0; }
.section .mTitle:first-child h2:after { content:'' }

.section > .mTitle:first-child h3 { outline:1px solid #cb5c83; }
.section > .mTitle:first-child h3:after { color:#cb5c83; content:' h2단위로 section 으로 그룹핑합니다. 상단의 section에 해당 영역을 넣어주세요.' }

.mTitle > div { outline:1px solid #cb5c83; }
.mTitle > div:after { display:block; color:#fff; background:#cb5c83; white-space: pre; content:' - mTitle안에 툴팁,도움말(ul, p),버튼 제외 금지 \A  - mLayer 등에서 사용 될 경우 mTitle과 형제레벨로 코딩할 것' }
.mTitle > div.gRight { outline:0; }
.mTitle > div.gRight:after { display:none; } /* 상품분류 관리 예외처리 */

.mTitle > div.mTooltip { outline:0; }
.mTitle > div.mTooltip:after { display:none; }

h1 div:after,
h2 div:after,
h3 div:after,
h1 p:after,
h2 p:after,
h3 p:after,
h1 ul:after,
h2 ul:after,
h3 ul:after{ position:absolute; left:13px; padding:0 0 0 13px; width:150px; content:'h1태그 안에 block 금지'; background:#ca5ccb; color:#fff; font-size:11px; font-weight:normal; line-height:1.8em; }

/*
.mBoard .mTooltip .txtLink,
.mBoard .mHelp .txtLink,
.mBoard .mForm .txtLink,
.mBoard .gLabel .txtLink { outline:1px solid #ca5ccb; }
*/

.mForm li > .txtInfo { outline:1px solid #ca5ccb; }
.mForm li > .txtInfo:after { display:block; content:'도움말 ul은 별도로 분리'; background:#ca5ccb; color:#fff; }
.mForm li > label + .txtInfo,
.mForm li > .gLabel + .txtInfo,
.mForm li > select + .txtInfo,
.mForm li > input + .txtInfo,
.mForm li > .figure + .txtInfo,
.mForm li > .subform + .txtInfo,
.mForm li > .addForm + .txtInfo,
.mForm li > .btnIcon + .txtInfo { outline:0; }
.mForm li > label + .txtInfo:after,
.mForm li > .gLabel + .txtInfo:after,
.mForm li > select + .txtInfo:after,
.mForm li > input + .txtInfo:after,
.mForm li > .figure + .txtInfo:after,
.mForm li > .subform + .txtInfo:after,
.mForm li > .addForm + .txtInfo:after,
.mForm li > .btnIcon + .txtInfo:after { display:none; }

td.txtNormal, td.txtEm, td.txtWarn, td.txtInfo, td.txtEng, td.txtKor, td.txtMore, td.txtLess, td.txtLight, td.txtIcon, td.txtLink, td.txtByte, td.txtDesign, td.txtLaw,
ul.txtNormal, ul.txtEm, ul.txtWarn, ul.txtEng, ul.txtKor, ul.txtMore, ul.txtLess, .mBoard ul.txtLight, ul.txtIcon, ul.txtLink, ul.txtByte, ul.txtDesign, ul.txtLaw,
li.txtNormal, li.txtEm, li.txtWarn, li.txtInfo, li.txtEng, li.txtKor, li.txtMore, li.txtLess, li.txtLight, li.txtIcon, li.txtLink, li.txtByte, li.txtDesign, li.txtLaw,
div.txtNormal, div.txtEm, div.txtWarn, div.txtInfo, div.txtEng, div.txtKor, div.txtMore, div.txtLess, div.txtLight, div.txtIcon, div.txtLink, div.txtByte, div.txdivesign, div.txtLaw,
em.txtNormal, em.txtEm, em.txtWarn, em.txtInfo, em.txtEng, em.txtKor, em.txtMore, em.txtLess, em.txtLight, em.txtIcon, em.txtLink, em.txtByte, em.txtDesign, em.txtLaw { color:#ca5ccb; font-size:16px; }

/* Form */
label label,
label a { outline:2px solid #ca5ccb; }

.gForm { outline:2px solid #ca5ccb; }
select + .gForm, .fChk + .gForm, .gForm + .gForm  { outline:0; }

/* mForm, addForm */
.mForm .mForm { outline:1px solid #ca5ccb !important; }
.mForm .mForm:after { content:'mForm 중복 금지'; display:block; padding:2px; background:#ca5ccb; color:#fff; }
.mForm .mBoard .mForm { outline:0 !important; }
.mForm .mBoard .mForm:after { display:none; }

.addForm, .subform { outline:1px solid #ca5ccb; }
.addForm:before, .subform:before { content:'addForm, subform은 mForm안에서만 사용'; display:block; padding:2px; background:#ca5ccb; color:#fff; }
.mForm .addForm, .mForm .subform { outline:0 none; }
.mForm .addForm:before, .mForm .subform:before { display:none; }
.mForm .addForm.gSingle,
.mForm .addForm.gDouble,
.mForm .addForm.gTriple { outline:1px solid #ca5ccb; }
.addForm.gSingle:before, .addForm.gDouble:before, .addForm.gTriple:before, .addForm.gWidth:before { content:'addForm grid 금지'; display:block; padding:2px; background:#ca5ccb; color:#fff; }

.mForm .addForm.mBoard { outline:1px solid #ca5ccb; }
.mForm .addForm.mBoard:before { content:'mBoard사용시 addForm으로 감쌀것'; display:block; padding:2px; background:#ca5ccb; color:#fff; }

p.mForm.typeVer, p.mForm.typeHor, div.mForm.typeVer, div.mForm.typeHor { outline:1px solid #ca5ccb; }
p.mForm.typeVer:before, p.mForm.typeHor:before, div.mForm.typeVer:before, div.mForm.typeHor:before { content:'type 선언은 UL만 허용'; display:block; padding:2px; background:#ca5ccb; color:#fff; }

.mForm .gSingle:first-child,
.mForm .gDouble:first-child,
.mForm .gTriple:first-child { outline:2px solid #ca5ccb; }

.mForm .mBoard .gSingle:first-child,
.mForm .mBoard .gDouble:first-child,
.mForm .mBoard .gTriple:first-child { outline:0; }

.mForm .addForm { outline:1px solid #ca5ccb; }
.mForm p.addForm, .mForm div.addForm, .mForm ul.addForm.gVer, .mForm ul.addForm.gHor { outline:0 none; }

.mForm ul.addForm:before { display:block; content:'ul.addForm 일 경우 type 명시'; background:#ca5ccb; color:#fff; }
.mForm ul.addForm.gVer:before,
.mForm ul.addForm.gHor:before { display:none; }

table.addForm, thead.addForm, tbody.addForm, tfoot.addForm, tr.addForm, td.addForm { outline:2px solid #ca5ccb; }
ul.mForm { outline:2px solid #ca5ccb; }
ul.mForm.typeVer, ul.mForm.typeHor { outline:0; }
.addForm:hover { outline:1px dashed blue !important; }

.mForm li > .mBoard:first-child,
.mForm li > .mBoardArea:first-child { outline:1px solid #ca5ccb; }
.mForm li > .mBoard:first-child:before,
.mForm li > .mBoardArea:first-child:before { display:block; content:'mForm 사용이 맞는지 재확인할 것!'; background:#ca5ccb; color:#fff; }

.fText.left { outline:1px solid #ca5ccb; }
.fText.left:after { content:'fText는 left가 기본값으로 사용하지 않습니다.';}
.fText.gDate { background:#fff !important; }

/* 시스템폰트 버튼 */
.btnNormal strong, .btnCtrlEm strong, .btnDate strong, .btnGeneral strong, .btnStrong strong, .btnSubmit strong, .btnCancel strong, .btnSearch strong {}
/* strong 금지는 suio만 */

#popup #popWrap .btnSubmit, #popup #popWrap .btnCancel { outline:1px solid #ca5ccb; }
#popup > .mButton .btnSubmit, #popup > .mButton .btnCancel { outline:0; }

.btnGeneral,
.btnStrong { outline:1px solid #ca5ccb; }

.mButton > a { outline:2px solid #ca5ccb; }
.mButton > a:before { content:'p 필수'; display:block; background:#ca5ccb; color:#fff; }
.mLayer .mButton > a,
#popup > .mButton > a { outline:0; }
.mLayer .mButton > a:before,
#popup > .mButton > a:before { display:none; }

.section .mButton .btnGeneral,
.section .mButton .btnStrong { outline:0; }

.section .btnSubmit,
.section .btnCancel { outline:1px solid #ca5ccb; }

.section .mBox .btnGeneral,
.section .mBox .btnStrong,
.section .mBox .btnSubmit,
.section .mBox .btnCancel { outline:0; }
.section .mBoard table + .mButton { outline:1px solid #467bff; }
.section .mBoard table + .mButton:before { position:absolute; left:-1px; top:-1px; content:'mButton 영역 확인'; padding:3px; background:#467bff; text-align:left; color:#fff; font-size:11px; }

/* 아이콘 */
em.icoLink { outline:3px solid #cb5c83; }
span em.icoLink,
strong em.icoLink { outline:0 none; }
.mCtrl .btnCtrl .icoPlus { outline:2px solid #ca5ccb; }
.icoRequired + .icoHelp { outline:1px solid #cb5c83; }

/* 항목이동버튼 */
a.btnMove { outline:2px solid #ca5ccb; }
.mCtrl .btnMove, .mMultiple .btnMove, .gMove .btnMove, .mBoard .btnMove { outline:0; }

/* mList */
.mTooltip div.content .mList { outline:0 none; }
.mTooltip div.content .mList:after { display:none; }

/* mHelp */
.section .mHelp { outline:1px solid #467bff; position:relative; }
.section .mHelp:before { position:absolute; left:-1px; top:-1px; content:'section bug'; padding:3px; background:#467bff; text-align:left; color:#fff; font-size:11px; }
.mLayer .mHelp,
.mLayer .mHelp h2,
.mBoard .mHelp { outline:1px solid #467bff; }
.mHelp { position:relative; }
.mHelp .content:before { content:'SUIO Ver.'; position:absolute; right:0; top:0; }
.mHelp .gInner:before { content:'Module Ver.'; position:absolute; right:0; top:0; }

#popup > .mHelp { outline:1px solid #467bff; position:relative; }
#popup > .mHelp:before { position:absolute; left:-1px; top:-1px; content:'popup 퍼블리싱 가이드 확인'; padding:3px; background:#467bff; text-align:left; color:#fff; font-size:11px; }

.mHelp p + p { outline:1px solid #467bff; position:relative; }
.mHelp p + p:before { position:absolute; left:-1px; top:-1px; content:'도움말이 여러줄일경우 ul 처리'; padding:3px; background:#467bff; text-align:left; color:#fff; font-size:11px; }

/* mBoard align */
table.center, table.left, table.right,
.mBoard.gSmall > .middle,
.mBoard.gMedium > .middle,
.mBoard.gLarge > .middle { outline:1px solid #467bff; position:relative; }
table.center:before, table.left:before, table.right:before { position:absolute; left:-1px; top:-1px; content:'align 속성은 tbody, tfoot 만 허용'; padding:3px; background:#467bff; text-align:left; color:#fff; font-size:11px; }
.mBoard.gSmall > .middle:before,
.mBoard.gMedium > .middle:before,
.mBoard.gLarge > .middle:before  { position:absolute; left:-1px; top:-1px; content:'디버깅 추가 예정'; padding:3px; background:#467bff; text-align:left; color:#fff; font-size:11px; }

.left td.left,
.center td.center,
.right td.right,
.middle td.middle { background:#ca5ccb; text-align:left; }
    .left td.left:before,
    .center td.center:before,
    .right td.right:before,
    .middle td.middle:before { content:'tbody와 동일한 class 사용 불가 '; color:#fff; }

td.left, tbody.left { background:#ca5ccb; }
    td.left:before,
    tbody.left:before { content:'.left 는 재지정시에만 허용 '; color:#fff; }

td.top, tbody.top { background:#ca5ccb; }
    td.top:before,
    tbody.top:before { content:'.top 는 재지정시에만 허용 '; color:#fff; }

.center td.left,
.right td.left,
.middle td.top { background:transparent; }
.center td.left:before,
.right td.left:before,
.middle td.top:before { content:''; display:none; }

.mBoard { outline:1px solid #ca5ccb; }
.mBoard:before { content:'module.css의 mBoard는 type 선언합니다.'; display:block; background:#ca5ccb; color:#fff; }
    div[class*="type"] { outline:0; }
    div[class*="type"]:before { display:none; }

.mBoard .empty td,
.mBoard td.empty { background:#f1f1f1; }
.mBoard .empty td:before,
.mBoard td.empty:before { content:'[2015-02-23 p.empty로 개선]'; color:#467bff; padding:0 20px 0 0; }

.mBoard:first-child.gSingle,
.mBoard:first-child.gDouble,
.mBoard:first-child.gTriple { outline:1px solid #467bff; }

.mBoard:first-child.gSingle:before,
.mBoard:first-child.gDouble:before,
.mBoard:first-child.gTriple:before { display:block; padding:2px; background:#467bff; content:'첫번째 mBoard gHeight 사용 금지 '; color:#fff; }

.mBoard > .mBoard { outline:1px solid #467bff; position:relative; z-index:1; }
.mBoard > .mBoard:before { display:block; content:'mBoard > mBoard 금지!'; color:#fff; background:#467bff; font-size:15px; }
.mBoard.typeProduct > .mBoard { outline:0; }
.mBoard.typeProduct > .mBoard:before { display:none; }

.mBoard td > .mButton { outline:1px solid #467bff; position:relative; }
.mBoard td > .mButton:before { position:absolute; left:0; top:0; bottom:0; padding:3px 3px 0 3px; content:'(임시) mBoard내 버튼은 mCtrl '; color:#fff; background:#467bff;}

.mBoard .mBoard .mBoard { position:relative; outline:1 solid #467bff; }
.mBoard .mBoard .mBoard:before { display:block; content:'테이블 중첩이 심함, UI기획팀과 검토하기'; }

/* mBoardArea */
.mBoardArea > .mBoard { outline:1px solid #467bff; }
.mBoardArea > .mBoard:before { display:block; padding:2px; background:#467bff; content:'mBoardArea는 스크롤되는 mBoard Merge시에만 사용 '; color:#fff; }

.mBoard.typeHead,
.mBoard.typeBody,
.mBoard.typeFoot { outline:1px solid #467bff; }
.mBoard.typeHead:before,
.mBoard.typeBody:before,
.mBoard.typeFoot:before { display:block; padding:2px; background:#467bff; content:'gTableMerge에서만 사용되는 class!'; color:#fff; }

.gTableMerge > .mBoard.typeHead,
.gTableMerge > .mBoard.typeBody,
.gTableMerge > .mBoard.typeFoot { outline:0; }
.gTableMerge > .mBoard.typeHead:before,
.gTableMerge > .mBoard.typeBody:before,
.gTableMerge > .mBoard.typeFoot:before { display:none; }

.mBoard.gSmall > table > colgroup,
.mBoard.gMedium > table > colgroup,
.mBoard.gLarge > table > colgroup { outline:1px solid #467bff; position:absolute; }
.mBoard.gSmall > table > colgroup:before,
.mBoard.gMedium > table > colgroup:before,
.mBoard.gLarge > table > colgroup:before { display:block; content:'mBoard grid와 colgroup 중복사용 금지'; color:#fff; padding:3px; background:#467bff; font-size:12px; }

.mBoard .gDivision colgroup { outline:0; position:static; }

/* mTab */
.section .mTab.typeNav,
.mTab.typeTab { outline:1px solid #467bff; }
.submain .mTab.typeTab,
.section .mTab.typeTab,
.mLayer .mTab.typeTab,
.gTabMerge .mTab.typeTab,
.mBox + .mTab { outline:0; }
.section .mTab.typeNav:before { content:'section bug'; color:blue; font-size:15px; }

/* mPromotion */
.section .mPromotion { outline:1px solid #467bff; }
.section .mPromotion:before { content:'section bug'; color:blue; font-size:15px; }

/* multipleArea */
.multipleArea { outline:1px solid #467bff; }
.section .multipleArea,
.mBoard .multipleArea,
.mLayer .multipleArea,
.mBox .multipleArea { outline:0; }

/* pickerArea */
.section .pickerArea { outline:1px solid #467bff; }
.section .pickerArea:before { content:'section bug'; color:blue; font-size:15px; }
.mPicker { outline:2px solid #ca5ccb; }
.pickerArea .mPicker,
.pickerArea .mPaginate { outline:0; }

/* scheduleArea */
.section .scheduleArea { outline:1px solid #467bff; }
.section .scheduleArea:before { content:'section bug'; color:blue; font-size:15px; }

/* mInfo */
.section .mInfo.typePage { outline:1px solid #467bff; }
.section .mInfo.typePage:before { content:'section bug'; color:blue; font-size:15px; }

/* mLayer */
.mLayer .wrap + .wrap { outline:2px solid #ca5ccb; }

/* mPaginate */
.mPaginate { outline:1px solid #467bff; }
.section .mPaginate,
.mLayer .mPaginate { outline:0; }

#footer .mButton { border:1px solid #467bff; }
#footer .mButton:before { content:'footer에서는 mButton으로 감싸지 않음'; display:block; padding:3px; color:#fff; background:#467bff; }

/* ----------------------------------------- //SUIO.CSS > DEBUG.CSS  ----------------------------------------- */




/* ----------------------------------------- DEBUG.CSS  ----------------------------------------- */

/* 테이블 체크박스 */
.dTableWrap { position:absolute; left:0; top:0; right:0; bottom:0; border:1px solid #467bff; }
.dTableMsg { float:left; display:inline-block; padding:5px 10px; color:#fff; vertical-align:middle; background:#467bff; }

/* 새창열림 : icoLink */
.dTcoLink { position:absolute; left:0; bottom:100%; display:inline-block; margin:1px 0 -5px; padding:2px 3px; color:#fff; font-size:11px; line-height:13px; font-style:normal; vertical-align:middle; background:#cb5c83; opacity:0.6; }

/* 새창열림 : A */
.dBlankA { position:absolute; left:0; bottom:100%; display:inline-block; margin:1px 0 -5px; padding:2px 3px; color:#fff; font-size:11px; line-height:13px; font-style:normal; vertical-align:middle; white-space:nowrap; background:#cb5c83; opacity:0.6; }

/* 디버깅 토글버튼 영역 debugArea */
#debugArea { overflow:hidden; position:fixed; z-index:103; right:10px; top:40px; width:200px; opacity:0.4; border-radius:3px; box-shadow:5px 5px 5px #888; background-color:#fff; }
#debugArea.hide { width:60px; }
#debugArea:hover { opacity:1; z-index:1100; }
#debugArea h1 { padding:5px 10px; font-size:12px; font-weight:normal; font-family:Verdana; color:#fff; background:#467bff; cursor:pointer; white-space:nowrap; }
#debugArea h1 a { color:#fff; }
#debugArea h1 a:hover { text-decoration:underline; }
#debugArea button { width:100%; margin:-1px -9px 0 0; padding:0 0 0 9px; border:1px solid #467bff; color:#111; font-size:11px; line-height:20px; text-align:left; font-family:'Oxygen Mono'; letter-spacing:-1px; background-color:transparent; }
#debugArea button:hover { color:#467bff; }
#debugArea.hide button { display:none; }

    /* addForm */
    .addForm.show { display:block !important; }
    /* caption */
    .dCaption { display:table-caption; padding:3px; background:#467bff; text-align:left; color:#fff; }
    .dCaption:before { content:'<caption> '; }
    /* mBoard + gScroll */
    .gScrollCheck { position:relative; outline: 2px solid #cb5c83; }
    .gScrollCheck:before { content:'gScroll 사용영역'; position:absolute; left:0px; top:0px; padding:5px 10px; color:#fff; background:#cb5c83; }

#debugArea + .btnSUIO { position:fixed; z-index:103; right:10px; top:5px; width:180px; padding:5px 10px; opacity:0.4; border-radius:3px; box-shadow:3px 5px 5px #888; font-size:12px; font-family:Verdana; color:#fff; background:#467bff; }
#debugArea + .btnSUIO:hover { opacity:1; }
#debugArea.hide + .btnSUIO { width:40px; white-space:nowrap; }

/* section id 리스트 레이어 */
#qaIdViewer { display:none; z-index:100; position:fixed; left:50%; top:150px; width:300px; margin-left:-150px; border:1px solid #467bff; background:#fff; border-radius:3px; box-shadow:5px 5px 5px #888;}
#qaIdViewer.show { display:block; }
#qaIdViewer strong { display:block; padding:5px 10px; font-size:12px; font-weight:normal; font-family:Verdana; color:#fff; background:#467bff; }
#qaIdViewer ul { padding:10px; }
#qaIdViewer li { position:relative; padding:0 0 0 10px; line-height:20px; }
#qaIdViewer li:before { content:''; position:absolute; left:0px; top:7px; width:3px; height:3px; background:#1d87d4; }
#qaIdViewer a { color:#11; }
#qaIdViewer a:hover { color:#1d87d4; }
#qaIdViewer button { position:absolute; right:3px; top:5px; background:none; font-size:11px; color:#fff; }

/* 문자열 */
.highlight { background-color:green; color:#fff; }

/* mCtrl > btnCtrl > icoPlus */
.dCtrlPlus { position:absolute; left:0; bottom:100%; display:inline-block; margin:1px 0 -5px; padding:2px 3px; color:#fff; font-size:11px; line-height:13px; font-style:normal; vertical-align:middle; white-space:nowrap; background:#cb5c83; opacity:0.6; }

/* btnCtrl > textNode '[' check */
.dBtnWrap { position:absolute; left:0; bottom:100%; display:inline-block; margin:1px 0 -5px; padding:2px 3px; color:#fff; font-size:11px; line-height:13px; font-style:normal; vertical-align:middle; white-space:nowrap; background:#cb5c83; opacity:0.6; }

/* mList > li의 갯수가 1일때 */
.dMlist { position:absolute; left:0; bottom:100%; display:inline-block; margin:1px 0 -5px; padding:2px 3px; color:#fff; font-size:11px; line-height:13px; font-style:normal; vertical-align:middle; white-space:nowrap; background:blue; opacity:0.6; }

/* jsSampleLayer 이란 id를 그대로 사용할 떄 */
#jsSampleLayer { outline:5px solid #cb5c83; }
#jsSampleLayer:before { color:#cb5c83; content:'mLayer 네이밍 변경!'; }

/* mHelp HTML 복사 */
.copyHelpHtml { z-index:100; position:relative; height:0; }
.copyHelpHtml span { position:absolute; right:0; top:0; opacity:0.3; filter:alpha(opacity=30); }
.copyHelpHtml span button { padding:5px 5px; color:#fff; background:#467bff; }
.copyHelpHtml span:hover { opacity:1; filter:alpha(opacity=100); }
#dHelpCopy { z-index:100; position:absolute; width:500px; padding:20px 20px; color:#fff; font-size:20px; border-radius:10px; background:#000; }

/* QA Automation */
.section.qaUndefined.show{ border:2px solid #ca5ccb; }
.section.qaUndefined.show:before { content:'QA 주석과 일치하지 않음'; display:block; margin:0 10px 0 0; padding:5px 10px; color:#fff; background:#ca5ccb; }
.section.qaId.show{ border:2px solid #ca5ccb; }
.section.qaId.show:before { content:'<div class="section">의 id를 QA_로 시작하세요'; display:block; margin:0 10px 0 0; padding:5px 10px; color:#fff; background:#ca5ccb; }
.section.qaAssign.show{ border:2px solid #ca5ccb; }
.section.qaAssign.show:before { content:'<div class="section">에 id가 비어있음.'; display:block; margin:0 10px 0 0; padding:5px 10px; color:#fff; background:#ca5ccb; }
.qaIdText { display:inline-block; margin:0 10px 0 0; padding:5px 10px; color:#fff; background:#ca5ccb; }

/* gEdtor */
.editorMsg { position:relative; }
.editorMsg:before { content:'에디터를 감싸는 부모에게 <div class="gEditor"> 추가'; position:absolute; top:0; padding:3px; color:#fff; background:#467bff; }

/* 테이블 정렬 */
    /* 가장많은 정렬 지정 */
    .manyAlign { margin:1px 0 0; outline:1px solid #467bff; }
    .manyAlignMsg { margin:1px 0 0; padding:5px 10px; color:#467bff; background:#e5ecff; outline:1px solid #467bff; }
    /* tbody에 정렬 중복사용 */
    .overlapTbodyAlign { margin:1px 0 0; outline:1px solid #467bff; }
    .overlapMsg { margin:1px 0 0; padding:5px 10px; color:#467bff; background:#e5ecff; outline:1px solid #467bff; }
    /* tbody에 사용된 정렬을 td에 사용 */
    .alignInherit { margin:1px 0 0; outline:1px solid #467bff; }
    .inheritMsg { margin:1px 0 0; padding:5px 10px; color:#467bff; background:#e5ecff; outline:1px solid #467bff; }
    /* td에만 정렬한경우*/
    /* tbody에 사용된 정렬을 td에 사용 */
    .onlyAlignMsg { margin:1px 0 0; outline:1px solid #467bff; }
    .tdOnlyAlignMsg { margin:1px 0 0; padding:5px 10px; color:#467bff; background:#e5ecff; outline:1px solid #467bff; }
/* div.mForm > .gLabel, addForm이 없는경우 */
div.mForm.divMform{ position:relative; outline:1px solid #467bff; }
div.mForm.divMform:before { content:'.addForm이 없는경우 .mForm을 생략합니다.'; position:absolute; top:-30px; padding:3px; color:#fff; background:#467bff; }

/* icoRequired */
.icoRequired.requiredMsg { position:relative; overflow:visible; color:transparent; }
.icoRequired.requiredMsg:before { content:'[필수] 생략'; position:absolute; top:-15px; padding:3px; color:#fff; font-size:11px; font-weight:normal; white-space:nowrap; line-height:1.25; background:#467bff; }

/* 임시 Debug */

.txtEng strong,
.txtKor strong,
.txtMore strong,
.txtLess strong,
.txtLight strong,
.txtIcon strong,
.txtCode strong,
.txtLink strong { border:1px solid gray; }

ul .txtEng strong, ul.txtEng strong,
ul .txtKor strong, ul.txtKor strong,
ul .txtMore strong, ul.txtMore strong,
ul .txtLess strong, ul.txtLess strong,
ul .txtLight strong, ul.txtLight strong,
ul .txtIcon strong, ul.txtIcon strong,
ul .txtCode strong, ul.txtCode strong,
ul .txtLink strong ul.txtLink strong { border:0; }

p.mForm { outline:1px solid #cb5c83; }

/* label > 2개이상의 폼태그 */
.txtOverflowForm { position:relative; border:1px solid #467bff; }
.txtOverflowForm:before { content:'label이 감싸는 폼태그의 최대 갯수는 1개입니다.'; position:absolute; top:-15px; padding:3px; color:#fff; font-size:11px; font-weight:normal; white-space:nowrap; letter-spacing:0; line-height:1.25; background:#467bff; }

/* 텍스트 디버그(txtEm, txtWarm, txtNormal) */
.txtCheckMsg { position:relative; display:inline-block; width:0; height:20px; vertical-align:middle; }
.txtCheckMsg span { position:absolute; left:0px; bottom:100%; display:inline-block; margin-bottom:-5px; color:#fff; white-space:nowrap; background:#ca5ccb; opacity:0.5; filter:alpha(opacity=50); }

/* placeholder 넓이값 %지정 */
.placeholderPercent { position:relative; display:inline-block; }
.placeholderPercent:before { content:'placeholder를 사용하는 폼태그의 넓이값은 px로 지정합니다.'; position:absolute; left:0; bottom:100%; margin-bottom:-5px; padding:3px; color:#fff; font-size:11px; font-weight:normal; white-space:nowrap; line-height:1.25; background:#467bff; }

/* 디버그 결과 레이어 */
#dReport { display:none; z-index:200; position:fixed; left:50%; top:20px; width:200px; margin-left:-120px; padding:20px; background:#fff; border:3px solid gold; }
#dReport h1 { font-size:14px; }
#dReport ul { margin:10px 0 0; padding:10px 0 0; border-top:1px solid gray; }
#dReport li { margin:5px 0 0; }
#dReport li:before { content:''; display:inline-block; width:5px; height:1px; margin:0 5px 0 0; vertical-align:middle; background:#467BFF; }
#dReport li strong { margin:0 0 0 5px; }
#dReport .close { position:absolute; right:0px; top:0px; padding:5px 2px; font-weight:bold; font-size:12px; font-family:Dotum; background:none; }
#popupSize { position:fixed; top:0; left:0; width:100%; padding:10px 20px; background-color:#ccc; }

/* css 벨리데이션 */
.cssWarn { position:fixed; top:0; z-index:1; width:100%; background:#ff5555; cursor:pointer; }
.cssWarn p { text-align:center; color:#fff; font-size:14px; line-height:32px; }

/* case */
[uidev-case] { position:relative; }
[uidev-case].uidev-case-text { outline:1px dashed #2e8b57 !important; }
[uidev-case]:before { display:none !important; }
[uidev-case]:after {
  z-index:9999; opacity:0; filter:alpha(opacity=0); position:absolute; top:0; left:-9999px; content:attr(uidev-case); padding:1px 12px; width:auto; min-width:50px; color:#fff; font-size:12px; word-wrap:break-word; white-space:pre; background-color:#2E8B57; background-color:rgba(46, 139, 87, 0.9);
  -webkit-box-shadow:0px 0px 3px 1px rgba(50, 50, 50, 0.6); -moz-box-shadow:0px 0px 3px 1px rgba(50, 50, 50, 0.6); box-shadow:0px 0px 3px 1px rgba(50, 50, 50, 0.6);
  -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
  -webkit-transition:bottom .3s ease-in-out, opacity .3s ease-in-out; -moz-transition:bottom .3s ease-in-out, opacity .3s ease-in-out; transition:bottom .3s ease-in-out, opacity .3s ease-in-out;
}
[uidev-case].uidev-case-text:after{ left:0; opacity:1; filter:alpha(opacity=100); }

/* ec_lang */
[ec-lang] { position:relative; }
.ec-lang,
[ec-lang].ec-lang { outline:1px dashed #ff0000 !important; }
.ecjapan { display:inline-block; z-index:101; opacity:0; filter:alpha(opacity=0); position:absolute; padding:1px 12px; width:auto; min-width:50px; color:#fff; font-size:12px; word-wrap:break-word; white-space:pre; background-color:#ff0000;
  -webkit-box-shadow:0px 0px 3px 1px rgba(50, 50, 50, 0.6); -moz-box-shadow:0px 0px 3px 1px rgba(50, 50, 50, 0.6); box-shadow:0px 0px 3px 1px rgba(50, 50, 50, 0.6);
  -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;
  -webkit-animation:optionAni .3s ease forwards;  -moz-animation:optionAni .3s ease forwards; animation:optionAni .3s ease forwards; 
}
.ecjapan.sort { top:0; left:0; z-index:102; }

@keyframes optionAni {
  0% { opacity:0; filter:alpha(opacity=0); }
  100% { opacity:1; filter:alpha(opacity=100); }
}

/* eLayerClick & eModal */
.eLayerClick.show,
.eModal.show { outline:2px solid red; }

/* sizeBorder */
.sizeBorder { box-sizing:border-box; border-right:1px solid #467bff; border-bottom:1px solid #467bff; }

/* ----------------------------------------- //DEBUG.CSS  ----------------------------------------- */

@media print {
    #debugArea, #dReport { display:none; }
}