<?php require_once('../../include/header.html'); ?>

<div class="headingArea">
    <div class="mTitle">
        <h1>제목</h1>
    </div>
    <div class="mBreadcrumb">
        <ol>
            <li class="home"><a href="#none">홈</a></li>
            <li><a href="#none">기초설정</a></li>
            <li class="now" title="현재 페이지">사용자등급</li>
        </ol>
    </div>
</div>

<div class="section">
    <div class="mBoard gSmall">
        <table border="1" summary="">
        <caption>사용등급 검색</caption>
        <tbody>
            <tr>
                <th scope="row">사용등급</th>
                <td>
                    <input type="text" id="text" name="text" class="fText" style="width:300px;" value="" />
                    <a href="#none" class="btnSearch"><span>검색</span></a>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<?php require_once('../../include/footer.html'); ?>