@charset "utf-8";

#skipNavigation { left:0; position:absolute; top:0; width:100%; z-index:100; }
#skipNavigation a { background:#c4122f; color:#fff; display:block; height:20px; left:-99999px; line-height:20px; position:absolute; text-align:center; top:0; width:100%; }
#skipNavigation a:focus, #skipNavigation a:active { left:0; }

body { background:none; height:100%; min-width:1246px; }
#wrap { background:url('//img.echosting.cafe24.com/etc/lm/bg_sidebar.gif') repeat-y; margin-bottom:-30px; min-height:100%; min-width:1241px; }
body#popup { height:auto; }
body#popup #wrap { background:none; margin-bottom:0; min-height:0; min-width:0; padding-bottom:80px; }
#container { padding:0 20px 30px 206px; }
#container:after { clear:both; content:""; display:block; }
#content { float:left; width:100%; }
    #wrap.index { background:none; }
    #wrap.index #container { padding:0; }
    #wrap.index #content { float:none; width:auto; padding:15px 15px 0; }

#header { background:url('//img.echosting.cafe24.com/etc/lm/bg_header.gif') repeat-x; height:72px; position:relative; }
#header .header { height:30px; max-width:1259px; position:relative; }
#header .header:after { clear:both; content:""; display:block; }
#header h1 { left:19px; position:absolute; top:8px; }
#header h2 { color:transparent; font-size:0; line-height:0; }
#header .topMenu { font-size:0; line-height:0; position:absolute; right:0; top:0; }
#header .topMenu .member strong { color:#b4b5b8; display:inline-block; font-size:11px; font-weight:normal; height:30px; line-height:30px; padding:0 8px 0 0; vertical-align:top; }
#header .topMenu .member a.login,
#header .topMenu .member a.logout { background:url('//img.echosting.cafe24.com/etc/lm/sfix_layout.png') no-repeat; display:inline-block; height:22px; margin:4px 0 0; padding-right:6px; vertical-align:top; width:59px; }
#header .topMenu .member a.logout { background-position:0 0; }
#header .topMenu .member a.login { background-position:0 -32px; }
#header .topMenu .member a.login span,
#header .topMenu .member a.logout span { color:transparent; font-size:0; left:0; line-height:0; overflow:hidden; position:absolute; text-indent:-9999px; top:0; }
#header .topMenu .member a.btnUtil { background:url('//img.echosting.cafe24.com/etc/lm/ico_div.gif') no-repeat right 50%; color:#aab2bf; display:inline-block; font-size:11px; height:30px; line-height:30px; padding:0 30px; text-decoration:none; }
#header .topMenu .member a.btnUtil:hover { color:#fff; }

#gnb { border-right:1px solid #5990da; }
#gnb:after { clear:both; content:""; display:block; }
#gnb li { border-right:1px solid #5990da; display:table; float:left; width:150px; }
#gnb li:first-child { border-left:0 none; }
#gnb li a { background-color:#4080d5; border-right:1px solid #3164a5; color:#fff; display:table-cell; font-size:12px; font-weight:bold; height:39px; text-align:center; text-decoration:none; vertical-align:middle; }
#gnb li.selected a { background-color:#4469bd; }

/* Sidebar */
#sidebar { float:left; width:194px; margin:0 0 0 -206px; font-family:"돋움", Dotum; }
#sidebar #snb { border-right:1px solid #9197a3; }
#sidebar #snb .title { padding:26px 0 24px; border-bottom:1px solid #5f6269; font-size:16px; color:#3c4451; text-align:center; background-color:#f6f6f6; }
  /* 메뉴 */
  #snb .menu li { position:relative; }
  #snb .menu li a { word-break:break-all; word-wrap:break-word; }
  #snb .menu li a:hover { text-decoration:none; }
  #snb .menu li:hover > .tooltip { display:block; }
  #snb .menu li a .more { overflow:hidden; display:inline-block; position:absolute; text-indent:-9999px; font-size:0; line-height:0; color:transparent; background:url("//img.echosting.cafe24.com/etc/lm/sflex_snb.png") no-repeat 0 0; }
    /* 1뎁스 */
    #snb .menu > li:first-child { border-top:0; }
    #snb .menu > li > a { display:block; padding:14px 25px 13px 19px; font-weight:bold; color:#ebebeb; border-top:1px solid #acacb0; border-bottom:1px solid #5f6269; text-decoration:none; background-color:#95959a; background-position:0 0; }
    #snb .menu > li > a:hover { color:#fff; border-top:1px solid #8b8d92; background:#77797f; }
    #snb .menu > li > a > .more { right:10px; top:14px; width:13px; height:13px; background-position:0 0; }
    #snb .menu > li.selected > a,
    #snb .menu > li.collapsable > a{ color:#fff; border-top:1px solid #8b8d92; background-color:#77797f; }
    #snb .menu > li.disabled > a,
    #snb .menu > li.disabled > a:hover { color:#b4b4b7; border-top:1px solid #acacb0; background-color:#95959a; }
    #snb .menu > li > a:hover > .more,
    #snb .menu > li.selected > a > .more { background-position:-50px 0; }
    #snb .menu > li.collapsable > a > .more{ background-position:-25px 0; }
    #snb .menu > li.disabled > a > .more,
    #snb .menu > li.disabled > a:hover > .more{ background-position:-75px 0; }
    /* 2뎁스 */
    #snb .menu > li > ul { display:none; }
    #snb .menu > li.collapsable > ul { display:block; }
    #snb .menu > li > ul > li > a { display:block; padding:8px 25px 6px 21px; border-top:1px solid #fff; border-bottom:1px solid #d9d9df; font-weight:bold; color:#8b8b93; text-decoration:none; background-color:#f6f6f9; }
    #snb .menu > li > ul > li > a:hover { padding:7px 25px 7px 21px; border-top:2px solid #0093d9; border-bottom:0; color:#fff; background:#00adff; }
    #snb .menu > li > ul > li.selected > a { padding:7px 25px 6px 21px; border-top:2px solid #0093d9; border-bottom:0; background:#00adff; font-weight:bold; color:#fff; }
    #snb .menu > li > ul > li.disabled > a,
    #snb .menu > li > ul > li.disabled > a:hover { padding:8px 25px 6px 21px; color:#c8c8cd; border-top:1px solid #fff; border-bottom:1px solid #d9d9df; background-color:#f6f6f9; }

/* Footer */
#footer { margin:30px 0 0; height:29px; font-family:Verdana,sans-serif; font-size:9px; line-height:27px; color:#898989; text-align:center; border-top:1px solid #a4a3ab; box-shadow:0 1px 0 0 #f8f8f8 inset; background:none repeat scroll 0 0 #f0f1f3; }
#footer strong { color:#4f4f4f; }

/* 로그인 */
.loginArea { margin:0 auto; position:relative; top:177px; width:560px; }
.loginArea h1 { padding:0 0 18px; }
.mLogin { background-color:#f0f4f8; border:1px solid #d4dde8; border-radius:2px; margin:0 auto; min-height:256px; padding:68px 0 10px 131px; position:relative; width:427px; }
.mLogin ul { margin-top:12px; }
.mLogin li { background:url('//img.echosting.cafe24.com/etc/lm/bg_login_desc.gif') no-repeat 0 7px; color:#9fa4b0; font-size:11px; letter-spacing:-1px; line-height:14px; margin:5px 0 0; padding:0 0 0 7px; word-spacing:-1px; }
.mLogin fieldset { margin:20px 0 0; position:relative; width:296px; }
.mLogin .gLabel { color:#757575; font-family:dotum,sans-serif; font-size:11px; font-weight:normal; padding-top:3px; display:inline-block; }
.mLogin label { display:block; margin:1px 0 3px; }
.mLogin .fText { border:1px solid #dadada; color:#bbbbbb; font-family:dotum,sans-serif; font-size:11px; height:23px; line-height:23px; padding:0 5px; width:186px; }
.mLogin .fText.confirm { height:30px; width:170px;}
.mLogin .fChk { height:20px; line-height:20px; }
.mLogin a.btnLogin { background:url('//img.echosting.cafe24.com/etc/lm/sfix_btn_login.png') no-repeat 0 0; height:55px; overflow:hidden; position:absolute; right:0; bottom:3px; width:91px; }
.mLogin a.btnLogin:hover { background-position:-101px 0; }
.mLogin a.btnLogin span { display:block; text-indent:-100%; }

.loginArea .footer { color:#9c9c9c; font-family:Verdana,sans-serif; font-size:9px; height:29px; line-height:27px; text-align:center; }

/* 로그인 관리 > 상단 아이디 검색 */
.mSearch.typeHeader { height:32px; padding:11px 0 0 15px; background:#dfe1e8; border-bottom:1px solid #9197a3; }

/* 로그인 관리 > 하단 접속가능 URL  */
.enterArea { overflow:hidden; }
.mEnter { float:left; width:200px; margin:20px 20px 0 0;  }
.mEnter li { margin:0 0 6px; }
.mEnter .btnStrong span { font-size:12px; padding:0 0 0 5px; width:190px; }
.mEnter .btnStrong { outline:0 none; }
.mEnter .btnStrong.disabled { color:#8d8d8d; text-decoration:none; cursor:default; background-position:0 -389px; }
.mEnter .btnStrong.disabled span { font-weight:normal; cursor:default; background-position:100% -389px; }

/* 권한 관리 > 권한 신청(신규권한신청) */
.mBox.typeDisabled { padding:8px 15px; border:1px solid #d9dadc; line-height:1.5; background-color:#f6f6f6; }