@charset "utf-8";

/* reset */
body, code, button { font-family:"ＭＳ Ｐゴシック","MS P Gothic","Meiryo",sans-serif; }
#footer .related .familySite h2 a, #footer .related .familySite ul li a, #footer .inner .util li, #footer .inner .address,
.btnMini, .mHelp table, .mLayer .wrap em, .mLayer .wrap .mList, .mGuide li, .mPostcode .search .txtInfo, .mPostcode .postcode .ctrl select, .mainArea .mCategory li a { font-size:12px; }
#footer .inner .copyright { font-size:11px; }

/* footer */
#footer .inner .util li { padding:0 7px 9px 10px; }
#footer .inner .util li a { font-weight:normal; }

/* mTitle */
.mTitle h2 { font-size:20px; }

/* mBoard */
.mBoard td .explain > strong { font-weight:normal; }

/* 약관 */
.termArea[class*="grid"] .mTerm h3 { height:32px; }

/* 도움말 */
.mHelp li dt { width:60px; }
.mHelp li dd { padding:0 0 0 60px; }

/* 레이어 */
  /* mLayer typeError */
  .mLayer.typeError h3 { font-size:26px; }
  .mLayer.typeError .inner { width:275px; }
  .mLayer.typeError .inner:after { top:8px; }

/* mComplete */
.mComplete > h3 { font-size:25px; line-height:25px; }

/* ====================================== Media Query ========================================== */

/* PC & Mobile */
@media all and (max-width:977px) {
}

/* Mobile */
@media all and (max-width:767px) {
  /* reset */
  body, #header .util .language .button, #header .util .language .list a,
  .fCheck, .fRadio, .txtInfo, .btnNormal, .btnBasic, .btnStrong, .mStep li, .mBoard th, .mBoard td, .mBoard td span, .mBoard td .check, .mBoard td .mList, .mRequired, .mTitle p, .mHelp > h3, .mHelp ul, .mLayer .mBoard th, .mLayer .btnEm, .mLayer .btnNormal, .mLayer.typeError .wrap, .mBox, .mBox.typeShop .info a, .mBox.typeOrderList, .mainArea .mVisual > p.sub, .passwordArea .mVisual .sub { font-size:12px; }
  /* footer */
  #footer .inner .util li { padding:0; }
  /* mTitle */
  .mTitle h2 { font-size:15px; }
  /* 약관 */
  .termArea[class*="grid"] .mTerm h3 { max-width:190px; padding-bottom:7px; }
  /* 레이어 */
    /* mLayer typeError */
    .mLayer.typeError h3 { font-size:18px; }
    .mLayer.typeError .inner { width:190px; }
  /* mComplete */
  .mComplete > h3 { font-size:18px; line-height:22px; }
}

/* Mobile */
@media all and (max-width:480px) {
  /* footer */
  #footer .related { top:122px; }
  #footer .inner .util li { width:50%; }
  #footer .inner .util li:nth-child(1) a,
  #footer .inner .util li:nth-child(3) a,
  #footer .inner .util li:nth-child(5) a { border-left-width:0; }
  #footer .inner .util li:nth-child(4) a { border-left-width:1px; }
}