/*
 * Nanum Gothic
 */
@font-face {
    font-family:'Nanum Gothic';
    font-style:normal;
    font-weight:400;
    src:url('/img.cafe24.com/img/user/css/font/NanumGothic-Regular.eot');
    src:url('/img.cafe24.com/img/user/css/font/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
        url('/img.cafe24.com/img/user/css/font/NanumGothic-Regular.woff') format('woff'),
        url('/img.cafe24.com/img/user/css/font/NanumGothic-Regular.ttf') format('truetype');
    src:local(※), url('/img.cafe24.com/img/user/css/font/NanumGothic-Regular.woff') format('woff');
}