@charset "utf-8";

/* reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
html { width:100%; height:100%; }
body,code { font-size:15px; line-height:1.4; color:#555; background:#fafafa; -webkit-text-size-adjust:none; }
body { min-width:450px; height:100%; }
ul,ol,dl,li { list-style:none; }
img,fieldset { border:0; vertical-align:top; }
table { table-layout:fixed; width:100%; border:0; border-spacing:0; border-collapse:collapse; }
table img { vertical-align:middle; }
th,td { border:0; word-wrap:break-word; }
input,select,textarea { font-size:15px; color:#555; vertical-align:middle; }
caption { overflow:hidden; width:1px; font-size:1px; line-height:0; text-indent:150%; white-space:nowrap; }
legend,.blind { display:block; overflow:hidden; position:absolute; width:1px; font-size:1px; line-height:0; color:transparent; text-indent:-150%; white-space:nowrap; }
hr.layout { display:none; }
button { overflow:visible; padding:0; margin:0; border:0; outline:0; cursor:pointer; background:transparent; }
input[type="radio"], input[type="checkbox"], label { cursor:pointer; }
em { font-style:normal; }
a { text-decoration:none; color:#555; }
a:hover { text-decoration:underline; }
::-webkit-input-placeholder { color:#b6b6b6; }
:-ms-input-placeholder { color:#b6b6b6; }
::-moz-placeholder { color:#b6b6b6; opacity:1; }
:-moz-placeholder { color:#b6b6b6; opacity:1; }
::selection { background:#fe8a52; color:#fff; text-shadow:none; }
::-moz-selection { background:#fe8a52; color:#fff; text-shadow:none; }
::-webkit-selection { background:#fe8a52; color:#fff; text-shadow:none; }
input[type=text]::-ms-clear { display:none; }

/* html5 */
object,del,sub,var { margin:0; padding:0; }
article,aside,details,figcaption,figure,footer,header,main,hgroup,menu,nav,section { display:block; }

/* skipNavigation */
#skipNavigation { position:absolute; top:0; left:0; z-index:100; width:100%; height:0; }
#skipNavigation a { position:absolute; left:0; top:0; display:block; overflow:hidden; width:1px; height:1px; margin-left:-1px; margin-bottom:-1px; text-align:center; color:#000; white-space:nowrap; }
#skipNavigation a:focus, #skipNavigation a:hover, #skipNavigation a:active { width:100%; height:auto; padding:10px 0; background:#c4122f; color:#fff; z-index:100; }

/* layout */
  #wrap { position:relative; min-height:100%; padding-bottom:32px; box-sizing:border-box; }
  #header { min-width:1260px; letter-spacing:-0.06em; }
  #header .inner { width:1240px; padding:0 10px; margin:0 auto; }
  #header .inner:after { content:""; display:block; clear:both; }
  #header .utility { border-bottom:1px solid #42444f; background:#484a56; }
  #header .logo { float:left; }
  #header .logo a { display:block; overflow:hidden; width:282px; height:15px; margin:2px 0 0; padding:10px 0; white-space:nowrap; text-indent:120%; background:url('//img.cafe24.com/img/cmc_facebook/h1_logo.png') no-repeat 0 10px; }
  #header .userInfo { float:right; height:21px; margin:8px 0 0; line-height:21px; }
  #header .user { display:inline-block; font-family:"돋움", doutm, sans-serif; }
  #header .name { display:inline-block; margin:0 7px 0 6px; font-size:11px; color:#c3c4c7; }
  #header .btnLogout { display:inline-block; height:18px; padding:0 6px 0 7px; border:1px solid #2f333b; box-sizing:border-box; font-size:11px; line-height:18px; color:#c4c5c8; font-family:"돋움", doutm, sans-serif; letter-spacing:-0.06em; background:#4b515d; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
  #header .btnLogout:hover { color:#fff; text-decoration:none; }
  #container { display:-webkit-flex; display:-ms-flex; display:flex; width:1240px; padding:34px 10px; margin:0 auto; }
  #sidebar { width:170px; margin:-15px 40px 0 -1px; }
  #content { -webkit-flex:1; -ms-flex:1; flex:1; }
  #footer { position:absolute; bottom:0; left:0; width:100%; height:32px; font-size:12px; line-height:32px; color:#8c8e92; font-family:"맑은 고딕", dotum, sans-serif; text-align:center; background:#28303f; }
  /* navigation */
    .navigation { background:#4e505c; }
    .navigation:after { content:""; display:block; clear:both; }
    .navigation .mSelect { float:left; width:160px; margin:15px 9px 15px 0; border:0; font-size:12px; letter-spacing:-0.06em; }
    .navigation .mSelect .value { height:28px; line-height:28px; font-family:"돋움", doutm, sans-serif; }
    .navigation .mSelect .optionLayer { top:28px; width:400px; }
    .navigation .optionLayer .optionSelect { overflow:visible; max-height:none; }
    .navigation .btnAdmin { float:left; position:relative; overflow:hidden; width:27px; height:28px; margin:15px 13px 0 0; text-indent:-150%; white-space:nowrap; }
    .navigation .btnAdmin:before { content:""; position:absolute; top:3px; left:0; width:27px; height:22px; background:url('//img.cafe24.com/img/cmc_facebook/sfix_icon.png') no-repeat 0 -50px; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
    .navigation .btnAdmin:hover:before { -webkit-filter:brightness(110%); filter:brightness(110%); }
    .btnFold { display:none; }
    .gnb ul { display:-webkit-flex; display:-ms-flex; display:flex; height:58px; }
    .gnb li { display:-webkit-flex; display:-ms-flex; display:flex; -webkit-flex:1; -ms-flex:1; flex:1; flex-direction:column; -webkit-align-items:center; -ms-align-items:center; align-items:center; -webkit-justify-content:center; -ms-justify-content:center; justify-content:center; text-align:center; }
    .gnb a { display:-webkit-flex; display:-ms-flex; display:flex; -webkit-flex:1; -ms-flex:1; flex:1; flex-direction:column; -webkit-align-items:center; -ms-align-items:center; align-items:center; -webkit-justify-content:center; -ms-justify-content:center; justify-content:center; width:100%; font-size:16px; color:#fff; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
    .gnb a:hover,
    .gnb .selected a { text-decoration:none; background:#ff6008; }
    .lnb > li { padding:16px 0 12px; border-top:1px solid #e1e1e1; }
    .lnb > li:first-child { border-top:0; }
    .lnb > li > a { font-size:16px; color:#333; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
    .lnb .sub { padding:8px 0 1px; }
    .lnb .sub li { position:relative; padding:3px 0 3px 22px; }
    .lnb .sub a:before { content:"-"; position:absolute; top:3px; left:11px; }
    .lnb .sub a { color:#999; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
    .lnb a:hover { text-decoration:none; }
    .lnb a:hover,
    .lnb .selected > a,
    .lnb .selected > a:before { color:#ff4311; }
    .lnb .selected > a,
    .lnb .selected > a:before { font-weight:500; }

  /* 미대응브라우저 */
  #unsupported { overflow:hidden; height:100%; }
  #unsupported .unsupported { display:block; }
  #unsupported #wrap { -webkit-filter:blur(1.5px); -moz-filter:blur(1.5px); -ms-filter:blur(1.5px); filter:blur(1.5px); }
  .unsupported { display:none; }
  .unsupported .infoBox { z-index:110; position:fixed; top:15%; left:0; right:0; margin:0 auto; padding:35px 48px; width:820px; height:588px; color:#4c4c4f; text-align:center; border:2px solid #000; background:#fff; box-sizing:border-box; }
  .unsupported h1 { margin:0 0 30px; font-size:50px; color:#27273a; font-weight:normal; }
  .unsupported .desc { margin:0 0 40px; font-size:16px; line-height:24px; }
  .unsupported .desc strong { color:#000; }
  .unsupported .browser { overflow:hidden; }
  .unsupported .browser li { float:left; margin:0 0 0 27px; }
  .unsupported .browser li:first-child { margin:0; }
  .unsupported .browser li > img { border:1px solid #d5d5d5; border-bottom-width:0; }
  .unsupported .browser li .btnInstall { display:block; padding:15px 0; color:#fff; background:#43485b; }
  .unsupported .footer { padding:20px 0 0; text-align:right; }
  .unsupported .close { position:absolute; top:15px; right:15px; z-index:101; overflow:hidden; width:25px; height:24px; margin:5px; text-indent:150%; white-space:nowrap; }
  .unsupported .close:before { content:""; position:absolute; top:50%; left:-3px; width:30px; height:1px; background:#44485c; transform: rotate(135deg); -webkit-transform: rotate(135deg); }
  .unsupported .close:after { content:""; position:absolute; top:-2px; left:11px; width:1px; height:30px; background:#44485c; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }
  .unsupported .today { font-family:"돋움", Dotum, sans-serif; font-size:12px; }
  .dimmedBlack { z-index:100; position:fixed; top:0; bottom:0; left:0; right:0; width:100%; height:100%; background:rgba(0,0,0,0.4); }
  /* ie8 */
    .ie8 { background:url('//img.cafe24.com/img/cmc_facebook/bg_ie8.jpg') no-repeat 50% 0; }
    .ie8 #wrap { display:none; }
    .ie8 .unsupported .footer { display:none; }