body, code, button, select { font-family:Helvetica,Arial,simhei,simsun; }
header .inner #navigation > ul > li { width:25%; }
footer .box .contactUs { padding:0 0 0 20px; }
footer .box .contactUs li { margin:0 0 0 10px; }
/* 약관변경 배너 */
footer { margin:0; }

/* layout */
  footer .box .contact { margin:0; }
  footer .box .company { float:left; margin:20px 0 0; }
  footer .box .company ul:after { display:block; content:""; clear:both; }
  footer .box .company li { float:left; color:#777; line-height:1.2em; }
  footer .box .company li:before { display:inline-block; content:""; margin:0 9px; width:1px; height:10px; background:#919191; }
  footer .box .company li:first-child:before { display:none; }

/* 메인 */
  #container.main section .media .strong.head,
  #container.main section .media .summary { overflow:hidden; }

/* 심플렉스인터넷 */
  /* 회사소개 */
    .introduce .service li { width:33.333%; }
  /* 회사연혁 */
    .history dd { margin:0 0 0 155px; }
    .history dd strong { margin:0 14px 0 -30px; }
  /* 비전 */
    .vision .imgVisual img { width:700px; }
    .vision .item li strong { width:160px; }
    .vision .item li span { width:250px; }
  /* CEO인사말 */
    .greeting { background:url("/img.cafe24.com/img/simplexi/simplexi/img_ceo_cn.jpg") no-repeat 442px 180px; }
    .greeting .point:after { right:60px; bottom:-35px; }
    .greeting .keyword span { min-width:auto; }
    .greeting .keyword span:after { display:inline-block; position:relative; top:5px; right:auto; vertical-align:top; }
  /* 글로벌지사_old */
    .branch .country.usa, .branch .country.china { height:403px; }
    .branch .country.japan, .branch .country.philippines, .branch .country.taiwan { height:265px; }
    .branch .country.philippines { top:275px; }
    .branch .country.taiwan { top:550px; }

  /* 오시는 길 */
    .location .btnMap { width:135px; }
    .location > ul > li { padding:0 0 0 140px; }
    .contact > ul > li { height:230px; }

/* 채용정보 */
  /* CEO 메시지 */
  .message { background-image:url("../img/recruit/bg_message_cn.jpg"); }
  .message .point:after { left:128px; }

/* 파트너 */
  .partnership .point:before { left:-80px; }
  .partnership .point:after { right:-80px; }

/******************** Mobile - portrait ********************/
@media all and (max-width:480px) {
  /* layout */
    footer .box .company ul { margin:0 0 0 -127px; width:254px; }
    footer .box .company li span { display:block; }
}

/******************** Mobile - landscape ********************/
@media all and (min-width:481px) and (max-width:767px) {
  /* layout */
    footer .box .company ul {margin:0 0 0 -275px; width:95%; min-width:550px; }
    footer .box .company li:after { display:inline-block; content:""; margin:0 9px; width:1px; height:10px; background:#919191; }
    footer .box .company li:last-child:after { display:none; }
  /* 회사소개 */
    /* 오시는길 */
      .contact > ul > li:first-child, .contact > ul > li:nth-of-type(2) { height:175px; }
}

/******************** Mobile & Tablet ********************/
@media all and (max-width:1023px) {
  /* 회사소개 */
    /* 오시는길 */
      .contact > ul > li { height:auto; }

  /* 파트너 */
    .partnership .point:before { left:0; }
    .partnership .point:after { right:0; }
}
/******************** Mobile ********************/
@media all and (max-width:767px) {
  /* layout */
    footer { padding-bottom:0; }
    footer .box .logo { top:112px; bottom:auto; }
    footer .box .company { float:none; padding:15px 35px; color:#585858; background:#cccfd0; }
    footer .box .company ul { position:relative; left:50%; }
    footer .box .company li { margin:0 10px 0 0; }
    footer .box .company li:before { display:none; }
    footer .box .contactUs { max-width:300px; margin:0 0 0 -150px; padding:0; }
    footer .box .contactUs li { margin:0 0 0 2px; }
    footer .box .contactUs a:before { margin:0 3px 0 0; }
    footer .box .contactUs .mail { margin:0; font-size:11px; }
    footer .box .contactUs li span { font-size:12px; text-indent:14px; }

  /* mTab */
    .mTab li { width:50%; }
    /* grid */
    .mTab.typeMain.grid3 li { width:33.33%; }

  /* 심플렉스인터넷 */
    /* 회사소개 */
      .introduce .service li { width:49%; }
    /* 회사연혁 */
      .history dd { margin:0 0 0 50px; }
      .history dd strong { margin:0 14px 0 -30px; }
      .history .year { font-size:14px; }
    /* CEO인사말 */
      .greeting { height:auto; background:url("/img.cafe24.com/img/simplexi/simplexi/img_ceo_cn_full.jpg") no-repeat; background-position:center 20px; background-size:258px auto; }
      .greeting .point:after { right:50px; bottom:-13px; }
      .greeting .keyword span { min-width:auto; }
    /* 글로벌지사_old */
      .branch .country.usa, .branch .country.china { height:auto; }
      .branch .country.japan, .branch .country.philippines, .branch .country.taiwan { height:auto; }
    /* 오시는 길 */
      .location .btnMap { width:49%; }
      .location > ul > li { padding:12px 0 0 17px; }

  /* 채용정보 */
    /* CEO 메시지 */
    .message { padding:0; background:none; }

  /* 파트너 */
    /* 고객파트너 */
    .kStyle .partners li:nth-child(16) a { background-position:50% -800px; }

}

/******************** Tablet ********************/
@media all and (min-width:768px) and (max-width:1023px) {
  /* layout */
    footer .box { position:relative; min-height:100px; }
    footer .box .logo { width:38%; }
    footer .box .familysite { position:absolute; bottom:0; left:0; width:42%; }
    footer .box .contactUs { position:absolute; bottom:18px; right:0; width:58%; height:20px; padding:0; text-align:left; }
    footer .box .contactUs li { margin:0 0 0 15px; }
    footer .box .contactUs .mail { margin:0; }
    footer .box .copyright { position:absolute; top:5px; left:0; width:42%; font-size:12px; }
    footer .box .company { position:absolute; top:0; right:0; margin:0; width:58%; }
    footer .box .company li:before { display:none; }
    footer .box .company li:after { display:inline-block; content:""; margin:0 9px; width:1px; height:10px; background:#919191; }
    footer .box .company li:last-child:after { display:none; }

  /* mTab */
    .mTab li { width:33.333%; }

  /* 심플렉스인터넷 */
    /* 회사소개 */
     .introduce .service li { width:49%; }
    /* 회사연혁 */
     .history .year { font-size:30px; }
    /* CEO인사말 */
      .greeting { height:auto; background:url("../img/simplexi/img_ceo_cn.jpg") no-repeat; background-position:center 40px; background-size:510px auto; }
      .greeting .point:after { right:110px; bottom:-17px; }
      .greeting .keyword span:after { top:10px; }
    /* 글로벌지사_old */
      .branch .country.usa, .branch .country.china { min-height:430px; }
      .branch .country.japan, .branch .country.philippines, .branch .country.taiwan { height:auto; padding-bottom:30px; }
    /* 오시는길 */
      .contact > ul > li:first-child, .contact > ul > li:nth-of-type(2) { height:230px; }
  /* 채용정보 */
    /* CEO 메시지 */
      .message { background-image:url("../img/recruit/bg_message_cn_t.jpg"); }
  /* 파트너 */
    /* 고객파트너 */
    .kStyle .partners li:nth-child(16) a { background-position:50% -1600px; }
}

/******************** Full ********************/
@media all and (min-width:1340px) {
  /* layout */
    footer .box .company { margin:35px 0 0 35px; }
    footer .box .company li:before { margin:0 19px; }
    footer .box .contactUs li { margin:0 0 0 30px; }
  /* 심플렉스인터넷 */
    /* 회사소개 */
     .introduce .service li { width:24.333%; }
    /* 비전 */
      .vision .item li span { width:410px; }
    /* CEO 인사말 */
      .greeting { height:auto; background:url("../img/simplexi/img_ceo_cn.jpg") no-repeat; background-position:100% 136px; background-size:574px auto; }
      .greeting .point:after { right:34px; bottom:-33px; }
    /* 글로벌지사 */
      .branch > .list { height:403px; }
      .branch > .box .list { height:200px; }
    /* 글로벌지사 */
      .branch .country.usa, .branch .country.china { height:265px; }
    /* 오시는길 */
      .location > ul:last-child > li { padding:0 0 0 110px; }

  /* 채용정보 */
    /* CEO 메시지 */
     .message { background-image:url("../img/recruit/bg_message_cn_f.jpg"); }
  /* 파트너 */
    /* 고객파트너 */
    .kStyle .envylook { left:128px; width:32px; background-position:-360px -175px; }

}