body, code, button, select { font-family:Helvetica,Arial,msgothic,meiryo; }
header .inner #navigation > ul > li { width:25%; letter-spacing:-1px; }
header .box #navigation > ul > li { letter-spacing:-1px; }
header .box #navigation ul li a { font-size:12px; }
header .box #navigation > ul > li > button { font-size:15px; }
footer .box .contactUs { padding:0 0 0 20px; }
footer .box .contactUs li { margin:0 0 0 10px; }
/* 약관변경 배너 */
footer { margin:0; }

/* mTitle */
  .mTitle .mDesc.gDouble { word-break:normal; }

/* mNews */
  .mNews li .description { word-break:normal; }

/* 메인 */
  #container.main #contents > section > div > h2 { letter-spacing:-0.1em; }
  #container.main #contents > section .people .view .member { margin-bottom:0; height:40px; }
  #container.main #contents > section .people .view .braces:before { bottom:68px; }
  #container.main section.cafe24Area .platform .head + img { margin:0; }
  #container.main .cafe24Area .partner.cooperation .mTab.typeMain li a { letter-spacing:-3px; }
  #container.main section .media .strong.head,
  #container.main section .media .summary { overflow:hidden; }


/* 심플렉스인터넷 */
  /* 회사소개 */
    .introduce .service li { width:33.333%; }
    .introduce .sentence { word-break:normal; }
  /* 회사연혁 */
    .history dd { margin:0 0 0 155px; word-break:normal; }
    .history dd strong { margin:0 14px 0 -30px; }
  /* 비전 */
    .vision .imgVisual img { width:700px; }
    .vision .item li strong { width:130px; }
    .vision .item li span { width:320px; word-break:normal; }
    .vision .item.target li strong { width:160px; }
    .vision .item.target li span { width:290px; }
  /* CEO인사말 */
    .greeting { background:url("../img/simplexi/img_ceo_jp.jpg") no-repeat 442px 210px; }
    .greeting .point:after { right:35px; bottom:-34px; }
    .greeting .point strong { letter-spacing:-1px; }
    .greeting .keyword span:after { display:inline-block; position:relative; top:5px; right:auto; vertical-align:top; }
    .greeting .profile > li .desc { font-size:14px; }
    .say li .description .summary p { word-break:normal; }
    .say li .description .info strong.name { margin:0; }
  /* 글로벌지사 */
    .global .keyword .title { font-size:55px; }
  /* 글로벌지사_old */
    .branch .country.usa, .branch .country.china { height:403px; }
    .branch .country.japan, .branch .country.philippines, .branch .country.taiwan { height:265px; }
    .branch .country.philippines { top:275px; }
    .branch .country.taiwan { top:550px; }

  /* 오시는길 */
    .location > ul > li p { word-break:normal; }
    .location > ul > li dd { word-break:normal; }
    .location > ul > li .way li { word-break:normal; }
    .location > ul > li.bus dt { width:200px; letter-spacing:-1px; }
    .contact > ul > li { height:274px; }

/* 서비스 */
  .serviceArea .mTitle .mDesc.gDouble { max-width:100%; letter-spacing:-0.5px; }

/* 채용정보 */
  /* CEO 메시지 */
    .message { background-image:url("../img/recruit/bg_message_jp.jpg"); }
    .message .point:after { left:205px; }
  /* 채용절차 */
    .method { font-size:16px; }
  /* 복리후생 */
   .welfare li .box { word-break:normal; }

/* 파트너 */
  .partnership .point { max-width:80%; font-size:40px; }
  .partnership .point:before { left:-80px; }
  .partnership .point:after { right:-80px; }
  .cooperation h4 { left:0; padding-left:39px; font-size:18px; }

/******************** Mobile & Tablet ********************/
@media all and (max-width:1023px) {
  /* 회사소개 */
    /* 글로벌지사 */
      .contact > ul > li { height:auto; }
      .global .keyword .title { font-size:17px; }
    /* CEO 인사말 */
      .greeting .profile > li .desc { font-size:12px; }

}

/******************** Mobile ********************/
@media all and (max-width:400px) {
  .global .keyword .title { width:250px; }
}

/******************** Mobile - landscape ********************/
@media all and (min-width:481px) and (max-width:767px) {
  /* 회사소개 */
    /* 글로벌지사 */
      .contact > ul > li:first-child, .contact > ul > li:nth-of-type(2) { height:190px; }
}

/******************** Mobile ********************/
@media all and (max-width:767px) {
  /* mTab */
  .mTab li { width:50%; letter-spacing:-2px; }
  /* grid */
  .mTab.grid3 li { width:33.33%; letter-spacing:-0.03em; }
  .mTab.grid4 li { width:25%; letter-spacing:-0.08em; }

  /* 메인 */
  #container.main #contents > section .people .view .braces:before { bottom:50px; }
  #container.main .cafe24Area .partner.cooperation .mTab.typeMain li a { letter-spacing:-1px; }
  footer .box .contactUs { max-width:300px; margin:0 0 0 -150px; padding:0; }
  footer .box .contactUs li { margin:0 0 0 2px; }
  footer .box .contactUs a:before { margin:0 3px 0 0; }
  footer .box .contactUs .mail { margin:0; font-size:11px; }
  footer .box .contactUs li span { font-size:10px; text-indent:14px; }

  /* 심플렉스인터넷 */
    /* 회사소개 */
      .introduce .service li { width:49%; }
    /* 회사연혁 */
      .history dd { margin:0 0 0 50px; }
      .history dd strong { margin:0 14px 0 -30px; }
      .history .year { font-size:14px; }
    /* CEO인사말 */
      .greeting { background:url("../img/simplexi/img_ceo_jp_full.jpg") no-repeat; background-position:center 20px; background-size:238px auto; }
      .greeting .point:after { right:40px; bottom:-13px; }
      .greeting .keyword span { min-width:auto; }
    /* 글로벌지사_old */
      .branch .country.usa, .branch .country.china { height:auto; }
      .branch .country.japan, .branch .country.philippines, .branch .country.taiwan { height:auto; }
      .branch .country.usa dl, .branch .country.china dl { min-height:112px; }
     /* 글로벌지사 */
      .branch .nation.usa, .branch .nation.china { height:260px; margin-bottom:340px; }
      .branch .nation.japan { top:260px; height:320px; }
      .branch .nation.philippines { top:260px; height:150px; }
      .branch .nation.taiwan { top:410px; height:170px; }
      .branch .nation.usa dl, .branch .nation.china dl, .branch .nation.japan dl { min-height:112px; }
    /* 오시는길 */
      .location > ul > li.subway dd { padding:0 0 0 40px; }
      .location > ul > li.bus dt { width:180px; letter-spacing:0; }
      .location > ul > li.bus dd { padding:0 0 0 180px; }

  /* 채용정보 */
    /* 채용절차 */
      .method { line-height:20px; }

  /* 파트너 */
    .partnership .point { font-size:13px; }
    .partnership .point:before { left:-25px; }
    .partnership .point:after { right:-25px; }
    .cooperation h4 { padding-left:0; font-size:12px; }
}

/******************** Tablet ********************/
@media all and (min-width:768px) and (max-width:1023px) {
  /* layout */
    footer .box .logo { width:54%; }
    footer .box .familysite { width:42%; }
    footer .box .contactUs { width:58%; }
    footer .box .contactUs li { margin-left:5px; }
    footer .box .copyright { width:42%; }

  /* mTab */
    .mTab li { width:33.333%; }

  /* 메인 */
    #container.main #contents > section .people .view .braces:before { bottom:50px; }
    #container.main #contents > section .platform img { margin:-15px 0 0; }
    #container.main .cafe24Area .partner.cooperation .mTab.typeMain li a { letter-spacing:0; }

  /* 심플렉스인터넷 */
  .simplexiArea .mTitle .mDesc.gDouble { max-width:67%; }
    /* 회사소개 */
    .introduce .service li { width:49%; }
    /* 회사연혁 */
    .history .year { font-size:30px; }
    .history .significance .keyword { font-size:17px; }
    .history .significance .keyword strong { font-size:17px; }
    /* 비전 */
    .vision .item.target li span { width:auto; }
    /* 기업문화 */
    .vision .item li span { width:auto; }
    /* 글로벌지사 */
      .global .keyword .title { font-size:34px; }    
    /* 글로벌지사_old */
      .branch .country.usa, .branch .country.china { min-height:430px; }
      .branch .country.japan, .branch .country.philippines, .branch .country.taiwan { height:auto; padding-bottom:30px; }
    /* 글로벌지사 */
      .branch .nation.usa, .branch .nation.china,
      .branch .nation.japan, .branch .nation.philippines, .branch .nation.taiwan { height:auto; padding-bottom:30px; }
      .contact > ul > li:first-child, .contact > ul > li:nth-of-type(2) { height:253px; }
    /* CEO인사말 */
    .greeting { background:url("../img/simplexi/img_ceo_jp.jpg") no-repeat; background-position:center 40px; background-size:510px auto; }
    .greeting .point:after { right:70px; bottom:-16px; }
    .greeting .profile > li { margin:0 17px 0 0; }

  /* 서비스 */
    .serviceArea .mTitle .mDesc.gDouble { max-width:44%; letter-spacing:0; }

  /* 채용정보 */
    /* CEO 메시지 */
    .message { background-image:url("../img/recruit/bg_message_jp_t.jpg"); }

  /* 파트너 */
    .partnership .point { font-size:30px; }
    .partnership .point:before { left:-63px; }
    .partnership .point:after { right:-63px; }
    .cooperation h4 { padding-left:0; }
}

/******************** Full ********************/
@media all and (min-width:1340px) {
  footer .box .contactUs li { margin:0 0 0 30px; }
  /* 메인 */
  #container.main #contents > section > div h2 { font-size:28px; }
  #container.main #contents > section .people .view .braces:before { bottom:75px; }
  #container.main .cafe24Area .partner.cooperation .mTab.typeMain li a { letter-spacing:0; }
  /* 심플렉스인터넷 */
    /* 회사소개 */
      .introduce .service li { width:24.333%; }
    /* 비전 */
      .vision .item li span { width:430px; }
      .vision .item.target li span { width:400px; }
    /* CEO 인사말 */
      .greeting { background:url("../img/simplexi/img_ceo_jp.jpg") no-repeat; background-position:100% 136px; background-size:574px auto; }
      .greeting .point:after { right:-20px; bottom:-28px; }
      .greeting .point strong { font-size:50px; }
      .greeting .keyword span { max-width:750px; }
      .greeting .keyword strong { max-width:none; }
      .greeting .profile > li .desc { font-size:18px; }
    /* 글로벌지사 */
      .branch > .box .list { height:220px; }
      .branch > .list { height:443px; }
      .branch .list dt { width:120px; }
      .branch .list dd { max-width:220px; }
      .branch .list.china dt { width:100px; }
      .branch .list.china dd { max-width:240px; }
    /* 글로벌지사 */
      .branch .country.usa, .branch .country.china { height:265px; }
    /* 오시는길 */
     .location > ul > li.subway dd { padding:0 0 0 47px; }
  /* 채용정보 */
    /* CEO 메시지 */
      .message { background-image:url("../img/recruit/bg_message_jp_f.jpg"); }
  /* 서비스 */
    .mTitle.typeBanner { padding:35px 70px 0 430px; }
  /* 파트너 */
    .partnership .point { max-width:none; }
}