body, code, button, select { font-family:Helvetica,Arial; }
header .inner #navigation > ul > li { width:25%; }
footer .box .contactUs { padding:0 0 0 20px; }
footer .box .contactUs li { margin:0 0 0 10px; }
/* 약관변경 배너 */
footer { margin:0; }

/* 메인 */
  #container.main #contents > section .people .view .member { margin-bottom:0; height:40px; }
  #container.main #contents > section .people .view .braces:before { bottom:68px; }
  #container.main #contents > section.cafe24Area .platform .head + img { margin:0; }

/* 심플렉스인터넷 */
  /* 회사소개 */
  .introduce .service li { width:33.333%; }
  /* 회사연혁 */
  .history dd { margin:0 0 0 155px; }
  .history dd strong { margin:0 14px 0 -30px; }
  .history .significance .keyword strong { font-size:23px; }
  /* 비전 */
  .vision .imgVisual img { width:700px; }
  .vision .item li strong { width:165px; }
  .vision .item.target li strong { width:165px; }
  .vision .item li span, .vision .item.target li span { width:260px; }
  /* CEO인사말 */
  .greeting { background:url("/img.cafe24.com/img/simplexi/simplexi/img_ceo_en.jpg") no-repeat 442px 210px; }
  .greeting .point:after { right:-45px; bottom:-34px; }
  .greeting .keyword span:after { display:inline-block; position:relative; top:10px; right:auto; vertical-align:top; }
  .greeting .profile > li .desc { font-size:17px; }
  /* 글로벌지사_old */
  .branch .country.usa, .branch .country.china { height:433px; }
  .branch .country.japan, .branch .country.philippines, .branch .country.taiwan { height:285px; }
  .branch .country.philippines { top:295px; }
  .branch .country.taiwan { top:590px; }
  .branch .country.usa dl, .branch .country.china dl { width:auto; }
  /* 글로벌지사 */
  .branch .nation.usa, .branch .nation.china, .branch .nation.japan, .branch .nation.philippines, .branch .nation.taiwan { height:320px; }
  .branch .nation.taiwan { top:330px; }
  /* 오시는길 */
  .location > ul > li { padding:0 0 0 150px; }
  .location > ul > li dt { width:108px; }
  .location > ul > li.subway dt { width:67px; }
  .location > ul > li.bus dt { width:300px; }

/* 채용정보 */
  /* CEO 메시지 */
  .message { padding-top:86px; padding-bottom:121px; background-image:url("../img/recruit/bg_message_en.jpg"); }
  .message .point:after { left:354px; bottom:-68px; }

/* 파트너 */
  .partnership .point { font-size:43px; }
  .partnership .point:before { left:-80px; }
  .partnership .point:after { right:-80px; }
  .cooperation h4 { left:0; padding-left:39px; font-size:18px; }

/******************** Mobile & Tablet ********************/
@media all and (max-width:1023px) {
  footer .box .contactUs { padding-left:0; }
  /* 파트너 */
  .cooperation h4 { padding:0; }
  /* CEO인사말 */
  .greeting .profile > li .desc { font-size:13px; }
}
/******************** Mobile ********************/
@media all and (max-width:767px) {
  /* mTab */
  .mTab li { width:50%; }
  /* grid */
  .mTab.grid3 li { width:33.33%; }

  /* 메인 */
  #container.main #contents > section .people .view .braces:before { bottom:50px; }
  #container.main #contents > section.cafe24Area .platform h2 { letter-spacing:-2px; }
  footer .box .contactUs { max-width:300px; margin:0 0 0 -150px; }
  footer .box .contactUs li { margin:0 0 0 2px; }
  footer .box .contactUs a:before { margin:0 3px 0 0; }
  footer .box .contactUs .mail { margin:0; font-size:11px; }
  footer .box .contactUs li span { font-size:11px; text-indent:14px; }
  /* 심플렉스인터넷 */
    /* 회사소개 */
    .introduce .service li { width:49%; }
    /* 회사연혁 */
    .history dd { margin:0 0 0 50px; }
    .history dd strong { margin:0 14px 0 -30px; }
    .history .year { font-size:14px; }
    .history li:first-child dl:before { bottom:146px; }
    .history .significance .keyword strong { font-size:14px; }
    /* 비전 */
    .vision .item li span, .vision .item.target li span { width:100%; }
    /* CEO인사말 */
    .greeting { background:url("/img.cafe24.com/img/simplexi/simplexi/img_ceo_en_full.jpg") no-repeat; background-position:center 20px; background-size:258px auto; }
    .greeting .point:after { right:90px; bottom:-15px; }
    .greeting .keyword span { min-width:auto; }
    .greeting .keyword span:after { top:5px; }
    /* 글로벌지사_old */
    .branch .country.usa, .branch .country.china { height:auto; }
    .branch .country.japan, .branch .country.philippines, .branch .country.taiwan { height:auto; }
    .branch .country.usa dl, .branch .country.china dl { min-height:147px; }
     /* 글로벌지사 */
    .branch .nation.usa, .branch .nation.china { height:auto; margin-bottom:420px; }
    .branch .nation.philippines, .branch .nation.taiwan { height:200px; }
    .branch .nation.japan { top:330px; height:400px; }
    .branch .nation.philippines { top:330px; }
    .branch .nation.taiwan { top:530px; }
    .branch .nation.usa dl, .branch .nation.china dl,
    .branch .nation.japan dl, .branch .nation.philippines dl, .branch .nation.taiwan dl { min-height:147px; }
    /* 오시는길 */
    .location > ul > li { padding:12px 0 0 17px; }
    .location > ul > li.subway dt { width:57px; }
    .location > ul > li.subway dd { padding:0 0 0 57px; }
    .location > ul > li.bus dd { padding:0; }

  /* 파트너 */
    .partnership .point { font-size:13px; }
    .partnership .point:before { left:-20px; }
    .partnership .point:after { right:-20px; }
    .cooperation h4 { font-size:11px; }

  /* 채용정보 */
    /* CEO 메시지 */
      .message { padding:0; background:none; }
    /* 채용절차 */
      .method dt { width:24%; }
     .method dd { width:76%; }
    /* 복리후생 */
      .community .point { font-size:24px; }

}

/******************** Tablet ********************/
@media all and (min-width:768px) and (max-width:1023px) {
  /* layout */
  footer .box .logo { width:54%; }
  footer .box .familysite { width:42%; }
  footer .box .contactUs { width:58%; }
  footer .box .contactUs li { margin-left:5px; }
  footer .box .copyright { width:42%; }

  /* mTab */
    .mTab li { width:33.333%; }

  /* 메인 */
  #container.main #contents > section .people .view .braces:before { bottom:50px; }
  #container.main #contents > section.cafe24Area .platform .head + img { margin:-15px 0 0; }
  #container.main #contents > section.cafe24Area > div { height:405px; }

  /* 심플렉스인터넷 */
   .simplexiArea .mTitle .mDesc.gDouble  { max-width:62%; }
    /* 회사소개 */
    .introduce .service li { width:49%; }
    /* 회사연혁 */
    .history .year { font-size:30px; }
    .history .significance .years { font-size:32px; }
    .history .significance .keyword { font-size:16px; }
    .history .significance .keyword strong { font-size:16px; }
    /* 비전 */
    .vision .item li span, .vision .item.target li span { width:auto; }
    /* CEO인사말 */
    .greeting { background:url("../img/simplexi/img_ceo_en.jpg") no-repeat; background-position:center 40px; background-size:510px auto; }
    .greeting .point:after { right:-60px; bottom:-10px; }
    .greeting .profile > li { margin:0 25px 0 0; }
    /* 글로벌지사_old */
    .branch .country.usa, .branch .country.china { min-height:460px; }
    .branch .country.japan, .branch .country.philippines, .branch .country.taiwan { height:auto; padding-bottom:30px; }
    /* 글로벌지사 */
    .branch .nation.philippines, .branch .nation.taiwan { height:300px; padding-bottom:30px; }

  /* 파트너 */
  .partnership .point { font-size:32px; }
  .partnership .point:before { left:-56px; }
  .partnership .point:after { right:-56px; }

  /* 서비스 */
   .serviceArea .mTitle .mDesc.gDouble { max-width:54%; }

  /* 채용정보 */
   .recruitArea .mTitle .mDesc.gDouble  { max-width:64%; }
    /* CEO 메시지 */
    .message { background-image:url("../img/recruit/bg_message_en_t.jpg"); }
    /* 복리후생 */
    .community .point { font-size:60px; }
}

/******************** Full ********************/
@media all and (min-width:1340px) {
  footer .box .contactUs li { margin:0 0 0 30px; }
  /* 메인 */
  #container.main #contents > section .people .view .braces:before { bottom:75px; }
  #container.main #contents > section.cafe24Area > div, #container.main #contents > section.peopleArea > div { height:440px; }
  #container.main #contents > section.cafe24Area > .partner,
  #container.main #contents > section.peopleArea > .recruit { height:385px; }
  /* 심플렉스인터넷 */
    /* 회사소개 */
    .introduce .service li { width:24.333%; }
    /* 비전 */
    .vision .item li span, .vision .item.target li span { width:415px; }
    /* CEO 인사말 */
    .greeting { background:url("../img/simplexi/img_ceo_en.jpg") no-repeat; background-position:100% 136px; background-size:574px auto; }
    .greeting .point:after { right:350px; }
    /* 글로벌지사_old */
    .branch .country.japan, .branch .country.philippines, .branch .country.taiwan { height:265px; }
  /* 채용정보 */
    /* CEO 메시지 */
    .message { background-image:url("../img/recruit/bg_message_en_f.jpg"); }
  /* 서비스 */
    /* 쇼핑몰센터 */
    .mTitle.typeBanner { padding: 35px 90px 0 430px; }
}