<?php require_once( $_SERVER['DOCUMENT_ROOT'].'/portfolio/simplexInternet/include/header_jp.html'); ?>
    <div id="container" class="recruitArea">
        <!-- contents -->
        <div id="contents">
            <div class="headingArea">
                <h1>採用情報</h1>
                <p class="mDesc">スペックより能力や熱情を優先しております。</p>
            </div>
            <ol class="mBreadcrumb">
                <li>HOME</li>
                <li>採用情報</li>
                <li title="현재 위치"><strong>採用方法</strong></li>
            </ol>
            <section class="section">
                <div class="mTitle">
                    <h2>採用方法</h2>
                    <p class="mDesc">夢を叶えないなら、Simplex Internetと一緒に</p>
                </div>
            </section>
        </div><!-- //contents -->
    </div>
<?php require_once( $_SERVER['DOCUMENT_ROOT'].'/portfolio/simplexInternet/include/footer_jp.html'); ?>