<?php require_once( $_SERVER['DOCUMENT_ROOT'].'/portfolio/simplexInternet/include/header_cn.html'); ?>
    <div id="container" class="recruitArea">
        <!-- contents -->
        <div id="contents">
            <div class="headingArea">
                <h1>人才招聘</h1>
                <p class="mDesc">比起学历，更注重实力与热情</p>
            </div>
            <ol class="mBreadcrumb">
                <li>HOME</li>
                <li>人才招聘</li>
                <li title="현재 위치"><strong>招聘步骤</strong></li>
            </ol>
            <section class="section">
                <div class="mTitle">
                    <h2>招聘步骤</h2>
                    <p class="mDesc">想要成就你的梦想， 请加入我们鑫潽瑞</p>
                </div>
            </section>
        </div><!-- //contents -->
    </div>
<?php require_once( $_SERVER['DOCUMENT_ROOT'].'/portfolio/simplexInternet/include/footer_cn.html'); ?>