<?php require_once( $_SERVER['DOCUMENT_ROOT'].'/portfolio/simplexInternet/include/header_en.html'); ?>
    <div id="container" class="recruitArea">
        <!-- contents -->
        <div id="contents">
            <div class="headingArea">
                <h1>Careers</h1>
                <p class="mDesc">We value ability and passion more than anything.</p>
            </div>
            <ol class="mBreadcrumb">
                <li>HOME</li>
                <li>Careers</li>
                <li title="현재 위치"><strong>Recruiting Process</strong></li>
            </ol>
            <section class="section">
                <div class="mTitle">
                    <h2>Recruiting Process</h2>
                    <p class="mDesc">Join SimpleX Internet to fulfil your dreams.</p>
                </div>
            </section>
        </div><!-- //contents -->
    </div>
<?php require_once( $_SERVER['DOCUMENT_ROOT'].'/portfolio/simplexInternet/include/footer_en.html'); ?>