<?php require_once( $_SERVER['DOCUMENT_ROOT'].'/portfolio/simplexInternet/include/header_cn.html'); ?>
    <div id="container" class="main">
        <div class="visual">
            <div class="slide touchslider-main">
                <ul class="view">
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual1_cn.jpg"alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual2_cn.jpg" alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual3_cn.jpg" alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual4_cn.jpg" alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual5_cn.jpg" alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual6_cn.jpg" alt=""></li>
                </ul>
            </div>
            <div class="btnArea">
                <button type="button" class="btnPrev">prev</button>
                <button type="button" class="btnNext">next</button>
            </div>
        </div>

        <!-- contents -->
        <div id="contents">
            <section>
                <div class="service">
                    <h2>Service</h2>
                    <div class="slide">
                        <div class="view touchslider-service">
                            <ul>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">Hosting Center</strong>
                                        <p class="info">提供 Hosting Service 进行电子商务。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service1.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">Shopping Mall Center</strong>
                                        <p class="info">提供轻易，简便地制作海内外购物网站的服务。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service2.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">Open Market Center</strong>
                                        <p class="info">提供统一管理多个购物网站服务。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service3.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">SOHO Business Center</strong>
                                        <p class="info">为购物网创业者提供“一站式”服务环境。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service4.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">Education Center</strong>
                                        <p class="info">向购物网站创业者提供多样的培训课程。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service5.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">Marketing Center</strong>
                                        <p class="info">提供为您量身打造的营销战略。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service6.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">Design Center</strong>
                                        <p class="info">以合理的价格提供多样的原创网站设计，</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service7.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">Homepage Building Center</strong>
                                        <p class="info">帮您制作符合您商业特点的适用型网站。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service8.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">BIZ Solution</strong>
                                        <p class="info">提供商业活动需要的多种系统功能。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service9.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">Reseller</strong>
                                        <p class="info">销售业界好评的 Cafe24 服务系统。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service10.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="paginate">
                            <button type="button" class="prev">prev</button>
                            <p><strong>0</strong> / <span class="txtNormal">0</span></p>
                            <button type="button" class="next">next</button>
                        </div>
                    </div>
                </div>
                <div class="simplexi">
                    <h2>Simplex Internet</h2>
                    <a href="#none">
                        <p class="info">开创全新IT事业领域的企业，<br>全球成功关键词“Cafe24”。</p>
                        <img src="//img.cafe24.com/img/simplexi/main/img_simplexi1.jpg" class="thumb" alt="">
                    </a>
                </div>
                <div class="vision">
                    <h2>Vision</h2>
                    <a href="#none">
                        <p class="info">鑫潽瑞重视人才，共创更有价值的网站。</p>
                        <img src="//img.cafe24.com/img/simplexi/main/img_vision1.jpg" class="thumb" alt="">
                    </a>
                </div>
                <div class="blog">
                    <h2>BLOG</h2>
                    <a href="#none">
                        <p class="info">Cafe24 是“人与人”，“人与网络” 的交流平台。</p>
                        <img src="//img.cafe24.com/img/simplexi/main/img_blog1.jpg" class="thumb" alt="">
                    </a>
                </div>
                <div class="recruit">
                    <h2>Recruit</h2>
                    <a href="#none">
                        <p class="info">开启未来新步伐，诚邀一起实现梦想的人才。</p>
                        <img src="//img.cafe24.com/img/simplexi/main/img_recruit1.jpg" class="thumb" alt="">
                    </a>
                </div>
                <div class="people">
                    <h2>People</h2>
                    <div class="slide">
                        <div class="view touchslider-people">
                            <ul>
                                <li>
                                    <div class="braces">
                                        <p class="info">朝气蓬勃、注重沟通的企业，<br>可以在这里尽情的发挥自身的才能与能量。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_people1.jpg" class="thumb" alt="">
                                        <p class="member">服务企划组<strong class="name">金愈珍</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">可以共同成长，值得付出一切热情的鑫潽瑞</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_people2.jpg" class="thumb" alt="">
                                        <p class="member">EC服务组<strong class="name">金友览</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">一步一个脚印，从“无”创造“有”的企业</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_people3.jpg" class="thumb" alt="">
                                        <p class="member">市场营销组<strong class="name">全继英</strong></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="paginate">
                            <button type="button" class="prev">prev</button>
                            <button type="button" class="next">next</button>
                        </div>
                    </div>
                </div>
                <div class="notice">
                    <h2>Notice</h2>
                    <div class="slide">
                        <div class="noview">
                            <div class="braces">
                                <a href="#none">Cafe 24 免费提供移动手机视频流媒体服务</a>
                                <span class="date">2015.06.12</span>
                            </div>
                            <div class="braces">
                                <a href="#none">韩国首家推出 Node.js服务器托管服务</a>
                                <span class="date">2015.06.12</span>
                            </div>
                            <div class="braces">
                                <a href="#none">Cafe 24 免费提供移动手机视频流媒体服务</a>
                                <span class="date">2015.06.12</span>
                            </div>
                            <div class="braces">
                                <a href="#none">韩国首家推出 Node.js服务器托管服务</a>
                                <span class="date">2015.06.12</span>
                            </div>
                            <div class="braces">
                                <a href="#none">Cafe 24 免费提供移动手机视频流媒体服务</a>
                                <span class="date">2015.06.12</span>
                            </div>
                        </div>
                        <div class="paginate">
                            <button type="button" class="prev">prev</button>
                            <button type="button" class="next">next</button>
                        </div>
                    </div>
                </div>
            </section>
        </div><!-- //contents -->
    </div>
<?php require_once( $_SERVER['DOCUMENT_ROOT'].'/portfolio/simplexInternet/include/footer_cn.html'); ?>