<?php require_once( $_SERVER['DOCUMENT_ROOT'].'/portfolio/simplexInternet/include/header_jp.html'); ?>
    <div id="container" class="main">
        <div class="visual">
            <div class="slide touchslider-main">
                <ul class="view">
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual1_jp.jpg"alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual2_jp.jpg" alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual3_jp.jpg" alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual4_jp.jpg" alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual5_jp.jpg" alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual6_jp.jpg" alt=""></li>
                </ul>
            </div>
            <div class="btnArea">
                <button type="button" class="btnPrev">prev</button>
                <button type="button" class="btnNext">next</button>
            </div>
        </div>

        <!-- contents -->
        <div id="contents">
            <section>
                <div class="service">
                    <h2>Service</h2>
                    <div class="slide">
                        <div class="view touchslider-service">
                            <ul>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">ホスティングセンター</strong>
                                        <p class="info">インターネットビジネスを展開していけるようホスティングサービスを提供しております。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service1.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">ショッピングモールセンター</strong>
                                        <p class="info">誰でも簡単に国内/海外ショッピングモールを制作、運営できるように提供しております。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service2.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">オープンマーケットセンター</strong>
                                        <p class="info">Cafe24を通じて多数のオープンマーケットでの商品販売を一括管理できるよう提供しております。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service3.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">創業センター</strong>
                                        <p class="info">ショッピングモール創業者のための事務空間及びいろんな付加サービスを提供しております。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service4.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">教育センター</strong>
                                        <p class="info">ショッピングモール創業を成功させるための様々な教育プログラムを提供しております。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service5.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">マーケティングセンター</strong>
                                        <p class="info">企業を広報し、売上げを高められるようにカスタマイズ 戦略コンサルティングを提供しております。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service6.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">デザインセンター</strong>
                                        <p class="info">リーズナブルな価格でサイトを制作できるよういろんなデザインを提供しております。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service7.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">ホームページ制作センター</strong>
                                        <p class="info">ビジネスの特性に合ったカスタマイズサイトを簡単に制作できるように提供しております。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service8.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">BIZソリューション</strong>
                                        <p class="info">企業の体系的な業務展開のため企業活動に必要なソリューションを提供しております。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service9.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">販売代理店</strong>
                                        <p class="info">Cafe24の検証されたコンテンツ販売を通じて収益を出せるように提供しております。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service10.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="paginate">
                            <button type="button" class="prev">prev</button>
                            <p><strong>0</strong> / <span class="txtNormal">0</span></p>
                            <button type="button" class="next">next</button>
                        </div>
                    </div>
                </div>
                <div class="simplexi">
                    <h2>Simplex Internet</h2>
                    <a href="#none">
                        <p class="info">ITビジネス分野で新しい場を作る企業、グローバル成功キーワード「cafe24」</p>
                        <img src="//img.cafe24.com/img/simplexi/main/img_simplexi1.jpg" class="thumb" alt="">
                    </a>
                </div>
                <div class="vision">
                    <h2>Vision</h2>
                    <a href="#none">
                        <p class="info">Simplex Internet は人を大切に考え、<br>Webをさらに価値あるものに作っていきます。</p>
                        <img src="//img.cafe24.com/img/simplexi/main/img_vision1.jpg" class="thumb" alt="">
                    </a>
                </div>
                <div class="blog">
                    <h2>BLOG</h2>
                    <a href="#none">
                        <p class="info">「人と人」「人とインターネット」のコミュニケーションのために、cafe24が設けたコミュニティー</p>
                        <img src="//img.cafe24.com/img/simplexi/main/img_blog1.jpg" class="thumb" alt="">
                    </a>
                </div>
                <div class="recruit">
                    <h2>Recruit</h2>
                    <a href="#none">
                        <p class="info">新しい未来を切り開いていく、SimpleX Internetで一緒に夢を叶えていく人材を募集しております。</p>
                        <img src="//img.cafe24.com/img/simplexi/main/img_recruit1.jpg" class="thumb" alt="">
                    </a>
                </div>
                <div class="people">
                    <h2>People</h2>
                    <div class="slide">
                        <div class="view touchslider-people">
                            <ul>
                                <li>
                                    <div class="braces">
                                        <p class="info">若く柔軟な企業、<br>SimpleX Internetで能力を思う存分に<br>広げみませんか。</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_people1.jpg" class="thumb" alt="">
                                        <p class="member">サービス企画チーム<strong class="name">Kim Yu-Jin氏</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">共に成長し、熱情を持って働ける<br>Simplex Internet</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_people2.jpg" class="thumb" alt="">
                                        <p class="member">ＥＣサービスチーム<strong class="name">Kim Woo-Ram氏</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">一歩一歩、成長していく企業<br>無から有を生み出す'底力!</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_people3.jpg" class="thumb" alt="">
                                        <p class="member">マーケティングコミュニケーションチーム<br><strong class="name">Kwon Kye-Young氏</strong></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="paginate">
                            <button type="button" class="prev">prev</button>
                            <button type="button" class="next">next</button>
                        </div>
                    </div>
                </div>
                <div class="notice">
                    <h2>Notice</h2>
                    <div class="slide">
                        <div class="noview">
                            <div class="braces">
                                <a href="#none">クイックサーバーホスティングサービスSSDアップグレード</a>
                                <span class="date">2015.06.12</span>
                            </div>
                            <div class="braces">
                                <a href="#none">韓国国内初のノードジェイエスホスティング発売</a>
                                <span class="date">2015.06.12</span>
                            </div>
                            <div class="braces">
                                <a href="#none">クイックサーバーホスティングサービスSSDアップグレード</a>
                                <span class="date">2015.06.12</span>
                            </div>
                            <div class="braces">
                                <a href="#none">韓国国内初のノードジェイエスホスティング発売</a>
                                <span class="date">2015.06.12</span>
                            </div>
                            <div class="braces">
                                <a href="#none">クイックサーバーホスティングサービスSSDアップグレード</a>
                                <span class="date">2015.06.12</span>
                            </div>
                        </div>
                        <div class="paginate">
                            <button type="button" class="prev">prev</button>
                            <button type="button" class="next">next</button>
                        </div>
                    </div>
                </div>
            </section>
        </div><!-- //contents -->
    </div>
<?php require_once( $_SERVER['DOCUMENT_ROOT'].'/portfolio/simplexInternet/include/footer_jp.html'); ?>