<?php require_once( $_SERVER['DOCUMENT_ROOT'].'/portfolio/simplexInternet/include/header.html'); ?>
    <div id="container" class="main">
        <div class="visual">
            <div class="slide touchslider-main">
                <ul class="view">
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual1.jpg"alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual2.jpg" alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual3.jpg" alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual4.jpg" alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual5.jpg" alt=""></li>
                    <li><img src="//img.cafe24.com/img/simplexi/main/img_visual6.jpg" alt=""></li>
                </ul>
            </div>
            <div class="btnArea">
                <button type="button" class="btnPrev">prev</button>
                <button type="button" class="btnNext">next</button>
            </div>
        </div>

        <!-- contents -->
        <div id="contents">
            <section>
                <div class="service">
                    <h2>Service</h2>
                    <div class="slide">
                        <div class="view touchslider-service">
                            <ul>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">마케팅센터</strong>
                                        <p class="info">기업을 홍보하고 매출을 높힐 수 있도록 맞춤 전략 컨설팅을 제공합니다.</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service1.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">디자인센터</strong>
                                        <p class="info">합리적인 가격으로 사이트를 제작할 수 있도록 다양한 디자인을 제공합니다.</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service2.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">홈페이지제작센터</strong>
                                        <p class="info">비즈니스 특성에 맞게 맞춤 사이트를 간편하게 제작할 수 있도록 제공합니다.</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service3.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">BIZ솔루션</strong>
                                        <p class="info">기업의 체계적인 업무 진행을 위해 기업활동에 필요한 솔루션을 제공합니다.</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service4.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">리셀러</strong>
                                        <p class="info">카페24의 검증된 콘텐츠 판매를 통해 수익을 만들 수 있도록 제공합니다.</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service5.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">호스팅센터</strong>
                                        <p class="info">인터넷 비즈니스를 진행하실 수 있도록 호스팅서비스를 제공합니다.</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service7.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">쇼핑몰센터</strong>
                                        <p class="info">누구나 쉽고 간편하게 국내/해외 쇼핑몰을 제작, 운영할 수 있도록 제공합니다.</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service8.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">오픈마켓센터</strong>
                                        <p class="info">카페24를 통해 여러 오픈마켓 상품판매를 일괄 관리할 수 있도록 제공합니다.</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service9.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">창업센터</strong>
                                        <p class="info">쇼핑몰 창업자를 위한 사무공간 및 다양한 부가서비스를 제공합니다.</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service10.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="#none" class="braces">
                                        <strong class="heading">교육센터</strong>
                                        <p class="info">쇼핑몰 창업에 성공하기 위한 다양한 교육 프로그램을 제공합니다.</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_service11.jpg" class="thumb" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="paginate">
                            <button type="button" class="prev">이전</button>
                            <p><strong>0</strong> / <span class="txtNormal">0</span></p>
                            <button type="button" class="next">다음</button>
                        </div>
                    </div>
                </div>
                <div class="news">
                    <h2>News</h2>
                    <ul>
                        <li>
                            <a href="#none">
                                <strong class="heading">농수산 특산품 전자상거래 수출길 확대된다 농수산 특산품 전자상거래</strong>
                                <p>우체국쇼핑몰을 운영하는 한국우편사업진흥원과 ‘대한민국 특산품 전자상거래 수출활성화 업무협약’ 체결하였다.</p>
                                <span class="date">2015.06.20</span>
                            </a>
                        </li>
                        <li>
                            <a href="#none">
                                <strong class="heading">[쇼핑몰 해외 성공 팁]&lt;38&gt; 해외 창업, 전문 교육 통해 전략적으로!</strong>
                                <p>전자상거래 수출 관심이 늘어나면서 해외 고객 대상 글로벌 쇼핑몰을 만드는 사업자도 빠르게 증가하고 있다.</p>
                                <span class="date">2015.06.20</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="simplexi">
                    <h2>Simplex Internet</h2>
                    <a href="#none">
                        <strong class="heading">Global Success Partner</strong>
                        <p class="info">IT비즈니스 분야의 새로운 장을 여는 기업<br>글로벌 성공 키워드</p>
                        <img src="//img.cafe24.com/img/simplexi/main/img_simplexi1.jpg" class="thumb" alt="">
                    </a>
                </div>
                <div class="blog">
                    <h2>BLOG</h2>
                    <a href="#none">
                        <p class="info">‘사람과 인터넷’의 소통을 위한 커뮤니티 광장<br>카페24 공식블로그</p>
                        <img src="//img.cafe24.com/img/simplexi/main/img_blog1.jpg" class="thumb" alt="">
                    </a>
                </div>
                <div class="recruit">
                    <h2>Recruit</h2>
                    <a href="#none">
                        <p class="info">가치있고 새로운 미래를 열어갈 발걸음<br><span class="txtNormal">Simplex internet</span>에서 함께 꿈을 이뤄갈 인재를 모십니다.</p>
                        <img src="//img.cafe24.com/img/simplexi/main/img_recruit1.jpg" class="thumb" alt="">
                    </a>
                </div>
                <div class="people">
                    <h2>People</h2>
                    <div class="slide">
                        <div class="view touchslider-people">
                            <ul>
                                <li>
                                    <div class="braces">
                                        <p class="info">한단계 한단계 발전해 나가는 기업<br>'무'에서 '유'를 창조하는 저력!</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_people1.jpg" class="thumb" alt="" />
                                        <p class="member">서비스기획팀<strong class="name">김유진님</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">함께 성장하며 열정을 바칠 수 있는<br>심플렉스 인터넷</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_people2.jpg" class="thumb" alt="">
                                        <p class="member">EC서비스팀<strong class="name">김우람님</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">“젊고 융통성 있는 기업, 심플렉스에서<br>재능과 역량을 마음껏 펼쳐보세요”</p>
                                        <img src="//img.cafe24.com/img/simplexi/main/img_people3.jpg" class="thumb" alt="">
                                        <p class="member">마케팅커뮤니케이션팀<strong class="name">권계영님</strong></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="paginate">
                            <button type="button" class="prev">이전</button>
                            <button type="button" class="next">다음</button>
                        </div>
                    </div>
                </div>
                <div class="notice">
                    <h2>Notice</h2>
                    <div class="slide">
                        <div class="noview">
                            <div class="braces">
                                <a href="#none">[호스팅] 1. 카페24, 모바일 동영상 스트리밍 서비스 무상제공1</a>
                                <span class="date">2015.06.12</span>
                            </div>
                            <div class="braces">
                                <a href="#none">[호스팅] 2. 카페24, 모바일 동영상 스트리밍 서비스 무상제공2</a>
                                <span class="date">2015.06.12</span>
                            </div>
                            <div class="braces">
                                <a href="#none">[호스팅] 3. 카페24, 모바일 동영상 스트리밍 서비스 무상제공3</a>
                                <span class="date">2015.06.12</span>
                            </div>
                            <div class="braces">
                                <a href="#none">[호스팅] 4. 카페24, 모바일 동영상 스트리밍 서비스 무상제공4</a>
                                <span class="date">2015.06.12</span>
                            </div>
                            <div class="braces">
                                <a href="#none">[호스팅] 5. 카페24, 모바일 동영상 스트리밍 서비스 무상제공5</a>
                                <span class="date">2015.06.12</span>
                            </div>
                        </div>
                        <div class="paginate">
                            <button type="button" class="prev">이전</button>
                            <button type="button" class="next">다음</button>
                        </div>
                    </div>
                </div>
            </section>
        </div><!-- //contents -->
    </div>
<?php require_once( $_SERVER['DOCUMENT_ROOT'].'/portfolio/simplexInternet/include/footer.html'); ?>