@charset "utf-8";

.eVirtual { display:inline-block; padding:2px 7px; vertical-align:top; font-size:12px; white-space:nowrap; color:#fff; background:#c75c5c; box-shadow:6px 6px 10px -1px rgba(89,89,89,0.75); }
.Alert { position:absolute; left:-1px; top:-1px; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }

/* ********** OBJECT ********** */
/* Form */
select { outline:2px solid #c75c5c; }
select.fSelect,
.fSelect select { outline:0; }

/* Grid */

/* Button */
.btnStrong>strong,
.btnSubmit>strong,
.btnNormal>strong,
.btnEm>strong,
.btnLink>strong,
.btnMore>strong,
.btnAdd>strong  { position:relative; outline:1px solid #c75c5c; }
.btnStrong>strong:after,
.btnSubmit>strong:after,
.btnNormal>strong:after,
.btnEm>strong:after,
.btnLink>strong:after,
.btnMore>strong:after,
.btnAdd>strong:after  { position:absolute; left:-1px; bottom:100%; content:'버튼안에 디자인을 위하여 strong태그 사용불가'; padding:3px; background:#c75c5c; text-align:left; line-height:15px; color:#fff; font-size:11px; z-index:100; }


/* ********** Layout  ********** */
/* section */
section { position:relative; outline:1px solid #c75c5c; }
section.bgSection,
section[class*="mBox"],
section.mLayer { outline:0; }
section:before { position:absolute; left:-1px; top:-1px; content:'section 태그는 bgSection / mBoxXXX / mLayer영역만 사용'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
section.bgSection:before,
section[class*="mBox"]:before,
section.mLayer:before { display:none; }

/* popup  */
#popup > section { outline:0; }
#popup > section:before { display:none; }

/* mLayer */
#container .mLayer { outline:1px solid #c75c5c; }
#container .mLayer:after { position:absolute; left:-1px; top:-1px; content:'container 하단에 위치'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
/* layerSample 이란 id를 그대로 사용할 때 */
#layerSample { outline:1px solid #c75c5c; }
#layerSample:after { position:absolute; left:-1px; top:-1px; content:'mLayer 네이밍 변경!'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }

/* ********** Module  ********** */
/* mList, mHelp */
p.mList, p.mHelp { position:relative; outline:1px solid #c75c5c; }
p.mList:after { position:absolute; left:-1px; top:-1px; content:'p.mList 사용안함 (한줄처리도 ul.mList 사용)'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
p.mHelp:after { position:absolute; left:-1px; top:-1px; content:'p.mHelp 사용안함 (한줄처리도 ul.mHelp 사용)'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }

/* gColumn */
.gColumn + .gColumn { position:relative; outline:1px solid #c75c5c; }
.gColumn + .gColumn:after { position:absolute; left:-1px; top:-1px; content:'gColumn 연속 사용 불가'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
/* 모듈안에서는 연속적으로 사용가능 */
[class^="m"] .gColumn + .gColumn { outline:0; }
[class^="m"] .gColumn + .gColumn:after { display:none; }

/* gLine */
.gLine + .gLine { position:relative; outline:1px solid #c75c5c; }
.gLine + .gLine:after { position:absolute; left:-1px; top:-1px; content:'gLine 연속 사용 불가'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }

/* bgSection */
.bgSection { position:relative; outline:1px solid #c75c5c; }
.bgSection:after { position:absolute; left:-1px; top:-1px; content:'bgSection은 id="container" 과 section태그에만 사용'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
[id^=container].bgSection , section.bgSection { outline:0 }
[id^=container].bgSection:after,
section.bgSection:after { display:none; }

/* mBoard */
.mBoard { position:relative; outline:1px solid #c75c5c; }
.mBoard:after { position:absolute; left:-1px; top:-1px; content: 'type 클래스 필수'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
.mBoard.typeRow,
.mBoard.typeCol { outline:0; }
.mBoard.typeRow:after,
.mBoard.typeCol:after { display:none; }

.mBoard .mDetail,
.mBoard .mTotal { position:relative; outline:1px solid #c75c5c; }
.mBoard .mDetail:after,
.mBoard .mTotal:after { position:absolute; left:-1px; top:-1px; content: 'mBoard안에 사용 불가'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }

.mBoard thead { position:relative; outline:1px solid #c75c5c; }
.mBoard thead:after { position:absolute; left:-1px; top:-1px; content: 'thead가 있을 경우 mBoard에 typeCol 클래스 추가'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
.mBoard.typeCol thead { outline:0; }
.mBoard.typeCol thead:after { display:none; }

tbody > tfoot { position:relative; outline:1px solid #c75c5c; }
tbody > tfoot:after { position:absolute; left:-1px; top:-1px; content: '접근성 tfoot뒤에 tbody가 나와야 합니다.'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }

.mBoard .empty { position:relative; outline:1px solid #c75c5c; }
.mBoard .empty:after { position:absolute; left:-1px; top:-1px; content:'내역없음은 mEmpty 클래스 사용'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
/* mDetail */
.mDetail .mBoard,
.mDetail .mTotal { position:relative; outline:1px solid #c75c5c; }
.mDetail .mBoard:after,
.mDetail .mTotal:after { position:absolute; left:-1px; top:-1px; content:'mDetail안에 사용 불가'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
/* mTotal */
.mTotal .mBoard,
.mTotal .mDetail { position:relative; outline:1px solid #c75c5c; }
.mTotal .mBoard:after,
.mTotal .mDetail:after { position:absolute; left:-1px; top:-1px; content:'mTotal안에 사용 불가'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
/* mForm */
.mBoard .mForm.typeHor { position:relative; outline:1px solid #c75c5c; }
.mBoard .mForm.typeHor:after { position:absolute; left:-1px; top:-1px; content:'mBoard안에 .typeHor 대신 gLabel을 사용'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }

/* mTitle */
.mTitle>ul:first-child, .mTitle>p:first-child { position:relative; outline:1px solid #c75c5c; }
.mTitle>ul:first-child:before, .mTitle>p:first-child:before { content:'mTitle에 heading 태그 생략금지 / 제목요청하세요'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
.mTitle h1 *, .mTitle h2 *, .mTitle h3 * { outline:1px solid #c75c5c; }
.mTitle h1 *:after, .mTitle h2 *:after, .mTitle h3 *:after { content:"heading 안에 태그 금지"; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }

/* mPaginate */
.mPaginate { position:relative; outline:1px solid #c75c5c; }
.mPaginate:after { position:absolute; left:-1px; bottom:100%; content:'더보기버튼으로 대체 / 기획서 사양 확인 해주세요'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; line-height:15px; z-index:100; }

/* mProduct */
.mProduct ul.mList,
.mProduct dl.mList { position:relative; outline:1px solid #c75c5c; }
.mProduct ul.mList:after,
.mProduct dl.mList:after { position:absolute; left:-1px; top:-1px; content:'mProduct안의 mList는 typeDash 클래스 포함'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
.mProduct ul.mList.typeDash,
.mProduct dl.mList.typeDash { outline:0; }
.mProduct ul.mList.typeDash:after,
.mProduct dl.mList.typeDash:after { display:none; }

.mProduct p { position:relative; outline:1px solid #c75c5c; }
.mProduct p:after { position:absolute; left:-1px; top:-1px; content:'mProduct안의 p는 desc 클래스 포함'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
.mProduct p.desc { outline:0; }
.mProduct p.desc:after { display:none; }

/* mSetList */
.mSetList.typeRadio .gLabelClear + *
.mSetList.typeCheck .gLabelClear + * { position:relative; outline:1px solid #c75c5c; }
.mSetList.typeRadio .gLabelClear + *:after,
.mSetList.typeCheck .gLabelClear + *:after{ position:absolute; left:-1px; top:-1px; content:'gColumn을 이용'; padding:3px; background:#c75c5c; text-align:left; color:#fff; font-size:11px; z-index:100; }
.mSetList.typeRadio .gLabelClear + .gColumn,
.mSetList.typeCheck .gLabelClear + .gColumn { outline:0; }
.mSetList.typeRadio .gLabelClear + .gColumn:after,
.mSetList.typeCheck .gLabelClear + .gColumn:after { display:none; }
