@charset "utf-8";

/* Title */
.guideTitle { margin:30px 0 0; }
.guideTitle.module { margin:15px 0 0 10px; }
.guideTitle:first-child { margin:0 0 30px; padding:0 0 21px; border-bottom:1px solid #ddd; }
.guideTitle h2 { position:relative; margin:0; padding:0; font-size:18px; color:#333; }
.guideTitle h2 .txtIaAddress { position:absolute; right:10px; top:10px; margin:0 0 0 10px; font-size:12px; line-height:1.5; }
.guideTitle h2 .txtIaAddress input {
    width:500px; height:22px; padding:0 5px; line-height:22px; vertical-align:middle; border:0; border:2px solid #cfcfcf; font-family:Dotum; background-color:#f5f5f5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.guideTitle h2 .txtIaAddress input:focus { color:#4374E0; background-color:#fff; }
.guideTitle h3 { margin:0; padding:0; font-size:14px; color:#333; }
.guideTitle h4 { margin:0; padding:0; font-size:12px; color:#666; }
.guideCodeTitle { margin:20px 0 0; padding:10px; border:1px solid #dadada; border-bottom:0; font-size:12px; color:#333; background:#d9e3f9; }

/* Text */
.guideTxtEm { color:#4374e0}
.guideTxtWarn { color:#d23d29; }
.guideDesc { margin:15px 0; line-height:18px; }
a.popup:before { content: "[P] "; color:#666; }

/* Button */
a.btnPreview { display:inline-block; padding:5px 4px; font-weight:bold; border:1px solid #aaa; border-radius:3px; background-color:#bbb; }
a.btnPreview:hover,
a.btnPreview:focus { background-color:#bbb; color:#fff }

/* icon */
.icoLog { display:inline-block; width:11px; height:12px; font-size:0; line-height:0; vertical-align:middle; background:url("../img/common/sfix_btn_ico.png") no-repeat 0 0; }
.icoLog.selected { background-position:-21px 0; }

/* guideList */
.guideList { margin:10px 0 0; padding:0; line-height:18px; }
.guideList li { margin:3px; padding:0 0 0 7px; font-size:12px; color:#666; list-style:none; background:url("../img/common/ico_bullet1.gif") no-repeat 0 7px; }
.guideList li li a { color:#369; text-decoration:none; }
.guideList li li a:hover { color:#fe0000; }
.guideList.module { margin-left:10px; }
.guideList.module li ul { *zoom:1; overflow:hidden; margin:0 0 0 10px; }
.guideList.module li li { position:relative; float:left; width:auto; margin-left:10px; padding-left:12px; background:none; }
.guideList.module li li:first-child { padding-left:0; margin-left:0; }
.guideList.module li li:first-child:after { display:none; }
.guideList.module li li:after { content:""; position:absolute; left:0; top:50%; width:1px; height:10px; margin-top:-5px; background:#000; }

/* guideBox */
.guideBox { margin:10px 0 30px; padding:10px; border:1px solid #d9dadc; font-size:12px; color:#666; background:#f5f4f4; }

/* guideCode */
.guideCode { display:block; margin:15px 0; padding:10px; border:1px solid #d9dadc; font-size:11px; color:#000; background:#f5f4f4; }

/* guideBoard */
.guideBoard { margin:15px 0; padding:0; }
.guideBoard a { color:#4374e0; text-decoration:none; }
.guideBoard table { width:100%; border:0; border-spacing:0; border-collapse:collapse; font-size:12px; color:#666; line-height:1.5; table-layout:fixed; background-color:#fff; }
.guideBoard caption { display:none; }
.guideBoard th,
.guideBoard td { padding:9px 9px 7px; border:0; vertical-align:top; word-wrap:break-word; }
.guideBoard th {background-color:#eee; }
.guideBoard tbody th { border:1px solid #cfcfcf; color:#444; text-align:left; }
.guideBoard thead th { border:1px solid #cfcfcf; color:#444; text-align:center; vertical-align:middle; }
.guideBoard tbody td { border:1px solid #cfcfcf; }
.guideBoard tfoot th { border:1px solid #cfcfcf; color:#80878d; background-color:#ecf1fc; }
.guideBoard tfoot td { border:1px solid #cfcfcf; background-color:#ecf1fc; }
.guideBoard td:first-child { font-weight:bold; }
.guideBoard td:first-child strong { font-size:1.2em; color:#4374e0; }
.guideBoard table img { vertical-align:middle; }
.guideBoard .even td { background:#f6f6f6; }
    /* IE10+ border-collapse:collapse 사용시 border-top 숨는 문제 */
    .guideBoard table { border-top:1px solid #cfcfcf; }
    .guideBoard tfoot > tr > th,
    .guideBoard tbody > tr > td { border-top-width:0; }
.guideBoard .left { text-align:left; }
.guideBoard .center { text-align:center; }
.guideBoard .right { text-align:right; }
.guideBoard .middle, .mBoard .middle th, .mBoard .middle td { vertical-align:middle; }
.guideBoard .top, .mBoard .middle .top { vertical-align:top; }
.guideBoard .fileName { width:140px; }
.guideBoard .depth { width:140px; }
.guideBoard .publisher { width:80px; }
.guideBoard .date { width:90px; }
.guideBoard .log { width:50px; text-align:center; }
.guideBoard .fileList { margin:0; padding:0; }
.guideBoard .fileList:after { content:""; display:block; clear:both; }
.guideBoard .fileList li { float:left; width:120px; margin:0 10px 0 0; padding:0; list-style:none; }
.guideBoard .del td { text-decoration:line-through; }
.guideBoard .del td.comment { text-decoration:none; }

    /* 로그 */
    .guideBoard .log .content { position:absolute; display:none; margin:15px 0 0 20px; padding:7px 10px; border:1px solid #4374e0; text-align:left; white-space:nowrap; background-color:#e6ecf9; }
    .guideBoard .log .content.view { display:block; }
    .guideBoard .log .content ul { margin:0; padding:0; }
    .guideBoard .log .content ul li { position:relative; margin:3px 0; padding-left:7px; list-style:none; }
    .guideBoard .log .content ul li:before { content:""; display:block; position:absolute; left:0px; top:50%; width:2px; height:2px; margin-top:-2px; background:#4374e0; }

/* guideCodeHtml, guideCodeCss */
.guideSource { display:none; }
.guideHtml { margin:0 0 20px; padding:0; border:1px solid #dadada; }
.guideHtml pre { display:block; margin:0; padding:10px 0; line-height:1.7; white-space:pre-wrap; word-wrap:break-word; }
.guideHtml pre.prettyprint ol li { list-style:decimal outside none; font-family:Helvetica, "돋움", Dotum; font-size:13px; }
.guideHtml pre.prettyprint code { margin:0; padding:0; font-size:12px; font-family:Verdana, "굴림", Gulim; background:none; }

.guideCodeHtml,
.guideCodeCss { margin:0 0 20px; padding:0; border:1px solid #dadada; }
.guideCodeHtml pre,
.guideCodeCss pre { display:block; margin:0; padding:10px 0; line-height:1.7; white-space:pre-wrap; word-wrap:break-word; }
.guideCodeCss pre.prettyprint ol li,
.guideCodeHtml pre.prettyprint ol li { list-style:decimal outside none; font-family:Helvetica, "돋움", Dotum; font-size:13px; }
.guideCodeCss pre.prettyprint code,
.guideCodeHtml pre.prettyprint code { margin:0; padding:0; font-size:12px; font-family:Verdana, "굴림", Gulim; background:none; }

/* guidePreview */
.guidePreview { margin:0; padding:20px; border:1px solid #dadada; }

/* guideButton */
.guideButton { margin:10px 0 0; padding:0; zoom:1; }
.guideButton:after { content:""; display:block; clear:both; }

.guideBtnNormal { display:inline-block; overflow:visible; margin:0; padding:0 10px; box-shadow:inset -1px -1px 5px #eaeaea; border:1px solid #ccc; border-radius:2px; font-size:12px; font-family:Helvetica, "돋움", Dotum; color:#666; line-height:20px; text-decoration:none; cursor:pointer; background-color:#fff; }
.guideBtnNormal:hover { border:1px solid #333; color:#333; box-shadow:inset -1px -1px 5px #eaeaea; }

/* guideLayout */
.guideLayout { display:inline-block; position:relative; width:45%; margin:0 10px 25px 10px; padding:0; vertical-align:top; }
.guideLayout h3 { margin:0 0 10px; padding:0; font-size:14px; color:#333; }
.guideLayout .thumbnail { height:338px margin:0; padding:5px; border:1px solid #ccc; text-align:center; }
.guideLayout .thumbnail img { max-width:100%; max-height:338px; }
.guideLayout .guideBtnNormal { position:absolute; right:0; top:0; }

/* guide Ui */
.guideFrame,
.guidePreview { display:block; }

/* guideBody */
.guideBody { padding:20px; height:auto; }
/* -------------------------- SliderTabs -------------------------- */

#mySliderTabsContainer { margin:0; padding:0; }
#mySliderTabsContainer .guideTitle:first-child { margin:0 0 20px; padding:0; border:0; }
.ui-slider-tabs { }
.ui-slider-tabs-list-wrapper { position:relative; z-index:50; width:100%; margin:0 0 -1px 0; }
.ui-slider-tabs-list-wrapper.bottom { margin:-1px 0 0 0; }
.ui-slider-tabs-list-container { overflow:hidden; }
.ui-slider-tabs-list { margin:0; padding:0; }
.ui-slider-tabs-list li { float:left; border-bottom:1px solid #cfcfcf; border-right:1px solid #cfcfcf; border-top:1px solid #cfcfcf; font-size:13px; font-weight:bold; list-style:none;
    background:#fcfcfc; /* Old browsers */
    background:-moz-linear-gradient(top,  #fcfcfc 0%, #f5f5f5 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* IE10+ */
    background:linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
.ui-slider-tabs-list li a { display:block; padding:8px 15px; color:#555; text-decoration:none; text-shadow:0 1px 0 #fff; }
.ui-slider-tabs-list li a:hover { color:#000; }
.ui-slider-tabs-list li.selected { border-bottom-color:#fff; border-top-color:#cfcfcf;
    background:#ffffff; /* Old browsers */
    background:-moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* IE10+ */
    background:linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.ui-slider-tabs-list-wrapper.bottom .ui-slider-tabs-list li.selected{ border-top-color:#fff; border-bottom-color:#cfcfcf; }
.ui-slider-tabs-list li.selected a { cursor:default; color:#000; }
.ui-slider-tabs-list li:first-of-type { border-left:1px solid #cfcfcf; }

.ui-slider-tabs-content-container { position:relative; z-index:1; border:1px solid #cfcfcf; background-color:#fff; }

.ui-slider-tab-content { display:none; position:absolute; top:0; left:0; padding:20px 10px 30px; }

.ui-slider-left-arrow,
.ui-slider-right-arrow,
.ui-slider-left-arrow.edge:hover,
.ui-slider-right-arrow.edge:hover { display:block; position:absolute; border:1px solid #cfcfcf;
    background:#fcfcfc; /* Old browsers */
    background:-moz-linear-gradient(top,  #fcfcfc 0%, #f5f5f5 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* IE10+ */
    background:linear-gradient(top,  #fcfcfc 0%,#f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
.ui-slider-left-arrow:hover,
.ui-slider-right-arrow:hover {
    background:#ffffff; /* Old browsers */
    background:-moz-linear-gradient(top,  #ffffff 0%, #ffffff 100%); /* FF3.6+ */
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* Opera 11.10+ */
    background:-ms-linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* IE10+ */
    background:linear-gradient(top,  #ffffff 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.ui-slider-left-arrow { left:0; top:0; box-shadow:2px 0 1px rgba(0,0,0,.06); border-top-left-radius:4px; }
.ui-slider-left-arrow div { background-image:url("../img/common/leftArrow.png"); background-repeat:no-repeat; background-position: 50% 50%; height:inherit; }
.ui-slider-left-arrow.edge div { opacity:.25; }
.ui-slider-left-arrow.edge { box-shadow:none; cursor:default; }
.ui-slider-tabs-list-wrapper.bottom .ui-slider-left-arrow { border-top-left-radius:0; border-bottom-left-radius:4px; }

.ui-slider-right-arrow { top:0; right:0; box-shadow:-2px 0 1px rgba(0,0,0,.06); border-top-right-radius:4px; }
.ui-slider-right-arrow div { background-image:url("../img/common/rightArrow.png"); background-repeat:no-repeat; background-position:50% 50%; height:inherit; }
.ui-slider-right-arrow.edge div { opacity:.25; }
.ui-slider-right-arrow.edge { box-shadow:none; cursor:default; }
.ui-slider-tabs-list-wrapper.bottom .ui-slider-right-arrow { border-top-right-radius:0; border-bottom-right-radius:4px; }

.ui-slider-tabs-indicator-container { position:absolute; bottom:10px; left:0; width:100%; text-align:center; }

.ui-slider-tabs-indicator { display:inline-block; width:10px; height:10px; margin-right:3px; background-image:url("../img/common/indicator.png"); background-repeat:no-repeat; cursor:pointer; }
.ui-slider-tabs-indicator.selected { background-image:url("../img/common/indicatorActive.png"); }

.ui-slider-tabs-leftPanelArrow { position:absolute; left:0; width:30px; height:35px; cursor:pointer; background-image:url("../img/common/leftPanelArrow.png"); background-repeat:no-repeat; background-position:50% 50%; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=5); }

.ui-slider-tabs-rightPanelArrow { position:absolute; right:0; width:30px; height:35px; background-image:url("../img/common/rightPanelArrow.png"); background-repeat:no-repeat; background-position:50% 50%; cursor:pointer; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=5); }

.ui-slider-tabs-rightPanelArrow.showOnHover,
.ui-slider-tabs-leftPanelArrow.showOnHover { display:none; opacity:0; }

.ui-slider-tabs-content-container:hover.ui-slider-tabs-rightPanelArrow.showOnHover,
.ui-slider-tabs-content-container:hover .ui-slider-tabs-leftPanelArrow.showOnHover { display:inline-block; opacity:.5; }

.ui-slider-tabs-content-container .ui-slider-tabs-rightPanelArrow:hover,
.ui-slider-tabs-content-container .ui-slider-tabs-leftPanelArrow:hover,
.ui-slider-tabs-content-container .ui-slider-tabs-rightPanelArrow.showOnHover:hover,
.ui-slider-tabs-content-container .ui-slider-tabs-leftPanelArrow.showOnHover:hover { opacity:1; }

/* -------------------------- //SliderTabs -------------------------- */