@charset "utf-8";

/* Reset */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
html { height:100%; }
body { min-width:1240px; height:100%; margin:0; padding:0; font-size:0.75em; font-family:'Helvetica Neue', Arial, "돋움", Dotum, sans-serif; color:#666; background:#fff; }
hr.guideLayout { display:none; }
/* input,select,textarea { font-size:12px; font-family:'Helvetica Neue', Arial, "돋움", Dotum, sans-serif; color:##666; vertical-align:middle; } */

/* skip navigation */
#guideSkipNavigation { position:absolute; top:0; left:0; z-index:100; width:100%; margin:0; padding:0; }
#guideSkipNavigation a { position:absolute; top:0; left:-99999px; display:block; width:100%; height:30px; margin:0; padding:0; background:#c4122f; color:#fff; line-height:30px; text-align:center; }
#guideSkipNavigation a:first-child { background:#ff5e26; }
#guideSkipNavigation a:focus, #skipNavigation a:active { left:0; }

/* Layout */
#guideWrap { position:relative; min-width:1240px; min-height:100%; }
#guideContainer { margin:0; padding:0 10px 30px 260px; *zoom:1; }
#guideContainer:after { content:""; display:block; clear:both; }
#guideContent { float:left; width:100%; padding:20px 0 30px; }
#guideContent img { border:0; vertical-align:top; }

/* Header */
#guideHeader { position:relative; z-index:1; height:79px; box-shadow:inset 0 -1px 0 0 #40424e; border-bottom:1px solid #000; background:#343643; *zoom:1; }
#guideHeader:after { content:""; display:block; clear:both; }

/* snb */
#guideSnb { float:left; width:228px; margin:0 0 0 -260px; padding:0 5px; }
#guideSnb h2 { position:relative; padding:20px 10px; font-size:18px; color:#4374e0; background:#fff; }

/* foldBar */
.guideFoldBar { position:absolute; left:238px; top:0; width:10px; height:100%; border-right:1px solid #aaa; border-left:1px solid #ddd; }
.guideFoldBar button { display:block; overflow:visible; width:100%; height:100%; margin:0; padding:0; border:0; font-size:0; line-height:0; white-space:nowrap; cursor:pointer; background-color:#fff; background-image:url("../img/common/bg_fold_bar.gif"); background-repeat:no-repeat; background-position:3px 500px; }
.guideFoldBar:hover { border-right:1px solid #8f98ac; border-left:1px solid #cddbfa; }
.guideFoldBar:hover button { background-color:#f6f8fd; background-position:-25px 500px; }

/* eHidden */
#guideWrap.eHidden #guideContainer { padding-left:20px; }
#guideWrap.eHidden .guideFoldBar { left:0; }
#guideWrap.eHidden .guideFoldBar button { background-color:#f6f8fd; background-position:-11px 500px; }
#guideWrap.eHidden .guideFoldBar:hover button { background-color:#f6f8fd; background-position:-39px 500px; }
#guideWrap.eHidden .guideTreeControl .allCollapse,
#guideWrap.eHidden .guideTreeControl .allExpand,
#guideWrap.eHidden .guideTreeControl .allToggle { display:none; }

/* common */
#guideHeader h1 { float:left; margin:20px 0 0 30px; font-size:36px; color:#fff; }

/* gnb */
#guideGnb { float:right; margin:23px 100px 0 0; }
#guideGnb ul { margin:0; padding:10px 0; *zoom:1; }
#guideGnb ul:after { content:""; display:block; clear:both; }
#guideGnb ul li { float:left; margin:0 15px; padding:0 5px; list-style:none; }
#guideGnb ul li a { display:block; padding:0 0 5px ; font-weight:bold; font-size:14px; color:#c3c5d3; line-height:14px; text-decoration:none; }
#guideGnb ul li a:hover { color:#fff; }
#guideGnb ul li:first-child a { border:0; }
#guideGnb ul li.selected { border-bottom:3px solid #fff; }
#guideGnb ul li.selected a { color:#fff; }

/* guideFindProject */
#guideFindProject { padding:10px 0; border-top:2px solid #4374e0; }
#guideFindProject input { 
    width:100%; height:30px; padding:0 5px; line-height:30px; border:0; border:1px solid #cfcfcf; font-family:"돋움", Dotum, sans-serif; background-color:#f5f5f5;
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box; 
}
#guideFindProject input:focus { color:#666; background-color:#fff; }

/* treeControl */
.guideTreeControl { overflow:hidden; border-top:2px solid #4374e0; }
.guideTreeControl a { display:block; float:left; width:112px; border:1px solid #cfcfcf; border-top:0; border-radius:0 0 5px 0; font-size:13px; color:#555; line-height:30px; text-align:center; text-decoration:none; background:#f5f5f5; }
.guideTreeControl a:first-child { border-right:1px solid #f9f9f9; border-radius:0 0 0 5px; }
.guideTreeControl .allToggle { display:none; }

/* treeview */
.treeview { padding:5px 0 0 10px; background:#fff url("../img/common/bg_treeview.gif") no-repeat 10px -20px; }
.treeview ul { margin:4px 0 0; padding:0; background-color:#fff; }
.treeview li { position:relative; margin:0; padding:3px 0 5px 19px; line-height:14px; list-style:none; word-break:break-all; background:#fff url("../img/common/bg_treeview.gif") no-repeat 0 0; }
.treeview li.collapsable, 
.treeview li.expandable { background-position:0 -176px; }
.treeview li.expandable > ul { display:none; }
.treeview li.collapsable > ul { display:block; }
.treeview li.last { padding-left:19px; background-position:0 -1766px }
.treeview li.collapsable.last, 
.treeview li.expandable.last { background-image:url("../img/common/sflex_treeview.gif"); }
.treeview li.collapsable.last { background-position:0 -111px }
.treeview li.expandable.last { background-position:-32px -67px }
.treeview li a { font-size:13px; color:#333; text-decoration:none; }
.treeview li a.vFrame { display:block; margin:0 40px 0 0; }
.treeview li a.vTab { position:absolute; right:0; top:50%; height:20px; font-size:11px; margin-top:-10px; line-height:20px; }
.treeview li a:hover { color:#4374e0; }
.treeview li a.selected { font-weight:bold; color:#4374e0; }
.treeview li .hitarea { float:left; width:16px; height:16px; margin:0 3px 0 -19px; cursor:pointer; background:url("../img/common/sflex_treeview.gif") no-repeat -64px -25px; }
.treeview li.expandable .hitarea { background-position:-80px -3px; }
.treeview li.collapsable.last .hitarea, 
.treeview li.expandable.last .hitarea { background-position:0 0; }
.treeview li.expandable.last > ul { }

/* Top Button */
.guideBtnTop { position:fixed; bottom:3px; right:4px; z-index:100; margin:0; width:32px; height:32px; opacity:0.5; }
.guideBtnTop a { display:block; width:30px; height:30px; border-radius:15px; font-weight:bold; color:#fff; line-height:30px; text-align:center; text-decoration:none; background:#4374e0; }
.guideBtnTop:hover { bottom:3px; right:3px; width:36px; height:36px; opacity:1; }
.guideBtnTop:hover a { width:36px; height:36px; border-radius:18px; line-height:38px; }

/* guideFrame */
#guideFrame { width:100%; overflow:hidden; }

/* guideProjectEmpty */
.guideProjectEmpty { padding:100px 0 0; text-align:center; font-size:50px; }