@charset "utf-8";

/* btnIcon 아이콘형 버튼 */
a.btnIcon, button.btnIcon, span.btnIcon {
  display:inline-block; overflow:hidden; width:20px; height:20px; font-size:0; line-height:0; vertical-align:middle; white-space:nowrap; background:url('//img.echosting.cafe24.com/suio/sfix_icon_button2.png') 0 0 no-repeat; box-sizing:border-box;
}
.btnIcon span { visibility:hidden; display:block; height:100%; font-size:1px; }

.btnNormal em.icoPlus, .btnNormal em.icoMinus, .btnNormal em.icoPause, .btnNormal em.icoLower, .btnNormal em.icoUpper, .btnGeneral em.icoLower, .btnGeneral em.icoUpper,
.btnNormal em.icoLayer, .btnNormal em.icoLink, .btnLink em.icoLink, .btnCtrl em.icoPlus, .btnCtrl em.icoLink, .btnCtrl em.icoLayer, em.icoPrev {
  position:relative; display:inline-block; width:10px; height:10px;
}

.btnNormal em.icoDel, .btnCtrl em.icoDel, .btnNormal em.icoView, .btnNormal em.icoCopy, .btnNormal em.icoList, .btnNormal em.icoRefresh, .btnNormal em.icoURL, .btnNormal em.icoReverse, .btnNormal em.icoResize, .btnNormal em.icoStar,
.btnNormal em.icoXls, .btnNormal em.icoDoc, .btnNormal em.icoPpt, .btnNormal .icoPdf, .btnNormal em.icoHwp, .btnNormal em.icoText, .btnNormal em.icoZip, .btnNormal em.icoJpg, .btnNormal em.icoPng, .btnNormal em.icoGif, .btnNormal em.icoPrint {
  display:inline-block; width:11px; height:11px; padding:0; vertical-align:-1px; line-height:0;
  background:url('//img.echosting.cafe24.com/suio/sfix_icon_button2.png') 0 0 no-repeat;
}

    /* GROUP1 > button */
      .btnIcon.icoDel { background-position:0 0; }
      .btnIcon.icoDel.disabled { opacity:0.5; filter:alpha(opacity=50); }
      .btnNormal em.icoDel { width:8px; height:10px; background-position:0 -150px }

      .btnIcon.icoPlus { position:relative; border:1px solid #cacaca; background-color:#f8f8f8; background-image:none; }
      .btnNormal em.icoPlus,
      .btnCtrl em.icoPlus { width:8px; height:8px; }
      .btnIcon.icoPlus:before,
      .btnNormal em.icoPlus:before,
      .btnCtrl em.icoPlus:before { content:""; position:absolute; top:50%; left:5px; margin:-1px 0 0; width:8px; height:2px; background-color:#6b6b6b; }
      .btnNormal em.icoPlus:before,
      .btnCtrl em.icoPlus:before { left:0; }
      .btnIcon.icoPlus:after,
      .btnNormal em.icoPlus:after,
      .btnCtrl em.icoPlus:after { content:""; position:absolute; top:5px; left:8px; width:2px; height:8px; background-color:#6b6b6b; transform: rotate(180deg); -webkit-transform: rotate(180deg); }
      .btnNormal em.icoPlus:after,
      .btnCtrl em.icoPlus:after { top:0; left:3px; }
      .btnCtrl em.icoPlus:before,
      .btnCtrl em.icoPlus:after { background-color:#fff; }
      .btnIcon.icoPlus.disabled { opacity:0.5; filter:alpha(opacity=50); }

      .btnIcon.icoMinus { position:relative; border:1px solid #cacaca; background-color:#f8f8f8; background-image:none; }
      .btnNormal em.icoMinus { width:8px; height:8px; }
      .btnIcon.icoMinus:before,
      .btnNormal em.icoMinus:before { content:""; position:absolute; top:50%; left:5px; margin:-1px 0 0; width:8px; height:2px; background-color:#6b6b6b; }
      .btnNormal em.icoMinus:before { left:0; }
      .btnIcon.icoMinus.disabled { opacity:0.5; filter:alpha(opacity=50); }

      .btnIcon.icoStar { background-position:-50px 0; }
      .btnIcon.icoStar.selected { background-position:-50px -50px; }
      .btnIcon.icoStar.disabled { background-position:-50px -100px; }
      .btnNormal em.icoStar { margin-left:-2px; margin-right:-1px; background-position:-50px -150px; }

      .btnIcon.icoView { background-position:-150px 0; }
      .btnIcon.icoView.disabled { opacity:0.5; filter:alpha(opacity=50); }
      .btnNormal em.icoView { background-position:-150px -150px; }

      .btnIcon.icoEdit { background-position:-200px 0; }
      .btnIcon.icoEdit.disabled { opacity:0.5; filter:alpha(opacity=50); }

      .btnIcon.icoRefresh { background-position:-250px 0; }
      .btnIcon.icoRefresh.disabled { opacity:0.5; filter:alpha(opacity=50); }

      .btnIcon.icoReverse { width:14px; height:10px; background-position:-450px -150px; }
      .btnIcon.icoResize { width:12px; height:11px; background-position:-500px -150px; }
      .btnIcon.icoURL { width:14px; height:14px; background-position:-550px -150px; }

      .btnIcon.icoBold { background-position:-300px 0; }
      .btnIcon.icoBold.selected { background-position:-300px -50px; }

      .btnIcon.icoItalic { background-position:-350px 0; }
      .btnIcon.icoItalic.selected { background-position:-350px -50px; }

      .btnNormal em.icoCopy { width:9px; background-position:-250px -150px; }
      .btnNormal em.icoList { width:10px; background-position:-300px -150px; }
      .btnNormal em.icoRefresh { width:8px; height:10px; background-position:-350px -150px; }

      .btnIcon.icoPause { position:relative; border:1px solid #cacaca; background-color:#f8f8f8; background-image:none; }
      .btnNormal em.icoPause { width:8px; height:8px; }
      .btnIcon.icoPause:before,
      .btnNormal em.icoPause:before { content:""; position:absolute; top:0; left:0; margin:0 0 0; width:2px; height:8px; background:#6b6b6b; }
      .btnIcon.icoPause:after,
      .btnNormal em.icoPause:after { content:""; position:absolute; top:0; left:8px; width:2px; height:8px; background:#6b6b6b; transform: rotate(180deg); -webkit-transform: rotate(180deg); }
      .btnNormal em.icoPause:before { left:1px; }
      .btnNormal em.icoPause:after { top:0; left:5px; }

      .btnNormal em.icoReverse { width:13px; height:9px; background-position:-450px -150px; }
      .btnNormal em.icoResize { height:10px; background-position:-500px -150px; }
      .btnNormal em.icoURL { width:14px; height:14px; vertical-align:-3px; background-position:-550px -150px; }

    /* GROUP2 > download */
      .btnIcon.icoXls { background-position:0 -200px; }
      .btnNormal em.icoXls { width:10px; height:10px; background-position:0 -250px; }

      .btnIcon.icoDoc { background-position:-50px -200px; }
      .btnNormal em.icoDoc { width:10px; height:10px; background-position:-50px -250px; }

      .btnIcon.icoPpt { background-position:-100px -200px; }
      .btnNormal em.icoPpt { width:10px; height:10px; background-position:-100px -250px; }

      .btnIcon.icoPdf { margin:0; background-position:-150px -200px; }
      .btnNormal em.icoPdf { height:10px; background-position:-150px -250px; }

      .btnIcon.icoHwp { background-position:-200px -200px; }
      .btnNormal em.icoHwp { width:10px; height:10px; background-position:-200px -250px; }

      .btnIcon.icoText { background-position:-250px -200px; }
      .btnNormal em.icoText { width:9px; background-position:-250px -250px; }

      .btnIcon.icoZip { background-position:-300px -200px; }
      .btnNormal em.icoZip { width:14px; height:12px; background-position:-300px -250px; }

      .btnIcon.icoJpg { background-position:-350px -200px; }
      .btnNormal em.icoJpg { width:14px; height:12px; background-position:-350px -250px; }

      .btnIcon.icoPng { background-position:-400px -200px; }
      .btnNormal em.icoPng { width:14px; height:12px; background-position:-400px -250px; }

      .btnIcon.icoGif { background-position:-450px -200px; }
      .btnNormal em.icoGif { width:14px; height:12px; background-position:-450px -250px; }

    /* GROUP3 > arrow */
      .btnNormal em.icoLower,
      .btnNormal em.icoUpper,
      .btnGeneral em.icoLower,
      .btnGeneral em.icoUpper { width:8px; height:8px; margin:-5px 1px 0 5px; border:2px solid #6b6b6b; border-top-color:transparent; border-right-color:transparent; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); box-sizing:border-box; vertical-align:middle; border-radius:1px; }
      .btnNormal em.icoUpper,
      .btnGeneral em.icoUpper { margin-top:3px; transform: rotate(-225deg); -webkit-transform: rotate(-225deg); }

      .btnNormal em.icoLayer { width:0; height:0; margin:0 0 0 3px; border-width:4px; border-style:solid; border-color:#6b6b6b transparent transparent transparent; vertical-align:middle; }
      .btnNormal.selected em.icoLayer { margin:-7px 0 0 3px; transform: rotate(-180deg); -webkit-transform: rotate(-180deg); }

      .btnCtrl em.icoLayer { width:0; height:0; margin:0 0 0 3px; border-width:4px; border-style:solid; border-color:#fff transparent transparent transparent; vertical-align:middle; }
      .btnCtrl.selected em.icoLayer { margin:-7px 0 0 3px; transform: rotate(-180deg); -webkit-transform: rotate(-180deg); }

      .btnNormal em.icoLink { width:0; height:0; margin:-2px -4px 0 4px; border-width:4px; border-style:solid; border-color:#6b6b6b transparent transparent transparent; vertical-align:middle; transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }
      .btnNormal.selected em.icoLink { transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }

      .btnCtrl em.icoLink { width:0; height:0; margin:-2px -4px 0 4px; border-width:4px; border-style:solid; border-color:#fff transparent transparent transparent; vertical-align:middle; transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }
      .btnCtrl.selected em.icoLink { transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }

      .btnLink em.icoLink { width:0; height:0; margin:-3px -2px 0 3px; border-width:4px; border-style:solid; border-color:#868e9b transparent transparent transparent; vertical-align:middle; transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }
      .btnLink.selected em.icoLink { transform: rotate(-90deg); -webkit-transform: rotate(-90deg); }
      em.icoPrev { width:0; height:0; margin:-2px 3px 0 0; border-width:3px; border-style:solid; border-color:#515151 transparent transparent transparent; vertical-align:middle; transform: rotate(90deg); -webkit-transform: rotate(90deg); }

    /* GROUP4 > icon */
      .btnIcon.icoHistory { width:20px; height:19px; background-position:0 -500px; }
      .btnIcon.icoCal { width:13px; height:13px; background-position:-50px -500px; }
      img.icoCal { vertical-align:middle; }
      .btnIcon.icoPrint { width:11px; height:11px; background-position:-100px -500px; }
      .btnNormal em.icoPrint { width:11px; height:11px; vertical-align:-1px; background-position:-100px -500px; }
      .btnIcon.icoDetail { width:14px; height:14px; background-position:-50px -800px; }

      .btnIcon.icoPhone { width:12px; height:12px; background-position:0 -550px; }
      .btnIcon.icoSK { width:30px; height:12px; background-position:-50px -550px; }
      .btnIcon.icoKT { width:28px; height:12px; background-position:-100px -550px; }
      .btnIcon.icoLG { width:46px; height:12px; background-position:-150px -550px; }
      .btnIcon.icoTeleStar { width:68px; height:12px; background-position:-200px -550px; }

    /* GROUP5 > selected */
      .btnIcon.icoSms { width:10px; height:12px; background-position:0 -600px; }
      .btnIcon.icoSms.selected { background-position:0 -650px; }
      .btnIcon.icoMail { width:12px; height:10px; background-position:-50px -600px; }
      .btnIcon.icoMail.selected { background-position:-50px -650px; }
      .btnIcon.icoMemo { width:11px; height:12px; background-position:-100px -600px; }
      .btnIcon.icoMemo.selected { background-position:-100px -650px; }
      .btnIcon.icoUser { width:29px; height:16px; background-position:-150px -600px; }
      .btnIcon.icoUser.selected { background-position:-150px -650px; }
      .btnIcon.icoAdmin { width:29px; height:16px; background-position:-200px -600px; }
      .btnIcon.icoAdmin.selected { background-position:-200px -650px; }
      .btnIcon.icoCafe24 { width:39px; height:16px; background-position:-250px -600px; }
      .btnIcon.icoCafe24.selected { background-position:-250px -650px; }

      /* 묶음선택 / まとめ選択 */
      .btnIcon.icoBunch { width:26px; height:28px; border:1px solid #727272; color:#363636; text-align:center; white-space:normal; background-image:none; background-color:#f3f3f3; }
      .btnIcon.icoBunch.selected { border:1px solid #adbcc3; color:#7292a3; background-color:#e4edf2; }
      .btnIcon.icoBunch span { visibility:visible; display:inline-block; width:24px; font-size:11px; line-height:13px; line-height:14px\0; font-family:"돋움", Dotum, sans-serif; }
        html:lang(ja) .btnIcon.icoBunch { width:48px; }
        html:lang(ja) .btnIcon.icoBunch span { width:46px; font-family:Meiryo,"メイリオ","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",sans-serif; }

    /* GROUP6 > toggle */
      .btnIcon.icoCurrentMall,
      .btnIcon.icoBasicMall,
      .btnIcon.icoViewDetail,
      .btnIcon.icoViewSimple { position:relative; width:auto; height:auto; background-image:none; }
      .btnIcon.icoCurrentMall span,
      .btnIcon.icoBasicMall span,
      .btnIcon.icoViewDetail span,
      .btnIcon.icoViewSimple span { display:inline-block; height:22px; padding:0 6px; color:#a1a1a1; font-size:12px; font-family:"돋움", Dotum, sans-serif; visibility:visible; line-height:20px; line-height:22px\0; border:1px solid #cacaca; background-color:#fff; box-sizing:border-box; }
      .btnIcon.icoCurrentMall + .btnIcon.icoBasicMall,
      .btnIcon.icoViewDetail + .btnIcon.icoViewSimple { margin-left:-1px; }
      .btnIcon.icoCurrentMall.selected span,
      .btnIcon.icoBasicMall.selected span,
      .btnIcon.icoViewDetail.selected span,
      .btnIcon.icoViewSimple.selected span { color:#fff; border-color:transparent; background-color:#2d82d1; }

    /* GROUP7 > etc */
      .btnIcon.icoDelete { background-position:0 -800px; }

/* btnMove 항목 이동 버튼 */
    .btnMove { position:relative; overflow:hidden; width:20px; height:20px; margin:0; padding:0; line-height:20px; white-space:nowrap; text-indent:150%; box-sizing:border-box; background:#838c9e url("//img.echosting.cafe24.com/suio/sfix_icon_move2.png") 0 0 no-repeat; }
    .btnMove span { display:block; height:100%; font-size:1px; }
    .btnMove.icoLast,
    .btnMove.icoNext,
    .btnMove.icoPrev,
    .btnMove.icoFirst,
    .btnMove.icoPlus,
    .btnMove.icoMinus,
    .btnMove.icoLeft,
    .btnMove.icoRight,
    .btnMove.icoUnfold,
    .btnMove.icoFold,
    .btnMove.icoRemove,
    .btnMove.icoAdd,
    .btnMove.icoAddText,
    .btnMove.icoAllText,
    .btnMove.icoDelText { display:inline-block; position:relative; vertical-align:middle; }
    .btnMove.icoFirst,
    .btnMove.icoPlus,
    .btnMove.icoMinus { background-position:0 0; }
    .btnMove.icoPrev { background-position:-50px 0; }
    .btnMove.icoNext { background-position:-100px 0; }
    .btnMove.icoLast { background-position:-150px 0; }
    .btnMove.icoLeft { width:30px; background-position:0 -50px; }
    .btnMove.icoRight { width:30px; background-position:-50px -50px; }
    .btnMove.icoAll,
    .btnMove.icoBlank { width:30px; height:auto; padding:3px 0; padding:3px 0 1px\0; line-height:13px; text-indent:0; white-space:normal; border:1px solid #cacaca; background-color:#f8f8f8; background-image:none; }
    .btnMove.icoUnfold { width:30px; height:auto; padding:4px 0 15px; line-height:13px; text-indent:0; white-space:normal; border:1px solid #cacaca; background-color:#f8f8f8; background-image:none; }
    .btnMove.icoUnfold:after { content:""; display:inline-block; position:absolute; left:50%; bottom:6px; width:5px; height:5px; margin:0 0 0 -4px; border-left:2px solid #6b6b6b; border-bottom:2px solid #6b6b6b; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }
    .btnMove.icoUnfold span,
    .btnMove.icoFold span,
    .btnMove.icoAll span,
    .btnMove.icoBlank span { font-size:11px; color:#1c1c1c; font-family:'돋움', dotum; letter-spacing:-1px; }
    .btnMove.icoFold { width:30px; height:auto; padding:15px 0 4px; line-height:13px; text-indent:0; white-space:normal; border:1px solid #cacaca; background-color:#f8f8f8; background-image:none; }
    .btnMove.icoFold:after { content:""; display:inline-block; position:absolute; left:50%; top:6px; width:5px; height:5px; margin:0 0 0 -4px; border-left:2px solid #6b6b6b; border-bottom:2px solid #6b6b6b; transform: rotate(135deg); -webkit-transform: rotate(135deg); }
    .btnMove.icoAdd,
    .btnMove.icoRemove,
    .btnMove.icoAddText,
    .btnMove.icoAllText,
    .btnMove.icoDelText { background: url('//img.echosting.cafe24.com/suio/sfix_icon_move2.png') 0 0 no-repeat; }
    .btnMove.icoAdd { width:32px; height:65px; background-position:0 -100px; }
    .btnMove.icoRemove { width:32px; height:65px; background-position:-50px -100px; }
    .btnMove.icoAddText { width:32px; height:80px; background-position:-100px -100px; }
    .btnMove.icoAllText { width:32px; height:80px; background-position:-150px -100px; }
    .btnMove.icoDelText { width:32px; height:80px; background-position:-200px -100px; }
        html:lang(ja) .btnMove.icoUnfold,
        html:lang(ja) .btnMove.icoFold { width:34px; }
        html:lang(ja) .btnMove.icoUnfold span,
        html:lang(ja) .btnMove.icoFold span,
        html:lang(ja) .btnMove.icoAll span,
        html:lang(ja) .btnMove.icoBlank span { font-family:Meiryo,"メイリオ","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",sans-serif; letter-spacing:-0.5px; line-height:12px; }
        html:lang(ja) .btnMove.icoAddText,
        html:lang(ja) .btnMove.icoAllText,
        html:lang(ja) .btnMove.icoDelText { background-image:url('//img.echosting.cafe24.com/suio/sfix_icon_move2_ja_JP.png'); }

/* 텍스트형 아이콘 */
.mini[class^="ico"], .icoDefault, .icoNotice, .icoMajor, .icoFavorite, .icoSpecial, .icoBad, .icoBlacklist, .icoShopDisplay,
.icoEachRegister, .icoExcRegister, .icoRetractExchange, .icoRetractCancel, .icoRetractReturn, .icoExchange, .icoCancel, .icoReturn, .icoSoldout, .icoWithdraw, .icoSell,
.icoPriority, .icoBundle, .icoSetProduct, .icoSetProduct2, .icoReference, .icoRefund, .icoOrdFirst, .icoDelay, .icoIP,
.icoDefer, .icoExcProduct, .icoExcPayment, .icoExcBefore, .icoExcAfter, .icoExcPart, .icoRefusal,
.icoMobile, .icoProduct, .icoGift, .ico1MoreEvent, .icoSecurity, .icoGrand,
.icoB2BRequest, .icoB2BReject, .icoB2BStop, .icoPersonal, .icoCompany, .icoDivision, .icoRequired,
.icoCheckoutExchange, .icoCheckoutCancel, .icoCheckoutReturn, .icoCheckoutDelivery, .icoCheckoutDelay,
.icoStorePickup, .icoFixed, .icoNineteen, .icoStock, .icoCafe24 {
    display:inline-block; overflow:hidden; height:16px; margin:-3px 0 0 0; font-size:0; line-height:0; vertical-align:middle;
    background:url('//img.echosting.cafe24.com/suio/sfix_icon_text.png') 0 0 no-repeat;
}
  html:lang(ja) .mini[class^="ico"], html:lang(ja) .icoDefault, html:lang(ja) .icoNotice, html:lang(ja) .icoMajor, html:lang(ja) .icoFavorite, html:lang(ja) .icoSpecial, html:lang(ja) .icoBad, html:lang(ja) .icoBlacklist, html:lang(ja) .icoShopDisplay,
  html:lang(ja) .icoEachRegister, html:lang(ja) .icoExcRegister, html:lang(ja) .icoRetractExchange, html:lang(ja) .icoRetractCancel, html:lang(ja) .icoRetractReturn, html:lang(ja) .icoExchange, html:lang(ja) .icoCancel, html:lang(ja) .icoReturn, html:lang(ja) .icoSoldout, html:lang(ja) .icoWithdraw, html:lang(ja) .icoSell,
  html:lang(ja) .icoPriority, html:lang(ja) .icoBundle, html:lang(ja) .icoSetProduct, html:lang(ja) .icoSetProduct2, html:lang(ja) .icoReference, html:lang(ja) .icoRefund, html:lang(ja) .icoOrdFirst, html:lang(ja) .icoDelay, html:lang(ja) .icoIP,
  html:lang(ja) .icoDefer, html:lang(ja) .icoExcProduct, html:lang(ja) .icoExcPayment, html:lang(ja) .icoExcBefore, html:lang(ja) .icoExcAfter, html:lang(ja) .icoExcPart, html:lang(ja) .icoRefusal,
  html:lang(ja) .icoMobile, html:lang(ja) .icoProduct, html:lang(ja) .icoGift, html:lang(ja) .ico1MoreEvent, html:lang(ja) .icoSecurity, html:lang(ja) .icoGrand,
  html:lang(ja) .icoB2BRequest, html:lang(ja) .icoB2BReject, html:lang(ja) .icoB2BStop, html:lang(ja) .icoPersonal, html:lang(ja) .icoCompany, html:lang(ja) .icoDivision, html:lang(ja) .icoRequired,
  html:lang(ja) .icoCheckoutExchange, html:lang(ja) .icoCheckoutCancel, html:lang(ja) .icoCheckoutReturn, html:lang(ja) .icoCheckoutDelivery, html:lang(ja) .icoCheckoutDelay,
  html:lang(ja) .icoStorePickup, html:lang(ja) .icoFixed, html:lang(ja) .icoNineteen, html:lang(ja) .icoStock, html:lang(ja) .icoCafe24 {
      background-image:url('//img.echosting.cafe24.com/suio/sfix_icon_text_ja_JP.png');
  }

.mini[class^="ico"] { width:25px; }

.icoDefault { width:25px; background-position:0 0; }
.icoNotice { width:25px; background-position:-50px 0; }
.icoMajor { width:25px; background-position:-100px 0; }
.icoFavorite { width:25px; background-position:-150px 0; }
  html:lang(ja) .icoFavorite { width:47px; }
.icoSpecial { width:24px; background-position:-200px 0; }
.icoBad { width:25px; background-position:-250px 0; }
  html:lang(ja) .icoBad { width:37px; }
.icoBlacklist { width:55px; background-position:-300px 0; }
.icoBlacklist.mini { background-position:-300px -20px; }
.icoShopDisplay { width:62px; background-position:-400px 0; }

.icoEachRegister { width:45px; background-position:0 -50px; }
.icoEachRegister.mini { background-position:0 -70px; }
.icoExcRegister { width:45px; background-position:-50px -50px; }
  html:lang(ja) .icoExcRegister { width:66px; }
.icoExcRegister.mini { background-position:-50px -70px; }
  html:lang(ja) .icoExcRegister.mini { width:46px; }
.icoRetractExchange { width:45px; background-position:-150px -50px; }
.icoRetractCancel { width:45px; background-position:-200px -50px; }
  html:lang(ja) .icoRetractCancel { width:74px; }
.icoRetractReturn { width:45px; background-position:-300px -50px; }
.icoExchange { width:25px; background-position:-350px -50px; }
.icoCancel { width:25px; background-position:-400px -50px; }
  html:lang(ja) .icoCancel { width:56px; }
.icoReturn { width:25px; background-position:-500px -50px; }
.icoSoldout { width:25px; background-position:-550px -50px; }
  html:lang(ja) .icoSoldout { width:46px; }
.icoWithdraw { width:25px; background-position:-600px -50px; }
.icoSell { width:34px; background-position:-650px -50px; }

.icoPriority { width:45px; background-position:-150px -650px; }
.icoBundle { width:25px; background-position:0 -100px; }
  html:lang(ja) .icoBundle { width:35px; }
.icoSetProduct { width:24px; background-position:-50px -100px; }
  html:lang(ja) .icoSetProduct { width:35px; }
.icoSetProduct2 { width:44px; background-position:-100px -100px; }
  html:lang(ja) .icoSetProduct2 { width:61px; }
.icoReference { width:25px; height:14px; background-position:-200px -100px; }
  html:lang(ja) .icoReference { height:16px; }
.icoRefund { width:25px; background-position:-250px -100px; }
.icoRefund.disabled { background-position:-300px -100px; }
.icoOrdFirst { width:35px; background-position:-350px -100px; }
.icoDelay { width:44px; background-position:-400px -100px; }
  html:lang(ja) .icoDelay { width:45px; }
.icoIP { width:29px; height:15px; background-position:-450px -100px; }

.icoDefer { width:45px; background-position:0 -150px; }
.icoExcProduct { width:45px; background-position:-50px -150px; }
.icoExcPayment { width:54px; background-position:-100px -150px; }
  html:lang(ja) .icoExcPayment { width:66px; }
.icoExcBefore { width:54px; background-position:-200px -150px; }
  html:lang(ja) .icoExcBefore { width:66px; }
.icoExcAfter { width:54px; background-position:-300px -150px; }
  html:lang(ja) .icoExcAfter { width:66px; }
.icoExcPart { width:45px; background-position:-400px -150px;}
.icoRefusal { width:45px; background-position:-450px -150px; }

.icoMobile { width:16px; background-position:0 -200px; }
.icoProduct { width:29px; height:15px; background-position:-50px -200px; }
.icoGift { width:35px; background-position:-100px -200px; }
  html:lang(ja) .icoGift { width:56px; }
.ico1MoreEvent { width:51px; background-position:-200px -200px; }
  html:lang(ja) .ico1MoreEvent { width:85px; }
.icoSecurity { width:25px; }
.icoSecurity.level1 { background-position:-300px -200px; }
.icoSecurity.level2 { background-position:-350px -200px; }
.icoSecurity.level3 { background-position:-400px -200px; }
.icoGrand { width:45px; background-position:-450px -200px; }
  html:lang(ja) .icoGrand { width:55px; }

.icoB2BRequest { width:76px; background-position:0 -250px; }
.icoB2BReject { width:96px; background-position:-100px -250px; }
.icoB2BStop { width:84px; background-position:-200px -250px; }
.icoPersonal { width:24px; margin-top:0; background-position:-300px -250px; }
.icoCompany { width:24px; margin-top:0; background-position:-350px -250px; }
.icoDivision { width:24px; margin-top:0; background-position:-400px -250px; }
.icoRequired { width:21px; height:14px; background-position:-450px -250px; }
  html:lang(ja) .icoRequired { width:25px; }
    .mTooltip + .icoRequired { margin:0; }

.icoCheckoutExchange { width:92px; background-position:0 -300px; }
.icoCheckoutCancel { width:91px; background-position:-100px -300px; }
.icoCheckoutReturn { width:92px; background-position:-200px -300px; }
.icoCheckoutDelivery { width:112px; height:16px; background-position:-300px -300px; }
.icoCheckoutDelay { width:97px; height:16px; background-position:-450px -300px; }

.icoStorePickup { width:16px; background-position:0 -350px; }
.icoFixed { width:24px; background-position:-50px -350px; }
.icoNineteen { width:16px; background-position:-100px -350px; }
  html:lang(ja) .icoNineteen { width:50px; }
.icoStock { width:54px; background-position:-150px -350px; }
.icoCafe24 { width:37px; background-position:-250px -350px; }

/* 신규 텍스트형 아이콘 */
.txtSFIX,
.txtSFIX.icoNew,
.txtSFIX.icoLink {
    display:inline-block; overflow:hidden; height:16px; margin:-3px 0 0 0; font-size:0; line-height:0; vertical-align:middle;
    background:url('//img.echosting.cafe24.com/suio/sfix_icon_text.png') 0 0 no-repeat;
}
  html:lang(ja) .txtSFIX,
  html:lang(ja) .txtSFIX.icoNew,
  html:lang(ja) .txtSFIX.icoLink { background-image:url('//img.echosting.cafe24.com/suio/sfix_icon_text_ja_JP.png'); }

.icoNecessary { width:27px; background-position:-300px -350px; }
.icoBest { width:31px; background-position:-350px -350px; }
.txtSFIX.icoNew { width:30px; background-position:-400px -350px; }
.icoReserve { width:46px; background-position:-450px -350px; }
  html:lang(ja) .icoReserve { width:47px; }
.icoReserve.mini { width:25px; background-position:-450px -370px; }

.icoSetSplit { width:62px; background-position:0 -400px; }
.icoSetAll { width:62px; background-position:-100px -400px; }
  html:lang(ja) .icoSetSplit,
  html:lang(ja) .icoSetAll { width:34px; }
.icoReady { width:27px; background-position:-200px -400px; }
.icoPossible { width:27px; background-position:-250px -400px; }
.icoImpossible { width:27px; background-position:-300px -400px; }
.icoComplete { width:27px; background-position:-350px -400px; }
.icoSendFail { width:45px; background-position:-400px -400px; }
.icoOrder { width:27px; background-position:-450px -400px; }
.icoBundleBan { width:46px; background-position:-500px -400px; }
.icoBundleBan.mini { width:25px; background-position:-500px -420px; }

.icoSalesFail { width:61px; background-position:0 -450px; }
.icoAddressChange { width:43px; background-position:-100px -450px; }
.icoAddressChange.mini { width:25px; background-position:-100px -470px; }
.icoRemindMe { width:59px; background-position:-150px -450px; }
  html:lang(ja) .icoRemindMe { width:69px; }
.icoRemindMeBenefit { width:59px; background-position:-250px -450px; }
  html:lang(ja) .icoRemindMeBenefit { width:69px; }
.icoStoreRegister { width:45px; background-position:-350px -450px; }
.icoSeparatePrint { width:44px; background-position:-400px -450px; }
.icoSeparatePrint.mini { width:25px; background-position:-400px -470px; }

.icoMarketFail { width:64px; background-position:0 -500px; }
.icoMarketProduct { width:46px; background-position:-100px -500px; }
.icoInvoiceFail { width:66px; background-position:-200px -500px; }
.icoNumFail { width:66px; background-position:-300px -500px; }
.icoRegisterFail { width:66px; background-position:-400px -500px; }
.icoLifetime { width:25px; background-position:-500px -500px; }

.icoMembership { width:25px; background-position:0 -550px; }
  html:lang(ja) .icoMembership { width:100px; }
.icoServiceInUse { width:68px; background-position:-100px -550px; }
  html:lang(ja) .icoServiceInUse { width:77px; }
.icoServiceNotUse { width:82px; background-position:-200px -550px; }
.icoStateRegister { width:25px; background-position:-300px -550px; }
.icoStateReceipt { width:25px; background-position:-350px -550px; }
.icoStateInvoice { width:25px; background-position:-400px -550px; }
  html:lang(ja) .icoStateInvoice { width:38px; }
.icoStateOut { width:25px; background-position:-450px -550px; }
.icoHolding { width:25px; background-position:-500px -550px; }
.icoHandling { width:25px; background-position:-550px -550px; }

.txtSFIX.icoLink { width:25px; background-position:0 -600px; }
.icoUnlink { width:37px; background-position:-50px -600px; }
.icoManageLog { width:46px; background-position:-100px -600px; }
.icoNormal { width:25px; background-position:-150px -600px; }
.icoDeliveryPart { width:46px; background-position:-200px -600px; }
.icoDeliveryPart.mini { width:25px; background-position:-200px -620px; }

.icoAssign { width:27px; background-position:0 -650px; }
.icoAssignNot { width:37px; background-position:-50px -650px; }
  html:lang(ja) .icoAssignNot { width:56px; }
.icoAssignFirst { width:45px; background-position:-150px -650px; }
.icoAssignFirst.mini { width:26px; background-position:-150px -670px; }
.icoAssignAuto { width:47px; background-position:-200px -650px; }
.icoAssignAuto.mini { width:26px; background-position:-200px -670px; }

/* 이미지형 아이콘 */
.icoPrint, .icoNew, .icoFile, .icoUp, .icoDown, .icoShop,
.icoDot, .icoDepth, .icoFix, .icoChecked, .icoLock {
    display:inline-block; overflow:hidden; margin:-3px 0 0 0; font-size:0; line-height:0; vertical-align:middle;
    background:url('//img.echosting.cafe24.com/suio/sfix_icon_image.png') 0 0 no-repeat;
}

.icoPrint { width:13px; height:12px; background-position:0 0; }
.icoNew { width:11px; height:11px ; background-position:-50px 0; }
.icoFile { width:10px; height:12px; background-position:-100px 0; }
.icoUp { width:10px; height:6px; background-position:-150px 0; }
.icoDown { width:10px; height:6px; background-position:-200px 0; }
.icoShop { width:17px; height:15px; background-position:-250px 0; }
    .headingArea .icoShop { margin:1px 0 0 -1px; }
    :root .headingArea .icoShop { margin-top:0 \0/; }
    .mBoard .gIcoShop { position:relative; padding:0 30px 0 0; } /**/
    .mBoard .gIcoShop .icoShop { position:absolute; right:2px; top:6px; background-position:-250px 0; }

.icoDot { width:2px; height:2px; background-position:0 -50px; }
.icoDepth { width:7px; height:7px; background-position:-50px -50px; }
.icoFix { width:20px; height:17px; background-position:-100px -50px; }
.icoFix.undo { background-position:-150px -50px; }
    .mBoard .icoFix, .mBoard .icoFix.undo { margin-top:0; }
.icoChecked { width:12px; height:14px; background-position:-200px -50px; }
.icoLock { width:11px; height:14px; background-position:-250px -50px; }

/* 신규 이미지형 아이콘 */
.imgSFIX, .imgSFIX.icoMobile {
    display:inline-block; overflow:hidden; margin:-3px 0 0 0; font-size:0; line-height:0; vertical-align:middle;
    background:url('//img.echosting.cafe24.com/suio/sfix_icon_image.png') 0 0 no-repeat;
}
.imgSFIX.icoMobile { width:9px; height:14px; background-position:0 -100px; }
  html:lang(ja) .imgSFIX.icoMobile { background-image:url('//img.echosting.cafe24.com/suio/sfix_icon_image.png'); }
.imgSFIX.icoSpam { width:14px; height:14px; background-position:-50px -100px; }
.imgSFIX.icoDrag { width:15px; height:18px; background-position:-100px -100px; }
.imgSFIX.icoWarn { width:14px; height:14px; margin-top:-1px; background-position:-150px -100px; }
.imgSFIX.icoHelp { width:14px; height:14px; margin-top:-1px; background-position:-200px -100px; }

/* 가이드형 아이콘 */
.icoDesign, .icoLaw, .icoLawAdvice, .icoLawViolation, .icoPdf {
    display:inline-block; overflow:hidden; margin:-3px 0 0 0; font-size:0; line-height:0; background:url('//img.echosting.cafe24.com/suio/sfix_icon_guide.png') 0 0 no-repeat; vertical-align:middle;
}
  html:lang(ja) .icoDesign, html:lang(ja) .icoLaw, html:lang(ja) .icoLawAdvice, html:lang(ja) .icoLawViolation, html:lang(ja) .icoPdf.password, html:lang(ja) .icoInfo {
    background-image:url("//img.echosting.cafe24.com/suio/sfix_icon_guide_ja_JP.png");
  }
.icoDesign { width:87px; height:14px; margin-top:0; background-position:0 0; }
  html:lang(ja) .icoDesign { width:108px; }
.icoLaw { width:56px; height:14px; margin-top:-1px; background-position:0 -50px; }
  html:lang(ja) .icoLaw { width:59px; }
.icoLawAdvice { width:49px; height:16px; background-position:-100px -50px; }
.icoLawViolation { width:81px; height:16px; background-position:-200px -50px; }
  html:lang(ja) .icoLawViolation { width:83px; }
.icoPdf.password { width:108px; height:14px; margin-top:0; background-position:0 -100px; }
  html:lang(ja) .icoPdf.password { width:127px; }
.icoInfo { display:inline-block; padding:0 0 0 16px; color:#61656e; font-size:11px; line-height:15px; word-spacing:-2px; background:url('//img.echosting.cafe24.com/suio/sfix_icon_guide.png') -150px -100px no-repeat; }

/* EC headingArea 링크형 */
.headingArea .btnManual, .headingArea .btnVideo { overflow:hidden; display:inline-block; width:64px; height:20px; font-size:0; line-height:0; background:url('//img.echosting.cafe24.com/suio/sfix_btn_heading.gif') 0 0 no-repeat; vertical-align:middle;}
.headingArea .btnVideo { width:102px; background-position:-68px 0; }
  html:lang(ja) .headingArea .btnManual { width:94px; }
  html:lang(ja) .headingArea .btnManual, html:lang(ja) .headingArea .btnVideo { background-image:url('//img.echosting.cafe24.com/suio/sfix_btn_heading_ja_JP.gif'); }
  /* module.css용 */
  .gHeading .btnManual, .gHeading .btnVideo { overflow:hidden; display:inline-block; width:64px; height:20px; font-size:0; line-height:0; background:url('//img.echosting.cafe24.com/suio/sfix_btn_heading.gif') 0 0 no-repeat; vertical-align:middle;}
  .gHeading .btnVideo { width:102px; background-position:-68px 0; }
    html:lang(ja) .gHeading .btnManual { width:94px; }
    html:lang(ja) .gHeading .btnManual, html:lang(ja) .gHeading .btnVideo { background-image:url('//img.echosting.cafe24.com/suio/sfix_btn_heading_ja_JP.gif'); }
