@charset "utf-8";

/* Reset : 필수 CSS 수정 및 삭제 불가 */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
html,body { width:100%; height:100%; }
body,code { font:0.75em "돋움",Dotum,AppleGothic,sans-serif; color:#1c1c1c; }
body { min-width:1240px; }
li { list-style:none; }
img,fieldset { border:none; vertical-align:top; }
input,select,textarea { font-size:100%; font-family:"돋움", Dotum; color:#1b1b1b; vertical-align:middle; }
legend { visibility:hidden; position:absolute; left:-9999px; top:-9999px; width:0; height:0; line-height:0; }
button { overflow:visible; padding:0; margin:0; border:0; cursor:pointer; }
hr.layout { display:none; }
a { text-decoration:none; color:#000; }
a:hover { text-decoration:underline; }

/* Skip Navigation */
#skipNavigation { position:absolute; top:0; left:0; z-index:100; width:100%; }
#skipNavigation a { position:absolute; top:0; left:-99999px; display:block; width:100%; height:30px; background:#c4122f; color:#fff; line-height:30px; text-align:center; }
#skipNavigation a:first-child { background:#ff5e26; }
#skipNavigation a:focus, #skipNavigation a:active { left:0; }

/* For Print */
@media print {
    #header,
    #sidebar,
    #footer { display:none; }
    #content { float:none; width:auto; }
}

/* module.css reset */
h3 { margin:20px 0 7px; padding:0 0 0 21px; }
h4 { padding:9px 0 10px 55px; }
h5 { padding:9px 0 10px 55px; }
h6 { padding:9px 0 10px 55px; }

/* Layout */
#wrap { min-width:1200px; min-height:100%; margin:0 0 -33px; background:url("//img.echosting.cafe24.com/layout/bg_sidebar.gif") repeat-y 0 0; }
#header { position:fixed; top:0; left:0; z-index:9; width:100%; height:36px; padding:43px 0 0; background:#7d8087 url("//img.echosting.cafe24.com/layout/bg_header.gif") repeat-x 0 0; }
#container { padding:79px 0 33px; }
#container:after { content:" "; display:block; clear:both; }
#sidebar { float:left; width:195px; }
#content { margin:10px 10px 10px 205px; }
#footer { position:relative; z-index:90; min-width:1200px; height:33px; background:#828a96 url("//img.echosting.cafe24.com/layout/bg_footer.gif") repeat-x 0 0; }

/* Header */
#header h1 { position:absolute; left:15px; top:10px; }
#header .util { position:absolute; right:12px; top:4px; z-index:80; font-size:11px; color:#d1d1d1; letter-spacing:-1px; }
#header .link { float:left; padding:4px 0 0; line-height:12px; }
#header .link li { float:left; padding:0 9px 0 11px; background:url("//img.echosting.cafe24.com/layout/sflex_ico.png") no-repeat -398px -199px; }
#header .link li a { color:#d1d1d1; font-size:11px; }
#header .link li a:hover { color:#fff; text-decoration:none; }
#header .link li.shop { padding-left:17px; background:url("//img.echosting.cafe24.com/layout/sflex_ico.png") no-repeat -490px 1px; }
#header .link li.shop:hover { background-position:-440px -99px; }
#header .link li.shop a { color:#fff; font-weight:bold; }
#header .link li.shop a:hover,
#header .link li.home a:hover { color:#87c7ff; }
#header .member { float:left; padding:0 0 0 11px; background:url("//img.echosting.cafe24.com/layout/sflex_ico.png") no-repeat -398px -195px; }
#header .member strong { display:inline-block; padding:3px 0 0; vertical-align:top; font-weight:normal; }
#header .member span { color:#61e3ff; }
#header .member button { overflow:hidden; display:inline-block; width:65px; height:20px; margin:0 0 0 6px; background:url("//img.echosting.cafe24.com/layout/sfix_btn.png") no-repeat 0 0; text-indent:100%; white-space:nowrap; }
#header .member button:hover,
#header .member button.selected { background-position:-75px 0; }
#header .service { float:left; width:161px; margin:0 0 0 12px; }
#header .service strong { display:block; height:20px; padding:0 0 0 7px; background:url("//img.echosting.cafe24.com/layout/sfix_btn.png") no-repeat 0 -30px; line-height:20px; color:#bfe2e2; font-weight:normal; cursor:pointer; }
#header .service.selected strong { background-position:0 -60px; }
#header .service ul { display:none; padding:3px 0; border:1px solid #464753; border-top:0; border-radius:0 0 3px 3px; background:#51535f url("//img.echosting.cafe24.com/layout/bg_service_off.gif") repeat-y 100% 0; }
#header .service ul.active { display:block; }
#header .service li {}
#header .service li a { display:block; padding:5px 21px 5px 8px; background:url("//img.echosting.cafe24.com/layout/sflex_ico.png") no-repeat -200px -292px; color:#bfe2e2; line-height:14px; }
#header .service li:hover { background:#99effe url("//img.echosting.cafe24.com/layout/bg_service_on.gif") repeat-y 100% 0; }
#header .service a:hover { color:#51535f; background:url("//img.echosting.cafe24.com/layout/sflex_ico.png") no-repeat -151px -392px; text-decoration:none; }
#header .gnbArea { height:36px; }
#header .gnbArea:after { content:" "; display:block; clear:both; }
#header #gnb { float:left; padding:0 1px 0 0; background:url("//img.echosting.cafe24.com/layout/sflex_ico_gnb.png") no-repeat 100% 1px; }
#header #gnb li { float:left; }
#header #gnb li:hover,
#header #gnb li.selected { background:url("//img.echosting.cafe24.com/layout/bg_gnb.gif") repeat-x 0 0; }
#header #gnb li a { display:block; height:36px; background:url("//img.echosting.cafe24.com/layout/sflex_ico_gnb.png") no-repeat 0 1px; color:#fff; line-height:36px; }
#header #gnb li a strong { display:block; padding:0 40px; background:url("//img.echosting.cafe24.com/layout/sflex_ico_gnb.png") no-repeat 100% -43px;  }
#header #gnb li.selected a,
#header #gnb li a:hover { background-position:0 -87px; color:#75daff; text-decoration:none; }
#header #gnb li.selected a strong,
#header #gnb li a:hover strong { background-position:100% -87px; }
#header .notice { position:relative; z-index:70; float:right; overflow:hidden; width:250px; height:36px; margin:0 40px 0 0; line-height:36px; }
#header .notice ul { position:absolute; right:0; top:0; }
#header .notice a { color:#a6cdef; font-size:11px; text-decoration:none; }
#header .notice .icoNew { overflow:hidden; float:left; width:26px; height:36px; margin:0 10px 0 0; background:url("//img.echosting.cafe24.com/layout/sfix_ico.png") no-repeat -19px 11px; text-indent:100%; white-space:nowrap; }

/* Sidebar */
#snb { width:194px; }
#snb h2 { padding:16px 14px 15px 14px; border-bottom:1px solid #a3a3ad; background:#f5f3f4 url("//img.echosting.cafe24.com/layout/bg_snb.png") repeat-y 100% 0; box-shadow:inset 0 -1px 2px #ccc; font-size:18px; font-family:"굴림",Gulim,sans-serif; color:#292929; word-wrap:break-word; word-break:break-all; }
#snb .navigation {}
#snb .navigation li { background:url("//img.echosting.cafe24.com/layout/bg_snb.png") repeat-y 100% 0; word-wrap:break-word; word-break:break-all; }
#snb .navigation li a { display:block; }
#snb .navigation li a:hover { color:#589de2; text-decoration:none; }
#snb .navigation li .icoNew { display:inline-block; overflow:hidden; width:9px; height:9px; margin:1px 0 0 -1px; background:url("//img.echosting.cafe24.com/layout/sfix_ico.png") no-repeat 0 0; font-size:0; line-height:0; vertical-align:top; }
#snb .navigation > ul { border-bottom:1px solid #fff; }
#snb .navigation > ul > li { border-top:1px solid #fff; border-bottom:1px solid #ceced0; background-color:#edefef; }
#snb .navigation > ul > li:first-child { border-top:0; }
#snb .navigation > ul > li > a { padding:8px 28px 6px 17px; color:#4f4f4f; letter-spacing:-1px; }
#snb .navigation > ul > li.selected { border:1px solid #6495d7; background-color:#7ba5dd; }
#snb .navigation > ul > li.selected > a { background:url("//img.echosting.cafe24.com/layout/sfix_ico_snb.png") no-repeat -406px 10px; color:#fff; }
#snb .navigation > ul > li.collapsable { border:0; border-top:1px solid #fff; border-bottom:1px solid #ceced0; background:url("//img.echosting.cafe24.com/layout/sfix_ico_snb.png") no-repeat 0 10px; }
#snb .navigation > ul > li.collapsable.selected { background-image:none; }
#snb .navigation > ul > li.collapsable.selected > a { background:url("//img.echosting.cafe24.com/layout/sfix_ico_snb.png") no-repeat -203px 10px; color:#4f4f4f; }
#snb .navigation > ul > li.collapsable.selected > a:hover { color:#589de2; }
#snb .navigation ul ul { display:none; border-top:1px solid #ceced0; }
#snb .navigation li li { border-bottom:1px solid #efefef; background-color:#fff; line-height:14px; }
#snb .navigation li li a { padding:8px 28px 7px 25px; font-size:11px; color:#6f747b; }
#snb .navigation li li.selected { border:1px solid #6495d7; background-color:#7ba5dd; }
#snb .navigation li li.selected a { padding-bottom:6px; background:url("//img.echosting.cafe24.com/layout/sfix_ico_snb.png") no-repeat -406px 10px; font-weight:bold; color:#fff; letter-spacing:-1px; }
#snb .navigation.typeSimple > ul > li > a { padding-top:16px; padding-bottom:14px; }
#snb .navigation.typeSimple > ul > li.collapsable { background-position:0 20px; }
#snb .navigation.typeSimple > ul > li.selected > a { background-position:-406px 18px; }
#snb .navigation.typeSimple > ul > li.collapsable.selected > a { background:url("//img.echosting.cafe24.com/layout/sfix_ico_snb.png") no-repeat -203px 18px; }

#sidebar .mPromotion.typeSnb { padding:30px 0 0; text-align:center; }
#sidebar .mPromotion.typeSnb p a { display:inline-block; background:#fff; border:1px solid #ccc; margin:0 0 20px; padding:2px; }

/* Footer */
#footer p { padding:12px 15px 0 0; text-align:right; }