<?php require( $_SERVER['DOCUMENT_ROOT'].'/pj/alliance_chart/layout/header.html'); ?>

<!-- container -->
<div id="container">
    <!-- sidebar -->
    <div id="sidebar">
        <h2 class="blind">사이드바 메뉴</h2>
        <ul class="menu">
            <li>
                <a href="#none">
                    <span class="icoSFIX icoData"></span>
                    <span class="heading">Data</span>
                </a>
            </li>
            <li class="selected">
                <a href="#none">
                    <span class="icoSFIX icoChart"></span>
                    <span class="heading">Chart</span>
                </a>
            </li>
            <li>
                <a href="#none">
                    <span class="icoSFIX icoFormat"></span>
                    <span class="heading">Format</span>
                </a>
            </li>
        </ul>
    </div><!-- //sidebar -->

    <hr class="layout" />

    <!-- content -->
    <div id="content">
        <div class="innerArea">
            <div class="mTitle">
                <h1>h1 타이틀</h1>
            </div>
            <div class="mTitle">
                <h2>h2 타이틀</h2>
            </div>
            <div class="mTitle">
                <h3>h3 타이틀</h3>
            </div>
            내용<br />
            내용<br />
            내용<br />
            내용<br />
        </div>
    </div><!-- //content -->
</div><!-- //container -->

<?php require( $_SERVER['DOCUMENT_ROOT'].'/pj/alliance_chart/layout/footer.html'); ?>