<?php require('../include/header_jp.html'); ?>
    <div id="container" class="main">
        <div class="visual">
            <div class="slide touchslider-main">
                <ul class="view">
                    <li><img src="../img/main/img_visual1_jp.jpg"alt=""></li>
                    <li><img src="../img/main/img_visual2_jp.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual3_jp.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual4_jp.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual5_jp.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual6_jp.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual7_jp.jpg" alt=""></li>
                </ul>
            </div>
            <div class="btnArea">
                <button type="button" class="btnPrev">prev</button>
                <button type="button" class="btnNext">next</button>
            </div>
        </div>

        <!-- contents -->
        <div id="contents">
            <section class="cafe24Area">
                <div class="platform">
                    <h2>グローバルECプラットフォーム</h2>
                    <a href="#none">
                        <strong class="head">安定したインフラに基づき<br>海外ネットショップ構築からグローバルブランド化戦略までサポートします。</strong>
                        <img src="../img/main/img_platform_jp.jpg" alt="グローバルECプラットフォーム">
                        <ul class="blind">
                            <li>インフラ: ホスティングセンター, BIZソリューション</li>
                            <li>ソリューション: ネットショップセンター, デザインセンター, ホームページ制作センター</li>
                            <li>運営: ネットショップセンター</li>
                            <li>創業・教育: 創業センター, 教育センター</li>
                            <li>マーケティング:マーケティングセンター</li>
                        </ul>
                    </a>
                </div>
                <div class="media">
                    <h2>メディア</h2>
                    <ul>
                        <li>
                            <a href="#none">
                                <strong class="head multiEllipsis">cafe24、ビッグデータ分析による売上向上の実態とは？cafe24、ビッグデータ分析による売上向上の実態とは？cafe24、ビッグデータ分析による売上向上の実態とは？</strong>
                                <p class="summary multiEllipsis">シンプレックスインターネット株式会社は、「cafe24」で取り入れた、ネットショップ構築データを、他社の店舗のマーケティング戦略に活用して、成果を上げている。シンプレックスインターネット株式会社は、「cafe24」で取り入れた、ネットショップ構築データを、他社の店舗のマーケティング戦略に活用して、成果を上げている。</p>
                            </a>
                        </li>
                        <li>
                            <a href="#none">
                                <strong class="head multiEllipsis">cafe24、ビッグデータ分析による売上向上の実態とは？cafe24、ビッグデータ分析による売上向上の実態とは？cafe24、ビッグデータ分析による売上向上の実態とは？</strong>
                                <p class="summary multiEllipsis">シンプレックスインターネット株式会社は、「cafe24」で取り入れた、ネットショップ構築データを、他社の店舗のマーケティング戦略に活用して、成果を上げている。シンプレックスインターネット株式会社は、「cafe24」で取り入れた、ネットショップ構築データを、他社の店舗のマーケティング戦略に活用して、成果を上げている。</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="partner customer">
                    <h2>主要お客様</h2>
                    <a href="#none"><strong class="head">国内を含む海外代表ECモールと提携しています。</strong></a>
                    <ul class="mTab typeMain grid3 eTab">
                        <li class="selected"><a href="#tabCont1_1">K-Fashion</a></li>
                        <li><a href="#tabCont1_2">K-Beauty</a></li>
                        <li><a href="#tabCont1_3">K-Baby</a></li>
                    </ul>
                    <div id="tabCont1_1" class="tabCont" style="display:block;">
                        <a href="#none" class="fashion">
                            <img src="../img/main/img_partner_customer.gif" alt="stylenanda, miamasvin, chuu, imvely" class="RW">
                            <img src="../img/main/img_partner_customer_m.gif" alt="stylenanda, miamasvin, chuu, imvely" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont1_2" class="tabCont" style="display:none;">
                        <a href="#none" class="beauty">
                            <img src="../img/main/img_partner_customer2.gif" alt="aprilskin, abbamart, colingco, ground plan" class="RW">
                            <img src="../img/main/img_partner_customer2_m.gif" alt="aprilskin, abbamart, colingco, ground plan" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont1_3" class="tabCont" style="display:none;">
                        <a href="#none" class="baby">
                            <img src="../img/main/img_partner_customer3.gif" alt="thejany, cocogirin, kaiu, hodoostory" class="RW">
                            <img src="../img/main/img_partner_customer3_m.gif" alt="thejany, cocogirin, kaiu, hodoostory" class="RMB">
                        </a>
                    </div>
                    <a href="#none" class="btnMore">主要なお客様 もっと見る</a>
                </div>
                <div class="partner cooperation">
                    <h2>提携パートナー</h2>
                    <a href="#none"><strong class="head">グローバルEC企業と業務提携しています。</strong></a>
                    <ul class="mTab typeMain grid4 eTab">
                        <li class="selected"><a href="#tabCont2_1">ECモール</a></li>
                        <li><a href="#tabCont2_2">マーケティングチャネル</a></li>
                        <li><a href="#tabCont2_3">決済代行</a></li>
                        <li><a href="#tabCont2_4">物流/配送</a></li>
                    </ul>
                    <div id="tabCont2_1" class="tabCont" style="display:block;">
                        <a href="#none" class="fashion">
                            <img src="../img/main/img_partner_cooperation.gif" alt="ECモール: TMALL, JD.com, mogujie, LAZADA, Rakuten, amazon" class="RW">
                            <img src="../img/main/img_partner_cooperation_m.gif" alt="ECモール: TMALL, JD.com, mogujie, LAZADA, Rakuten, amazon" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont2_2" class="tabCont" style="display:none;">
                        <a href="#none" class="beauty">
                            <img src="../img/main/img_partner_cooperation2_jp.gif" alt="マーケティングチャネル: Baidu, weibo, google, facebook, yahoo, yahoo Japan" class="RW">
                            <img src="../img/main/img_partner_cooperation2_m_jp.gif" alt="マーケティングチャネル: Baidu, weibo, google, facebook, yahoo, yahoo Japan" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont2_3" class="tabCont" style="display:none;">
                        <a href="#none" class="baby">
                            <img src="../img/main/img_partner_cooperation3.gif" alt="決済代行: alipay, axes, paypal, ecpay, soft bank" class="RW">
                            <img src="../img/main/img_partner_cooperation3_m.gif" alt="決済代行: alipay, axes, paypal, ecpay, soft bank" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont2_4" class="tabCont" style="display:none;">
                        <a href="#none" class="baby">
                            <img src="../img/main/img_partner_cooperate4.gif" alt="物流/配送: EMS, sagawa, yamato, Quantium Solutions" class="RW">
                            <img src="../img/main/img_partner_cooperate4_m.gif" alt="物流/配送: EMS, sagawa, yamato, Quantium Solutions" class="RMB">
                        </a>
                    </div>
                    <a href="#none" class="btnMore">提携パートナー もっと見る</a>
                </div>
            </section>
            <section class="peopleArea">
                <div class="people">
                    <h2>PEOPLE</h2>
                    <div class="slide">
                        <div class="view touchslider-people">
                            <ul>
                                <li>
                                    <div class="braces">
                                        <p class="info">"ここで、グローバル市場に向けた夢が実現できます。cafe24と共にしましょう。"</p>
                                        <img src="../img/main/img_people2.jpg" class="thumb" alt="">
                                        <p class="member">ECサービス<strong class="name">キム・ウラム</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">"共に成長していく場所、ようこそcafe24へ。"</p>
                                        <img src="../img/main/img_people7.jpg" class="thumb" alt="">
                                        <p class="member">グローバルEC<strong class="name">白金ダン</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">"cafe24で自分の才能を思い存分、<br>発揮してみませんか。"</p>
                                        <img src="../img/main/img_people8.jpg" class="thumb" alt="">
                                        <p class="member">翻訳最適化チーム<strong class="name">村松 由里</strong></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="paginate">
                            <button type="button" class="prev">prev</button>
                            <button type="button" class="next">next</button>
                        </div>
                    </div>
                </div>
                <div class="recruit">
                    <h2>採用</h2>
                    <a href="#none">
                        <p class="info"><span class="txtEm">cafe24</span>と新しい未来を切り開いていく、夢を抱えている人材を募集しております。</p>
                        <img src="../img/main/img_recruit1.jpg" class="thumb" alt="">
                    </a>
                </div>
            </section>
        </div><!-- //contents -->
    </div>
<?php require('../include/footer_jp.html'); ?>