<?php require('../include/header_en.html'); ?>
    <div id="container" class="main">
        <div class="visual">
            <div class="slide touchslider-main">
                <ul class="view">
                    <li><img src="../img/main/img_visual1_en.jpg"alt=""></li>
                    <li><img src="../img/main/img_visual2_en.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual3_en.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual4_en.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual5_en.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual6_en.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual7_en.jpg" alt=""></li>
                </ul>
            </div>
            <div class="btnArea">
                <button type="button" class="btnPrev">prev</button>
                <button type="button" class="btnNext">next</button>
            </div>
        </div>

        <!-- contents -->
        <div id="contents">
            <section class="cafe24Area">
                <div class="platform">
                    <h2>GLOBAL ECOMMERCE PLATFORM</h2>
                    <a href="#none">
                        <strong class="head">Based on the most stable infrastructure, we provide everything, from building multi-language online stores to global branding.</strong>
                        <img src="../img/main/img_platform_en.jpg" alt="GLOBAL ECOMMERCE PLATFORM">
                        <ul class="blind">
                            <li>Infrastructure: Hosting Center, BIZ Solution</li>
                            <li>Solution: Shopping Mall Center, Design Center, Website Building Center</li>
                            <li>Operation: Shopping Mall Center</li>
                            <li>Startup·Education: SOHO Business Center, Education Center</li>
                            <li>Marketing : Marketing Center</li>
                        </ul>
                    </a>
                </div>
                <div class="media">
                    <h2>PRESS</h2>
                    <ul>
                        <li>
                            <a href="#none">
                                <strong class="head multiEllipsis">Cafe24 to provide Alipay service for local exports provide Alipay service for local exports</strong>
                                <p class="summary multiEllipsis">SimpleX Internet, provider of Korea's leading online shopping mall hosting service Cafe24, will expand local firms' direct sales channel to overseas markets by cooperating with China's Alipay.</p>
                            </a>
                        </li>
                        <li>
                            <a href="#none">
                                <strong class="head multiEllipsis">Cafe24 to provide Alipay service for local exports provide Alipay service for local exports</strong>
                                <p class="summary multiEllipsis">SimpleX Internet, provider of Korea's leading online shopping mall hosting service Cafe24, will expand local firms' direct sales channel to overseas markets by cooperating with China's Alipay.</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="partner customer">
                    <h2>K-Style Leaders</h2>
                    <a href="#none"><strong class="head">Meet the World’s K-Style Leaders in cafe24.</strong></a>
                    <ul class="mTab typeMain grid3 eTab">
                        <li class="selected"><a href="#tabCont1_1">K-Fashion</a></li>
                        <li><a href="#tabCont1_2">K-Beauty</a></li>
                        <li><a href="#tabCont1_3">K-Baby</a></li>
                    </ul>
                    <div id="tabCont1_1" class="tabCont" style="display:block;">
                        <a href="#none" class="fashion">
                            <img src="../img/main/img_partner_customer.gif" alt="stylenanda, miamasvin, chuu, imvely" class="RW">
                            <img src="../img/main/img_partner_customer_m.gif" alt="stylenanda, miamasvin, chuu, imvely" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont1_2" class="tabCont" style="display:none;">
                        <a href="#none" class="beauty">
                            <img src="../img/main/img_partner_customer2.gif" alt="aprilskin, abbamart, colingco, ground plan" class="RW">
                            <img src="../img/main/img_partner_customer2_m.gif" alt="aprilskin, abbamart, colingco, ground plan" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont1_3" class="tabCont" style="display:none;">
                        <a href="#none" class="baby">
                            <img src="../img/main/img_partner_customer3.gif" alt="thejany, cocogirin, kaiu, hodoostory" class="RW">
                            <img src="../img/main/img_partner_customer3_m.gif" alt="thejany, cocogirin, kaiu, hodoostory" class="RMB">
                        </a>
                    </div>
                    <a href="#none" class="btnMore">K-Style Leaders more</a>
                </div>
                <div class="partner cooperation">
                    <h2>Global Networks</h2>
                    <a href="#none"><strong class="head">Working with the best global e-commerce partners.</strong></a>
                    <ul class="mTab typeMain grid4 eTab">
                        <li class="selected"><a href="#tabCont2_1">Open Market</a></li>
                        <li><a href="#tabCont2_2">Marketing Channels</a></li>
                        <li><a href="#tabCont2_3">PG</a></li>
                        <li><a href="#tabCont2_4">Shipping & Logistics</a></li>
                    </ul>
                    <div id="tabCont2_1" class="tabCont" style="display:block;">
                        <a href="#none" class="fashion">
                            <img src="../img/main/img_partner_cooperation.gif" alt="Open Market: TMALL, JD.com, mogujie, LAZADA, Rakuten, amazon" class="RW">
                            <img src="../img/main/img_partner_cooperation_m.gif" alt="Open Market: TMALL, JD.com, mogujie, LAZADA, Rakuten, amazon" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont2_2" class="tabCont" style="display:none;">
                        <a href="#none" class="beauty">
                            <img src="../img/main/img_partner_cooperate2.gif" alt="Marketing Channels: Baidu, sina, google, facebook, yahoo, weibo" class="RW">
                            <img src="../img/main/img_partner_cooperate2_m.gif" alt="Marketing Channels: Baidu, sina, google, facebook, yahoo, weibo" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont2_3" class="tabCont" style="display:none;">
                        <a href="#none" class="baby">
                            <img src="../img/main/img_partner_cooperation3.gif" alt="PG: alipay, axes, paypal, ecpay, soft bank" class="RW">
                            <img src="../img/main/img_partner_cooperation3_m.gif" alt="PG: alipay, axes, paypal, ecpay, soft bank" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont2_4" class="tabCont" style="display:none;">
                        <a href="#none" class="baby">
                            <img src="../img/main/img_partner_cooperate4.gif" alt="Shipping & Logistics: EMS, sagawa, yamato, Quantium Solutions" class="RW">
                            <img src="../img/main/img_partner_cooperate4_m.gif" alt="Shipping & Logistics: EMS, sagawa, yamato, Quantium Solutions" class="RMB">
                        </a>
                    </div>
                    <a href="#none" class="btnMore">Global Networks more</a>
                </div>
            </section>
            <section class="peopleArea">
                <div class="people">
                    <h2>People</h2>
                    <div class="slide">
                        <div class="view touchslider-people">
                            <ul>
                                <li>
                                    <div class="braces">
                                        <p class="info">"Your global market dreams can come true <br class="RW">at cafe24."</p>
                                        <img src="../img/main/img_people2.jpg" class="thumb" alt="">
                                        <p class="member">EC Service<strong class="name">Woo Ram Kim</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">"cafe24, a great place to grow as a person!"</p>
                                        <img src="../img/main/img_people7.jpg" class="thumb" alt="">
                                        <p class="member">Global E-Commerce<strong class="name">Daniel Baek</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">"Show all your talents and capacity."</p>
                                        <img src="../img/main/img_people8.jpg" class="thumb" alt="">
                                        <p class="member">Translation Optimization<strong class="name">Muramatsu Yuri</strong></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="paginate">
                            <button type="button" class="prev">prev</button>
                            <button type="button" class="next">next</button>
                        </div>
                    </div>
                </div>
                <div class="recruit">
                    <h2>Recruiting</h2>
                    <a href="#none">
                        <p class="info">Discover your next great career opportunity at <span class="txtEm">cafe24</span>.</p>
                        <img src="../img/main/img_recruit1.jpg" class="thumb" alt="">
                    </a>
                </div>
            </section>
        </div><!-- //contents -->
    </div>
<?php require('../include/footer_en.html'); ?>