<?php require('../include/header.html'); ?>
    <div id="container" class="main">
        <div class="visual">
            <div class="slide touchslider-main">
                <ul class="view">
                    <li><img src="../img/main/img_visual2.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual4.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual6.jpg" alt=""></li>
                </ul>
            </div>
            <div class="btnArea">
                <button type="button" class="btnPrev">prev</button>
                <button type="button" class="btnNext">next</button>
            </div>
        </div>

        <!-- contents -->
        <div id="contents">
            <section class="cafe24Area">
                <div class="platform">
                    <h2>글로벌 전자상거래 플랫폼</h2>
                    <a href="#none">
                        <strong class="head">안정적인 인프라를 기반으로 글로벌 쇼핑몰의 구축부터 글로벌 브랜드로의 성공까지 함께합니다.</strong>
                        <img src="../img/main/img_platform.jpg" alt="cafe24 인프라 소개">
                        <ul class="blind">
                            <li>인프라: 호스팅센터, 비즈솔루션</li>
                            <li>솔루션: 쇼핑몰센터, 디자인센터, 홈페이지제작센터</li>
                            <li>운영: 쇼핑몰센터</li>
                            <li>창업교육: 창업센터, 교육센터</li>
                            <li>마케팅: 마케팅센터</li>
                        </ul>
                    </a>
                </div>
                <div class="media">
                    <h2>미디어</h2>
                    <ul>
                        <li>
                            <a href="#none">
                                <strong class="head multiEllipsis">[아주초대석] 이재석 심플렉스인터넷(카페24) 대표 " 중국 전자상거래 신세대 소비자군 부상"[아주초대석] 이재석 심플렉스인터넷(카페24) 대표 " 중국 전자상거래 신세대 소비자군 부상"</strong>
                                <p class="summary multiEllipsis">이 대표는 “새로운 소비주체는 모바일 인터넷으로 무장한 인터넷 세대로 '인터넷+'와도 맞물린 소비패턴을 가지고 있다”며 “중국 내부역량의 확충 및 빠른 경제 성장의 키를 쥐고이 대표는 “새로운 소비주체는 모바일 인터넷으로 무장한 인터넷 세대로 '인터넷+'와도 맞물린 소비패턴을 가지고 있다”며 “중국 내부역량의 확충 및 빠른 경제 성장의 키를 쥐고</p>
                            </a>
                        </li>
                        <li>
                            <a href="#none">
                                <strong class="head multiEllipsis">[아주초대석] 이재석 심플렉스인터넷(카페24) 대표 " 중국 전자상거래 신세대 소비자군 부상"[아주초대석] 이재석 심플렉스인터넷(카페24) 대표 " 중국 전자상거래 신세대 소비자군 부상"</strong>
                                <p class="summary multiEllipsis">이 대표는 “새로운 소비주체는 모바일 인터넷으로 무장한 인터넷 세대로 '인터넷+'와도 맞물린 소비패턴을 가지고 있다”며 “중국 내부역량의 확충 및 빠른 경제 성장의 키를 쥐고이 대표는 “새로운 소비주체는 모바일 인터넷으로 무장한 인터넷 세대로 '인터넷+'와도 맞물린 소비패턴을 가지고 있다”며 “중국 내부역량의 확충 및 빠른 경제 성장의 키를 쥐고</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="partner customer">
                    <h2>고객 파트너</h2>
                    <a href="#none"><strong class="head">국내외 대표 쇼핑몰들과 함께합니다.</strong></a>
                    <ul class="mTab typeMain grid3 eTab">
                        <li class="selected"><a href="#tabCont1_1">K-Fashion</a></li>
                        <li><a href="#tabCont1_2">K-Beauty</a></li>
                        <li><a href="#tabCont1_3">K-Baby</a></li>
                    </ul>
                    <div id="tabCont1_1" class="tabCont" style="display:block;">
                        <a href="#none" class="fashion">
                            <img src="../img/main/img_partner_customer.gif" alt="스타일난다, 미아마스빈, 츄, 임블리" class="RW">
                            <img src="../img/main/img_partner_customer_m.gif" alt="스타일난다, 미아마스빈, 츄, 임블리" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont1_2" class="tabCont" style="display:none;">
                        <a href="#none" class="beauty">
                            <img src="../img/main/img_partner_customer2.gif" alt="에이프릴스킨, 아바마트, 코링코, 그라운드플랜" class="RW">
                            <img src="../img/main/img_partner_customer2_m.gif" alt="에이프릴스킨, 아바마트, 코링코, 그라운드플랜" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont1_3" class="tabCont" style="display:none;">
                        <a href="#none" class="baby">
                            <img src="../img/main/img_partner_customer3.gif" alt="더제이니, 코코기린, 까이유, 호두스토리" class="RW">
                            <img src="../img/main/img_partner_customer3_m.gif" alt="더제이니, 코코기린, 까이유, 호두스토리" class="RMB">
                        </a>
                    </div>
                    <a href="#none" class="btnMore">고객파트너 더보기</a>
                </div>
                <div class="partner cooperation">
                    <h2>제휴 파트너</h2>
                    <a href="#none"><strong class="head">글로벌 전자상거래 일류기업들과 함께합니다.</strong></a>
                    <ul class="mTab typeMain grid4 eTab">
                        <li class="selected"><a href="#tabCont2_1">오픈마켓</a></li>
                        <li><a href="#tabCont2_2">마케팅채널</a></li>
                        <li><a href="#tabCont2_3">PG사</a></li>
                        <li><a href="#tabCont2_4">물류배송</a></li>
                    </ul>
                    <div id="tabCont2_1" class="tabCont" style="display:block;">
                        <a href="#none" class="fashion">
                            <img src="../img/main/img_partner_cooperation.gif" alt="해외 오픈마켓: 티몰, 제이디닷컴, 모구지에, 라자다, 라쿠텐, 아마존" class="RW">
                            <img src="../img/main/img_partner_cooperation_m.gif" alt="해외 오픈마켓: 티몰, 제이디닷컴, 모구지에, 라자다, 라쿠텐, 아마존" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont2_2" class="tabCont" style="display:none;">
                        <a href="#none" class="beauty">
                            <img src="../img/main/img_partner_cooperate2.gif" alt="바이두, 시나, 구글, 페이스북, 야후, 웨이보" class="RW">
                            <img src="../img/main/img_partner_cooperate2_m.gif" alt="바이두, 시나, 구글, 페이스북, 야후, 웨이보" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont2_3" class="tabCont" style="display:none;">
                        <a href="#none" class="baby">
                            <img src="../img/main/img_partner_cooperation3.gif" alt="PG사: 알리페이, 엑시즈, 페이팔, ec페이, 소프트뱅크" class="RW">
                            <img src="../img/main/img_partner_cooperation3_m.gif" alt="PG사: 알리페이, 엑시즈, 페이팔, ec페이, 소프트뱅크" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont2_4" class="tabCont" style="display:none;">
                        <a href="#none" class="baby">
                            <img src="../img/main/img_partner_cooperate4.gif" alt="EMS, 사가와, 야마토, Quantium Solutions" class="RW">
                            <img src="../img/main/img_partner_cooperate4_m.gif" alt="EMS, 사가와, 야마토, Quantium Solutions" class="RMB">
                        </a>
                    </div>
                    <a href="#none" class="btnMore">고객파트너 더보기</a>
                </div>
            </section>
            <section class="peopleArea">
                <div class="people">
                    <h2>피플</h2>
                    <div class="slide">
                        <div class="view touchslider-people">
                            <ul>
                                <li>
                                    <div class="braces">
                                        <p class="info">"글로벌 시장을 향한 꿈을 이룰수 있는 곳 <br class="RW">카페24에서 함께해요."</p>
                                        <img src="../img/main/img_people2.jpg" class="thumb" alt="">
                                        <p class="member">EC서비스팀<strong class="name">김우람님</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">"함께 성장할 수 있는 곳, 카페24로 오세요!"</p>
                                        <img src="../img/main/img_people7.jpg" class="thumb" alt="">
                                        <p class="member">글로벌이커머스팀<strong class="name">백금흔님</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">"카페24에서 재능과 역량을 마음껏 펼쳐보세요~"</p>
                                        <img src="../img/main/img_people8.jpg" class="thumb" alt="">
                                        <p class="member">번역최적화팀<strong class="name">무라마츠유리님</strong></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="paginate">
                            <button type="button" class="prev">이전</button>
                            <button type="button" class="next">다음</button>
                        </div>
                    </div>
                </div>
                <div class="recruit">
                    <h2>채용</h2>
                    <a href="#none">
                        <p class="info">가치있고 새로운 미래를 열어갈 발걸음<br><span class="txtEm">카페24</span>에서 함께 꿈을 이뤄갈 인재를 모십니다.</p>
                        <img src="../img/main/img_recruit1.jpg" class="thumb" alt="">
                    </a>
                </div>
            </section>
        </div><!-- //contents -->
    </div>
<?php require('../include/footer.html'); ?>