<?php require('../include/header_cn.html'); ?>
    <div id="container" class="main">
        <div class="visual">
            <div class="slide touchslider-main">
                <ul class="view">
                    <li><img src="../img/main/img_visual1_cn.jpg"alt=""></li>
                    <li><img src="../img/main/img_visual2_cn.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual3_cn.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual4_cn.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual5_cn.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual6_cn.jpg" alt=""></li>
                    <li><img src="../img/main/img_visual7_cn.jpg" alt=""></li>
                </ul>
            </div>
            <div class="btnArea">
                <button type="button" class="btnPrev">prev</button>
                <button type="button" class="btnNext">next</button>
            </div>
        </div>

        <!-- contents -->
        <div id="contents">
            <section class="cafe24Area">
                <div class="platform">
                    <h2>全球电子商务平台</h2>
                    <a href="#none">
                        <strong class="head">以安全稳定的IT基础设施 构建跨境购物网站，助您成功打造国际品牌。</strong>
                        <img src="../img/main/img_platform_cn.jpg" alt="全球电子商务平台">
                        <ul class="blind">
                            <li>基础设施: 托管中心, BIZ解决方案</li>
                            <li>解决方案: 网店中心, 设计中心, 建站中心</li>
                            <li>运营: 网店中心</li>
                            <li>创业教育: 创业中心, 教育中心</li>
                            <li>市场推广: 市场营销中心</li>
                        </ul>
                    </a>
                </div>
                <div class="media">
                    <h2>媒体报道</h2>
                    <ul>
                        <li>
                            <a href="#none">
                                <strong class="head multiEllipsis">韩国最大电商代运营开75万网店 还做跨境韩国最大电商代运营开75万网店 还做跨境韩国最大电商代运营开75万网店 还做跨境韩国最大电商代运营开75万网店 还做跨境</strong>
                                <p class="summary multiEllipsis">韩国首尔2016年5月24日电 /美通社/ -- 以自制商品备受顾客喜爱的韩国服装品牌“REPLAY CONTAINER (www.replaycontainer.com)” 的代表张宇赫表示：“从事业初期开始就有来自世界各地的客户咨询签订合同一事。我们打算今后以发展成大众认可的国际化品牌为目标，经过认真的准备，积极打入国际市场。”</p>
                            </a>
                        </li>
                        <li>
                            <a href="#none">
                                <strong class="head multiEllipsis">韩国最大电商代运营开75万网店 还做跨境韩国最大电商代运营开75万网店 还做跨境韩国最大电商代运营开75万网店 还做跨境韩国最大电商代运营开75万网店 还做跨境</strong>
                                <p class="summary multiEllipsis">韩国首尔2016年4月29日电 /美通社/ -- 最近，追求高品位生活质量的20~30岁年龄段的新一代辣妈们，正引领着中国婴儿童服装的流行趋势。这一代人成长在改革开放之后，相对富裕的经济环境，喜欢高品质产品，追求理性消费。</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="partner customer">
                    <h2>客户</h2>
                    <a href="#none"><strong class="head">韩国代表性的购物网站</strong></a>
                    <ul class="mTab typeMain grid3 eTab">
                        <li class="selected"><a href="#tabCont1_1">K-Fashion</a></li>
                        <li><a href="#tabCont1_2">K-Beauty</a></li>
                        <li><a href="#tabCont1_3">K-Baby</a></li>
                    </ul>
                    <div id="tabCont1_1" class="tabCont" style="display:block;">
                        <a href="#none" class="fashion">
                            <img src="../img/main/img_partner_customer.gif" alt="stylenanda, miamasvin, chuu, imvely" class="RW">
                            <img src="../img/main/img_partner_customer_m.gif" alt="stylenanda, miamasvin, chuu, imvely" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont1_2" class="tabCont" style="display:none;">
                        <a href="#none" class="beauty">
                            <img src="../img/main/img_partner_customer2.gif" alt="aprilskin, abbamart, colingco, ground plan" class="RW">
                            <img src="../img/main/img_partner_customer2_m.gif" alt="aprilskin, abbamart, colingco, ground plan" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont1_3" class="tabCont" style="display:none;">
                        <a href="#none" class="baby">
                            <img src="../img/main/img_partner_customer3.gif" alt="thejany, cocogirin, kaiu, hodoostory" class="RW">
                            <img src="../img/main/img_partner_customer3_m.gif" alt="thejany, cocogirin, kaiu, hodoostory" class="RMB">
                        </a>
                    </div>
                    <a href="#none" class="btnMore">客户 更多</a>
                </div>
                <div class="partner cooperation">
                    <h2>合作伙伴</h2>
                    <a href="#none"><strong class="head">全球顶尖电商企业</strong></a>
                    <ul class="mTab typeMain grid4 eTab">
                        <li class="selected"><a href="#tabCont2_1">电商平台</a></li>
                        <li><a href="#tabCont2_2">市场营销</a></li>
                        <li><a href="#tabCont2_3">网上支付</a></li>
                        <li><a href="#tabCont2_4">物流配送</a></li>
                    </ul>
                    <div id="tabCont2_1" class="tabCont" style="display:block;">
                        <a href="#none" class="fashion">
                            <img src="../img/main/img_partner_cooperation.gif" alt="电商平台: TMALL, JD.com, mogujie, LAZADA, Rakuten, amazon" class="RW">
                            <img src="../img/main/img_partner_cooperation_m.gif" alt="电商平台: TMALL, JD.com, mogujie, LAZADA, Rakuten, amazon" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont2_2" class="tabCont" style="display:none;">
                        <a href="#none" class="beauty">
                            <img src="../img/main/img_partner_cooperate2.gif" alt="市场营销: Baidu, sina, google, facebook, yahoo, weibo" class="RW">
                            <img src="../img/main/img_partner_cooperate2_m.gif" alt="市场营销: Baidu, sina, google, facebook, yahoo, weibo" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont2_3" class="tabCont" style="display:none;">
                        <a href="#none" class="baby">
                            <img src="../img/main/img_partner_cooperation3.gif" alt="网上支付: alipay, axes, paypal, ecpay, soft bank" class="RW">
                            <img src="../img/main/img_partner_cooperation3_m.gif" alt="网上支付: alipay, axes, paypal, ecpay, soft bank" class="RMB">
                        </a>
                    </div>
                    <div id="tabCont2_4" class="tabCont" style="display:none;">
                        <a href="#none" class="baby">
                            <img src="../img/main/img_partner_cooperate4.gif" alt="物流配送: EMS, sagawa, yamato, Quantium Solutions" class="RW">
                            <img src="../img/main/img_partner_cooperate4_m.gif" alt="物流配送: EMS, sagawa, yamato, Quantium Solutions" class="RMB">
                        </a>
                    </div>
                    <a href="#none" class="btnMore">合作伙伴 更多</a>
                </div>
            </section>
            <section class="peopleArea">
                <div class="people">
                    <h2>人才</h2>
                    <div class="slide">
                        <div class="view touchslider-people">
                            <ul>
                                <li>
                                    <div class="braces">
                                        <p class="info">"实现迈向全球市场的梦想，<br class="RW">cafe24与你携手共进。"</p>
                                        <img src="../img/main/img_people2.jpg" class="thumb" alt="">
                                        <p class="member">EC服务部<strong class="name">金友览</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">"来cafe24吧，一起成长！"</p>
                                        <img src="../img/main/img_people7.jpg" class="thumb" alt="">
                                        <p class="member">全球事业部<strong class="name">白金昕</strong></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="braces">
                                        <p class="info">"在cafe24尽情的发挥你的才能~"</p>
                                        <img src="../img/main/img_people8.jpg" class="thumb" alt="">
                                        <p class="member">翻译优化部<strong class="name">村松 由里</strong></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="paginate">
                            <button type="button" class="prev">prev</button>
                            <button type="button" class="next">next</button>
                        </div>
                    </div>
                </div>
                <div class="recruit">
                    <h2>招聘</h2>
                    <a href="#none">
                        <p class="info"><span class="txtEm">cafe24</span>欢迎与我们共同开创美好未来，一起圆梦的人才。</p>
                        <img src="../img/main/img_recruit1.jpg" class="thumb" alt="">
                    </a>
                </div>
            </section>
        </div><!-- //contents -->
    </div>
<?php require('../include/footer_cn.html'); ?>