<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>현재페이지타이틀</title>
    <link rel="stylesheet" type="text/css" href="/css/suio.css" media="all" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="//img.echosting.cafe24.com/css/ec/서비스별.css" media="all" charset="utf-8" />
    <script type="text/javascript" src="//img.echosting.cafe24.com/js/jquery-1.4.4.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="//img.echosting.cafe24.com/js/suio.js" charset="utf-8"></script>
</head>
<body class="gMargin">
<div class="headingArea">
    <div class="mTitle">
        <h1>페이지별 타이틀</h1>
    </div>
    <div class="mBreadcrumb">
        <ol>
            <li class="home">홈</li>
            <li>뎁스1</li>
            <li>뎁스2</li>
            <li>뎁스3</li>
            <li class="now" title="현재 페이지">현재페이지타이틀</li>
        </ol>
    </div>
</div>

<div id="QA_아이디1" class="section">

</div>

<div id="QA_아이디2" class="section">

</div>

<div id="QA_아이디3" class="section">

</div>

<!-- 참고 : UI개발팀 퍼블리싱 정합성 체크용 JS. 실서비스 배포 절대금지 -->
<script type="text/javascript" src="/suio/js/debug.js" charset="utf-8"></script><!-- //참고 -->
</body>
</html>