<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>현재페이지타이틀</title>
    <link rel="stylesheet" type="text/css" href="/css/suio.css" media="all" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="//img.echosting.cafe24.com/css/ec/서비스별.css" media="all" charset="utf-8" />
    <script type="text/javascript" src="/js/jquery-1.4.4.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="//img.echosting.cafe24.com/js/suio.js" charset="utf-8"></script>
</head>
<body id="popup" size="600,600"><!-- 참고 : size 속성은 팝업 가로/세로 체크용입니다. 개발진행시에 팝업사이즈에 적용해주시고, size 는 삭제해주세요. -->
<div id="wrap">
    <div class="headingArea">
        <div class="mTitle">
            <h1>페이지별 타이틀</h1>
        </div>
    </div>

    <div id="QA_아이디1" class="section">

    </div>
</div>

<div id="footer">
    <a href="#none" class="btnSubmit"><span>확인</span></a>
    <a href="#none" class="btnEm" onclick="window.close();"><span>닫기</span></a>
</div>

<!-- 참고 : UI개발팀 퍼블리싱 정합성 체크용 JS. 실서비스 배포 절대금지 -->
<script type="text/javascript" src="/suio/js/debug.js" charset="utf-8"></script><!-- //참고 -->
</body>
</html>