@charset "utf-8";

/* skip navigation */
#skipNavigation { position:absolute; top:0; left:0; z-index:100; width:100%; }
#skipNavigation a { position:absolute; top:0; left:-99999px; display:block; width:100%; height:30px; background:#c4122f; color:#fff; line-height:30px; text-align:center; }
#skipNavigation a:first-child { background:#ff5e26; }
#skipNavigation a:focus, #skipNavigation a:active { left:0; }

/* Layout */
body { height:100%; min-width:1260px; background:none; }

#wrap { position:relative; min-width:1240px; height:100%; background:url("//img.echosting.cafe24.com/scm/dhub/admin/bg_sidebar.gif") repeat-y 0 0; }
#container { position:relative; min-height:100%; margin:-30px 0 -170px 0; *zoom:1; }
    #wrap.open #container { background:url("//img.echosting.cafe24.com/scm/dhub/admin/bg_wrap.gif") repeat-y 0 0; }
    #wrap.close #container { background:url("//img.echosting.cafe24.com/scm/dhub/admin/bg_wrap.gif") repeat-y -193px 0; }
    #wrap.close #container,
    #wrap.close #container .contentWrap { padding-left:20px; }
#container .contentWrap { padding:30px 6px 180px 212px; }
#container .contentWrap:after { content:""; display:block; clear:both; }
#content { float:left; width:100%; }


/* [팝업] 리셋 */
body#popup { height:auto; }
#popup #wrap { position:static; min-width:0; min-height:0; background:none; }

/* Header */
#header { position:relative; z-index:1; height:30px; background:url("//img.echosting.cafe24.com/scm/dhub/admin/bg_header.gif") repeat-x 0 0;
  -moz-box-shadow:    0 2px 2px 0 #666;
  -webkit-box-shadow: 0 2px 2px 0 #666;
  box-shadow:         0 2px 2px 0 #666;
}
#header .header { max-width:1260px; height:30px; }
#header .header:after { content:""; display:block; clear:both; }
#header h1 { float:left; margin:4px 0 0 20px; }
#header .topMenu { float:right; }
#header .topMenu .member { float:left; margin:5px 6px 0 0; }

#header .topMenu .member strong a { padding:0 4px 0 0; font-weight:normal; font-size:11px; color:#b4b5b8; }
#header .topMenu .member .logout,
#header .topMenu .member .login { display:inline-block; width:59px; height:22px; margin:-1px 0 0; font-size:0; line-height:0; vertical-align:middle; background-image:url("//img.echosting.cafe24.com/scm/dhub/admin/sfix_btn.png"); background-repeat:no-repeat; }
#header .topMenu .member .logout { background-position:0 0; }
#header .topMenu .member .login { background-position:0 -32px; }
#header .topMenu .member .util { display:inline-block; margin:0 0 0 15px; vertical-align:middle; font-size:0; line-height:0; }
#header .topMenu .member .util li { display:inline-block; padding-left:1px; vertical-align:middle; }
#header .topMenu .member .util li a { display:inline-block; padding:0 12px; font-size:11px; line-height:22px; color:#8e94a3; background:url("//img.echosting.cafe24.com/scm/dhub/admin/bg_header_util.gif") no-repeat 0 50%; }
#header .topMenu .member .util li:first-child a { background:none; }
#header .topMenu .member .util li.hscode a { color:#aab0c0; }

/* Sidebar */
#sidebar { float:left; width:193px; margin:0 0 0 -212px; border-right:1px solid #aaa19a; font-family:"돋움", Dotum; }
#sidebar #snb { margin:0 0 28px; }
#sidebar #snb .title { padding:26px 0 25px 0; border-bottom:1px solid #d0cfd5; }
#sidebar #snb .title h2 { font-size:16px; color:#3c4451; text-align:center; }
#toggle { position:absolute; top:250px; left:193px; width:13px; }
    #wrap.close #toggle { left:0;  }
    #wrap.close #sidebar { display:none; }
    #toggle button { overflow:hidden; display:block; width:10px; height:75px; background:url("//img.echosting.cafe24.com/scm/dhub/admin/sfix_sidebar.png") repeat-x 0 0; }
    #toggle button > span { display:block; text-indent:150%; white-space:nowrap; }
    #toggle #btnSidebarTop { height:39px; background-position:0 0;}
    #toggle #btnSidebarBottom { height:39px; background-position:-15px 0;}
    #wrap #toggle #btnSidebarToggle { background-position:0 -50px;}
    #wrap.close #toggle #btnSidebarToggle { background-position: -15px -50px;}

#snb .sideMenu li a { color:#4f4f4f; text-decoration:none; word-wrap:break-word; word-break:break-all; background:url("//img.echosting.cafe24.com/scm/dhub/admin/sfix_menu.png") no-repeat 100% 9px; }
#snb .sideMenu li a:hover { color:#ff5912; }
#snb .sideMenu > li > a { display:block; padding:8px 12px 9px 15px; font-size:12px; font-weight:bold; border-top:1px solid #fff; border-bottom:1px solid #d9cfc6; }
#snb .sideMenu > li.expandable > a { background-position:; }
#snb .sideMenu > li.expandable > a:hover { background-position:; }
#snb .sideMenu > li.collapsable > a { background-position:100% -41px; }
#snb .sideMenu > li.selected > a { background-position:95% -90px; }
#snb .sideMenu > li > ul { display:none; }
#snb .sideMenu > li.collapsable > ul { display:block; border-bottom:1px solid #d9cfc6; }
#snb .sideMenu > li > ul > li > a { display:block; padding:8px 28px 7px 25px; font-size:11px; border-bottom:1px solid #efefef; background-color:#fff; background-image:none; }
#snb .sideMenu > li > ul > li > a:hover { color:#ff5912; }
#snb .sideMenu > li > ul > li.selected > a { border:1px solid #d56d17; color:#fff; font-weight:bold;letter-spacing: -1px; background:#f88e36 url("//img.echosting.cafe24.com/scm/dhub/admin/sfix_menu.png") no-repeat 100% -90px; }

  /* 환율정보 */
  #sidebar .sideExchange { position:relative; margin:-8px 9px 20px; padding:9px; border:1px solid #d8cfca; background:#eae5e1; }
  #sidebar .sideExchange .heading { font-size:12px; color:#2c2c2c; letter-spacing:-0.6px; line-height:18px; }
  #sidebar .sideExchange .heading .date { font-size:11px; color:#8d8d8d; font-family:Verdana; font-weight:normal; }
  #sidebar .sideExchange .info { overflow:hidden; margin:2px 0 0; font-size:11px; color:#2c2c2c; }
  #sidebar .sideExchange .info dt { clear:both; float:left; margin:10px 0 0; }
  #sidebar .sideExchange .info dd { float:right; margin:10px 0 0; color:#ff6b37; font-family:Verdana; }
  #sidebar .sideExchange .btnMore { position:absolute; top:9px; right:9px; }

  /* 고객센터 */
  #sidebar .customerCenter { margin:0 10px; padding:10px; border:1px solid #d9cfc6; color:#474646; background:#eae5e0; }
  #sidebar .customerCenter h3 { margin:0 0 10px; }
  #sidebar .customerCenter li { margin:0 0 8px; font-family:verdana, sans-serif; font-size:11px; }
  #sidebar .customerCenter li.tel { color:#696968; font-size:18px; font-weight:bold; }
  #sidebar .customerCenter li strong { font-family:Gulim, sans-serif; font-weight:normal; }
  #sidebar .customerCenter li.email a { letter-spacing:-0.03em; color:#474646; }
  #sidebar .customerCenter li:last-child { margin:0; }

/* Footer */
#footer { position:relative; padding:15px 0 20px 0; border-top:1px solid #dadada; color:#949698; font-size:11px; line-height:1.6; background-color:#f9f9f9; }
#footer h1 { display:inline-block; margin:30px 0 0 20px; vertical-align:top; }
#footer .inner { display:inline-block; margin-left:40px; text-align:left; }
#footer .inner .util { margin:0 0 10px 0; }
#footer .inner .util li { display:inline-block; padding:0 6px 0 10px; font-weight:bold; font-size:11px;  background:url('//img.echosting.cafe24.com/scm/dhub/admin/bg_footer_util.gif') no-repeat 0 6px; }
#footer .inner .util li:first-child { padding-left:0; background:none; }
#footer .inner .address strong { font-size:12px; color:#4c4c4d; }
#footer .inner .copyright { font-size:12px; margin:15px 0 0 0; color:#4a4949; }
    #login #footer { position:absolute; bottom:0; width:100%; margin:0; text-align:center; border-top:1px solid #dadada; background:#fff; }

/* 로그인 */
#login > h1 { position:relative; top:177px; width:360px; margin:0 auto; padding:0 0 20px; }
.loginArea { position:relative; min-height:100%; position:relative; top:177px; width:100%; margin:0 auto; padding:76px 0 0; min-height:226px; background:#5c6671; }
    .mLogin { margin:0 auto; width:360px; }
    .mLogin fieldset { position:relative; width:360px; margin:20px 0 0; }
    .mLogin span { position:relative;display:block; margin:1px 0 8px; }
    .mLogin span label { position:absolute; left:8px; top:8px; color:#343434; font-size:13px; font-weight:bold; }
    .mLogin .fText { width:170px; height:28px; padding:0 8px 0 70px; line-height:28px; border:1px solid #3e4853; font-size:13px; font-family:dotum, sans-serif; color:#343434; }
    .mLogin .fText:focus { border-color:#4aaaea; }
    .mLogin a.btnLogin { overflow:hidden; position:absolute; right:0; top:0; *top:2px; width:98px; height:70px; background:url('//img.echosting.cafe24.com/scm/dhub/admin/bg_login_btn.png') 0 0 no-repeat; }
    .mLogin a.btnLogin span { display:block; text-indent:-150%; }
    .mLogin .gLabel { padding-top:3px; font-size:12px; font-family:dotum, sans-serif; color:#ffffff; font-weight:normal; }
    .mLogin .fChk { height:20px; line-height:20px; }
#login .footer { margin:257px 0 0; padding:15px 0 20px 0; border:0; text-align:center; background:none; }

/* 비밀번호 변경 */
.mBox.typeBorder.password { padding:31px 0; border:6px solid #eff0f2; font-size:14px; text-align:center; color:#333; }
.mBox.typeBorder.password strong { display:block; color:#f88e36; }

/* 주문관리 테이블 - 스크롤 */
.mBoardArea > .mBoard:before { display:none !important; }
.mBoardArea > .mBoard {outline:none !important; }
.mBoardArea.typeDhub:after { content:""; display:block; clear:both; }
.mBoardArea.typeDhub .mBoard.gFixed { overflow:hidden; float:left; width:450px; width:40%\0/; }
.mBoardArea.typeDhub .mBoard.gScroll {
    position:relative; overflow-x:scroll; float:left; min-width:479px; border-left:0; box-sizing:border-box; height:1% \0/;
    width:60%\0/;
    width: -moz-calc(100% - 450px);
    width: -webkit-calc(100% - 450px);
    width: -o-calc(100% - 450px);
    width: calc(100% - 450px);
}
.mBoardArea.typeDhub .mBoard.gScroll table { margin-left:-1px; }
.mBoardArea.typeDhub .mBoard table th { height:71px; }
.mBoardArea.typeDhub .mBoard table td { height:100px; }
.mBoardArea.typeDhub .mBoard.gScroll th,
.mBoardArea.typeDhub .mBoard.gScroll td { border-right:0; }
.mBoardArea.typeDhub .multiLine { overflow:hidden; height:100%; }

.mBoardArea.typeDhub .empty { float:left; padding:40px 0; width:100%; text-align:center; }

/* 주문상세 - 기본정보 */
.orderInfo { position:relative; padding:0 0 0 370px; }
.orderInfo .invoiceInfo { position:absolute; left:0; width:350px; }
.orderInfo .invoiceInfo dl { border:1px solid #d9dadc; border-bottom:0; }
.orderInfo .invoiceInfo dl dt,
.orderInfo .invoiceInfo dl dd { padding:14px 9px; border-bottom:1px solid #d9dadc; text-align:center; }
.orderInfo .invoiceInfo dl dt { background:#f5f4f4; }
.orderInfo .invoiceInfo dl dd a.txtLink { font-size:14px; }
.orderInfo .invoiceInfo dl dd .condition { position:relative; width:100%; text-align:left; }
.orderInfo .invoiceInfo dl dd .condition .button { position:absolute; top:-4px; right:0; }

/* 바코드배송지시 > 바코드 스캔 */
.scanArea { min-width:790px; }
.scanArea:after { content:""; display:block; clear:both; }
.scanArea .scanSetting,
.scanArea .scanListArea { float:left; }
.scanArea .scanSetting {
    margin:0 9px 0 0; min-width:409px\0/;
    width:540px;
    width: -moz-calc(100% - 231px);
    width: -webkit-calc(100% - 231px);
    width: -o-calc(100% - 231px);
    width: calc(100% - 231px);
}
.scanArea .scanListArea .scanList { overflow-y:scroll; width:220px; height:539px; border:1px solid #d5d5dd; }
.scanArea .scanListArea .scanList dt { padding:11px 10px; border-bottom:1px solid #ebebeb; font-weight:bold; }
.scanArea .scanListArea .scanList li { padding:11px 20px; border-bottom:1px solid #ebebeb; }

/* FB송장번호 출력 용지 설정 */
.mImgSelect.typeInvoice { padding:0 17px; margin-top:-1px; border:1px solid #b9b9b9; }
.mImgSelect.typeInvoice.gDefault li { width:110px; margin:12px 15px 15px; }
.mImgSelect.typeInvoice .border { width:110px; height:80px; line-height:72px; }

.mBoard tr.notice { font-weight:bold; }