@charset "utf-8";

/*  해당 css는 개발팀에서 별도로 관리하고 있는 CSS이며, 이미지서버에 업로드 되지 않습니다.  */

/* skip navigation */
#skipNavigation { position:absolute; top:0; left:0; z-index:100; width:100%; }
#skipNavigation a { position:absolute; top:0; left:-9999px; display:block; width:100%; height:30px; background:#c4122f; color:#fff; line-height:30px; text-align:center; }
#skipNavigation a:first-child { background:#ff5e26; }
#skipNavigation a:focus, #skipNavigation a:active { left:0; }

/* Layout */
body { height:100%; min-width:1240px; background:none; }
body.dashboard #wrap { background:none; }
body.dashboard #container { width:1228px; padding-left:6px; }
body.dashboard #content { float:none; padding-top:26px; }
body.dashboard #footer { margin-left:0; }

#wrap { position:relative; min-width:1240px; min-height:100%; background:url('//img.echosting.cafe24.com/scm/dhub/bg_sidebar.gif') repeat-y 0 0; }
    #wrap.open { background:url('//img.echosting.cafe24.com/scm/dhub/bg_wrap.gif') repeat-y 0 0; }
    #wrap.close { background:url('//img.echosting.cafe24.com/scm/dhub/bg_wrap.gif') repeat-y -194px 0; }
#container { padding:0 6px 0 212px; }
#container:after { content:""; display:block; clear:both; }
    #wrap.close #container { padding-left:20px; }
#content { float:left; width:100%; padding:0 0 30px; }

/* [팝업] 리셋 */
body#popup { height:auto; }/* SCMSERVICE-1694 삭제 대상 */
body#popup { height:auto; min-width:1280px; }/* SCMSERVICE-1694 추가 대상 */
#popup #wrap { position:static; min-width:0; min-height:0; background:none; }

/* 배송현황 확인*/
.mBox.typeEmpty.fastbox { text-align:center; }
.mBox.typeEmpty.fastbox p { margin:20px 0 0; font-family:'Verdana' , sans-serif; font-size:18px; color:#0a65cb; }

/* 패스트박스 배송조회 */
.mTrackOrder { height:60px; margin:18px 0 10px; background:url('//img.echosting.cafe24.com/scm/dhub/bg_fastbox_heading.gif') repeat-x 0 45px ; }
.mTitle > .trackOrder { display:block; height:30px; padding:0; font-size:16px; background:url('//img.echosting.cafe24.com/scm/dhub/bg_fastbox_heading.gif') repeat-x 0 20px;}
.mTranslate { position:absolute; top:0; right:15px; }

/* 패스트박스 배송조회 */
.mBox.trackProgress ol { display:table; width:100%; table-layout:fixed; }
.mBox.trackProgress li { position:relative; display:table-cell; width:25%; padding:118px 0 15px; box-sizing:border-box; color:#9da3aa; font-weight:bold; text-align:center; }
.mBox.trackProgress li:before { content:""; position:absolute; left:-25%; top:50%; color:#c9cfd5; width:50%; height:12px; margin-top:-12px; text-align:center; background:url('//img.echosting.cafe24.com/scm/dhub/bg_fastbox_dot.png') no-repeat center; }
.mBox.trackProgress li:first-child:before { display:none; content:none; }
.mBox.trackProgress li:after { content:""; position:absolute; left:50%; top:15px; z-index:1; display:inline-block; width:94px; height:94px; margin-left:-63px; padding:0 16px; background:url('//img.echosting.cafe24.com/scm/dhub/bg_fastbox_progress.png') no-repeat; }
    .mBox.trackProgress .step1:after { background-position:16px 0; }
    .mBox.trackProgress .step2:after { background-position:-134px 0; }
    .mBox.trackProgress .step3:after { background-position:-284px 0; }
    .mBox.trackProgress .step4:after { background-position:-434px 0; }
    .mBox.trackProgress .step1.selected:after { background-position:0 -150px; }
    .mBox.trackProgress .step2.selected:after { background-position:-134px -150px; }
    .mBox.trackProgress .step3.selected:after { background-position:-284px -150px; }
    .mBox.trackProgress .step4.selected:after { background-position:-434px -150px; }
.mBox.trackProgress li.selected { color:#ee8845; }
.mTracking .title { position:relative; margin:25px 0 20px 78px; font-size:16px; }
.mTracking .title:after { content:""; display:inline-block; vertical-align:middle; margin-left:13px; width:0; height:0; border-left:7px solid transparent; border-right:7px solid transparent; border-top:7px solid #ced1d5; border-radius:4px; }
.mTracking .title strong { color:#ee8845; }

/* 공통 - 기존 */
.mTracking .stateStep { position:relative; padding:20px 0 20px 273px; border-top:1px solid #d8dbde; border-bottom:1px solid #d8dbde; }
.mTracking .stateStep:before { content:""; position:absolute; left:239px; top:37px; bottom:37px; display:inline-block; width:1px; background:#e6e8ea; }
.mTracking li { position:relative; padding:10px 0; font-size:12px; line-height:20px; }
.mTracking li:before { content:""; display:inline-block; position:absolute; left:-37px; top:50%; margin-top:-3px; width:7px; height:7px; border-radius:50%; background:#c6c6c6; }
.mTracking [class^="step"]:before { width:34px; height:34px; left:-50px; margin-top:-17px; background:url('//img.echosting.cafe24.com/scm/dhub/bg_fastbox_tracking.png') no-repeat; }
    .mTracking .step2:before { background-position:-50px 0; }
    .mTracking .step3:before { background-position:-100px 0; }
    .mTracking .step4:before { background-position:-150px 0; }
.mTracking .stateStep > li:first-child { color:#ee8845; }
.mTracking .stateStep > li:first-child:before { background-color:#ee8845; }
    .mTracking li:first-child[class^="step"]:before { background-color:transparent; }
    .mTracking li:first-child.step1:before { background-position:0 -50px; }
    .mTracking li:first-child.step2:before { background-position:-50px -50px; }
    .mTracking li:first-child.step3:before { background-position:-100px -50px; }
    .mTracking li:first-child.step4:before { background-position:-150px -50px; }
.mTracking li:first-child .status { font-weight:bold; color:#ee8845; }
.mTracking li:first-child .time { color:#ee8845; }
.mTracking li .status { position:absolute; display:inline-block; width:160px; color:#9da3aa; font-weight:normal; text-align:right; left:-218px; }
.mTracking li .time { margin:0 25px 0 15px; color:#898989; }
.mTracking .icoLabel { display:inline-block; height:18px; margin-left:3px; padding:0 6px; font-style:normal; font-size:12px; vertical-align:top; line-height:18px; border-radius:2px; font-weight:bold; color:#fff; background-color:#1b87d4; cursor:default; }
.mTracking .mList { margin:15px 0 0 78px; }

/* SCMSERVICE-1694 추가 대상 */
/*  inverse  */
.mTracking .inverse [class^="step"]:before { left:-50px; width:34px; height:34px; margin-top:-17px; background:url('//img.echosting.cafe24.com/scm/dhub/bg_fastbox_tracking.png') no-repeat; }
.mTracking .inverse .step2:before { background-position:-50px 0; }
.mTracking .inverse .step3:before { background-position:-100px 0; }
.mTracking .inverse .step4:before { background-position:-150px 0; }
.mTracking .stateStep.inverse > li:first-child { color:#1c1c1c; }
.mTracking .stateStep.inverse > li:last-child { color:#ee8845; }
.mTracking .stateStep.inverse > li:first-child:before { background-color:#c6c6c6; }
.mTracking .stateStep.inverse > li:last-child:before { background-color:#ee8845; }
.mTracking .inverse li:last-child[class^="step"]:before { background-color:transparent; }
    .mTracking .inverse li:first-child.step1:before { background-position:0 0px; }
    .mTracking .inverse li:first-child.step2:before { background-position:-50px 0px; }
    .mTracking .inverse li:first-child.step3:before { background-position:-100px 0px; }
    .mTracking .inverse li:first-child.step4:before { background-position:-150px 0px; }
    .mTracking .inverse li:last-child.step1:before { background-position:0 -50px; }
    .mTracking .inverse li:last-child.step2:before { background-position:-50px -50px; }
    .mTracking .inverse li:last-child.step3:before { background-position:-100px -50px; }
    .mTracking .inverse li:last-child.step4:before { background-position:-150px -50px; }
.mTracking .inverse li:first-child .status { color:#9da3aa; font-weight:normal;  }
.mTracking .inverse li:first-child .time { color:#898989; }
.mTracking .inverse li:last-child .status { font-weight:bold; color:#ee8845; }
.mTracking .inverse li:last-child .time { color:#ee8845; }
/* //SCMSERVICE-1694 */

.mBox.trackInfo { padding:15px 0; }
.mBox.trackInfo li { position:relative; display:inline-block; width:33.1%; margin:6px 0; padding-left:78px; box-sizing:border-box; color:#1b87d4; }
.mBox.trackInfo li strong { color:#1c1c1c; }
.mBox.trackInfo li .txtLink { color:#1b87d4; font-weight:bold; }
.mBox.trackInfo li:before { content:""; display:inline-block; height:12px; border-right:1px solid #b1b1b1; position:absolute; right:0; top:2px; }
.mBox.trackInfo li.line:before { display:none; content:none; }
