/* prdInfo */
.prdInfo { min-width:292px; padding:7px 14px 0; border-bottom:1px solid #d5d5d5; background-color:#fff; }
.prdInfo .description { padding:7px 0; min-height:82px; *zoom:1; }
.prdInfo .description:after { display:block; content:""; clear:both; }
.prdInfo .description .prdImg { float:left; width:73px; margin:0 15px 0 0; border:1px solid #d5d5d5; }
.prdInfo .description .prdImg img { width:100%; }
.prdInfo .description .prdDesc { float:left; width:68%; }
.prdInfo .description .prdName { display:block; margin:0 0 14px; font-size:13px; }
.prdInfo .description ul.info { font-size:11px; line-height:11px; }
.prdInfo .description ul.info li { margin:0 0 7px; color:#757575; }
.prdInfo .description ul.info li.mileage img { margin:0 0 2px; vertical-align:top; }
.prdInfo .description ul.info li.price { color:#000; font-size:13px; line-height:16px; }
.prdInfo .description ul.info li.price span > span { font-size:11px; }
.prdInfo .description .discount { margin:0; display:block; text-decoration:line-through; }
.prdInfo .description .discount strong { font-weight:normal; font-size:11px; }

.prdInfo .description .info li .quantity { display:inline-block; font-size:13px; color:#000; }
.prdInfo .description .info li .quantity button { border:0; }
.prdInfo .description .info li .quantity input[type="text"] { width:51px; text-align:right; }

.prdInfo .option { padding:14px 0; border-top:1px solid #ececec; }
.prdInfo .option .file a { margin:0 0 0 4px; padding:0 0 0 11px; color:#80aeef; text-decoration:underline; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/order/ico_attach.png") no-repeat 0 0; background-size:8px 13px; }
.prdInfo .status { padding:0 14px; font-weight:bold; color:#508bed; background:#f1f1f1; }
.prdInfo .status:after { content:""; display:block; clear:both; }
.prdInfo .status .button { float:right; }
.prdInfo .status .button .btnBasic { background-color:#fff; }
.prdInfo .prdTotal { padding:14px 0 7px; border-top:1px solid #ececec; text-align:right; font-size:13px; background-color:#fff; }
.prdInfo > .btnArea.typeFull { margin:0 auto; padding:7px 0 6px; }

.prdInfo .gFooter { margin:0 -14px; padding:0 14px; border-top:0; line-height:43px; background-color:#f1f1f1; }

/* prdInfo + gBox */
.prdInfo.gBox { margin:7px 0 0; border:1px solid #d5d5d5; }
.prdInfo.gBox:first-child { margin-top:0; }

    /* 옵션변경 레이어 */
    .prdInfo .optionList > li { border-top:1px solid #ececec; }
    .prdInfo .optionList .name { position:relative; padding:14px 100px 14px 0; line-height:28px; font-size:13px; }
    .prdInfo .optionList .name .btnBasic { position:absolute; right:0; top:14px; }
    .prdInfo .optionList .name .file a { margin:0 0 0 4px; padding:0 0 0 11px; color:#80aeef; text-decoration:underline; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/order/ico_attach.png") no-repeat 0 0; background-size:8px 13px; }
    .prdInfo .layerOptionModify { display:none; margin:0 auto 14px; padding:14px; border:1px solid #d5d5d5; background-color:#f1f1f1; }
    .prdInfo .layerOptionModify li span { display:inline-block; width:74px; line-height:27px; font-size:13px; color:#757575; }
    .prdInfo .layerOptionModify li strong { font-weight:normal; float:right; display:inline-block; width:auto; }
    .prdInfo .layerOptionModify li { margin:0 0 7px; }
    .prdInfo .layerOptionModify li:after { content:""; display:block; clear:both; }
    .prdInfo .layerOptionModify .button { text-align:center; }
    .prdInfo .layerOptionModify select,
    .prdInfo .layerOptionModify input[type="text"] { width:70%; float:right; }
    .prdInfo .layerOptionModify .button a.btnBasic { color:#fff; border:1px solid #8c8c8c; background-color:#8c8c8c; }