/* tableList */
.tableList table { word-wrap:break-word; font-size:13px; background:#fff; }
    /* 가로형 */
    .tableList tbody th { padding:14px 4px 14px 14px; border-bottom:1px solid #d5d5d5; font-weight:normal; text-align:left; color:#757575; }
    .tableList tbody td { padding:14px 14px 14px 10px; border-bottom:1px solid #d5d5d5; vertical-align:middle; }

    /* 세로형 */
    .tableList thead th { padding:13px 7px; border:1px solid #d5d5d5; border-right:0; background:#fafafa; }
    .tableList thead+tbody td { padding:13px 7px; border-left:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5; text-align:center; }
    .tableList thead th:first-child,
    .tableList thead+tbody td:first-child { border-left:0; }

    /* tableList+right */
    .tableList.right table tbody td { text-align:right; }
    .tableList.right table .txtEm { font-weight:normal; color:#508bed; }

/* tableWrite */
.tableWrite table { word-wrap:break-word; border:1px solid #d5d5d5; font-size:13px; background:#fff; }
.tableWrite tbody th { padding:7px 4px 6px 10px; border-bottom:1px solid #d5d5d5; font-weight:normal; text-align:left; color:#757575; }
.tableWrite tbody td { padding:7px 10px 6px; border-bottom:1px solid #d5d5d5; vertical-align:middle; }