/* toggleArea */
.toggleArea { position:relative; font-size:12px; }
.toggleArea > .title { position:relative; overflow:hidden; padding:14px 43px 14px 14px; color:#fff; cursor:pointer; line-height:1.3em; background-color:#737782; -webkit-tap-highlight-color:rgba(255,255,255,0); }
.toggleArea > .title:after { display:block; position:absolute; top:0; right:0; content:""; width:40px; height:100%; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_arrow_white.png") no-repeat center; background-size:20px; }
.toggleArea.selected > .title:after,
.toggleArea .toggleArea.selected > .title:after { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); transform:rotate(180deg); }
.toggleArea.disable > .title:after,
.toggleArea .toggleArea.disable > .title:after { background-image:none !important; }
.toggleArea > .title h3 { float:left; font-size:13px; }
.toggleArea > .title span { display:inline-block; word-break:break-all; font-size:13px; }
.toggleArea > .contents,
.toggleArea .toggleArea > .contents { display:none; box-sizing:border-box; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5; }
.toggleArea.selected > .contents,
.toggleAreaeToggle.disable > .contents,
.toggleArea .toggleArea.selected > .contents,
.toggleArea .toggleArea.disable > .contents { display:block; }
.toggleArea .toggleArea > .title,
.toggleArea .toggleArea > .contents { border-left:0; border-right:0; }
    /* 최종 결제 금액(해당 모듈에서 디자인 처리) */
    .toggleArea .tableList table tbody .totalPay,
    .toggleArea .tableList table tbody .totalPay th { color:#508bed; }
    .toggleArea .tableList table tbody .totalPay td { padding:14px 34px 14px 0; text-align:right; }

/* toggleArea typeStrong */
.toggleArea.typeStrong > .title { padding-right:34px; border:1px solid #d5d5d5; border-top:0; text-align:right; color:#1b1b1b; background-color:#f0f0f0; }
.toggleArea.typeStrong > .title:after { background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_arrow_gray.png"); }
.toggleArea.typeStrong > .title h3 { font-weight:normal; color:#508bed; }
.toggleArea.typeStrong .tableList.right table tbody th { padding:9px 0 9px 28px; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/product/ico_bullet.png") 14px center no-repeat; background-size:7px; }
.toggleArea.typeStrong .tableList.right table tbody td { padding:9px 34px 9px 0; }

/* toggleArea typeGuide */
.toggleArea.typeGuide { margin:14px 7px 0; padding:0 0 29px; line-height:1.5; }
.toggleArea.typeGuide dt { position:relative; padding:13px 14px 12px; cursor:pointer; border:1px solid #d5d5d5; border-top:0; background-color:#fff; }
.toggleArea.typeGuide dt:first-child { border-top:1px solid #d5d5d5; }
.toggleArea.typeGuide dt:after { position:absolute; top:0; right:0; content:""; width:40px; height:100%; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_arrow_gray.png") no-repeat center; background-size:20px; }
.toggleArea.typeGuide dd { display:none; padding:10px; border:1px solid #d5d5d5; border-top:0; background-color:#f5f5f6; }
.toggleArea.typeGuide dd.selected { display:block; }
.toggleArea.typeGuide dt.selected:after { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); transform:rotate(180deg); background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_arrow_gray.png"); }


    /* 토글안의 토글 (중첩) */
    .toggleArea .toggleArea > .title:after { background-image:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/layout/ico_arrow_gray.png"); }
        /* toggleArea toggleArea.subStrong */
        .toggleArea .toggleArea.subStrong > .title { padding-right:34px; border-bottom:1px solid #d5d5d5; text-align:right; color:#1b1b1b; background-color:#f0f0f0; }
        .toggleArea .toggleArea.subStrong > .title h3 { font-weight:normal; color:#757575; }
        .toggleArea .toggleArea.subStrong .tableList.right table tbody th { padding:9px 0 9px 28px; background:url("http://img.echosting.cafe24.com/skin/mobile_ko_KR/product/ico_bullet.png") 14px center no-repeat; background-size:7px 7px; }
        .toggleArea .toggleArea.subStrong .tableList.right table tbody td { padding:9px 34px 9px 0; }

        /* toggleArea toggleArea.subNormal */
        .toggleArea .toggleArea.subNormal { margin:0; padding:14px 0 14px 14px; border-bottom:1px solid #d5d5d5; line-height:18px; background-color:#f9f9f9; }
        .toggleArea .toggleArea.subNormal > .title { padding:0; font-weight:bold; color:#1b1b1b; background-color:#f9f9f9; -webkit-tap-highlight-color:rgba(255,255,255,0); }
        .toggleArea .toggleArea.subNormal .contents { margin:14px 0 0; padding:0; }