@charset "utf-8";

#top { padding:20px; min-width:950px; }
#top h1 { margin:0 0 10px; font-size:18px; line-height:18px; color:#0d1aaa; }
#top .tab { position:relative; margin:20px 0 0; }
#top .tab > ul { position:relative; border-bottom:1px solid #292929; height:39px; }
#top .tab > ul:after { content:""; display:block; clear:both; }
#top .tab > ul li { float:left; }
#top .tab > ul > li > a { display:block; min-width:20px; height:38px; padding:0 20px; margin:0 0 0 -1px; border:1px solid #cbcdce; border-bottom:0; color:#757575; line-height:38px; text-decoration:none; text-align:center; background:#f0f2f2; }
#top .tab > ul > li:first-child > a { margin-left:0; }
#top .tab > ul > li.selected > a { border-color:#292929; height:39px; margin-right:1px; color:#292929; font-weight:bold; background:#fff; }
    /* 확장 */
    .tab ul ul { display:none; }
    .tab.gExtend { overflow:hidden; width:100%; height:70px; border-bottom:1px solid #ddd; }
    .tab.gExtend li ul { display:none; position:absolute; left:15px; top:100%; overflow:hidden; width:100%; margin:8px 0 0; }
    .tab.gExtend li.selected ul { display:block; }
    .tab.gExtend li li { margin-left:-1px; padding:0 13px; border-left:1px solid #dce0e4; }
    .tab.gExtend li li a { font-size:12px; line-height:1.4; }
    .tab.gExtend li li.selected a { font-weight:bold; color:#1b87d4; }

#guide { clear:both; position:relative; margin:20px; min-height:600px; min-width:950px; }
#guide > h1 { margin:10px 0 0; padding:8px 10px; display:inline-block; border:1px solid #a6b9dd; border-radius:5px; color:#345ca3; font-size:16px; background-color:#e5eaf8; }
#guide > h2 { margin:25px 0 10px; font-size:16px; color:#545556; }
#guide > h2:before { content:"◎ "; }
#guide > h3 { padding:8px 8px 3px; font-size:14px; color:#4c2929; }
#guide p.info,
#guide ul.info { margin:5px 0; padding:0 0 0 10px; line-height:1.4; }
#guide p.info:before { content:"- "; }
#guide ul.info li { position:relative; padding:0 0 0 10px; }
#guide ul.info li:before { content:"- "; position:absolute; left:0; }
.samplePreview { *zoom:1; margin:10px 0 0; padding:20px; border:1px solid #bbb; border-radius:3px; }
.sampleTable table { line-height:1.5; border-collapse:collapse; background-color:#fff; }
.sampleTable.typeFixed table { width:auto; }
.sampleTable th,
.sampleTable td { padding:9px 9px 7px; vertical-align:middle; }
.sampleTable th { font-weight:normal; background-color:#f5f4f4; }
.sampleTable tbody th { border:1px solid #d9dadc; text-align:left; }
.sampleTable thead th { border:1px solid #bbc0c4; color:#80878d; text-align:center; vertical-align:middle; }
.sampleTable tbody td { border:1px solid #d9dadc; }
.sampleTable .bgDivision { background-color:#f3fcf2; }

#guide .guideArea { position:fixed; top:170px; right:0; width:337px; padding:30px 20px 40px; border:2px solid #343434; border-radius:20px; -webkit-text-size-adjust:none; background:#444; }
    #guide .guideArea.hide { width:54px; padding:14px; opacity:0.4; box-shadow: 5px 5px 5px #888; }
    #guide .guideArea.hide:hover { opacity:1; }
    #guide .guideArea.hide #contents { display:none; }
#guide .guideArea .btnHide { display:inline-block; position:absolute; top:6px; right:25px; color:#fff; cursor:pointer; }
#guide .guideArea #contents { min-height:480px; max-height:480px; padding:0 0 20px; overflow-y:scroll; background:#fff; }
#guide .guideArea #contents > h3 { margin:40px 5px 10px; padding:10px; color:#508bed; background:#eef1f8; border-radius:30px; }
#guide .guideArea #contents > h3:first-child { margin-top:10px; }