<?php require( $_SERVER['DOCUMENT_ROOT'].'/pj/lm/include/header.html'); ?>
    <!-- container -->
    <div id="container">
        <?php require( $_SERVER['DOCUMENT_ROOT'].'/pj/lm/include/sidebar.html'); ?>
        <!-- content -->
        <div id="content">
            <div class="headingArea">
                <div class="mTitle">
                    <h1>대제목</h1>
                </div>
            </div>
            <div class="section">
                <div class="mTitle">
                    <h2>중제목</h2>
                </div>
                컨텐츠
            </div>
        </div><!-- //content -->
    </div><!-- //container -->
<?php require( $_SERVER['DOCUMENT_ROOT'].'/pj/lm/include/footer.html'); ?>