        <aside id="aside">
            <p class="member"><strong>대표운영자(hong) 님</strong></p>
            <div class="multishop eToggle">
                <a class="basic eButton"><img src="//img.cafe24.com/img/common/global/en_US_53x36.png" width="27" height="18" alt=""> 영문 쇼핑몰</a>
                <ul class="list">
                    <li><a href="#none"><img src="//img.cafe24.com/img/common/global/ko_KR_53x36.png" width="27" height="18" alt=""> 기본 쇼핑몰<span class="txtEm">KRW</span></a></li>
                    <li><a href="#none"><img src="//img.cafe24.com/img/common/global/en_US_53x36.png" width="27" height="18" alt=""> 영문 쇼핑몰<span class="txtEm">USD</span></a></li>
                    <li><a href="#none"><img src="//img.cafe24.com/img/common/global/ja_JP_53x36.png" width="27" height="18" alt=""> 일문 쇼핑몰<span class="txtEm">JPY</span></a></li>
                    <li><a href="#none"><img src="//img.cafe24.com/img/common/global/zh_CN_53x36.png" width="27" height="18" alt=""> 중문(간체) 쇼핑몰<span class="txtEm">CNY</span></a></li>
                    <li><a href="#none"><img src="//img.cafe24.com/img/common/global/zh_TW_53x36.png" width="27" height="18" alt=""> 중문(번체) 쇼핑몰<span class="txtEm">TWD</span></a></li>
                    <li><a href="#none"><img src="//img.cafe24.com/img/common/global/pt_PT_53x36.png" width="27" height="18" alt=""> 포르투갈어 쇼핑몰<span class="txtEm">BRL</span></a></li>
                    <li><a href="#none"><img src="//img.cafe24.com/img/common/global/es_ES_53x36.png" width="27" height="18" alt=""> 스페인어 쇼핑몰<span class="txtEm">EUR</span></a></li>
                </ul>
            </div>
            <div class="gnb">
                <ul class="list">
                    <li><a href="../shop/myshop.html"><img src="//img.echosting.cafe24.com/mobile/layout/img_aside_shop.png" width="18" height="18" alt=""> 상점관리</a></li>
                    <li class="eToggle">
                        <a href="#none" class="child eButton"><img src="//img.echosting.cafe24.com/mobile/layout/img_aside_product.png" width="16" height="20" alt=""> 상품관리</a>
                        <ul>
                            <li><a href="../product/register.html">상품등록</a></li>
                            <li><a href="../product/list.html">상품목록</a></li>
                            <li><a href="../product/main_display_list.html">메인 상품 진열관리</a></li>
                        </ul>
                    </li>
                    <li><a href="../order/list.html"><img src="//img.echosting.cafe24.com/mobile/layout/img_aside_order.png" width="20" height="19" alt=""> 주문관리</a></li>
                    <li><a href="../member/list.html"><img src="//img.echosting.cafe24.com/mobile/layout/img_aside_member.png" width="18" height="18" alt=""> 고객관리</a></li>
                    <li class="eToggle">
                        <a href="#none" class="child eButton"><img src="//img.echosting.cafe24.com/mobile/layout/img_aside_board.png" width="19" height="18" alt=""> 게시판관리</a>
                        <ul>
                            <li><a href="../board/board.html">게시판 관리</a></li>
                            <li><a href="../board/list.html">게시물 관리</a></li>
                            <li><a href="../board/urgency_list.html">긴급문의 관리</a></li>
                        </ul>
                    </li>
                    <li class="eToggle">
                        <a href="#none" class="child eButton"><img src="//img.echosting.cafe24.com/mobile/layout/img_aside_service.png" width="19" height="20" alt=""> 부가서비스</a>
                        <ul>
                            <li><a href="../service/use.html">나의 이용내역</a></li>
                        </ul>
                    </li>
                    <li><a href="/ec/report/analytics/visitor/overview.html" target="_blank" title="새창 열림"><img src="//img.echosting.cafe24.com/mobile/layout/img_aside_analytics.png" width="19" height="19" alt=""> 접속통계</a></li>
                    <li class="eToggle">
                        <a href="#none" class="child eButton"><img src="//img.echosting.cafe24.com/mobile/layout/img_aside_sera.png" width="23" height="18" alt=""> SERA</a>
                        <ul>
                            <li><a href="../etc/rank.html">실시간 랭크보기</a></li>
                            <li><a href="../etc/recommend.html">진열상품 추천</a></li>
                        </ul>
                    </li>
                    <li><a href="#none"><img src="//img.echosting.cafe24.com/mobile/layout/img_aside_recipe.png" width="19" height="20" alt=""> 레시피</a></li>
                </ul>
            </div>
            <div class="mButton grid1">
                <a href="../dashboard/service.html" class="btnSubmit">전체 서비스 보기</a>
            </div>
            <div class="mButton grid1">
                <a href="../dashboard/login.html" class="btnNormal">로그아웃</a>
            </div>
            <a href="#none" class="btnFold">접기</a>
        </aside>