            <hr class="layout">
            <!-- footer -->
            <footer id="footer">
                <p>
                    <a href="tel:1588-3413" class="btnUtil tel">고객센터 <strong class="txtNormal">1588-3413</strong></a>
                    <a href="#wrap" class="btnUtil top">맨위로</a>
                </p>
                <div class="mButton grid3">
                    <a href="../dashboard/login.html" class="btnUtil">로그아웃</a>
                    <a href="http://uidevdmp.cafe24.com/admin" class="btnUtil">PC버전</a>
                    <a href="../dashboard/service.html" class="btnUtil">전체서비스</a>
                </div>
                <p class="copyright">Copyright&copy; Cafe24 Corp. All Rights Reserved.</p>
            </footer><!-- //footer -->
        </div>

        <div class="dimmedArea" style="display:none;">
            <div class="mLayer typeDate">
                <h2>2015년 6월 1일 월요일</h2>
                <div class="content">
                    <div class="mCalendar">
                        <select class="fSelect">
                            <option>2014년</option>
                            <option selected="selected">2015년</option>
                            <option>2016년</option>
                            <option>2017년</option>
                            <option>2018년</option>
                            <option>2019년</option>
                            <option>2020년</option>
                        </select>

                        <select class="fSelect">
                            <option>1월</option>
                            <option selected="selected">2월</option>
                            <option>3월</option>
                            <option>4월</option>
                            <option>5월</option>
                            <option>6월</option>
                            <option>7월</option>
                            <option>8월</option>
                            <option>9월</option>
                            <option>10월</option>
                            <option>11월</option>
                            <option>12월</option>
                        </select>

                        <select class="fSelect">
                            <option>23일</option>
                            <option selected="selected">24일</option>
                            <option>25일</option>
                            <option>26일</option>
                            <option>27일</option>
                            <option>28일</option>
                            <option>29일</option>
                            <option>30일</option>
                            <option>31일</option>
                        </select>
                    </div>
                </div>
                <div class="mButton">
                    <a href="#none" onclick="$('.dimmedArea').hide();" class="btnNormal">취소</a>
                    <a href="#none" onclick="$('.dimmedArea').hide();" class="btnStrong">확인</a>
                </div>
            </div>
            <div class="dimmed"></div>
        </div>
    </div>
    <div class="mLoading"><img src="//img.echosting.cafe24.com/mobile/layout/ico_loading.gif" width="92" height="58" alt="" /></div>

<script type="text/javascript" src="/pj/js/jquery-1.4.4.min.js"></script>
<!-- 참고: UI개발팀 퍼블리싱 정합성 체크용 JS. 실서비스 배포 절대금지(★개발 작업시 삭제해주세요.) -->
<script type="text/javascript" src="../guide/js/ui.js"></script>
<script>
    $(document).ready(function(){
        $.getScript("../../debugging/js/common.js");
    });
</script><!-- //참고 -->
</body>
</html>