<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <title>Mobile Admin</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/icon.css" media="screen">
</head>
<body>
     <div id="wrap">
        <!-- aside -->
        <?php include('../layout/aside_category.html'); ?><!-- //aside -->
        <hr class="layout">

        <div id="container">
            <!-- header -->
            <header id="header">
                <div class="mTitle">
                    <h1>상단 검색용 레이아웃</h1>
                    <a href="#none" class="btnTitle back">뒤로가기</a>
                    <div class="funcArea">
                        <button type="button" class="btnSearch">검색</button>
                        <button type="button" class="btnCategory">카테고리 검색</button>
                    </div>
                    <div class="searchLayer">
                        <div class="searchForm">
                            <input type="text" class="keyword" placeholder="상품명을 입력하세요."><button type="button" class="btnDelete">삭제</button>
                        </div>
                        <button type="button" class="btnBasic">닫기</button>
                    </div>
                </div>
            </header><!-- //header -->
            <hr class="layout">