<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <title>Mobile Admin</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/icon.css" media="screen">
    <script type="text/javascript" src="../../js/jquery-1.4.4.min.js"></script>
    <!-- 참고 : UI개발팀 퍼블리싱 정합성 체크용 JS. 실서비스 배포 절대금지 -->
    <script type="text/javascript" src="../guide/js/ui.js"></script><!-- //참고 -->
</head>
<body id="popup">
    <div id="header">
        <h1>이메일 발송</h1>
    </div>
    <div id="content">
        <div class="mBoard typeRow">
            <table border="1">
                <caption>이메일</caption>
                <colgroup>
                    <col style="width:100px;">
                    <col style="width:auto;">
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">받는사람</th>
                        <td>홍길동(hong@cafe24.com)</td>
                    </tr>
                    <tr>
                        <th scope="row">보내는사람</th>
                        <td>쇼핑몰운영자(mall@cafe24.com)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <textarea class="fTextarea" rows="6" cols="45" style="height:250px;"></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="gIndent txtLight"><input type="checkbox" class="fChk" id="ad_display"><label for="ad_display">광고성 정보 (메일 제목에 [광고] 문구를 표시합니다.)</label></p>
    </div>
    <div class="mButton">
        <a href="#none" onclick="window.close()" class="btnNormal">취소</a>
        <a href="#none" onclick="window.close()" class="btnStrong">보내기</a>
    </div>
    <button type="button" class="btnPopupClose" onclick="window.close()">닫기</button>
</body>
</html>