<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5, user-scalable=yes">
    <title>Mobile Admin</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/icon.css" media="screen">
    <script type="text/javascript" src="../../js/jquery-1.4.4.min.js"></script>
    <!-- 참고 : UI개발팀 퍼블리싱 정합성 체크용 JS. 실서비스 배포 절대금지 -->
    <script type="text/javascript" src="../guide/js/ui.js"></script><!-- //참고 -->
</head>
<body id="popup">
    <!-- content -->
    <div class="gZoom">
        <img src="//img.echosting.cafe24.com/mobile/product/@img_product1.png" ><br><br>
        <img src="//img.echosting.cafe24.com/mobile/product/@img_product2.png" ><br><br>
        <img src="//img.echosting.cafe24.com/mobile/product/@img_product3.png" ><br><br>
        <p>부드러운 코튼소재에 고급스러운<br>자수디테일로 빈티지한 무드가 <br>느껴지는 블라우스랍니다.</p>

        <button type="button" class="btnClose" onclick="window.close()">닫기</button>
    </div><!-- //content -->
</body>
</html>