<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <title>Mobile Admin</title>
    <link rel="stylesheet" type="text/css" href="../css/common.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../css/icon.css" media="screen">
    <script type="text/javascript" src="../../js/jquery-1.4.4.min.js"></script>
    <!-- 참고 : UI개발팀 퍼블리싱 정합성 체크용 JS. 실서비스 배포 절대금지 -->
    <script type="text/javascript" src="../guide/js/ui.js"></script><!-- //참고 -->
</head>
<body id="popup">
    <div id="header">
        <h1>이미지 정보</h1>
    </div>
    <div id="content">
        <ul class="mThumbList">
            <li>
                <div class="box">
                    <span class="item"><strong class="txtEm">상세</strong>이미지</span>
                    <img src="//img.echosting.cafe24.com/mobile/@img_thumb_big.jpg" class="frame" alt="" width="138" height="138">
                </div>
            </li>
            <li>
                <div class="box">
                    <span class="item"><strong class="txtEm">목록</strong>이미지</span>
                    <img src="//img.echosting.cafe24.com/mobile/@img_thumb_medium.jpg" class="frame" alt="" width="138" height="138">
                </div>
            </li>
            <li>
                <div class="box">
                    <span class="item"><strong class="txtEm">작은목록</strong>이미지</span>
                    <img src="//img.echosting.cafe24.com/mobile/@img_thumb_small.jpg" class="frame" alt="" width="138" height="138">
                </div>
            </li>
            <li>
                <div class="box">
                    <span class="item"><strong class="txtEm">축소</strong>이미지</span>
                    <img src="//img.echosting.cafe24.com/mobile/@img_thumb_tiny.jpg" class="frame" alt="" width="138" height="138">
                </div>
            </li>
        </ul>
    </div>
    <div class="mButton">
        <a href="#none" onclick="window.close()" class="btnNormal">닫기</a>
    </div>
    <button type="button" class="btnPopupClose" onclick="window.close()">닫기</button>
</body>
</html>