@charset "utf-8";

/* reset */
  html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img { margin:0; padding:0; }
  html, body { width:100%; height:100%; }
  body,code { min-width:1200px; font-size:12px; font-family:'Nanum Gothic',Helvetica,Arial,sans-serif; line-height:1.2; color:#242424; background:#fff; }
  ul,ol,dl,li { list-style:none; }
  img,fieldset { border:0; vertical-align:top; }
  table { table-layout:fixed; width:100%; border:0; border-spacing:0; border-collapse:collapse; }
  table img { vertical-align:middle; }
  th,td { border:0; word-wrap:break-word; }
  input,select,textarea { font-size:12px; font-family:'Nanum Gothic',Helvetica,Arial,sans-serif; color:#242424; vertical-align:middle; }
  label { cursor:pointer; }
  legend,hr.layout,.blind { position:absolute; visibility:hidden; overflow:hidden; text-indent:120%; white-space:nowrap; width:0; height:0; font-size:0; line-height:0; }
  caption { overflow:hidden; text-indent:120%; white-space:nowrap; width:0; height:0; font-size:0; line-height:0; }
  button { overflow:visible; padding:0; margin:0; border:0; font-size:12px; font-family:'Nanum Gothic',Helvetica,Arial,sans-serif; cursor:pointer; background:transparent; outline:none; }
  button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { padding:0; border:0; }
/* html5 */
  object,del,sub,var { margin:0; padding:0; }
  article,aside,details,figcaption,figure,footer,header,main,hgroup,menu,nav,section { display:block; }

/* form */
  label > input[type="file"] { z-index:-1; position:absolute; top:0; left:0; width:0; height:0; outline:0; max-width:100%; }
  a { text-decoration:none; color:#000; }
  .fText { border:1px solid #dedede; padding:0 14px; height:33px; line-height:33px; outline:0; box-sizing:border-box; }
  .fText.full { width:100%; }
  .fText[disabled="disabled"] { color:#929292; background:#f3f3f3; }
    .sideSelect .fText { border-color:#d2d2d2; border-radius:1px; }
  .fSelect { height:25px; border:1px solid #d2d2d2; border-radius:1px; }
  .fCheck { display:inline-block; position:relative; padding:0 0 0 25px; line-height:16px; vertical-align:middle; color:#010101; word-spacing:-1px; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sflex_icon.png") no-repeat -150px 0; }
  .fCheck.selected { background-position:-100px -50px; }
  .fCheck input[type="checkbox"] { z-index:-1; position:absolute; left:0; top:0px; width:16px; height:16px; opacity:0; filter:alpha(opacity=0); cursor:pointer; }
  .fRadio { display:inline-block; position:relative; padding:0 0 0 22px; line-height:15px; vertical-align:middle; color:#010101; word-spacing:-1px; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sflex_icon.png") no-repeat -50px -100px; }
  .fRadio.selected { background-position:0 -150px; }
  .fRadio input[type="radio"] { z-index:-1; position:absolute; left:0; top:0px; width:14px; height:15px; opacity:0; filter:alpha(opacity=0); cursor:pointer; }
  .fNumber { display:inline-block; position:relative; width:67px; border:1px solid #d2d2d2; border-radius:2px; vertical-align:top; }
  .fNumber input[type="text"] { width:30px; height:33px; padding:0 9px; border:0; border-right:1px solid #d2d2d2; font-size:12px; vertical-align:top; color:#000; }
  .fNumber .btnUp,
  .fNumber .btnDown { position:absolute; right:0; width:19px; font-size:0; line-height:0; }
  .fNumber .btnUp { top:0; height:17px; border-bottom:1px solid #d2d2d2; }
  .fNumber .btnDown { bottom:0; height:16px; }
  .fNumber .btnUp:after,
  .fNumber .btnDown:after { display:inline-block; content:""; position:absolute; top:50%; left:50%; width:7px; height:4px; margin:-2px 0 0 -3px; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat -200px -250px; }
  .fNumber .btnDown:after { background-position:-250px -250px; }
  .dimmed { z-index:20; position:fixed; top:0; left:0; right:0; bottom:0; opacity:0.1; background:#000; }
  .txtNormal { color:#000; }
  .txtEm { color:#ea1b5e; }
  ::selection { background:#6ecaff; color:#fff; text-shadow:none; }
  ::-moz-selection { background:#6ecaff; color:#fff; text-shadow:none; }
  ::-webkit-selection { background:#6ecaff; color:#fff; text-shadow:none; }
  ::-webkit-scrollbar { width:6px; }
  ::-webkit-scrollbar-thumb { background:#cacaca; }
  .customScroll { overflow-y:auto; }
  .customScroll::-webkit-scrollbar { width:8px; }
  .customScroll::-webkit-scrollbar-track { border-left:1px solid #dedede; background:#f0f0f0; }
  .customScroll::-webkit-scrollbar-thumb { border:1px solid #cbcbcb; border-right-width:0; background:#fff; }

/* layout */
  #wrap { position:relative; overflow:hidden; padding:94px 0 0; min-width:1200px; height:100%; box-sizing:border-box; }
  #wrap > .btnClose { z-index:21; position:absolute; top:0; right:0; width:44px; height:42px; overflow:hidden; text-indent:120%; white-space:nowrap; font-size:0; line-height:0; }
  #wrap > .btnClose:after { display:block; content:""; position:absolute; top:50%; left:50%; width:15px; height:15px; margin:-7px 0 0 -7px; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat -200px -100px; }
  #header { z-index:20; position:absolute; top:0; left:0; width:100%; }
  .logo { padding:14px 44px 13px 20px; font-size:0; line-height:0; background:#2e3245; }
  .topHead { display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center; -webkit-justify-content:center; justify-content:center; height:50px; border-bottom:1px solid #d9d9d9; box-shadow:0 1px 4px #d9d9d9; text-align:center; font-size:0; line-height:0; }
    .topHead .gLeft { -webkit-flex:1; -moz-flex:1; -ms-flex:1; flex:1; text-align:left; }
    .topHead .gRight { -webkit-flex:1; -moz-flex:1; -ms-flex:1; flex:1; text-align:right; }
    .topHead .device,
    .topHead .language { display:inline-block; }
    .gRight button.small, .gRight a.small { margin:0 0 0 6px; }
    .gRight button + button.large, .gRight a + button.large,
    .gRight button + a.large, .gRight a + a.large { margin:0 0 0 11px; }
    .gRight .large + .large { margin-left:1px; }
  #container { display:-webkit-flex; display:flex; width:100%; height:100%; max-height:100%; }
  #container.eExpand aside { display:none; }
  aside { position:relative; flex:none; display:-webkit-flex; display:flex; border-right:1px solid #d9d9d9; min-width:66px; max-width:355px; background:#f5f5f5; }
  aside .mTitle { border-top:1px solid #d9d9d9; padding:30px 20px; font-size:17px; letter-spacing:-1px; color:#000; }
  aside .mTitle:first-child { border-top-width:0; padding-top:25px; }
  aside .title { margin:25px 1px 10px; font-size:12px; }
  aside .title:first-child { margin-top:0; }
  aside > section { overflow-y:auto; }
  aside .sideMenu { width:131px; min-width:131px; border-right:1px solid #d9d9d9; }
  aside .sideSelect { width:223px; min-width: 223px; padding:19px 20px; box-sizing:border-box; background:#fff; }
  aside .sideSave { position:relative; width:222px; min-width:160px; }
  aside .sideImage { position:relative; overflow-y:hidden; width:328px; background:#fff; }
  /* foldArea */
    .foldArea { background:#fff; }
    .foldArea .btnFold span:before { display:none; }
    .foldArea .btnFold span:after { display:inline-block; }
      .foldArea .btnFold:hover span { padding:0 0 0 9px; }
      .foldArea .btnFold:hover span:after { margin:11px 0 0 4px; }
    .foldArea .sideMenu { overflow:hidden; width:60px; min-width:0; background:#f5f5f5; }
    .foldArea .mCategory .button { font-size:0; }
    .foldArea .mCategory .icoDrag,
    .foldArea .sideSelect { display:none; }
  .btnFold {
    z-index:12; position:absolute; top:11px; left:100%; display:inline-block; width:16px; height:32px; border:1px solid #d9d9d9; border-left-color:#fff; text-align:left; background:#fff;
    -webkit-border-radius:0 2px 2px 0; -moz-border-radius:0 2px 2px 0; border-radius:0 2px 2px 0;
  }
  .btnFold span { display:inline-block; height:100%; white-space:nowrap; vertical-align:top; font-size:0; line-height:0; }
  .btnFold span:before,
  .btnFold span:after { content:""; display:inline-block; border:solid #7c7c7c; width:8px; height:8px; vertical-align:top; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg); }
  .btnFold span:before { margin:11px 4px 0 4px; border-width:0 0 1px 1px; }
  .btnFold span:after { display:none; margin:11px 4px 0 0; border-width:1px 1px 0 0; }
  .btnFold:hover { width:65px; }
  .btnFold:hover span { font-size:12px; line-height:30px; }
  #contents { position:relative; -webkit-flex:1; -moz-flex:1; -ms-flex:1; flex:1; overflow-y:auto; padding:20px; background:#fff; }
  #contents.eFullPopup { overflow:hidden; }

/* icon */
  .icoBar { display:inline-block; width:1px; height:35px; margin:0 6px; vertical-align:middle; background:#ececec; }
  /* 이미지 아이콘 */
    .icoSFIX { display:inline-block; vertical-align:middle; overflow:hidden; text-indent:120%; white-space:nowrap; font-size:0; line-height:0; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat 0 0; }
    .icoSFIX.icoOrder { width:13px; height:11px; margin:-1px 3px 0 0; background-position:0 0; }
    .icoSFIX.icoTemplate { width:13px; height:13px; margin:-1px 3px 0 0; background-position:-50px 0; }
    .icoSFIX.icoMobile { width:15px; height:21px; background-position:-100px 0; }
      .selected .icoSFIX.icoMobile { background-position:-150px 0; }
    .icoSFIX.icoPC { width:24px; height:20px; background-position:-200px 0; }
      .selected .icoSFIX.icoPC { background-position:-250px 0; }
    .icoSFIX.icoFlag { width:26px; height:19px; }
    .icoSFIX.icoFlag.kr { background-position:0 -50px; }
    .icoSFIX.icoFlag.us { background-position:-50px -50px; }
    .icoSFIX.icoFlag.cn { background-position:-100px -50px; }
    .icoSFIX.icoFlag.jp { background-position:-150px -50px; }
    .icoSFIX.icoFlag.tw { background-position:-200px -50px; }
    .icoSFIX.icoFlag.pt { background-position:-50px -250px; }
    .icoSFIX.icoFlag.sp { background-position:-100px -250px; }

  /* 스타일 아이콘 */
    .icoDrag { display:inline-block; margin:-2px 0 0; vertical-align:top; cursor:pointer; }
    .icoDrag .square { display:block; width:1px; height:1px; margin:2px 0 0; background:#5b5b5b; }
    .icoDrag .square:after { display:inline-block; content:""; width:1px; height:1px; margin:0 0 0 3px; vertical-align:top; background:#5b5b5b; }
      .selected .icoDrag .square { background:#fff; }
      .selected .icoDrag .square:after { background:#fff; }
    .icoAdd { position:relative; display:inline-block; vertical-align:middle; color:#595959; font-size:0; line-height:0; }
    .icoAdd:before,
    .icoAdd:after { content:''; position:absolute; top:0; left:0; width:9px; height:1px; background-color:currentColor; }
    .icoAdd:after { -webkit-transform:rotate(90deg); transform:rotate(90deg); }
      .btnFile .icoAdd { margin:-4px 9px 0 0; color:#fff; }
      .mImgList .btnAdd { position:relative; overflow:hidden; text-indent:120%; white-space:nowrap; font-size:0; line-height:0; }
      .mImgList .btnAdd .icoAdd { position:absolute; top:50%; left:50%; width:14px; height:14px; margin:-7px 0 0 -7px; color:#43485f; }
      .mImgList .btnAdd .icoAdd:before,
      .mImgList .btnAdd .icoAdd:after { top:7px; width:14px; height:2px; }

    .icoDelete { position:relative; display:inline-block; margin:-2px 8px 0 0; vertical-align:middle; color:#595959; font-size:0; line-height:0; }
    .icoDelete:before { content:''; position:absolute; top:0; width:9px; height:1px; background-color:currentColor; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); }
    .icoDelete:after { content:''; position:absolute; top:0; width:9px; height:1px; background-color:currentColor; -webkit-transform:rotate(45deg); transform:rotate(45deg); }
    .icoNo { position:absolute; top:-1px; left:-1px; width:27px; height:17px; border:1px solid #ececec; line-height:17px; font-size:11px; font-weight:bold; text-align:center; color:#000; background:#fafaf9; }

    .icoCheck { position:relative; display:inline-block; width:7px; height:4px; margin:-4px 3px 0 0; border-bottom:solid 1px currentColor; border-left:solid 1px currentColor; vertical-align:middle; color:#595959; font-size:0; line-height:0; -webkit-transform:rotate(-45deg); transform:rotate(-45deg); }
      .selected .icoCheck { color:#ec2f6c; }
      .selected:hover .icoCheck { color:#ff7fa9; }

    .icoNext { vertical-align:middle; font-size:0; line-height:0; }
    .icoNext:before { content:""; display:inline-block; border:solid #fff; border-width:1px 1px 0 0; width:7px; height:7px; margin:-2px 0 0; vertical-align:middle; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg); }
    .icoPrev { vertical-align:middle; font-size:0; line-height:0; }
    .icoPrev:before { content:""; display:inline-block; border:solid #fff; border-width:0 0 1px 1px; width:7px; height:7px; margin:-2px 0 0; vertical-align:middle; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg); }

  /* 카테고리 이미지 아이콘 */
    .icoCategory { display:inline-block; overflow:hidden; width:32px; vertical-align:middle; font-size:0; line-height:0; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_category.png") no-repeat 0 0; }
    .icoCategory.top { height:26px; background-position:3px 0; }
    .icoCategory.model { height:29px; background-position:-49px 0; }
    .icoCategory.color { height:28px; background-position:-98px 0; }
    .icoCategory.detail { height:28px; background-position:-149px 0; }
    .icoCategory.product { height:27px; background-position:-200px 0; }
    .icoCategory.bottom { height:26px; background-position:-247px 0; }

/* button */
  /* 주요 버튼 */
  .btnNormal, .btnCtrl, .btnBasic, .btnSubmit { display:inline-block; min-width:122px; height:36px; padding:0 12px; border-radius:2px; line-height:36px; box-sizing:border-box; vertical-align:middle; font-size:15px; font-weight:bold; }
  .btnNormal { border:1px solid #ccc; color:#000; background:#fff; }
    .btnNormal.selected { border-color:#ea1b5e; color:#ea1b5e; font-weight:bold; }
    .btnNormal.disabled, .btnNormal.disabled:hover { border-color:#dcdcdc; color:#8d8d8d; background-color:#fff; }
  .btnCtrl { border:1px solid #3f455f; color:#fff; background:#3f455f; }
  .btnBasic { border:1px solid #aaabae; color:#fff; background:#aaabae; }
  .btnSubmit { border:1px solid #ea1b5e; color:#fff; background:#ea1b5e; }
    .btnNormal:hover { border-color:#b1b1b1; background-color:#f6f6f6; }
    .btnNormal.selected:hover { border-color:#fc80a9; color:#f9578c; background-color:#fff; }
    .btnCtrl:hover { border-color:#636a88; background-color:#636a88; }
    .btnBasic:hover { border-color:#cdced2; background-color:#cdced2; }
    .btnSubmit:hover { background-color:#f5407b; }
  button.small,
  a.small { min-width:48px; height:29px; border-radius:1px; line-height:29px; font-size:12px; font-weight:normal; }
  button.large,
  a.large { min-width:110px; height:50px; border-width:0; border-radius:0; padding:0 16px; line-height:50px; }
  .btnNormal.large { border-width:1px; }
  .btnSelect { position:relative; display:inline-block; height:29px; border:1px solid #ccc; padding:6px 26px 6px 12px; box-sizing:border-box; text-align:left; color:#242424; font-size:12px; line-height:16px; vertical-align:middle; }
  .btnSelect:after { position:absolute; top:12px; right:12px; display:block; content:""; width:7px; height:4px; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat 0 -100px; }
    .btnSelect.selected { border-color:#adadad; }
    .btnSelect.selected:after { background-position:-50px -100px; }

  /* 개별 버튼 */
  .btnFile { position:relative; display:inline-block; min-width:48px; height:29px; padding:0 12px; border-radius:1px; border:1px solid #3f455f; color:#fff; line-height:29px; box-sizing:border-box; vertical-align:middle; font-size:12px; background:#3f455f; }
  .btnExpand { display:inline-block; width:30px; height:29px; vertical-align:middle; overflow:hidden; text-indent:120%; white-space:nowrap; font-size:0; line-height:0; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat -100px -100px; }
  .btnExpand.reduce { background-position:-150px -100px; }
    .btnExpand:hover { background-position:-100px -150px; }
    .btnExpand.reduce:hover { background-position:-150px -150px; }

  .btnSearch { position:relative; display:inline-block; width:25px; height:23px; overflow:hidden; text-indent:120%; white-space:nowrap; font-size:0; line-height:0; }
  .btnSearch:after { display:block; content:""; position:absolute; top:50%; right:6px; width:13px; height:13px; margin:-6px 0 0; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat -250px -50px; }

  .btnFavorite,
  .icoFavorite { display:inline-block; width:17px; height:15px; margin:-2px 0 0; vertical-align:middle; overflow:hidden; text-indent:120%; white-space:nowrap; font-size:0; line-height:0; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat 0 -150px; }
  .icoFavorite { margin-top:-4px; }
  .btnFavorite.selected,
  .icoFavorite.selected { background-position:-50px -150px; }

  .viewWrap { display:inline-block; vertical-align:middle; font-size:0; line-height:0; }
  .btnView { display:inline-block; width:29px; height:29px; border:1px solid #ccc; margin:0 0 0 -1px; vertical-align:top; font-size:0; line-height:0; background:#fff; }
  .btnView:before { display:inline-block; content:""; width:17px; height:5px; vertical-align:middle; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat -200px -150px; }
  .btnView.selected { position:relative; border-color:#3f455f; background:#3f455f; }
  .btnView.selected:before { background-position:-250px -150px; }
  .btnView:first-child { margin-left:0; border-radius:2px 0 0 2px; }
  .btnView:last-child { border-radius:0 2px 2px 0; }
  .btnView.ver:before { -webkit-transform:rotate(90deg); -moz-transform:rotate(90deg); transform:rotate(90deg); }

  .btnToggle { position:relative; display:inline-block; padding:0 7px; min-width:39px; height:29px; border:1px solid #fff; border-radius:2px; margin:0 0 0 6px; vertical-align:middle; text-align:center; background:#fff; }
  .btnToggle.selected,
  .toggleWrap.selected .btnToggle { border-color:#dadada; border-right-color:#f3f3f3; border-bottom-color:#f3f3f3; background:#f3f3f3; }
  .toggleWrap.disabled .btnToggle { cursor:default; }
  .toggleWrap.disabled .btnToggle:after { display:none; }
  .toggleWrap { position:relative; display:inline-block; }
  .toggleWrap .btnToggle { padding-right:23px; }
  .toggleWrap .btnToggle:after { position:absolute; top:11px; right:9px; display:block; content:""; width:7px; height:4px; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat 0 -100px; }
  .toggleWrap .list { z-index:2; display:none; position:absolute; top:100%; left:-4px; margin:10px 0 0; box-shadow:0 1px 7px #c1c1c1; min-width:90px; }
  .toggleWrap .list:before { position:absolute; top:-4px; left:25px; display:inline-block; content:""; border:solid #c9c9c9; border-width:1px 0 0 1px; width:8px; height:8px; background:#fff; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg); }
  .toggleWrap.selected .btnToggle:after { background-position:-50px -100px; }
  .toggleWrap.selected .list { display:block; }
  .toggleWrap .list > ul { border:1px solid #c1c1c1; padding:7px 0; background:#fff; }
  .toggleWrap .list > ul .button { padding:4px 10px; width:100%; text-align:left; white-space:nowrap; color:#000; }
  .toggleWrap .list > ul .button:hover { background:#ededed; }

/* mBreadcrumb */
  .mBreadcrumb { display:inline-block; vertical-align:middle; padding:0 0 0 20px; }
  .mBreadcrumb:after { display:block; content:""; clear:both; }
  .mBreadcrumb li { position:relative; display:inline-block; vertical-align:middle; font-size:13px; }
  .mBreadcrumb li:before { content:""; display:inline-block; border:solid #b2b2b2; border-width:1px 1px 0 0; margin:0 9px 0 4px; width:8px; height:8px; vertical-align:middle; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg); }
  .mBreadcrumb li:first-child:before { display:none; }

/* mSelect */
  .mSelect { position:relative; display:inline-block; min-width:54px; height:35px; border:1px solid #ccc; border-radius:1px; box-sizing:border-box; vertical-align:middle; background:#fff; }
    .mSelect.full { width:100%; }
  .mSelect .btnSelect { width:100%; height:100%; border-width:0; }
  .mSelect .btnSelect:after { top:15px; }
  .mSelect .button { display:inline-block; width:100%; height:100%; padding:6px 12px; box-sizing:border-box; text-align:left; }
  .mSelect .button:hover { color:#fff; font-weight:bold; background:#3f455f; }
  .mSelect > .dropDown { display:none; z-index:1; max-height:190px; overflow-y:auto; position:absolute; top:100%; left:-1px; right:-1px; border:1px solid #ccc; border-top-width:0; border-radius:0 0 1px 1px; background:#fff; }
    .mSelect.selected { border-color:#adadad; }
    .mSelect.selected .btnSelect { color:#888; }
    .mSelect.selected .btnSelect:after { background-position:-50px -100px; }
    .mSelect.selected > .dropDown { display:block; border-color:#adadad; }
  .mSelect .search { position:relative; height:23px; padding:0 25px 0 7px; margin:0 9px 7px; border:1px solid #d2d2d2; border-radius:1px; }
  .mSelect .search .keyword { display:inline-block; width:100%; height:100%; border:0; outline:0; }
  .mSelect .search .btnSearch { position:absolute; top:0; right:0; }
    .mSelect.typeButton { position:static; height:30px; border-width:0; min-width:0; background:#3f455f; }
    .mSelect.typeButton .btnSelect { padding:6px 20px 6px 8px; color:#fff; }
    .mSelect.typeButton .btnSelect:after { top:13px; right:7px; background-position:-150px -250px; }
    .mSelect.typeButton > .dropDown { top:auto; left:auto; right:auto; border:1px solid #dadada; box-shadow:0 4px 7px #c1c1c1; white-space:nowrap; }
    .mSelect.typeButton .button:hover { color:#000; font-weight:normal; background:#ededed; }

/* mCategory */
  .mCategory li { position:relative; background:#fff; }
  .mCategory .button { position:relative; width:100%; height:54px; padding:19px 19px 19px 55px; border-bottom:1px solid #e7e7e7; border-top:1px solid #fff; font-weight:bold; text-align:left; color:#010101; }
    .mCategory li:last-child .button { border-bottom-color:#dadada; }
  .mCategory li.selected { color:#fff; background-color:#ea1b5e; }
  .mCategory .selected .button { border-bottom-color:#d41855; border-top-color:#eb306d; color:#fff; }
    .mCategory li:first-child.selected .button { border-top-color:#ea1b5e; }
    .mCategory li:last-child.selected .button { border-bottom-color:#d51f5a; }
  .mCategory .icoDrag { position:absolute; top:50%; right:8px; margin-top:-14px; padding:7px; cursor:move; }
  .mCategory .icoCategory { position:absolute; top:50%; left:15px; margin:-13px 0 0; }
  .mCategory .icoCategory.model { margin-top:-14px; }
  .mCategory .icoCategory.detail { margin-top:-14px; }
    .mCategory .selected .icoCategory.top { background-position:3px -50px; }
    .mCategory .selected .icoCategory.model { background-position:-49px -50px; }
    .mCategory .selected .icoCategory.color { background-position:-98px -50px; }
    .mCategory .selected .icoCategory.detail { background-position:-149px -50px; }
    .mCategory .selected .icoCategory.product { background-position:-200px -50px; }
    .mCategory .selected .icoCategory.bottom { background-position:-247px -50px; }

/* mImgList */
  .mImgList > ul { height:100%; margin:-12px 0 0 -12px; }
    .sideSelect .mImgList > ul { min-width:200px; overflow:hidden; padding:0 0 12px; }
  .mImgList > ul li { position:relative; float:left; margin:12px 0 0 12px; }
  .mImgList .button { position:relative; display:inline-block; width:85px; height:85px; border:1px solid #d7d8dc; vertical-align:top; box-sizing:border-box; }
  .mImgList .button img { max-width:100%; }
    .mImgList .default .button { cursor:default; background:#f5f5f5; }
    .mImgList > ul li.selected:before { z-index:1; position:absolute; top:0; left:0; bottom:0; right:0; display:block; content:""; border:2px solid #ea1a61; cursor:pointer; }
    .mImgList > ul li.disabled:before { z-index:1; position:absolute; top:0; left:0; bottom:0; right:0; display:block; content:""; cursor:pointer; opacity:0.5; background:#000; }
    .mImgList li.ui-sortable-helper .button:before { z-index:10; display:block; content:""; position:absolute; top:-1px; left:-1px; right:-1px; bottom:-1px; border:2px solid #ea306c; box-shadow:4px 4px 7px #c2c2c2; }
    .mImgList li.ui-sortable-helper .icoNo { display:none; }
    .mImgList li.highlight:before { display:block; content: ''; position:absolute; top:1px; left:-10px; width:9px; height:94px; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_drag.png") no-repeat 0 -322px; }
      .sideSelect .mImgList > ul li.highlight:before { display:none; }
    .mImgList li.highlight .button { border:1px dotted #929292; cursor:default; background:transparent; }
    .mImgList li.highlight .icoNo,
    .mImgList li.highlight img { display:none; }

/* mHelp */
  .mHelp { position:relative; padding:0 0 0 23px; line-height:16px; }
  .mHelp:before { display:block; content:""; position:absolute; top:0; left:0; width:16px; height:16px; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat 0 -250px; }
/* mButton */
  .mButton { padding:15px 20px; text-align:center; }
  .mButton.gLeft { text-align:left; }
  .mButton.gRight { text-align:right; }
  .mButton a, .mButton button { margin:0 1px; }
/* gColumn */
  .gColumn { display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center; -webkit-justify-content:center; justify-content:center; }
  .gColumn .gLeft { -webkit-flex:1; -moz-flex:1; -ms-flex:1; flex:1; text-align:left; }
  .gColumn .gRight { -webkit-flex:1; -moz-flex:1; -ms-flex:1; flex:1; text-align:right; }

/* mLayer */
  .mLayer { z-index:21; display:none; position:absolute; width:504px; margin:10px 0 0; border:1px solid #c1c1c1; box-shadow:0 1px 7px #c1c1c1; box-sizing:border-box; background:#fff; }
  .mLayer:before { position:absolute; top:-5px; right:45px; display:inline-block; content:""; border:solid #c9c9c9; border-width:1px 0 0 1px; width:8px; height:8px; background:#f3f3f3; -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg); }
  .mLayer .title { padding:17px 30px; border-bottom:1px solid #ddd; font-size:17px; line-height:1; color:#000; font-weight:normal; background:#f3f3f3; }
  .mLayer .content { padding:22px 29px 0; }
  .mLayer .mButton { padding:23px 29px 26px; }
  .mLayer .btnClose { z-index:2; position:absolute; top:0; right:0; width:52px; height:52px; overflow:hidden; text-indent:120%; white-space:nowrap; font-size:0; line-height:0; }
  .mLayer .btnClose:after { display:block; content:""; position:absolute; top:50%; left:50%; width:15px; height:15px; margin:-7px 0 0 -7px; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat -250px -100px; -webkit-transition:.2s; -moz-transition:.2s; transition:.2s; }
  .mLayer .btnClose:hover:after { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
    /* 타이틀 및 컨텐츠 여백 없는 경우 */
    .mLayer.typeEmpty:before { background-color:#fff; }
    .mLayer.typeEmpty .content { padding:0; }
    .mLayer.typeModal:before { display:none; }

/* mFullLayer */
  .mFullLayer { z-index:11; display:none; position:absolute; top:0; left:0; right:0; bottom:0; background:#f5f5f5; }
  .mFullLayer .gColumn { position:relative; z-index:1; border-bottom:1px solid #d6d6d6; height:55px; padding:0 55px 0 68px; box-shadow:0 30px 65px #f5f5f5; background:#fff; }
  .mFullLayer .content { overflow-y:auto; position:absolute; top:56px; left:0; right:0; bottom:99px; margin:10px; }
  .mFullLayer .mButton { z-index:1; position:absolute; bottom:0; left:0; right:0; padding:31px 55px; border-top:1px solid #d6d6d6; box-shadow:0 -30px 65px #f5f5f5; background:#f0f0f0; }

/* mOrderChange */
  .mOrderChange li { position:relative; cursor:pointer; }
  .mOrderChange .frame { position:relative; border:1px solid #fff; }
  .mOrderChange .icoNo { width:39px; height:23px; line-height:23px; font-size:12px; }
  .mOrderChange li img { width:100%; height:auto; }
  .mOrderChange li.ui-sortable-helper .frame:before { z-index:10; display:block; content:""; position:absolute; top:-1px; left:-1px; right:-1px; bottom:-1px; border:2px solid #ea306c; box-shadow:4px 4px 7px #c2c2c2; }
  .mOrderChange li.ui-sortable-helper .icoNo { display:none; }
  /* 가로형 */
    .mOrderChange.gHor { font-size:0; line-height:0; margin:34px 0 74px 36px; }
    .mOrderChange.gHor li { display:inline-block; padding:30px 0 0 30px; vertical-align:top; }
    .mOrderChange.gHor .frame { width:168px; height:168px; display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center; -webkit-justify-content:center; justify-content:center; background:#fff; }
    .mOrderChange.gHor li.highlight:before { display:block; content: ''; position:absolute; top:50px; left:10px; width:9px; height:166px; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_drag.png") no-repeat 0 -250px; }
    .mOrderChange.gHor li.highlight .frame { border:1px dotted #929292; background:transparent; }
    .mOrderChange.gHor li.highlight .item { display:none; }
  /* 세로형 */
    .mOrderChange.gVer { margin:34px auto; width:218px; }
    .mOrderChange.gVer li { padding:25px 0 0; }
    .mOrderChange.gVer li:first-child { padding-top:0; }
    .mOrderChange.gVer li.ui-sortable-helper { left:14px; }
    .mOrderChange.gVer li.ui-sortable-helper:before { display:block; content: ''; position:absolute; width:22px; height:100px; top:50%; right:-52px; margin:-37px 0 0; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_drag.png") no-repeat 0 0; }

/* mLoading */
  .mLoading { position:relative; height:4px; background:#b8b8b8; }
  .mLoading > span { position:absolute; top:0; left:0; display:inline-block; height:100%; max-width:100%; background:#ea1b5e; }

/* mProgress */
  .mProgress { z-index:21; position:fixed; top:50%; left:50%; width:485px; margin:-115px 0 0 -243px; padding:42px 52px 18px; box-sizing:border-box; box-shadow:6px 6px 15px #ccc; line-height:18px; text-align:center; font-size:14px; color:#999; background:#fff; }
  .mProgress .heading { margin:0 0 10px; font-size:20px; line-height:26px; color:#000; }
  .mProgress .loading { margin:15px 0 10px; }
  .mProgress .mLoading { margin:25px 0 10px; }

/* mTab */
  .mTab { margin:0 0 17px; }
  .mTab li { display:inline-block; margin:0 0 0 15px; vertical-align:middle; }
  .mTab li:first-child { margin-left:0; }
  .mTab a { display:block; padding:0 3px; border-bottom:2px solid #fff; color:#aaaeb5; line-height:24px; font-size:16px; }
  .mTab .selected a { border-bottom-color:#ea1b5e; color:#ea1b5e; font-weight:bold; }

/* mList */
  .mList { position:relative; padding:0 0 0 7px; color:#888; font-size:11px; line-height:16px; }
  .mList:before { display:block; content:""; width:4px; height:1px; position:absolute; top:6px; left:0; background:#888; }

/* mPaginate */
  .mPaginate { padding:14px 0 12px; border-top:1px solid #e7e7e7; text-align:center; font-size:0; line-height:0; }
  .mPaginate ol,
  .mPaginate li,
  .mPaginate [class*="btn"] { display:inline-block; font-size:0; line-height:0; vertical-align:top; }
  .mPaginate [class*="btn"] { width:23px; height:23px; margin:0 2px; background-image:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_paginate.png"); background-repeat:no-repeat; }
    .mPaginate .btnFirst { background-position:0 0px; }
    .mPaginate .btnPrev { background-position:0 -50px; }
    .mPaginate .btnNext { background-position:0 -100px; }
    .mPaginate .btnLast { background-position:0 -150px; }
  .mPaginate ol { margin:0 8px; }
  .mPaginate li a { display:block; padding:0 2px; margin:0 5px; font-size:12px; line-height:23px; }
  .mPaginate li a.this { color:#ea1b5e; font-weight:bold; }

/* templateArea */
  .templateArea { display:-webkit-flex; display:flex; border:1px solid #dadada; }
  .mTemplateSearch { -webkit-flex:1.8; -moz-flex:1.8; -ms-flex:1.8; flex:1.8; }
  .mTemplateSearch .search { padding:9px; border-bottom:1px solid #dedede; background:#f5f5f5; }
  .mTemplateSearch .search p { position:relative; border:1px solid #dedede; padding:0 31px 0 14px; background:#fff; }
  .mTemplateSearch .search .btnSearch { position:absolute; top:0; right:0; width:31px; height:34px; }
  .mTemplateSearch .search .btnSearch:after { right:9px; }
  .mTemplateSearch .search input[type="text"] { width:100%; height:34px; line-height:34px; border:0; outline:0; }
  .mTemplateSearch .result { height:225px; }
  .mTemplateSearch .result li { position:relative; border-bottom:1px solid #e7e7e7; padding:15px 32px 15px 14px; }
  .mTemplateSearch .result li:hover { background:#f9f9f9; }
  .mTemplateSearch .result li .fRadio { margin:-2px 6px 0 0; }
  .mTemplateSearch .result li .btnFavorite { position:absolute; top:50%; right:14px; margin:-8px 0 0; }
  .mTemplatePreview { -webkit-flex:1; -moz-flex:1; -ms-flex:1; flex:1; border-left:1px solid #dedede; }
  .mTemplatePreview h2 { border-bottom:1px solid #e7e7e7; line-height:54px; color:#000; font-size:14px; text-align:center; background:#f5f5f5; }
  .mTemplatePreview .mDisplay { padding:0 15px; max-height:275px; }
  .mTemplatePreview .mDisplay li { padding:10px 6px 0; margin:8px 0 0; border-top:1px solid #e5e5e5; color:#595959; }
  .mTemplatePreview .mDisplay li:first-child { padding-top:15px; margin-top:0; border-top-width:0; }
  .mTemplatePreview .mDisplay li:last-child { padding-bottom:13px; }
  .mTemplatePreview .mDisplay .icoCategory { margin:-2px 6px 0 0; }
  .mTemplateEmpty { border:1px solid #dadada; border-top-color:#fff; margin:-1px 0 0; padding:70px 10px; line-height:18px; text-align:center; }


/* mToolbar */
  .mToolbar { z-index:10; position:absolute; font-size:0; line-height:0; }
  .mToolbar > ul { display:inline-block; vertical-align:top; }
  .mToolbar > ul > li { position:relative; height:100%; box-sizing:border-box; }
  .mToolbar > ul > li > .button { position:relative; display:block; height:100%; box-sizing:border-box; white-space:nowrap; color:#fff; font-size:12px; line-height:1; }
  .mToolbar .option { display:none; z-index:1; position:absolute; top:100%; left:0; margin:1px 0 0; border:1px solid #dadada; box-shadow:0 4px 7px #dadada; box-sizing:border-box; font-size:12px; line-height:1; background:#fff; }
    .mToolbar .selected > .option { display:block; }
  .mToolbar .btnActive { position:relative; display:inline-block; width:36px; height:36px; border-radius:18px; font-size:0; line-height:0; background-color:#d8d8d8; }
  .mToolbar .btnActive:hover { background-color:#ea1b5e; }
  .mToolbar .btnActive:before { content:''; position:absolute; top:50%; left:50%; width:12px; height:2px; margin:-1px 0 0 -6px; background-color:#fff; }
  .mToolbar .btnActive:after { content:''; position:absolute; top:50%; left:50%; width:12px; height:2px; margin:-1px 0 0 -6px; background-color:#fff; -webkit-transform:rotate(90deg); transform:rotate(90deg); }
  .mToolbar .btnActive.close:before { -webkit-transform:rotate(-45deg); transform:rotate(-45deg); }
  .mToolbar .btnActive.close:after { -webkit-transform:rotate(45deg); transform:rotate(45deg); }
  .mToolbar .icoSFIX { display:inline-block; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_toolbar.png") no-repeat 0 0; }
  .mToolbar .icoSFIX.icoModify { width:13px; height:13px; margin:-2px 2px 0 0; background-position:-175px 0; }
  /* 옵션 - 링크 */
    .mToolbar .option.linkBox { width:279px; padding:9px 65px 9px 10px; }
    .mToolbar .option.linkBox input[type="text"] { width:100%; height:33px; line-height:33px; padding:0 10px; border:1px solid #dedede; box-sizing:border-box; outline:0; }
    .mToolbar .option.linkBox button { position:absolute; top:50%; right:10px; margin:-15px 0 0; }
  /* 옵션 - 동영상 */
    .mToolbar .option.videoBox { width:385px; padding:10px; margin-left:-216px; }
    .mToolbar .option.videoBox .fText { margin:0 5px 0 0; padding:0 10px; border-color:#d2d2d2; height:35px; line-height:35px; }
    .mToolbar .option.videoBox .fCheck { padding-left:21px; }
    .mToolbar .option.videoBox .size { display:inline-block; vertical-align:middle; }
    .mToolbar .option.videoBox .url { margin:6px 0 0; vertical-align:middle; }
    .mToolbar .option.videoBox .size { color:#888; }
  /* 옵션 - 색상 */
    .mToolbar .option.colorBox { width:172px; }
    .mToolbar .option.colorBox .list { padding:9px 9px 10px; margin:-2px 0 0 -2px; }
    .mToolbar .option.colorBox .list:after { display:block; content:""; clear:both; }
    .mToolbar .option.colorBox li { float:left; margin:2px 0 0 2px; }
    .mToolbar .option.colorBox .button { position:relative; display:block; width:20px; height:20px; }
    .mToolbar .option.colorBox .button.border:before { display:block; content:""; position:absolute; top:0; left:0; right:0; bottom:0; border:1px solid #d9d9d9; }
    .mToolbar .option.colorBox .button.default:before { display:block; content:""; position:absolute; top:0; left:0; right:0; bottom:0; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_toolbar.png") no-repeat -100px 0; }
    .mToolbar .option.colorBox .button:hover:before { display:block; content:""; position:absolute; top:0; left:0; right:0; bottom:0; border:1px solid #d9d9d9; }
    .mToolbar .option.colorBox .button:hover:after { display:block; content:""; position:absolute; top:1px; left:1px; right:1px; bottom:1px; border:2px solid #000; }
    .mToolbar .option.colorBox .colorPicker { position:relative; padding:10px 0 13px 63px; margin:0 9px; border-top:1px solid #ebebeb; }
    .mToolbar .option.colorBox .colorPicker .icoColorBox { position:absolute; top:10px; left:0; width:56px; height:20px; margin:0; }
    .mToolbar .option.colorBox .colorPicker input[type="text"] { width:100%; height:20px; line-height:20px; border:0; border-bottom:1px solid #d1d1d1; outline:0; }
  /* 옵션 - 그리드 */
    .mToolbar .option.gridBox { width:606px; margin:9px 0 0; }
    .mToolbar .selected > .option.gridBox { display:flex; display:-webkit-flex; }
    .mToolbar .option.gridBox .styleSet { width:181px; padding:19px 20px 5px; border-right:1px solid #dadada; box-sizing:border-box; }
    .mToolbar .option.gridBox .styleSet .divide { position:relative; border-top:1px solid #ebebeb; padding:11px 0; }
    .mToolbar .option.gridBox .styleSet .divide:after { display:block; content:""; clear:both; }
    .mToolbar .option.gridBox .styleSet .divide:first-child { border-top-width:0; padding-top:0; }
    .mToolbar .option.gridBox .styleSet .divide .half { float:left; width:49%; margin:0 0 0 2%; }
    .mToolbar .option.gridBox .styleSet .divide .half:first-child { margin-left:0; }
    .mToolbar .option.gridBox .styleSet .divide .heading { display:inline-block; margin:9px 0 0; color:#888; font-weight:normal; vertical-align:middle; }
    .mToolbar .option.gridBox .styleSet .divide .heading:first-child { margin-top:0; }
    .mToolbar .option.gridBox .styleSet .divide .fNumber { margin:7px 0 0; }
    .mToolbar .option.gridBox .styleSet .mButton { border-top:1px solid #dcdcdc; margin:15px 0 0; }
    .mToolbar .option.gridBox .icoColorBox { border:1px solid #e6e6e6; width:14px; height:14px; margin:0 0 0 8px; vertical-align:middle; }
    .mToolbar .option.gridBox .slider { position:relative; margin:4px 0; padding:6px 0; }
    .mToolbar .option.gridBox .slider .range { position:relative; height:2px; font-size:0; line-height:0; background:#e0e0e0; }
    .mToolbar .option.gridBox .slider .selectRange { position:absolute; top:0; left:0; display:inline-block; height:100%; background:#ea1b5e; }
    .mToolbar .option.gridBox .slider .handle { position:absolute; top:0; left:0; display:inline-block; width:11px; height:18px; margin:-2px 0 0 -2px; font-size:0; line-height:0; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_toolbar.png") no-repeat -148px 2px; }
    .mToolbar .option.gridBox .slider .value { position:absolute; top:-17px; right:0; display:inline-block; color:#000; }
    .mToolbar .option.gridBox .gridSet { -webkit-flex:1; -moz-flex:1; -ms-flex:1; flex:1; padding:20px; background:#f7f7f7; }
    .mToolbar .option.gridBox .gridSet ul { overflow:hidden; margin:-13px 0 0 -13px; font-size:0; line-height:0; }
    .mToolbar .option.gridBox .gridSet ul li { position:relative; display:inline-block; margin:13px 0 0 13px; cursor:pointer; vertical-align:top; }
    .mToolbar .option.gridBox .gridSet ul li.selected { cursor:default; }
    .mToolbar .option.gridBox .gridSet ul li.selected:before { display:inline-block; content:""; position:absolute; top:0; right:0; bottom:0; left:0; border:2px solid #ea1b5e; }
  /* 이미지 선택목록 */
    .mToolbar .imgSelect { overflow:hidden; max-width:707px; display:inline-block; margin:18px 0 0; border:1px solid #c1c1c1; box-shadow:0 1px 7px #c1c1c1; background:#fff; }
    .mToolbar .imgSelect ul { overflow:hidden; margin:0 -1px -1px 0; }
    .mToolbar .imgSelect li { position:relative; float:left; width:118px; height:118px; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; box-sizing:border-box; text-align:center; }
    .mToolbar .imgSelect li a { display:block; height:100%; }
    .mToolbar .imgSelect li a:hover { background:#f6f6f6; }
    .mToolbar .imgSelect li img { max-width:100%; max-height:100%; padding:5%; box-sizing:border-box; position:absolute; top:-100%; left:-100%; right:-100%; bottom:-100%; margin:auto; }
    .mToolbar .imgSelect li .btnAdd { display:block; padding:73px 0 0; height:100%; box-sizing:border-box; }
    .mToolbar .imgSelect li .btnAdd .icoAdd { position:absolute; top:50%; left:50%; width:20px; height:20px; margin:-27px 0 0 -10px; color:#43485f; }
    .mToolbar .imgSelect li .btnAdd .icoAdd:before,
    .mToolbar .imgSelect li .btnAdd .icoAdd:after { top:10px; width:20px; height:2px; }
    .mToolbar .imgSelect li .btnAdd .text { font-size:12px; line-height:16px; }
  /* 셀렉트 */
    .mToolbar .select { box-shadow:2px 4px 7px #dadada; }
    .mToolbar .select > li { border-top:1px solid #535b7e; }
    .mToolbar .select > li:first-child { border-top-width:0; }
    .mToolbar .select > li > .button { width:100%; padding:0 19px; height:34px; line-height:34px; text-align:left; background:#3f455f; }
    .mToolbar .select > li > .button:hover { background:#606688; }

  /* 컴포넌트 */
    .mToolbar .component { height:45px; }
      .mToolbar .btnActive + .component { margin:13px 0 0 24px; }
    .mToolbar .component:after { display:block; content:""; clear:both; }
    .mToolbar .component > li { float:left; border:1px solid #e7e7e7; margin:0 0 0 7px; display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center; -webkit-justify-content:center; justify-content:center; }
    .mToolbar .component > li:first-child { margin-left:0; }
    .mToolbar .component > li > .button { width:43px; background:#fff; }
    .mToolbar .component > li > label.button { line-height:43px; text-align:center; }
    .mToolbar .component > li:hover,
    .mToolbar .component > li.selected { border-color:#ea1e60; }
    /* 옵션 - 테이블 */
      .mToolbar .component .option.tableBox { cursor:pointer; }
      .mToolbar .component .option.tableBox .tableCell { position:absolute; top:9px; left:10px; background:url("//img.echosting.cafe24.com/apps/edibot/editor/bg_table_cell.gif") repeat 0 0; }
      .mToolbar .component .option.tableBox .tableCell.selected { background-image:url("//img.echosting.cafe24.com/apps/edibot/editor/bg_table_cell_selected.gif"); }
      .mToolbar .component .option.tableBox .count { position:absolute; bottom:9px; left:10px; right:10px; text-align:center; }
    /* 아이콘 */
      .toolImg .icoSFIX { width:21px; height:21px; background-position:0 -100px; }
        li:hover .toolImg .icoSFIX,
        .selected .toolImg .icoSFIX { background-position:0 -125px; }
      .toolText .icoSFIX { width:19px; height:19px; background-position:-25px -100px; }
        li:hover .toolText .icoSFIX,
        .selected .toolText .icoSFIX { background-position:-25px -125px; }
      .toolTable .icoSFIX { width:21px; height:21px; background-position:-50px -100px; }
        li:hover .toolTable .icoSFIX,
        .selected .toolTable .icoSFIX { background-position:-50px -125px; }
      .toolHtml .icoSFIX { width:24px; height:20px; background-position:-75px -100px; }
        li:hover .toolHtml .icoSFIX,
        .selected .toolHtml .icoSFIX { background-position:-75px -125px; }
      .toolVideo .icoSFIX { width:23px; height:16px; background-position:-100px -100px; }
        li:hover .toolVideo .icoSFIX,
        .selected .toolVideo .icoSFIX { background-position:-100px -125px; }
      .toolGrid .icoSFIX { width:21px; height:21px; background-position:-125px -100px; }
        li:hover .toolGrid .icoSFIX,
        .selected .toolGrid .icoSFIX { background-position:-125px -125px; }

  /* 도구 */
    .mToolbar .element { height:34px; background:#3f455f; }
    .mToolbar .element:after { display:block; content:""; clear:both; }
    .mToolbar .element > li { float:left; border-left:1px solid #535b7e; display:-webkit-flex; display:flex; -webkit-align-items:center; align-items:center; -webkit-justify-content:center; justify-content:center; }
    .mToolbar .element > li > .button { min-width:35px; padding:0 8px; }
    .mToolbar .element > li:first-child { border-left-width:0; }
    .mToolbar .element > li.selected { border-left-color:#5f6687; background:#5f6687; }
    .mToolbar .element > li.selected + li { border-left-color:#5f6687; }
    .mToolbar .element .toolGroup { padding:0 7px; }
    .mToolbar .element .toolGroup > .button { min-width:22px; height:22px; padding:0; margin:0 1px; }
    .mToolbar .element .toolGroup > .selected { border-radius:2px; background:#5f6687; }
    .icoColorBox { display:inline-block; margin:0 7px 0 3px; width:7px; height:7px; }
    /* 옵션 - 셀렉트 */
      .mToolbar .element .option.selectBox { border-top-width:0; }
      .mToolbar .element .option.selectBox .list { padding:8px 0; }
      .mToolbar .element .option.selectBox .list .button { display:block; width:100%; padding:6px 17px; text-align:left; white-space:nowrap; }
      .mToolbar .element .option.selectBox .list .button:hover { color:#ea1b5e; font-weight:bold; }

    /* 아이콘 */
      .mToolbar .element .button.toolFamily { min-width:80px; }
      .mToolbar .element .button.toolSize { min-width:63px; }
        .toolImgEdit .icoSFIX { width:16px; height:16px; background-position:0 0; }
        .toolGridEdit .icoSFIX { width:14px; height:14px; background-position:-125px 0; }
        .toolResize .icoSFIX { width:14px; height:14px; background-position:-25px 0; }
        .toolLink .icoSFIX { width:14px; height:14px; background-position:-50px 0; }
        .toolTrash .icoSFIX { width:12px; height:13px; background-position:-75px 0; }
        .toolFontColor .icoSFIX { width:11px; height:11px; background-position:0 -25px; }
        .toolBold .icoSFIX { width:8px; height:11px; background-position:-25px -25px; }
        .toolItalic .icoSFIX { width:9px; height:11px; background-position:-50px -25px; }
        .toolUnderline .icoSFIX { width:11px; height:11px; background-position:-75px -25px; }
        .toolThrough .icoSFIX { width:11px; height:11px; background-position:-100px -25px; }
        .toolLeft .icoSFIX { width:12px; height:13px; background-position:-125px -25px; }
        .toolCenter .icoSFIX { width:12px; height:13px; background-position:-150px -25px; }
        .toolRight .icoSFIX { width:12px; height:13px; background-position:-175px -25px; }
        .toolTopAddCol .icoSFIX { width:13px; height:14px; background-position:0 -50px; }
        .toolBottomAddCol .icoSFIX { width:13px; height:14px; background-position:-25px -50px; }
        .toolDeleteCol .icoSFIX { width:14px; height:13px; background-position:-50px -50px; }
        .toolLeftAddRow .icoSFIX { width:14px; height:13px; background-position:-75px -50px; }
        .toolRightAddRow .icoSFIX { width:14px; height:13px; background-position:-100px -50px; }
        .toolDeleteRow .icoSFIX { width:13px; height:14px; background-position:-125px -50px; }
        .toolBorderColor .icoSFIX { width:13px; height:13px; background-position:-150px -50px; }
        .toolCellColor .icoSFIX { width:13px; height:13px; background-position:-175px -50px; }

/* 저장 */
  .prdInfo, .prdTemplate, .prdContents { padding:0 20px 19px; }
  .prdInfo .allCheck { padding:0 0 14px; margin:0 0 14px; border-bottom:1px solid #e7e7e7; }
  .prdInfo .allCheck .fCheck { font-weight:bold; font-size:13px; }
  .checkList li { margin:14px 0 0; }
  .checkList li:first-child { margin-top:0; }
  .checkList .mList { margin:9px 0 0 20px; }
  .recommendList { overflow:hidden; margin:16px 0 0 -6px; }
  .recommendList li { float:left; margin:0 0 7px 3px; text-align:center; color:#010101; }
  .recommendList li .thumbnail { position:relative; width:54px; height:54px; margin:0 auto 7px; border:1px solid #d5d5d5; box-sizing:border-box; }
  .recommendList li .thumbnail img { width:100%; height:100%; }
  .recommendList li.selected .thumbnail:after { position:absolute; top:-1px; left:-1px; bottom:-1px; right:-1px; display:block; content:""; border:2px solid #e5195f; }
  .prdTemplate .fText { margin:10px 0 0; }
  .multishop { margin:10px 0; padding:5px 12px; border:1px solid #dedede; background:#fff; }
  .multishop li { margin:10px 0; }

/* Qr code */
  .mQrcode { position:fixed; bottom:12px; right:20px; width:120px; height:182px; }
  .mQrcode .frame { display:inline-block; border:1px solid #dedede; padding:15px; background:#fff; }
  .mQrcode .mList { margin:10px 0 0; }

/* 이미지 추가 */
  .sideImage .mImgList { overflow:hidden; overflow-y:auto; position:absolute; top:75px; left:0; right:10px; bottom:15px; padding:0 0 0 20px; }
  .sideImage .mImgList .mLoading { position:absolute; top:100%; left:1px; right:1px; height:8px; opacity:0.6; box-shadow:0 -2px 3px #000; background:#242424; }
  .sideImage .mImgList .mLoading > span { background:#00e1ff; }
  .sideImage .mImgList .txtNum { color:#999; font-size:11px; }
  .sideImage .mImgList .icoNo { display:none; border-color:#ea1a61; color:#fff; opacity:0.6; background:#ea1a61; }
  .sideImage .mImgList .selected .icoNo { display:block; }
  .sideImage .mButton { border-bottom:1px solid #e7e7e7; }
  .groupArea { display:flex; flex-direction:column; display:-webkit-flex; -webkit-flex-direction:column; margin:-20px; padding:20px; height:100%; min-height:706px; background:#f3f3f3; }
  .mGroup { overflow:hidden; height:23%; position:relative; border:1px solid #c1c1c1; margin:2% 0 0; box-shadow:0 2px 6px #d9d9d9; background:#fff; }
  .mGroup:first-child { margin-top:0; }
  .mGroup .title { position:absolute; top:0; left:0; right:0; padding:15px 24px 14px; border-bottom:1px solid #e7e7e7; font-size:16px; font-weight:normal; color:#000; }
  .mGroup .btnExpand { position:absolute; top:9px; right:9px; }
  .mGroup .mImgList { padding:61px 10px 5px 24px; height:100%; box-sizing:border-box; }
  .mGroup .mImgList > ul { overflow:hidden; overflow-y:auto; min-height:100px; margin-top:-6px; }
  .mGroup .mImgList > ul li { margin:6px 0 6px 12px; }
  .mGroup.eExpand { -webkit-flex:1; -moz-flex:1; -ms-flex:1; flex:1; }

/* 상품분류 확인/선택 레이어 */
  .mGoodsList { overflow:hidden; }
  .mGoodsList ul { overflow:hidden; margin:0 -1px -1px 0; }
  .mGoodsList li { float:left; width:25%; height:119px; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; box-sizing:border-box; text-align:center; }
  .mGoodsList li a { display:block; height:100%; color:#242424; }
  .mGoodsList li a:hover { font-weight:bold; background:#f6f6f6; }
  .mGoodsList li .thumb { position:relative; height:90px; }
  .mGoodsList li .thumb img { position:absolute; top:-100%; left:-100%; right:-100%; bottom:-100%; margin:auto; }

/* 사이즈, 착용정보 항목 수정 레이어 */
  .mTable .center { text-align:center; }
  .mTable.typeDefault th { padding:20px; border:1px solid #dadada; font-size:14px; color:#000; background:#f5f5f5; }
  .mTable.typeDefault td { padding:10px; border:1px solid #dadada; font-size:12px; color:#000; }
  .mTable.typeDefault td.disabled { color:#8d8d8d; }
  .mOption { overflow:hidden; margin:-10px 0 0; }
  .mOption li { float:left; width:25%; margin:10px 0 0; padding:0 10px 0 0; box-sizing:border-box; }
  .mOption .btnNormal { width:100%; }
  .mOption .btnNormal.selected { font-weight:normal; }
  .mOption .btnNormal.selected:hover { border-color:#ea1b5e; color:#ea1b5e; }
