@charset "utf-8";
/* font-face */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* _edibotProduct reset  */
._edibotProduct div,
._edibotProduct dl,
._edibotProduct dt,
._edibotProduct dd,
._edibotProduct ul,
._edibotProduct ol,
._edibotProduct li,
._edibotProduct h1,
._edibotProduct h2,
._edibotProduct h3,
._edibotProduct h4,
._edibotProduct h5,
._edibotProduct h6,
._edibotProduct pre,
._edibotProduct code,
._edibotProduct form,
._edibotProduct fieldset,
._edibotProduct legend,
._edibotProduct input,
._edibotProduct textarea,
._edibotProduct p,
._edibotProduct blockquote,
._edibotProduct th,
._edibotProduct td,
._edibotProduct img { margin:0; padding:0; -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
._edibotProduct ul,
._edibotProduct ol,
._edibotProduct dl,
._edibotProduct li { list-style:none; }
._edibotProduct img,
._edibotProduct fieldset { border:0; max-width:100%; vertical-align:top; }
._edibotProduct table { table-layout:fixed; width:100%; border:0; border-spacing:0; border-collapse:collapse; }
._edibotProduct table img { vertical-align:middle; }
._edibotProduct th,
._edibotProduct td { border:0; word-wrap:break-word; }
._edibotProduct label { cursor:pointer; }
._edibotProduct legend,
._edibotProduct caption,
._edibotProduct hr.layout,
._edibotProduct .blind { overflow:hidden; text-indent:120%; white-space:nowrap; width:0; height:0; font-size:0; line-height:0; }
._edibotProduct a { text-decoration:none; color:#000; }
  .-mo a:hover { text-decoration:underline; }
._edibotProduct em,
._edibotProduct address { font-style:normal; }
._edibotProduct i { font-style:italic; }

._edibotProduct [data-component="text"] a,
._edibotProduct [data-component="table"] a { text-decoration:underline; color:#0000ee; }


._edibotProduct button { overflow:visible; padding:0; margin:0; border:0; outline:0; cursor:pointer; }
  .-pc ._edibotProduct button { font-size:12px; font-family:'Nanum Gothic',Helvetica,Arial,sans-serif; }
  .-mo ._edibotProduct button { font-family:'Apple SD Gothic Neo', 'Roboto', Helvetica,Arial,sans-serif; } /* 웹폰트 */
._edibotProduct button::-moz-focus-inner,
._edibotProduct input[type="reset"]::-moz-focus-inner,
._edibotProduct input[type="button"]::-moz-focus-inner,
._edibotProduct input[type="submit"]::-moz-focus-inner,
._edibotProduct input[type="file"] > input[type="button"]::-moz-focus-inner { padding:0; border:0; }
._edibotProduct .mBoard { padding:0; border:none; background:#fff; }

.-pc { background:white;width:100%;height:100%;overflow-y: auto; }
.-pc ._edibotProduct input,
.-pc ._edibotProduct select,
.-pc ._edibotProduct textarea { font-size:12px; font-family:'Nanum Gothic',Helvetica,Arial,sans-serif; color:#242424; vertical-align:middle; }
.-mo ._edibotProduct input,
.-mo ._edibotProduct select,
.-mo ._edibotProduct textarea { font-size:12px; font-family:'Apple SD Gothic Neo', 'Roboto',Helvetica,Arial,sans-serif; color:#333; vertical-align:middle; outline:0; -webkit-appearance:none; -webkit-border-radius:0; } /* 웹폰트 */

.-pc ._edibotProduct { margin:100px auto 100px; min-height:10px; width:1000px; font-size:12px; font-family:'Nanum Gothic',Helvetica,Arial,sans-serif; line-height:1.2; color:#242424; background:#fff; }
.-pc ._edibotProduct .productDetail { max-width:880px; margin:0 auto; }
.-pc ._edibotProduct .productInfo { min-width:600px; max-width:880px; margin:0 auto; }

.-pc ._edibotProduct .mFigure { text-align:center; }
.-pc ._edibotProduct .mFigure img { max-width:100%; }
.-pc ._edibotProduct .mClip { max-width:100%; margin:0 auto; }
.-pc ._edibotProduct .mTextField { width:100%; margin:0 auto; }
.-pc ._edibotProduct .mTextField .inner { min-height: 55px; padding:18px 25px; line-height:1.6; box-sizing:border-box; }

.-pc ._edibotProduct .imgTitle { display:block; text-align:center; }
.-pc ._edibotProduct .imgTitle img { padding:10px 30px; }
.-pc ._edibotProduct .imgProduct { position:relative; margin-top:20px; text-align:center; }
.-pc ._edibotProduct .imgProduct.default img { width:350px; height:auto; }

.-pc ._edibotProduct .mSize { position:relative; }
.-pc ._edibotProduct .mSize .unit { position:absolute; right:0px; top:-31px; padding:6px 8px; border:1px solid transparent; }
/* mBoard */
  .-pc ._edibotProduct .mBoard { }
  .-pc ._edibotProduct .productInfo .mBoard { margin-top:40px; }
    .-pc ._edibotProduct .productInfo .mBoard.typeWear { margin-top:21px; }
  .-pc ._edibotProduct .mBoard table { position:relative; border:1px solid #dadadc; border-width:0 1px 1px 0; font-size:12px; text-align:left; }
  .-pc ._edibotProduct .mBoard table .cell { display:block; position:relative; min-height:16px; text-align:center; box-sizing:border-box; }
  .-pc ._edibotProduct .productInfo .mBoard table .cell {  height:26px; line-height:26px; }
  .-pc ._edibotProduct .mSize .mBoard table .cell { height:26px; line-height:26px; }
  .-pc ._edibotProduct .mBoard table th { color:#303030; background:#f9f9fa; }
  .-pc ._edibotProduct .mBoard thead th { padding:5px 5px 6px; border:1px solid #dadadc; border-width:1px 0 0 1px; font-weight:bold; vertical-align:middle; line-height:120%; }
  .-pc ._edibotProduct .mBoard thead th:first-child { border-left:1px solid #dadadc; }
  .-pc ._edibotProduct .mBoard tbody th { border-width:1px 0 0 1px; font-weight:bold; text-align:center; }
  .-pc ._edibotProduct .mBoard tbody th,
  .-pc ._edibotProduct .mBoard tbody td { overflow:hidden; min-height:28px; padding:5px 5px 6px; border:1px solid #dadadc; line-height:140%; }
  .-pc ._edibotProduct .mBoard tbody td { color:#303030; }
  .-pc ._edibotProduct .mSize .mBoard tbody th { background:#fff; }
  .-pc ._edibotProduct .mBoard .chk { position:relative; margin-left:20px; }
  .-pc ._edibotProduct .mBoard a.chk:hover { text-decoration:none; }
  .-pc ._edibotProduct .mBoard .chk .icoChk { display:inline-block; width:11px; height:11px; margin:0 11px 0 0; border:1px solid #d6d6d6; box-sizing:border-box; vertical-align:middle; }
  .-pc ._edibotProduct .mBoard .chk.checked .icoChk { border:1px solid transparent; background:#fb5555; }

/* mList */
  .-pc ._edibotProduct .mList { position:relative; margin:0; padding:16px 10px; color:#636363; font-size:12px; line-height:1.5; white-space:pre-line; }
  .-pc ._edibotProduct .mList:before { display:none; }

/* mProduct */
  .-pc ._edibotProduct .mProduct { margin-top:40px; }
  .-pc ._edibotProduct .mProduct .info { position:relative; padding:19px 21px 21px; border-top:1px solid #d0d0d0; border-bottom:1px solid #d0d0d0; background:#f9f9fa; }
  .-pc ._edibotProduct .mProduct .info li { margin:2px 0 0 0; clear:both; color:#303030; }
  .-pc ._edibotProduct .mProduct li .title { float:left; margin:3px 2px 0 0; line-height:22px; }
  .-pc ._edibotProduct .mProduct li .item { overflow:hidden; line-height:22px; }
  .-pc ._edibotProduct .mProduct li .item .desc { display:inline-block; position:relative; padding:2px 5px; border:1px solid transparent; }
  .-pc ._edibotProduct .mProduct li .item input.fTxt { margin:3px 0; }
  .-pc ._edibotProduct .item ul.mForm input.fTxt { margin:0; }

  /* 세탁방법 */
  .-pc ._edibotProduct .mThumbList { width:auto; }
  .-pc ._edibotProduct .mThumbList.typeHor.washing { margin:0 0 12px 0; padding:10px 0 0; clear:both; }
  .-pc ._edibotProduct .mThumbList.typeHor.washing li { display:inline-block; position:relative; width:72px; margin:4px 4px 0 0; text-align:center; vertical-align:top; }
  .-pc ._edibotProduct .mThumbList.typeHor.washing li .text { display:block; margin:4px 0 12px; font-size:11px; }
  .-pc ._edibotProduct .mThumbList.typeHor.washing li img { width:40px; height:40px; }

/* 편집영역 */
  .-pc ._edibotProduct.gEditor .mSize .mBoard table .cell { overflow:hidden; white-space:nowrap; }

  .-pc ._edibotProduct.gEditor .mFigure,
  .-pc ._edibotProduct.gEditor .mClip,
  .-pc ._edibotProduct.gEditor .textField,
  .-pc ._edibotProduct.gEditor .productDetail td .cell,
  .-pc ._edibotProduct.gEditor .mTextField,
  .-pc ._edibotProduct.gEditor .imgTitle img,
  .-pc ._edibotProduct.gEditor .imgProduct img,
  .-pc ._edibotProduct.gEditor .mSize .unit,
  .-pc ._edibotProduct.gEditor .mSize .mBoard table td .cell,
  .-pc ._edibotProduct.gEditor .mList,
  .-pc ._edibotProduct.gEditor .mProduct li .item,
  .-pc ._edibotProduct.gEditor .mThumbList.typeHor.washing li { cursor:pointer; }
  .-pc ._edibotProduct.gEditor .mSize .mBoard tbody th .cell { cursor:text; }

  /* 각각의 요소 hover시 */
  .-pc ._edibotProduct.gEditor .mFigure img:hover { outline:8px solid #f0f0f0; }
  .-pc ._edibotProduct.gEditor .mClip .mov:hover { outline:8px solid #f0f0f0; }
  .-pc ._edibotProduct.gEditor .mBoard table:hover { outline:8px solid #f0f0f0; }
  .-pc ._edibotProduct.gEditor .productInfo .mBoard table:hover { outline:none; }
  .-pc ._edibotProduct.gEditor .mTextField .inner:hover { outline:8px solid #f0f0f0; }
  .-pc ._edibotProduct.gEditor .imgTitle img:hover { outline:8px solid #f0f0f0; }
  .-pc ._edibotProduct.gEditor .imgProduct img:hover { outline:8px solid #f0f0f0; }
  .-pc ._edibotProduct.gEditor .productDetail td .cell:hover:before,
  .-pc ._edibotProduct.gEditor .-tableeditable .mSize tbody td .cell:hover:before { content:''; position:absolute; left:0; top:0; width:100%; height:100%; border:1px dashed #797979; box-sizing: border-box; }
  .-pc ._edibotProduct.gEditor .productDetail td .cell:hover:after,
  .-pc ._edibotProduct.gEditor .-tableeditable .mSize td .cell:hover:after { position:absolute; right:0; top:50%; content:''; width:13px; height:13px; margin:-6px 8px 0; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat -150px -200px; }
  .-pc ._edibotProduct.gEditor .mSize .unit:hover { right:-21px; padding-right:29px; border:1px dashed #797979; }
  .-pc ._edibotProduct.gEditor .mSize .unit:hover:after { content:''; position:absolute; right:8px; top:8px; width:13px; height:13px; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat -150px -200px; }
  .-pc ._edibotProduct.gEditor .mList:hover { padding:8px 2px; border:8px solid #f0f0f0; box-sizing:border-box; }
  .-pc ._edibotProduct.gEditor .mBoard tbody td { cursor:pointer; }
  .-pc ._edibotProduct.gEditor .-tableeditable .mBoard tbody td { cursor:default; }
  .-pc ._edibotProduct.gEditor .mBoard .chk:not(.checked):hover .icoChk { background:#d6d6d6; }
  .-pc ._edibotProduct.gEditor .mProduct li .item .desc:hover { border:1px dashed #797979; background:#fff; }
  .-pc ._edibotProduct.gEditor .mProduct li .item .desc:hover:after { display:inline-block; content:''; width:13px; height:13px; margin:0 0 0 8px; vertical-align:middle; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png")  no-repeat -150px -200px; }

  /* 각각의 요소 클릭시 */
  .-pc ._edibotProduct.gEditor .mFigure.EDIT,
  .-pc ._edibotProduct.gEditor .mClip.EDIT,
  .-pc ._edibotProduct.gEditor .imgTitle.EDIT img,
  .-pc ._edibotProduct.gEditor .imgProduct.EDIT img,
  .-pc ._edibotProduct.gEditor .mSize .unit.EDIT,
  .-pc ._edibotProduct.gEditor .mThumbList.typeHor.washing li.EDIT { cursor:default; }
  .-pc ._edibotProduct.gEditor .mFigure.EDIT img { outline:8px solid #ddd; }
  .-pc ._edibotProduct.gEditor .mClip.EDIT .mov { outline:8px solid #ddd; }
  .-pc ._edibotProduct.gEditor .mBoard.EDIT table { outline:8px solid #ddd; }
  .-pc ._edibotProduct.gEditor .productInfo .mBoard.EDIT table { outline:none; }
  .-pc ._edibotProduct.gEditor .mTextField.EDIT .inner { cursor:text; outline:8px solid #ddd;  }
  .-pc ._edibotProduct.gEditor .imgTitle.EDIT img { outline:8px solid #ddd; }

  .-pc ._edibotProduct.gEditor .imgProduct.EDIT img { outline:8px solid #ddd; }
  .-pc ._edibotProduct.gEditor .productDetail td .cell.EDIT,
  .-pc ._edibotProduct.gEditor .mSize tbody td .cell.EDIT { border-top:1px solid #a7a7a7; border-left:1px solid #a7a7a7; border-right:1px solid #cfcfcf; border-bottom:1px solid #cfcfcf; cursor:text; background:#fff; }
  .-pc ._edibotProduct.gEditor .productDetail td .cell.EDIT:hover:after,
  .-pc ._edibotProduct.gEditor .mSize thead th .cell.EDIT:hover:after,
  .-pc ._edibotProduct.gEditor .mSize tbody td .cell.EDIT:hover:after { display:none; }
  .-pc ._edibotProduct.gEditor .mList.EDIT:before { content:''; padding:8px 2px; border:8px solid #ddd; box-sizing:border-box; cursor:text; }
  .-pc ._edibotProduct.gEditor .mSize .unit.EDIT { border-color:transparent; }
  .-pc ._edibotProduct.gEditor .mSize .unit.EDIT:hover:after { display:none; }
  .-pc ._edibotProduct.gEditor .mThumbList.typeHor.washing li.btnDel { display:none; }
  .-pc ._edibotProduct.gEditor .mThumbList.typeHor.washing li.EDIT .btnDel { display:block; position:absolute; right:13px; top:-3px; width:20px; height:20px; border-radius:20px; background:#fb5555; }
  .-pc ._edibotProduct.gEditor .mThumbList.typeHor.washing li.EDIT .btnDel span { display:block; width:8px; height:8px; margin:0 auto; font-size:0; line-height:0; text-indent:120%; vertical-align:middle; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat -100px -200px; }
  .-pc ._edibotProduct.gEditor .mThumbList.typeHor.washing li.REVIVE img,
  .-pc ._edibotProduct.gEditor .mThumbList.typeHor.washing li.REVIVE .text { opacity:.5; }
  .-pc ._edibotProduct.gEditor .mThumbList.typeHor.washing li.REVIVE .btnPlus { display:block; position:absolute; right:13px; top:-3px; width:20px; height:20px; border-radius:20px; background:#3f455f; }
  .-pc ._edibotProduct.gEditor .mThumbList.typeHor.washing li.REVIVE .btnPlus span { display:block; width:10px; height:10px; margin:0 auto; font-size:0; line-height:0; text-indent:120%; vertical-align:middle; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png") no-repeat -200px -200px; }

/* mForm */
.-pc ._edibotProduct ul.mForm { margin:0; }
.-pc ._edibotProduct .mProduct .info .mForm li { display:inline-block; margin:-1px 0 0; padding:3px 7px 3px 0; }
.-pc ._edibotProduct .fSelect { display:inline; height:22px; line-height:22px; margin:0; max-width:100%; }
.-pc ._edibotProduct input.fTxt { height:20px; padding:0 5px; line-height:20px; border:1px solid #a7a7a7; border-right-color:#cfcfcf; border-bottom-color:#cfcfcf; outline:0 none; }
.-pc ._edibotProduct input.fTxt.gDate { width:77px; }
.-pc ._edibotProduct .fTextarea { padding:5px; border:1px solid #a7a7a7; border-right-color:#cfcfcf; border-bottom-color:#cfcfcf; font-size:12px; line-height:140%; outline:0 none; }
.-pc ._edibotProduct .fTextarea:focus { border-color:#60a8f0; background-color:#f7f7f7; }

/* 버튼 */
.-pc ._edibotProduct .btnIcon.icoCal { display:inline-block; overflow:hidden; width:13px; height:13px; font-size:0; line-height:0; vertical-align:middle; white-space:nowrap; background:url('//img.echosting.cafe24.com/suio/sfix_icon_button.png') -50px -500px no-repeat; }
.-pc ._edibotProduct .btnSquare { display:inline-block; overflow:hidden; width:22px; height:22px; border:1px solid #7b7a7a; vertical-align:middle; box-sizing:border-box; background:#fff; }
.-pc ._edibotProduct .btnSquare span { display:block; margin:0 auto; font-size:0; line-height:0; text-indent:120%; vertical-align:middle; background-image:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon.png"); background-repeat:no-repeat; }
.-pc ._edibotProduct .btnSquare.plus span {  width:10px; height:10px; background-position:0 -200px; }
.-pc ._edibotProduct .btnSquare.minus span { width:10px; height:2px; background-position:-50px -200px; }



.-mo ._edibotProduct{ width:100%; min-width:320px; margin: 0 auto; padding:0 10px; box-sizing:border-box; text-align:left; font-family:'Apple SD Gothic Neo', 'Roboto',Helvetica,Arial,sans-serif; font-size:13px; color:#303030; background:#fff; -webkit-text-size-adjust:none; } /* 웹폰트 수정 */
.-mo ._edibotProduct .mFigure { margin:0; text-align:center; }
.-mo ._edibotProduct .mFigure img { max-width:100%; }
.-mo ._edibotProduct .mClip { max-width:100%; margin:0 auto; }
.-mo ._edibotProduct .mTextField { width:100%; padding:18px 0; line-height:1.6; box-sizing:border-box; }
.-mo ._edibotProduct .mTextField span { display:block; }
.-mo ._edibotProduct .productDetail .mBoard { margin:20px 0 0; }
.-mo ._edibotProduct .mBoard table { font-size:13px; }
.-mo ._edibotProduct .mBoard th { padding:12px 5px; border:1px solid #d9d9db; }
.-mo ._edibotProduct .mBoard td { padding:12px 5px; border:1px solid #d9d9db; vertical-align:top; }
.-mo ._edibotProduct .mBoard th .cell { display:block; min-height:17px; }
.-mo ._edibotProduct .mBoard td .cell { display:block; min-height:17px; }
.-mo ._edibotProduct .imgTitle { display:block; width:106px; height:11px; margin:25px auto 0; }
.-mo ._edibotProduct .imgTitle img { width:106px; height:11px; }
.-mo ._edibotProduct .imgProduct { display:block; margin:4px auto 0; text-align:center; }
.-mo ._edibotProduct .imgProduct img { max-width:320px; }
.-mo ._edibotProduct .imgProduct.default img { width:205px; height:auto; }
.-mo ._edibotProduct .mSize { position:relative; margin:28px 0 0; }
.-mo ._edibotProduct .mSize .unit { position:absolute; right:5px; top:-25px; }
.-mo ._edibotProduct .mSize .mAccordion { border:1px solid #d8d8da; border-top:0 none; }
.-mo ._edibotProduct .mSize .mAccordion li { position:relative; }
.-mo ._edibotProduct .mSize .label { display:block; height:42px; padding:0 0 0 13px; border:1px solid #d8d8da; border-width:1px 0 0 0; font-size:15px; color:#303030; line-height:42px; cursor:pointer; background:#f9f9fb; }
.-mo ._edibotProduct .mSize input { position:absolute; left:0; top:0; z-index:1; width:100% !important; height:42px !important; vertical-align:top; opacity:0.01; filter:alpha(opacity=1); }
.-mo ._edibotProduct .mSize input:hover { cursor:pointer; }
.-mo ._edibotProduct .mSize .icoArrow { position:absolute; right:15px; top:19px; width:14px; height:8px; background:url("//img.echosting.cafe24.com/apps/edibot/editor/sfix_icon_m.png") no-repeat 0 0; background-size:100px auto; }
.-mo ._edibotProduct .mSize .typeSize { display:none; border-top:1px solid #d8d8da; }
.-mo ._edibotProduct .mSize .typeSize table { margin:-1px 0 0 0; }
.-mo ._edibotProduct .mSize .typeSize th { border-width:1px 1px 0 0; border-color:#d8d8da; text-align:center; }
.-mo ._edibotProduct .mSize .typeSize td { border-width:1px 0 0 0; border-color:#d8d8da; text-align:center; }
.-mo ._edibotProduct .mSize input:checked ~ .icoArrow { background-position:-25px 0; }
.-mo ._edibotProduct .mSize input:checked ~.typeSize { display:block; }
.-mo ._edibotProduct .mList { margin:10px 0 0 0; line-height:19px; color:#636363; font-size:13px; white-space:pre-line; }
.-mo ._edibotProduct .mList:before { display:none; }
.-mo ._edibotProduct .typeWear { margin:22px 0 0 0; }
.-mo ._edibotProduct .typeWear th { text-align:center; background:#f9f9fb; }
.-mo ._edibotProduct .typeWear .chk { display:block; position:relative; padding:0 0 0 15px; }
.-mo ._edibotProduct .typeWear .chk .icoChk { position:absolute; left:0; top:4px; width:11px; height:11px; border:1px solid #d6d6d6; box-sizing:border-box; }
.-mo ._edibotProduct .typeWear .chk.checked .icoChk { border:1px solid transparent; background:#fb5555; }
.-mo ._edibotProduct .mProduct { margin:25px 0 21px; }
.-mo ._edibotProduct .mProduct .info { position:relative; padding:10px 15px; border-top:1px solid #d8d8da; border-bottom:1px solid #d8d8da; background:#f9f9fb; }
.-mo ._edibotProduct .mProduct li { clear:both; }
.-mo ._edibotProduct .mProduct li .title { float:left; margin:0 4px 0 0; line-height:22px; }
.-mo ._edibotProduct .mProduct li .item { overflow:hidden; line-height:22px; }
   /* 세탁방법 */
.-mo ._edibotProduct .mThumbList { width:auto; }
.-mo ._edibotProduct .mThumbList.typeHor.washing { clear:both; margin:0 0 9px 0; }
.-mo ._edibotProduct .mThumbList.typeHor.washing li { display:inline-block; position:relative; width:64px; margin:9px 0 0 0; text-align:center; vertical-align:top; }
.-mo ._edibotProduct .mThumbList.typeHor.washing li img { width:36px !important; height:36px !important; }
.-mo ._edibotProduct .mThumbList.typeHor.washing li .text { display:block; width:45px; margin:4px auto 6px; font-size:11px; line-height:15px; }

.-pc ._edibotProduct.gEditor { padding:20px 40px; }
.-pc ._edibotProduct.gEditor .section { position:relative; min-height:102px; margin:40px 0; padding:48px 0; box-sizing:border-box; }
.-pc ._edibotProduct.gEditor .section.selected:before { content:''; position:absolute; left:-19px; right:-19px; top:-19px; bottom:-19px; outline:1px dotted #ea1b5e; }
.-pc ._edibotProduct.gEditor .section.cEmpty { padding:42px 0; font-size:15px; color:#000; text-align:center; outline:none; background:#f7f7f7; }

/* 썸네일 이동선 표시 */
.-pc ._edibotProduct.gEditor .moveline { position:relative; left:-10px; width:100%; height:9px; padding:0 20px 0 0; background:url("//img.echosting.cafe24.com/apps/edibot/editor/bg_contents_drag.gif") no-repeat 0 0;    margin: -5px 0 -4px; }
