@charset "utf-8";
 
/* tr이나 td 태그에 tbody 정렬과 동일한 클래스를 추가한 경우 */
.mBoard.typeView td.center,
.mBoard.gRow td.left { position:relative; outline:2px solid #467bff; }
.mBoard.typeView td:before { position:absolute; left:-1px; top:-1px; padding:3px; background:#467bff; text-align:left; color:#fff; font-size:11px; }
.mBoard.typeView td.center:before { content:"[tbody와 동일한 정렬 class 사용 불가]"; }
.mBoard.gRow td.left:before { content:"[tbody와 동일한 정렬 class 사용 불가]"; }

/* mButton */
.mButton > [class*='btn'].full { position:relative; outline:2px solid #467bff; }
.mButton > [class*='btn'].full:before { content:"full 버튼은 mButton이 없이 단독 사용"; position:absolute; left:-1px; top:-1px; padding:3px; background:#467bff; text-align:left; color:#fff; font-size:11px; }